.template_table_list, .org_admin_registration, .org_admin_modification, .org_store_registration, .org_store_modification, .org_admin, .org_store {

  table{
    tr{
      th{
        .bg-color-mixin(#f5f5f5);
        vertical-align: middle;
        height: 44px;
      }
      td{
        vertical-align: middle;
        height: 44px;
        input[type=text], input[type=password], select {
          width: 250px;
          display: inline-block;
          margin-right: 10px;
        }
        p {
          font-weight: normal;
          margin-top: 10px;
        }
      }
    }
  }
  .detail {
    margin-top: 30px;
  }

  label {
    margin: 0;
    padding: 0 16px;
    input {
      margin-right: 10px;
    }
  }

  p {
    font-size: 12px;
    font-weight: bold;
  }

  .long_input {
    min-width: 250px;
    max-width: 500px;
    width: 70% !important;
  }

  .btn_group {
    text-align: center;
    margin-bottom: 20px;
    .btn_default {
      width: 121px;
      height: 48px;
      color: @white;
      display: inline-block;
      margin: 0 10px;
      .border-radius-mixin(3px);

      &.btn_save {
        .bg-color-mixin(@color-save);
        border: 1px solid #1f909b;
      }
    }
  }

}
