body {
  min-width: inherit;
  .login {

    form {
      max-width: 350px;
      margin: 0 auto;
      img {
        margin-top: 139px;
      }
      input:first-of-type {
        margin: 68px 0 20px 0;
      }
      button {
        margin: 48px auto 135px auto;
        width: 121px;
        height: 48px;
        background-color: #30a6b2;
        border: 1px solid #1f909b;
        padding: 0;
      }

    }
  }
}
