<script type="text/ng-template" id="brand-registration.html">
  <form ng-submit="brandRegistrationCtrl._submit()">

    <table class="table table-bordered">
      <colgroup>
        <col width="20%">
        <col width="*">
      </colgroup>
      <tbody>
      <tr>
        <th>브랜드명</th>
        <td>
          <input type="text"
                 class="form-control input-sm"
                 ng-model="brandRegistrationCtrl._state.name"
                 maxlength="50"
                 kr-input>
          <span>[<span ng-bind="brandRegistrationCtrl._state.name.length"></span> / 50 자]</span>
          <span class="label label-primary">필수</span>
        </td>
      </tr>
      <tr>
        <th>브랜드 코드</th>
        <td><span
            ng-bind="'<%= brand.uuid%>' == 'undefined' ? '자동생성' : '<%= brand.uuid %>'"></span></td>
      </tr>
      <tr>
        <th>노출여부</th>
        <td>
          <label>
            <input type="radio"
                   value="activated"
                   ng-model="brandRegistrationCtrl._state.status">노출함
          </label>
          <label>
            <input type="radio"
                   value="disabled"
                   ng-model="brandRegistrationCtrl._state.status">노출안함
          </label>
        </td>
      </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn_default btn_save">저장</button>

  </form>
</script>
