<!DOCTYPE html>
<html>
<head>
  <% include ../../../../app/common/head.ejs %>
</head>

<body data-page-id="org_store">

<div id="wrap" class="org_store">

  <% include ../../../../templates/common/header.ejs %>
  <% include ../../../../templates/common/lnb.ejs %>

  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">

    <div class="list_table_wrapper">

      <% include ../../../../templates/common/contents_above_title.ejs %>

      <store-admin
        auth-type="admin"
        page-type="<%=page_type%>"
        account-uuid="<%=account_uuid%>"
        org-id="<%=org_id%>"
      >

      </store-admin>


    </div>  <!-- .list_table_wrapper END -->

  </div>  <!-- .content_wrapper END -->

</div>  <!-- #wrap END -->


<!--ANGULAR_TEMPLATE (optional)-->
<% include ../../../../templates/opr_mng/org/store/registration.ejs %>


<!--COMMON_DATA (mandatory)-->
<% include ../../../../app/common/common_data.ejs %>


<!--SCRIPTS_BASE,SCRIPTS,SCRIPTS_ALL (mandatory)-->
<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->


</body>
</html>
