<!DOCTYPE html>
<html>
<head>
  <% include ../../../../app/common/head.ejs %>
</head>

<body data-page-id="org_store_list">

<div id="wrap" class="template_table_list">

  <% include ../../../../templates/common/header.ejs %>
  <% include ../../../../templates/common/lnb.ejs %>

  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">

    <div class="list_table_wrapper">

      <% include ../../../../templates/common/contents_above_title.ejs %>

      <org-store-list
        bootstrap-ctrl="tableSearchCtrl,tableOptionCtrl,tableBodyCtrl,paginationCtrl"
      >
        <table-search
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          get-req-model="tableListCtrl.exports.getReqModel()"
          set-req-model="tableListCtrl.exports.setReqModel(options)"
          get-filter="tableListCtrl.exports.getFilter()"
          set-filter="tableListCtrl.exports.setFilter(options)"
          update-page="tableListCtrl.exports.updatePage(options)"
        ></table-search>

        <table-option
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          update-page="tableListCtrl.exports.updatePage(options)"
        >
        </table-option>

        <table-body
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          get-results="tableListCtrl._state.tableData.results"
        >
        </table-body>

        <table-btn
          btn-add-name="입점업체 등록"
          <% if (req.userAuth && parseInt(req.userAuth.minorOrganization,10)===2 ) { %>
            view-option="add"
          <% }else{ %>
            view-option=""
          <% } %>
          location-url="/<%=res.getLocale()%><%=url_info.menu.OPR_MNG_ORG_STORE_REGISTRATION.link%>"
        ></table-btn>

        <pagination
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          update-page="tableListCtrl.exports.updatePage(options)"
          count-range="tableListCtrl.exports.COUNT_RANGE"
        >
        </pagination>
      </org-store-list>

    </div>  <!-- .list_table_wrapper END -->

  </div>  <!-- .content_wrapper END -->

</div>  <!-- #wrap END -->


<!--ANGULAR_TEMPLATE (optional)-->
<% include ../../../../templates/common/table/table_component_basic.ejs %>
<% include ../../../../templates/opr_mng/org/store_list/table_search_org_store_list.ejs %>
<% include ../../../../templates/common/table/table_option_basic.ejs %>
<% include ../../../../templates/opr_mng/org/store_list/table_body_org_store_list.ejs %>
<% include ../../../../templates/common/table/table_btn_basic.ejs %>
<% include ../../../../templates/common/table/table_pagination_basic.ejs %>

<!--COMMON_DATA (mandatory)-->
<% include ../../../../app/common/common_data.ejs %>

<!--SCRIPTS_BASE,SCRIPTS,SCRIPTS_ALL (mandatory)-->
<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->


</body>
</html>
