<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/head.ejs %>
  </head>

  <body data-page-id="category-operation">

    <!--<div id="wrap" class="operation_info">-->
    <div id="wrap" id="wrap" class="category_management">
      <% include ../../../templates/common/header.ejs %>
      <% include ../../../templates/common/lnb.ejs %>

      <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="list_table_wrapper">

          <% include ../../../templates/common/contents_above_title.ejs %>

          <category-main>
            <!--auth-category="<%=parseInt(req.userAuth.category,10)%>"-->
            <!--account-type="<%=req.session.account_type%>"-->


            <category-list
              get-auth-category="CategoryCtrl.exports.getAuthCategory()"
              get-account-type="CategoryCtrl.exports.getAccountType()"
              get-results="CategoryCtrl._state.results"
              get-filtered-results="CategoryCtrl.exports.getFilteredResults()"
              set-filtered-results="CategoryCtrl.exports.setFilteredResults(options)"
              get-dpt01-items-count="CategoryCtrl.exports.getDpt01ItemsCount(options)"
              set-cur-row="CategoryCtrl.exports.setCurRow(options)"
              set-show-cate-info="CategoryCtrl.exports.setShowCateInfo(options)"
              update-category-depth="CategoryCtrl.exports.updateCategoryDepth(options)"
              move-cagegory="CategoryCtrl.exports.moveCagegory()"
              stop-update-category-depth="CategoryCtrl.exports.stopUpdateCategoryDepth()"
            ></category-list>

          </category-main>



        </div>  <!-- .list_table_wrapper END-->
      </div>  <!-- .content_wrapper END-->

    </div>

    <!-- ANGULAR templates -->
    <% include ../../../templates/items_mng/category/category_list/category_main.ejs %>
    <% include ../../../templates/items_mng/category/category_list/category_list.ejs %>

    <!--COMMON_DATA (mandatory)-->
    <% include ../../common/common_data.ejs %>

    <!--SCRIPTS_BASE-->
    
    <!--SCRIPTS_BASE END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->

    <!--SCRIPTS_ALL-->
    
    <!--SCRIPTS_ALL END-->

  </body>
</html>
