<script type="text/ng-template" id="account.html">
<form name="acc_frm"
      ng-submit="accountCtrl.exports.submit()">

  <div>
    <p>기본정보</p>
    <table class="table table-bordered">
      <colgroup>
        <col width="146">
        <col width="*">
      </colgroup>
      <tbody>
      <tr ng-if="accountCtrl.pageType === 'registration' && !accountCtrl.isStore ">
        <th>계정 구분 및 업체선택</th>
        <td>
          <select class="form-control"
                  ng-model="accountCtrl._state.org_type"
                  ng-change="accountCtrl.exports.changeType()">
            <option value="0">운영업체 계정</option>
            <option value="1">입점업체 계정</option>
          </select>
          <!--<select class="form-control"-->
                  <!--ng-model="accountCtrl.selectedAdminId"-->
                  <!--ng-change="accountCtrl.exports.changeAdmin()">-->
            <!--<option value="">운영업체 선택</option>-->
            <!--<option ng-repeat="admin in accountCtrl.adminList"-->
                    <!--value="{{admin.org_id}}">{{admin.org_name}}</option>-->
          <!--</select>-->
          <select class="form-control"
                  ng-if="accountCtrl._state.org_type == '1'"
                  ng-model="accountCtrl.selectedStoreId"
                  ng-change="accountCtrl.exports.changeStore()">
            <option value="">입점업체 선택</option>
            <option ng-repeat="store in accountCtrl.storeList"
                    value="{{store.org_id}}">{{store.org_name}}</option>
          </select>
          <span class="label label-primary">필수</span>
        </td>
      </tr>
      <tr ng-if="accountCtrl.pageType !== 'registration' ">
        <th>소속 운영업체</th>
        <td><span ng-bind="accountCtrl.parent_org_name || ''"></span></td>
      </tr>
      <tr ng-if="(accountCtrl.pageType !== 'registration') && (accountCtrl._state.org_type == '1')">
        <th>소속 입점업체</th>
        <td><span ng-bind="accountCtrl.org_name || ''"></span></td>
      </tr>
      <tr>
        <th>계정 구분</th>
        <td ng-if="accountCtrl.pageType === 'registration' ">
          <label ng-show="!accountCtrl.isStore && accountCtrl._state.org_type == '1' ">
            <input type="radio" ng-model="accountCtrl._state.account_type" value="0">대표 운영자</label>
          <label><input type="radio"
                        ng-model="accountCtrl._state.account_type"
                        value="1"
                        ng-show="!accountCtrl.isStore && accountCtrl._state.org_type == '1' ">부 운영자</label>
        </td>
        <td ng-if="accountCtrl.pageType !== 'registration' ">
          <span ng-bind="accountCtrl._state.account_type == '1' ? '부운영자' : '대표운영자' "></span>
        </td>
      </tr>
      <tr>
        <th>사용 서비스</th>
        <td>
          <label><input type="checkbox"
                        ng-model="accountCtrl.serviceShop"
                        ng-disabled="accountCtrl.pageType === 'confirmation' ">Shop</label>
          <label><input type="checkbox"
                        ng-model="accountCtrl.serviceCat"
                        ng-disabled="accountCtrl.pageType === 'confirmation' ">CAT</label>
          <label><input type="checkbox"
                        ng-model="accountCtrl.serviceMirror"
                        ng-disabled="accountCtrl.pageType === 'confirmation' ">FX Mirror</label>
        </td>
      </tr>
      <tr>
        <th>아이디</th>
        <td ng-if="accountCtrl.pageType === 'registration' ">
          <input type="text"
                 class="form-control input-sm"
                 ng-model="accountCtrl._state.id" required>
          <span class="label label-primary" style="margin-right:10px;">필수</span>
          <button type="button"
                  class="btn btn-default btn_default_sm"
                  ng-click="accountCtrl.exports.duplicateId()">중복확인</button>

          <!--<span>영문.숫자 6글자 이상 20글자 이내</span>-->
        </td>
        <td ng-if="accountCtrl.pageType !== 'registration' ">
          <span ng-bind="accountCtrl._state.id"></span>
        </td>
      </tr>
      <tr ng-if="accountCtrl.pageType !== 'confirmation' ">
        <th>비밀번호</th>
        <td>
          <input type="password"
                 class="form-control input-sm"
                 name="acc_password"
                 ng-model="accountCtrl._state.password" required>
          <span class="label label-primary">필수</span>
          <span>대소문자/숫자/특수문자 중 두가지 이상 조합으로 10자리~16자리 이내</span>
          <div
            ng-messages="acc_frm.acc_password.$error"
            class="frm_error_cont" role="alert">
            <div ng-message="required">* 이 입력란을 작성하세요</div>
          </div>
        </td>
      </tr>
      <tr ng-if="accountCtrl.pageType !== 'confirmation' ">
        <th>비밀번호 확인</th>
        <td>
          <input type="password"
                 class="form-control input-sm"
                 name="acc_password_confirm"
                 ng-model="accountCtrl.password_confirm" required>
          <span class="label label-primary">필수</span>
          <div
            ng-messages="acc_frm.acc_password_confirm.$error"
            class="frm_error_cont" role="alert">
            <div ng-message="required">* 이 입력란을 작성하세요</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>담당자명</th>
        <td>
          <input type="text"
                 class="form-control input-sm"
                 ng-model="accountCtrl._state.contact_name"
                 ng-disabled="accountCtrl.pageType === 'confirmation' ">
        </td>
      </tr>
      <tr>
        <th>연락처</th>
        <td><input type="text"
                   class="form-control input-sm"
                   ng-model="accountCtrl._state.contact_phone"
                   ng-disabled="accountCtrl.pageType === 'confirmation' "></td>
      </tr>
      <tr>
        <th>메일주소</th>
        <td><input type="text"
                   class="form-control input-sm"
                   ng-model="accountCtrl._state.contact_mail"
                   ng-disabled="accountCtrl.pageType === 'confirmation' "></td>
      </tr>
      <tr>
        <th>상태</th>
        <td>
          <label><input type="radio"
                        ng-model="accountCtrl._state.status"
                        ng-disabled="accountCtrl.pageType === 'confirmation' "
                        value="0">정상</label>
          <label><input type="radio"
                        ng-model="accountCtrl._state.status"
                        ng-disabled="accountCtrl.pageType === 'confirmation' "
                        value="1">사용중지</label>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="auth" ng-if="accountCtrl.pageType !=='confirmation' ">
      <p>권한 정보<small>편집 권한에는 조회 권한이 포함되어 있습니다.</small></p>
      <table class="table table-bordered">
        <colgroup>
          <col width="146">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>조회</th>
          <th>편집</th>
          <th></th>
          <th>조회</th>
          <th>편집</th>
          <th></th>
          <th>조회</th>
          <th>편집</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>운영관리</th>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">운영업체 관리</td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="조회"
                   ng-checked="true"
                   ng-disabled="true"></td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="편집"
                   ng-model="accountCtrl.auth.majorOrganization"
                   ng-true-value="2" ng-false-value="1"></td>

          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">입점업체 관리</td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="조회"
                   ng-checked="accountCtrl.auth.minorOrganization == '2'"
                   ng-disabled="accountCtrl.auth.minorOrganization == '2'"
                   ng-model="accountCtrl.auth.minorOrganization"
                   ng-true-value="1" ng-false-value="0"></td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="편집"
                   ng-model="accountCtrl.auth.minorOrganization"
                   ng-true-value="2" ng-false-value="0"></td>

          <td ng-if="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')">입점업체 관리</td>
          <td ng-if="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="조회"
                   ng-checked="true"
                   ng-disabled="true"></td>
          <td ng-if="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="편집"
                   ng-model="accountCtrl.auth.minorOrganization"
                   ng-true-value="2" ng-false-value="1"></td>

          <td>업체 계정 관리</td>
          <td><input type="checkbox" alt="조회"
                     ng-checked="accountCtrl.auth.organizationAccount == '2'"
                     ng-disabled="accountCtrl.auth.organizationAccount == '2'"
                     ng-model="accountCtrl.auth.organizationAccount"
                     ng-true-value="1" ng-false-value="0"></td>
          <td><input type="checkbox" alt="편집"
                     ng-model="accountCtrl.auth.organizationAccount"
                     ng-true-value="2" ng-false-value="0"></td>
          <td ng-if="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type =='1' && accountCtrl.pageType === 'registration')"></td>
          <td ng-if="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type =='1' && accountCtrl.pageType === 'registration')"></td>
          <td ng-if="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type =='1' && accountCtrl.pageType === 'registration')"></td>
        </tr>
        <tr>
          <th ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')" rowspan="2">상품관리</th>
          <th ng-if="(accountCtrl.orgType == '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')" >상품관리</th>

          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">분류 관리</td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="조회"
                   ng-checked="accountCtrl.auth.category == '2'"
                   ng-disabled="accountCtrl.auth.category == '2'"
                   ng-model="accountCtrl.auth.category"
                   ng-true-value="1" ng-false-value="0"></td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="편집"
                   ng-model="accountCtrl.auth.category"
                   ng-disabled="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type =='1' && accountCtrl.pageType === 'registration')"
                   ng-true-value="2" ng-false-value="0"></td>

          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">브랜드 관리</td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="조회"
                   ng-checked="accountCtrl.auth.brand == '2'"
                   ng-disabled="accountCtrl.auth.brand == '2'"
                   ng-model="accountCtrl.auth.brand"
                   ng-true-value="1" ng-false-value="0"></td>
          <td ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="편집"
                   ng-model="accountCtrl.auth.brand"
                   ng-disabled="(accountCtrl.orgType === '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type =='1' && accountCtrl.pageType === 'registration')"
                   ng-true-value="2" ng-false-value="0"></td>

          <td>3D 상품목록</td>
          <td><input type="checkbox" alt="조회"
                     ng-checked="accountCtrl.auth.tdItem == '2'"
                     ng-disabled="accountCtrl.auth.tdItem == '2'"
                     ng-model="accountCtrl.auth.tdItem"
                     ng-true-value="1" ng-false-value="0"></td>
          <td><input type="checkbox" alt="편집"
                     ng-model="accountCtrl.auth.tdItem"
                     ng-true-value="2" ng-false-value="0"></td>

          <td ng-if="(accountCtrl.orgType == '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')"> 상품목록 </td>
          <td ng-if="(accountCtrl.orgType == '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="조회"
                   ng-checked="accountCtrl.auth.item == '2'"
                   ng-disabled="accountCtrl.auth.item == '2'"
                   ng-model="accountCtrl.auth.item"
                   ng-true-value="1" ng-false-value="0"></td>
          <td ng-if="(accountCtrl.orgType == '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="편집"
                   ng-model="accountCtrl.auth.item"
                   ng-true-value="2" ng-false-value="0"></td>
          <td ng-if="(accountCtrl.orgType == '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')"> 상품등록 </td>
          <td ng-if="(accountCtrl.orgType == '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" disabled></td>
          <td ng-if="(accountCtrl.orgType == '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type == '1' && accountCtrl.pageType === 'registration')">
            <input type="checkbox" alt="편집"
                   ng-model="accountCtrl.auth.item"
                   ng-true-value="2" ng-false-value="0"></td>

        </tr>
        <tr ng-if="(accountCtrl.orgType !== '1' && accountCtrl.pageType === 'modification') || (accountCtrl._state.org_type !== '1' && accountCtrl.pageType === 'registration')">
          <td>상품목록</td>
          <td><input type="checkbox" alt="조회"
                     ng-checked="accountCtrl.auth.item == '2'"
                     ng-disabled="accountCtrl.auth.item == '2'"
                     ng-model="accountCtrl.auth.item"
                     ng-true-value="1" ng-false-value="0"></td>
          <td><input type="checkbox" alt="편집"
                     ng-model="accountCtrl.auth.item"
                     ng-true-value="2" ng-false-value="0"></td>
          <td>상품등록</td>
          <td><input type="checkbox" disabled></td>
          <td><input type="checkbox" alt="편집"
                     ng-model="accountCtrl.auth.item"
                     ng-true-value="2" ng-false-value="0"></td>
          <td style="display: none;">상품일괄등록</td>
          <td style="display: none;"><input type="checkbox" disabled></td>
          <td style="display: none;"><input type="checkbox" alt="편집"
                     ng-model="accountCtrl.auth.batchItem"
                     ng-true-value="2" ng-false-value="0"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr style="display: none;">
          <th>영상관리</th>
          <td>기기별 영상관리</td>
          <td><input type="checkbox" alt="조회"
                     ng-checked="accountCtrl.auth.mirrorVideo == '2'"
                     ng-disabled="accountCtrl.auth.mirrorVideo == '2'"
                     ng-model="accountCtrl.auth.mirrorVideo"
                     ng-true-value="1" ng-false-value="0"></td>
          <td><input type="checkbox" alt="편집"
                     ng-model="accountCtrl.auth.mirrorVideo"
                     ng-true-value="2" ng-false-value="0"></td>
          <td>고객 영상목록</td>
          <td><input type="checkbox" alt="조회"
                     ng-checked="accountCtrl.auth.organizationVideo == '2'"
                     ng-disabled="accountCtrl.auth.organizationVideo == '2'"
                     ng-model="accountCtrl.auth.organizationVideo"
                     ng-true-value="1" ng-false-value="0"></td>
          <td><input type="checkbox" alt="편집"
                     ng-model="accountCtrl.auth.organizationVideo"
                     ng-true-value="2" ng-false-value="0"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="btn_group">
    <button type="button"
            class="btn btn_default btn_delete"
            ng-if="accountCtrl.pageType === 'modification' "
            ng-click="accountCtrl.exports.deleteAcc()">삭제
    </button>
    <button type="submit" class="btn btn_default btn_save" ng-if="accountCtrl.pageType !== 'confirmation' ">
      <span ng-bind="accountCtrl.pageType === 'modification' ? '저장' : '등록' "></span>
    </button>
    <button type="button"
            class="btn btn_default"
            ng-if="accountCtrl.pageType !== 'confirmation' "
            ng-click="accountCtrl.exports.goListPage()">취소
    </button>
    <button class="btn btn_default  btn_save"
            ng-if="accountCtrl.pageType === 'confirmation' "
            ng-click="accountCtrl.exports.goListPage()">확인
    </button>
  </div>

</form>
</script>
