.category_management {
  font-size: 12px;

  .panel-default {
    margin-top: 16px;
    max-width: 620px;

    .panel-title {
      img {
        float: right;
        margin-top: 4px;
        cursor: pointer;
      }
    }
    .table-of-contents{
      a{
        margin-bottom: 10px;
      }
    }
  }

  table {
    margin-top: 40px;

    tr {
      th {
        .bg-color-mixin(#f5f5f5);
        vertical-align: middle;
        height: 44px;
      }
      td {
        vertical-align: middle;
        height: 44px;

        input[type=text], select {
          width: 250px;
          display: inline-block;
          margin-right: 10px;

        }

        label {
          margin: 0;
          padding-right: 20px;
          input {
            margin-right: 10px;
          }
        }
      }
    }
  }

  p {
    font-weight: bold;
    margin-bottom: 9px;
  }

  .btn_default_sm {
    width: 74px;
    height: 26px;
    padding: 0px;
    display: inline-block;
    .border-radius-mixin(3px);

    &.btn_delete {
      .bg-color-mixin(@color-delete);
      border: 1px solid #ea2f10;
      color: @white;
    }

    &.btn_depth_save {
     float:right;
    }

  }

  .btn_default {
    width: 121px;
    height: 48px;
    color: @white;
    display: block;
    margin: 0 auto;
    .border-radius-mixin(3px);

    &.btn_cancel {

      .bg-color-mixin(#333);
      border: 1px solid #212020;
    }
  }

}
