.item_modification {
  form:first-of-type {
    padding: 0 22px;
  }
  .header {
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  .title {
    font-size: 1.8em;
    padding: 13px 22px;
    display: inline-block;
  }
  .date {
    float: right;
    .dl-horizontal {
      font-size: 1.2em;
      padding: 11px 22px;
    }
  }
  .info {
    font-size: 1.2em;
    padding-top: 55px;
    text-align: center;
    .item_name {
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .thumbnail_preview {
      position: absolute;
      left: 81px !important;
    }
  }
}
.item_registration, .item_modification{
  .point_color {
    color: #30a6b2;
  }

  .basic {
    margin-top: 45px;

    .long_input {
      min-width: 250px;
      max-width: 500px;
      width: 70%;
    }

    table {
      p {
        margin-top: 10px;
        font-weight: normal;
      }
    }
  }

  .public, .img {
    margin-top: 30px;
  }

  .public {
    .classification {
      display: inline-block;
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 12px;
      height: 146px;
      overflow: scroll;
      width: 438px;
      background-color: #fff;

      ul {
        margin-bottom: 0;
        li {
          padding-bottom: 5px;

          label {
            padding-left: 5px;
            cursor: pointer;
          }

          input[type=checkbox] {
            margin-right: 2px;
            cursor: pointer;
          }
          img {
            padding: 2px 5px 4px 0;
          }
        }
        li:last-of-type {
          padding-bottom: 0;
        }

        &.depth {
          margin-left: 20px;
        }
        .children_ul {
          margin: 5px 0 1px 18px;
        }
      }

    }
    .cate{
      display: inline-block;
      vertical-align: top;
      margin: 14px 5px;
      padding: 3px 2px;
    }
    table {
      th {
        border: none;
      }
      td {
        border: none;
        background-color: #f5f5f5;

        .form-inline {
          display: inline-block;

          input {
            width: 110px !important;
            .border-radius-mixin(3px);
            background-color: #fff;
            cursor: pointer;
          }
        }
      }

    }
  }

  .img {

    .img_right {
      float: left;
      margin: 8px 0;

      .img_right_desc {
        margin: 50px 0 0 10px;
      }
    }

    .th_desc {
      font-size: 12px;
      font-weight: normal;
    }
    table{
      td{
        padding-left: 30px;
        img {
          margin: 7px 0;
        }
      }
    }
    table.info {
      tr {
        th {
          text-align: center;
        }
        td {
          vertical-align: initial;
          text-align: center;
          padding: 8px;

          span {
            float: left;
            margin-left: 10px;
          }
          img {
            margin: 0;
          }
          .thumbnail_preview {
            position: absolute;
            left: 74px;
          }
        }
      }
    }
  }

  table {
    tr {
      th {
        .bg-color-mixin(#f5f5f5);
        vertical-align: middle;
        height: 44px;
      }
      td {
        vertical-align: middle;
        height: 44px;

        input[type=text], select {
          width: 250px;
          display: inline-block;
          margin-right: 10px;

        }
      }
    }
  }

  label {
    margin: 0;
    padding: 0 16px;
    input {
      margin-right: 10px;
    }
  }

  p {
    font-size: 12px;
    font-weight: bold;
  }

  .text_top {
    vertical-align: top;
    padding-top: 20px;
  }

  .btn_group {
    text-align: center;
    margin: 40px 0;

    .btn_default {
      width: 121px;
      height: 48px;
      color: @white;
      margin: 0px 5px;
      display: inline-block;
      .border-radius-mixin(3px);

      &.btn_save {
        .bg-color-mixin(@color-save);
        border: 1px solid #1f909b;
      }

      &.btn_cancel {
        .bg-color-mixin(#333);
        border: 1px solid #212020;
      }
    }
  }

  .btn_default_sm {
    width: 74px;
    height: 26px;
    padding: 3px;
    display: inline-block;
    .border-radius-mixin(3px);

    &.btn_delete {
      .bg-color-mixin(@color-delete);
      color: @white;
    }
  }

  .thumbnail_view {
    width: 108px;
    height: 108px;
    float: left;
    border: 1px solid #ddd;
  }

  .itemlist_img {
    float: left;
    margin: 0 10px;
  }

  .popup {
    font-size: 12px;
    .panel{
      margin-bottom: 0;
    }
    .panel-body {
      padding: 15px 22px;
      p {
        font-weight: bold;
      }

      .popup_top {
        margin-top: 8px;

        .catid_list {
          border: 1px solid #ddd;
          padding: 10px;
          height: 200px;
          overflow: scroll;

          ul {
            margin-bottom: 0;
            li {
              padding-bottom: 10px;
              img {
                padding: 0 5px 4px 0;
              }
            }
            li:last-of-type {
              padding-bottom: 0;
            }
          }
        }
      }

      .popup_bottom {
        margin-top: 33px;

        .code_cont {
          margin-right: 186px;

          .input_cont {
            margin-right: 84px;
            input {
              width: 100%;
              height: 26px;
            }
          }
          .threed_cont {
            width: 100%;
            height: 150px;
            padding: 10px;
            border: 1px solid #ddd;
            margin-top: 15px;
            overflow: scroll;
            ul {
              margin-bottom: 0;
              a {
                display: inline-block;
                width: 100%;
                padding: 3px;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
              }
              a:focus {
                background-color: #008cba;
                color: #fff;
              }
            }
          }
          .btn_search {
            float: right;
            margin-top: -26px;
          }

        }

        .popup_thumbnail_view {
          float: right;
          margin: -170px 8px 0 15px;
          img {
            width: 148px;
            height: 148px;
          }
        }

      }

      .btn_group {
        margin: 25px 0 10px 0;
      }
    }
  }

}
