<!DOCTYPE html>
<html>
<head>
  <% include ../../common/head.ejs %>
</head>

<body data-page-id="acc_org_list">

<div id="wrap" class="operation_info">
  <% include ../../../templates/common/header.ejs %>
  <% include ../../../templates/common/lnb.ejs %>

  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="list_table_wrapper">

      <% include ../../../templates/common/contents_above_title.ejs %>

      <acc-org-list
        bootstrap-ctrl="tableSearchCtrl,tableOptionCtrl,tableBodyCtrl,paginationCtrl"
      >
        <table-search
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          get-req-model="tableListCtrl.exports.getReqModel()"
          set-req-model="tableListCtrl.exports.setReqModel(options)"
          update-page="tableListCtrl.exports.updatePage(options)"
        ></table-search>

        <table-option
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          update-page="tableListCtrl.exports.updatePage(options)"
        >
        </table-option>

        <table-body
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          get-results="tableListCtrl._state.tableData.results"
        >
        </table-body>

        <table-btn
          btn-add-name="계정 등록"
          <% if (req.userAuth && parseInt(req.userAuth.organizationAccount,10)===2 ) { %>
            view-option="delete,add"
          <% }else{ %>
            view-option=""
          <% } %>
          api-option='{"kind":"account","status":"deleted","show":"debug,contact"}'
          not-selected-str="계정을 선택해주세요"
          delete-row="tableListCtrl.exports.deleteRow(options)"
          location-url="/<%=res.getLocale()%><%=url_info.menu.OPR_MNG_ACC_ORG_REGISTRATION.link%>"
        ></table-btn>

        <pagination
          get-total="tableListCtrl._state.tableData.info.total"
          get-start="tableListCtrl._state.tableData.info.start"
          get-count="tableListCtrl._state.tableData.info.count"
          update-page="tableListCtrl.exports.updatePage(options)"
          count-range="tableListCtrl.exports.COUNT_RANGE"
        >
        </pagination>
      </acc-org-list>

    </div>
  </div>

</div>

<!--ANGULAR_TEMPLATE (optional)-->
<% include ../../../templates/common/table/table_component_basic.ejs %>
<% include ../../../templates/opr_mng/acc/org_list/table_search_acc_org_list.ejs %>
<% include ../../../templates/opr_mng/acc/org_list/table_body_acc_org_list.ejs %>
<% include ../../../templates/common/table/table_option_basic.ejs %>
<% include ../../../templates/common/table/table_btn_basic.ejs %>
<% include ../../../templates/common/table/table_pagination_basic.ejs %>

<!--COMMON_DATA (mandatory)-->
<% include ../../common/common_data.ejs %>

<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->

</body>
</html>
