<!DOCTYPE html>
<html>
<head>
  <% include ../../../app/common/head.ejs %>
</head>

<body data-page-id="acc_org_registration">

<div id="wrap" class="acc_org_registration">

  <% include ../../../templates/common/header.ejs %>
  <% include ../../../templates/common/lnb.ejs %>

  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">

    <div class="list_table_wrapper">

      <% include ../../../templates/common/contents_above_title.ejs %>

      <account
        page-type="<%= page_type %>"
        account-uuid="<%= account_uuid %>"
        account-no="<%= account_no %>"
        org-id="<%= org_id %>"
        org-type="<%= org_type %>"
      >
      </account>

    </div>  <!-- .list_table_wrapper END -->

  </div>  <!-- .content_wrapper END -->
  <% include ../../../templates/opr_mng/acc/org/account.ejs %>

</div>  <!-- #wrap END -->



<!--COMMON_DATA (mandatory)-->
<% include ../../../app/common/common_data.ejs %>

<!--SCRIPTS_BASE,SCRIPTS,SCRIPTS_ALL (mandatory)-->
<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->


</body>
</html>
