/* ============== */
/* 店铺模板苹果风格 */
/* @cb      */
/* www.cnbiz.co.kr */
/* Apr-14-2012    */
/* ============== */


body { font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif; background: #F6F6F8 url(images/body_bg.png) repeat-x scroll 50% 206px;}
a { color: #333; }
a:hover { text-decoration: none; color: #0085CF;}
input[type="text"] { border-radius: 10px;}

/* ============================== */
/* 头部店铺介绍与搜索 -> header.php */
/* ============================== */


/* 导航区域布局控制 */
.ncsl-nav { background: url(images/top_bg.jpg) no-repeat center 8px; text-align: center; width: 100%; height: 370px; margin-top: 15px; position: relative; z-index: 1;}
/* 导航上部图片控制 */
.ncsl-nav .banner a.img { width: 1000px; margin: 0 auto;}
.ncs-default-banner { background: url(images/header.png) no-repeat scroll 50% 0; display: block; width: 100%; height: 306px; position:absolute; z-index: 2; top: 0; left:0;}

/* 店铺导航 */
#nav { background: url(images/nav_bg.png) no-repeat scroll 50% 0; width: 100%; height: 42px; border: none 0; position: absolute; z-index:3; left:0; top:322px;}
#nav ul { white-space: nowrap; display: block; width: 940px; height: 36px; padding-left:60px; margin: 2px auto 4px auto; overflow: hidden;}
#nav li { float: left;}
#nav li a span { font-family: "microsoft yahei"; font-weight: 600; line-height: 20px; color: #FFF; text-overflow: ellipsis; white-space: nowrap; max-width:160px; height: 20px; padding: 8px 30px 8px 10px; margin-left: 20px; margin-right:-1px; overflow: hidden; text-shadow: 0 -1px 1px rgba(0,0,0,0.5);}
#nav li a, #nav li a span { background: url(images/nav_btn.png) scroll no-repeat; float: left; cursor:pointer; }
#nav li.normal a { background-position: 0% 0px; height: 36px;}
#nav li.normal a span { background-position: 100% -36px; }
#nav li.normal a:hover { background-position: 0% -72px;}
#nav li.normal a:hover span { background-position: 100% -108px;}
#nav li.active a, #nav li.active a:hover { background-position: 0% -144px; height: 36px;}
#nav li.active a span, #nav li.active a:hover span { background-position: 100% -180px; }


/*侧边栏样式*/
.ncs-sidebar-container {}
.ncs-sidebar-container .title { background: url(images/repeat_x.png) repeat-x scroll center top; height: 24px; padding: 0; border-radius: 5px 5px 0 0;}
.ncs-sidebar-container .title h4 { color:#FFF; line-height: 22px; margin: 0 0 0 16px; display: inline-block; text-shadow: 0 1px 1px rgba(0,0,0,.2);}
.ncs-sidebar-container .title h4 { *display: inline;}
.ncs-sidebar-container .title span {}
.ncs-sidebar-container .content { background:#FFF; border: solid #CDCDCD 1px; border-radius: 0 0 5px 5px; *padding-bottom:10px;}



.ncs-main-container {}
.ncs-main-container .title { font-family: "microsoft yahei"; background: #EEE; border: solid #CDCDCD; border-width: 1px 1px 0 1px; border-radius: 5px 5px 0 0; padding: 24px 16px 6px 16px;}
.ncs-main-container .title h4 { font-weight: normal; font-size: 18px; line-height: 22px; color: #333; display: inline-block; *display: inline; width:50%; padding: 0; zoom: 1;}
.ncs-main-container .title span {  font-size: 12px; display: inline-block; *display: inline; float:right; line-height: 16px; color: #777; zoom: 1;}
.ncs-main-container .content { clear:both; background-color: #FFF; border: solid #CDCDCD 1px; border-radius: 0 0 5px 5px; overflow:hidden;}

/* 列表翻页 */
.pagination{ padding: 2px; margin-right: 16px;}
.pagination ul li span{ line-height: 20px; color: #CCC; list-style-type: none; background-color: #FFF; padding: 5px 10px; margin: 0px 2px; border: solid 1px #F7F7F7; border-radius: 5px;}
.pagination ul li a span , .pagination ul li a:visited span{ color: #777; border-color: #F7F7F7;}
.pagination ul li a:hover span, .pagination li a:active span{ color: #000; background-color: #F7F7F7; padding: 6px 11px; border: none;}
.pagination ul li span.currentpage{ color:#FFF; font-weight: bold; background-color: #3A557D; padding: 6px 11px; border: none;}










/* ====================== */
/* 左侧边栏样式 -> left.php */
/* ====================== */


/* 侧边栏搜索 */
.ncs-search a { font-size: 11px; color:#FFF; line-height:16px; background: url(images/repeat_x.png) repeat-x center -48px; border: solid 1px #015A9A; text-decoration:none; padding:2px 8px; border-radius: 10px; text-shadow: 0 0 0;}
.ncs-search a:hover { background-position: 50% -72px; border-color: #07428F;}


/* 侧边栏排行榜 */

.ncs-top-panel li { border-bottom: solid 1px #E7E7E7;}
.ncs-top-panel dd.goods-pic a { border: solid 1px #FFF;}
.ncs-top-panel li:hover dd.goods-pic a { border-color: #FFF; box-shadow: 1px 1px 1px rgba(0,0,0,0.2)}
.ncs-top-panel dd.goods-pic p { border: solid 1px #CCC;}
.ncs-top-panel dd.goods-pic p big { border-color: transparent #CCC transparent transparent;}
.ncs-top-panel dd.goods-pic p small { border-color: transparent #FFFFFF transparent transparent;}


/* 侧边栏店铺分类控制标签 */
.ico-none, .ico-block, .ico-sub { background-color: #A3A9B4; border:0;}
.ico-none, .ico-block { width: 14px; height:14px; border-radius: 7px; }
.ico-none em, .ico-block em { font-size: 0px; line-height: 0; width: 0px; height: 0px; border: 4px solid; display: block;}
.ico-none em { margin: 3px 0 0 6px; border-color: transparent transparent transparent #FFF;}
.ico-block em { margin: 5px 0 0 3px; border-color: #FFF transparent transparent transparent;}
.ico-sub { width: 2px; height:2px; margin: 10px 6px 0 0; border-radius: 1px;}
.ncs-class-bar .content { background:#FFF url(images/content_bg.gif) repeat-x scroll 0px 0px; box-shadow: 1px 1px 0 #FFF inset;}


/* ========================================= */
/* 商品列表类页面 -> index.php, goods_list.php */
/* ========================================= */


/* 焦点图轮换 */ 
.flex-control-nav li a { width: 6px ; height: 6px ; line-height: 6px; background-color: #FFF; border: solid 2px #CCC; text-indent: -9999px;}
.flex-control-nav li a:hover { width: 10px ; height: 10px ; line-height: 10px; background-color: #1F95DF; border: none;}
.flex-control-nav li a.flex-active { width: 10px ; height: 10px ; line-height: 10px; background-color: #3A557D; border: none; box-shadow: none;}







