<script type="text/ng-template" id="table_search_items.html">
  <div class="list-form-wrapper">

    <div class="list-form-inner">
      <table class="table list_form" style="">
        <thead style="">
        <tr>
          <th style="width:18%"></th>
          <th style="width:82%"></th>
        </tr>
        </thead>

        <tbody>

        <tr >
          <td class="list_form_label">검색분류</td>
          <td>
            <div class="form-inline">
              <select
                ng-model="tableSearchCtrl.query_opt"
                ng-change="tableSearchCtrl.onChangeQueryOpt()"
                class="form-control" name="query_opt" id="query_opt">
                <optgroup label="">
                  <option value="item_name">상품명</option>
                  <option value="item_uuid">상품ID</option>
                  <option value="origin_item_id">자체 상품코드</option>
                </optgroup>
                <optgroup label="-----------------">
                  <option value="td_name">의상명</option>
                  <option value="td_code">의상코드</option>
                </optgroup>
                <optgroup label="-----------------" ng-show="tableSearchCtrl.userData.account_type!='shop'">
                  <option  ng-show="tableSearchCtrl.userData.account_type!='shop'" value="org_id">입점업체</option>
                </optgroup>
                <optgroup label="-----------------">
                  <option value="brand_id">브랜드</option>
                </optgroup>

              </select>

              <select
                ng-show="(tableSearchCtrl.query_opt=='org_id')"
                ng-model="tableSearchCtrl.org_id"
                class="form-control" name="org_id" id="org_id">


                <option
                  ng-if="tableSearchCtrl.userData.account_type=='admin'"
                  value=""
                  >--입점업체 선택--</option>
                <option
                  ng-repeat="opt in tableSearchCtrl.org_id_arr track by $index"
                  ng-bind="opt.org_name"
                  data-org_id="{{opt.org_id}}"
                  data-org_name="{{opt.org_name}}"
                  value="{{tableSearchCtrl.parseInt(opt.org_id,10)}}"
                ></option>

              </select>


              <select
                ng-show="(tableSearchCtrl.query_opt=='brand_id')"
                ng-model="tableSearchCtrl.brand_id"
                class="form-control" name="brand_id" id="brand_id">

                <option value="">브랜드 선택</option>
                <option
                  ng-repeat="opt in tableSearchCtrl.brand_id_arr track by $index"
                  ng-bind="opt.name"
                  data-brand-id="{{opt.id}}"
                  data-brand-uuid="{{opt.uuid}}"
                  data-brand-name="{{opt.name}}"
                  data-brand-account-id="{{opt.account_id}}"
                  value="{{opt.id}}"
                ></option>
              </select>

              <input
                ng-show="(tableSearchCtrl.query_opt!='org_id' && tableSearchCtrl.query_opt!='brand_id')"
                ng-model="tableSearchCtrl.query"
                name="query"
                id="query"
                type="text" class="form-control search_class_txt">
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label">상품분류</td>
          <td>
            <div class="form-inline">
              <select
                ng-change="tableSearchCtrl.onChangeCateDepth01()"
                ng-model="tableSearchCtrl.item_cate_id_01"
                class="form-control" name="cate_dpt01" id="cate_dpt01">
                <option value="" ng-value="''">-1차분류 선택-</option>
                <option
                  ng-repeat="opt in tableSearchCtrl.item_cate_arr_01 track by $index"
                  ng-bind="opt.name"
                  data-cate-id="{{opt.id}}"
                  data-cate-name="{{opt.name}}"
                  ng-value="opt.id"
                  value="{{opt.id}}"
                ></option>
              </select>


              <select
                ng-model="tableSearchCtrl.item_cate_id_02"
                class="form-control" name="cate_dpt02" id="cate_dpt02">
                <option  value="" ng-value="''">-2차분류선택-</option>
                <option
                  ng-show="tableSearchCtrl.item_cate_arr_02 && tableSearchCtrl.item_cate_arr_02.length>0"
                  ng-repeat="opt in tableSearchCtrl.item_cate_arr_02 track by $index"
                  ng-bind="opt.name"
                  data-cate-id="{{opt.id}}"
                  data-cate-name="{{opt.name}}"
                  ng-value="opt.id"
                  value="{{opt.id}}"
                ></option>
              </select>


              <label class="checkbox-inline">
                <input
                  ng-model="tableSearchCtrl.include_cate_family_flag"
                  ng-true-value="true"
                  ng-false-value="false"
                  type="checkbox" id="" value="" > 하위분류 포함 검색
              </label>

              <label class="checkbox-inline">
                <input
                  ng-model="tableSearchCtrl.include_cate_unassigned_flag"
                  ng-true-value="true"
                  ng-false-value="false"
                  type="checkbox" id="" value=""> 분류 미등록 상품 검색
              </label>
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label">상품등록일</td>
          <td>
            <div class="form-inline">
              <select
                ng-model="tableSearchCtrl.period"
                ng-change="tableSearchCtrl.onChangePeriodType()"
                class="form-control" name="" id="">
                <option value="period_reg">상품등록일</option>
                <option value="period_upd">상품 최종 수정일</option>
              </select>
              <button ng-click="tableSearchCtrl.changePeriod('today')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='today')}" data-vaule="today">하루</button>
              <button ng-click="tableSearchCtrl.changePeriod('3days')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='3days')}"  data-vaule="3days">3일</button>
              <button ng-click="tableSearchCtrl.changePeriod('week')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='week')}"  data-vaule="week">7일</button>
              <button ng-click="tableSearchCtrl.changePeriod('1month')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='1month')}"  data-vaule="1month">1개월</button>
              <button ng-click="tableSearchCtrl.changePeriod('3month')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='3month')}"  data-vaule="3month">3개월</button>
              <button ng-click="tableSearchCtrl.changePeriod('1year')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='1year')}"  data-vaule="1year">1년</button>
              <button ng-click="tableSearchCtrl.changePeriod('all')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='all')}"  data-vaule="all">전체</button>

            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label"></td>
          <td>
            <div class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="st_date">2016-01-01</label>
                <input
                  ng-model="tableSearchCtrl.stDate"
                  ui-date="tableSearchCtrl.stDateOptions"
                  type="text" class="form-control" id="st_date" name="st_date" placeholder="yyyy-mm-dd">
              </div>
              <span class="form-group" style="margin-right:10px;">~</span>
              <div class="form-group">
                <label class="sr-only" for="end_date">2016-01-01</label>
                <input
                  ng-model="tableSearchCtrl.endDate"
                  ui-date="tableSearchCtrl.endDateOptions"
                  type="" class="form-control" id="end_date" name="end_date" placeholder="yyyy-mm-dd">
              </div>
            </div>
          </td>
        </tr>


        <!--sale_type-->
        <tr >
          <td class="list_form_label">판매여부</td>
          <td>
            <div class="form-inline">

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.sale_type" id="sale_type" value="" ng-value="2"> 전체
              </label>

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.sale_type" id="sale_type" value="" ng-value="0"> 판매
              </label>

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.sale_type" id="sale_type" value="" ng-value="1"> 샘플
              </label>
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label">노출여부</td>
          <td>
            <div class="form-inline">

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.item_status" id="item_status" value="" ng-value="''"> 전체
              </label>

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.item_status" id="item_status" value="" ng-value="'ready,activated'"> 노출함
              </label>

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.item_status" id="item_status" value="" ng-value="'disabled'"> 노출안함
              </label>
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label">3D 의상 등록여부</td>
          <td>
            <div class="form-inline">

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.td_reg_flag" id="td_reg_flag" value="" ng-value="'all'"> 전체
              </label>

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.td_reg_flag" id="td_reg_flag" value="" ng-value="'registerd'"> 등록함
              </label>

              <label class="radio-inline">
                <input type="radio" ng-model="tableSearchCtrl.td_reg_flag" id="td_reg_flag" value="" ng-value="'not_registerd'"> 등록안함
              </label>
            </div>
          </td>
        </tr>


        </tbody>
      </table>
    </div>


    <div class="list-form-search-btn">
      <a class="btn btn-primary btn-lg" ng-click="tableSearchCtrl.updateList()">검색</a></p>
    </div>

  </div>


</script>
