
<script type="text/ng-template" id="table_body_items.html">

  <div class="table_cont">

    <table class="table table-hover no-margin">
      <thead>
        <tr>
          <th style="width:2%">
            <input class="table-row-check-box-all no-margin" type="checkbox">
          </th>
          <th style="width:4%">No</th>
          <th style="width:7%">상품ID</th>
          <th style="width:28%">상품명</th>
          <th style="width:12%">3D 의상코드</th>

          <th style="width:7%">판매여부</th>

          <th style="width:9%">판매가</th>
          <th style="width:10%">노출여부</th>
          <th style="width:7%">입점업체</th>
          <th style="width:7%">브랜드</th>
          <th style="width:7%">상품등록일</th>
        </tr>
      </thead>

      <tbody
        ng-show="tableBodyCtrl.getTotal()>0">

        <tr ng-repeat="tableRow in tableBodyCtrl.getResults() track by $index"
            data-id="{{tableRow.id}}"
            data-uuid="{{tableRow.code}}"
        >
          <td>
            <input class="table-row-check-box no-margin" type="checkbox" shop-name="{{tableRow.name}}" uuid="{{tableRow.code}}" id="{{tableRow.id}}" name="{{tableRow.id}}">
          </td>

          <td>
            <span class="name" >{{tableBodyCtrl.getTotal()-(tableBodyCtrl.getCount()*(tableBodyCtrl.getStart()/tableBodyCtrl.getCount()) )-$index}}</span>
          </td>

          <td>
            <span class="name" ng-if="tableBodyCtrl.itemAuth==='2'">
              <a href="" ng-click="tableBodyCtrl.editItems({options:tableRow})" >{{tableRow.code}}</a>
            </span>
            <span class="name" ng-if="tableBodyCtrl.itemAuth!=='2'">{{tableRow.code}}</span>
          </td>

          <td>
            <span class="name">
              <div class="thumbnail_img_cont">
                <img
                  ng-show="(tableRow.item_thumbnail_url==null)"
                  class="bg_img" src="<%=sails.config.urlinfo.img%>/app/common/no-image.jpg?_=<%=sails.config.ver%>" alt="{{tableRow.name}}" />
                <img
                  ng-show="(tableRow.item_thumbnail_url!=null && tableRow.item_thumbnail_url.length>0)"
                  class="thumbnail_img" ng-src="{{tableRow.item_thumbnail_url}}?_=<%=sails.config.ver%>" alt="" />
              </div>

              <a ng-if="tableBodyCtrl.itemAuth==='2'" class="thumbnail_img_desc" href=""  ng-click="tableBodyCtrl.editItems({options:tableRow})" >{{tableRow.name}}</a>
              <span ng-if="tableBodyCtrl.itemAuth!=='2'">{{tableRow.name}}</span>
            </span>
          </td>

          <td>
            <div
              ng-show="(tableRow.td_list&&tableRow.td_list.length>0)"
              ng-repeat="tdLi in tableRow.td_list track by $index"
              class="name" >
              <a
                ng-click="tableBodyCtrl.showTdPrevModal(tdLi);"
                href="">{{tdLi.code}}<span ng-show="tdLi.rep_yn==1"> (*)</span></a>
            </div>

            <span
              ng-show="(tableRow.td_list&&tableRow.td_list.length<1)"
              class="name" ></span>
          </td>




          <td ng-switch="tableRow.sale_type">
            <span class="name" ng-switch-when="1">샘플</span>
            <span class="name" ng-switch-default>판매</span>
          </td>


          <td ng-switch="tableRow.sale_type">
            <span class="name" ng-switch-when="1">-</span>
            <span class="name" ng-switch-default>{{tableRow.currency}} {{tableRow.item_price|currency:'':0}}</span>
          </td>

          <td>
            <span class="name">
              {{(tableRow.display_yn==1)?'노출함':'노출안함'}}
            </span>
            <br/>
            <span ng-show="tableRow.display_yn==1">
              <span ng-bind-html="tableBodyCtrl.renderDisplaySection(tableRow.display_start_time,tableRow.display_end_time)"></span>
            </span>
          </td>

          <td>
            <span class="name" ng-bind="tableRow.org_name"></span>
          </td>

          <td>
            <span class="name" ng-bind="tableRow.brand_name"></span>
          </td>

          <td>
            <span class="name">{{tableBodyCtrl.renderRegistSection(tableRow.registerd_datetime)}}</span>
          </td>

        </tr>


      </tbody>

      <tbody ng-show="tableBodyCtrl.getTotal()<1">
        <tr>
          <td colspan="10" style="text-align: center;">검색된 상품이 없습니다.</td>
        </tr>
      </tbody>
    </table>
  </div>


</script>
