/**
 * 定义买家中心样式
 * @cb
 * www.cnbiz.co.kr
 * Apr-01-2012
 **/
body {
	background-attachment: scroll;
	background-color: #BDF4FB;
	background-image: url(skin04/body_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 80px;
}
