<!DOCTYPE html>
<html>
<head>
  <% include ./app/common/head.ejs %>
</head>

<body data-page-id="403">
<div id="wrap" class="item_registration">

  <% include ./templates/common/header.ejs %>
  <% include ./templates/common/lnb.ejs %>
  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="list_table_wrapper">
      <% include ./templates/common/contents_above_title.ejs %>

      <h4>이 페이지에 접근권한이 없습니다.</h4>
    </div>


      <!--COMMON_DATA (mandatory)-->
      <% include ./app/common/common_data.ejs %>

      <!--SCRIPTS_BASE-->
      
      <!--SCRIPTS_BASE END-->

      <!--SCRIPTS-->
      
      <!--SCRIPTS END-->

      <!--SCRIPTS_ALL-->
      
      <!--SCRIPTS_ALL END-->

      <script>
        angular.bootstrap( $('html'), ['App']);
      </script>

      </body>
</html>
