
<!-- ANGULAR templates -->
<script type="text/ng-template" id="threeD_dash_board.html">

    <div class="three-items-list-cont" data-c="{{threeDDashBoardCtrl.items.total}}">

        <div class="three-items-list-wrap" ng-if="threeDDashBoardCtrl.type=='item'">
            <table class="table table-striped table-bordered table-dash-board">
                <thead>
                <tr>
                    <th class="table-thead-th-all" >전체</th>
                    <th class="table-thead-th-threed-regist">3d 의상등록</th>
                    <th class="table-thead-th-threed-unregist">3d 의상미등록</th>
                </tr>
                </thead>

                <tbody>
                <tr >
                    <td>
                        <span class="name">{{threeDDashBoardCtrl.items.total}} 건</span>
                    </td>

                    <td>
                        <span class="name">{{threeDDashBoardCtrl.items.register}} 건</span>
                    </td>

                    <td>
                        <span class="name">{{threeDDashBoardCtrl.items.not_register}} 건</span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="three-items-list-wrap" ng-if="threeDDashBoardCtrl.type=='threed'">
            <table class="table table-striped table-bordered table-dash-board">
                <thead>
                <tr>
                    <th class="table-thead-th-all" >전체</th>
                    <th class="table-thead-th-threed-regist">Woman</th>
                    <th class="table-thead-th-threed-unregist">Man</th>
                </tr>
                </thead>

                <tbody>

                <tr >
                    <td>
                        <span class="name">{{threeDDashBoardCtrl.threed.total}} 건</span>
                    </td>

                    <td>
                        <span class="name">{{threeDDashBoardCtrl.threed.woman}} 건</span>
                    </td>

                    <td>
                        <span class="name">{{threeDDashBoardCtrl.threed.man}} 건</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="three-items-list-btn" ng-if="threeDDashBoardCtrl.type=='item'">
            <a href="/items_mng/items/registration" class="btn btn-primary btn-lg" style="">상품등록</a>
        </div>


    </div>

</script>


<script type="text/ng-template" id="table_component_basic.html">
    <!-- table-list_table end -->
    <div class="list_table"></div>
</script>

<script type="text/ng-template" id="table_search_threeD_popup.html">
    <div class="list-form-wrapper" style="margin-top:30px;">

        <div class="list-form-inner">
            <table class="table list_form" style="margin-bottom:0px;">
                <thead style="">
                <tr>
                    <th style="width:18%"></th>
                    <th style="width:82%"></th>
                </tr>
                </thead>

                <tbody>

                <tr >
                    <td class="list_form_label">검색 구분</td>
                    <td>
                        <div class="form-inline">
                            <select
                                    ng-model="tableSearchCtrl.query_opt"
                                    ng-change="tableSearchCtrl.onChangeQueryOpt()"
                                    class="form-control" name="query_opt" id="query_opt">
                                <optgroup label="">
                                    <option value="td_name">의상명</option>
                                    <option value="td_code">의상코드</option>
                                </optgroup>
                            </select>

                            <select
                                    ng-show="(tableSearchCtrl.query_opt=='org_id')"
                                    ng-model="tableSearchCtrl.org_id"
                                    ng-change="tableSearchCtrl.onChangeOrgId()"
                                    class="form-control" name="org_id" id="org_id">

                                <option ng-if="tableSearchCtrl.userData.account_type==='admin'" value="">--입점업체 전체--</option>
                                <option
                                        ng-repeat="opt in tableSearchCtrl.org_id_arr track by $index"
                                        ng-bind="opt.org_name"
                                        data-org_name="{{opt.org_name}}"
                                        data-org_id="{{opt.org_id}}"
                                        value="{{opt.org_id}}"
                                ></option>
                            </select>

                            <select
                                    ng-show="(tableSearchCtrl.query_opt=='org_id') && (tableSearchCtrl.cat_arr.length>0)"
                                    ng-model="tableSearchCtrl.cat_id"
                                    class="form-control" name="cat_id" id="cat_id">

                                <option value="">--CAT 제작업체 선택--</option>
                                <option
                                        ng-repeat="opt in tableSearchCtrl.cat_arr track by $index"
                                        ng-bind="opt.login_id"
                                        data-account_id="{{opt.account_id}}"
                                        value="{{opt.account_id}}"
                                ></option>
                            </select>


                            <input
                                    ng-show="(tableSearchCtrl.query_opt!='org_id')"
                                    ng-model="tableSearchCtrl.query"
                                    name="query"
                                    id="query"
                                    type="text" class="form-control search_class_txt">
                        </div>
                    </td>
                </tr>



                <tr >
                    <td class="list_form_label">성인 성별 구분</td>
                    <td>
                        <div class="form-inline">

                            <!--<label class="check-inline">-->
                                <!--<input type="checkbox" ng-model="tableSearchCtrl.td_sex_all" ng-true-value="true" ng-false-value="false" id="td_sex_all" value="td_sex_all"> 입점업체 전체-->
                            <!--</label>-->

                            <label class="check-inline">
                                <input type="checkbox" ng-model="tableSearchCtrl.td_sex_woman" ng-true-value="true" ng-false-value="false" id="td_sex_woman" value="td_sex_woman"> 여성
                            </label>

                            <label class="check-inline">
                                <input type="checkbox" ng-model="tableSearchCtrl.td_sex_man" ng-true-value="true" ng-false-value="false" id="td_sex_man" value="td_sex_man"> 남성
                            </label>

                            <label class="check-inline">
                                <input type="checkbox" ng-model="tableSearchCtrl.td_sex_kids" ng-true-value="true" ng-false-value="false" id="td_sex_kids" value="td_sex_kids"> 아동
                            </label>
                        </div>
                    </td>
                </tr>

                <tr >
                    <td class="list_form_label">제작 카테고리</td>
                    <td>
                        <div class="form-inline">

                            <select
                                    ng-repeat="li in tableSearchCtrl.make_category_arr track by $index"
                                    ng-model="li.cur_code"
                                    ng-change="tableSearchCtrl.onChangeCateNmList(li.index)";
                                    ng-class="{visible_hidden:(li.data.length===0)}"
                                    class="form-control" name="cate_id{{li.index}}" id="cate_id{{li.index}}" data-idx="{{li.index}}">
                                <option value="" ng-if="$index===0">-전체선택-</option>
                                <option value="" ng-if="$index!==0">-{{(li.index+1)}}차분류선택-</option>
                                <option
                                        ng-repeat="chli in li.data track by $index"
                                        value="{{chli.CODE}}">{{ (chli[tableSearchCtrl.curlang]!=='')?(chli[tableSearchCtrl.curlang]):(chli.CODE) }}</option>
                            </select>

                        </div>
                    </td>
                </tr>

                <tr >
                    <td class="list_form_label">의상제작일</td>
                    <td>
                        <div class="form-inline">
                            <button ng-click="tableSearchCtrl.changePeriod('today')" type="button" class="btn btn-primary btn-sm" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='today')}" data-vaule="today">하루</button>
                            <button ng-click="tableSearchCtrl.changePeriod('3days')" type="button" class="btn btn-primary btn-sm" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='3days')}"  data-vaule="3days">3일</button>
                            <button ng-click="tableSearchCtrl.changePeriod('week')" type="button" class="btn btn-primary btn-sm" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='week')}"  data-vaule="week">7일</button>
                            <button ng-click="tableSearchCtrl.changePeriod('1month')" type="button" class="btn btn-primary btn-sm" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='1month')}"  data-vaule="1month">1개월</button>
                            <button ng-click="tableSearchCtrl.changePeriod('3month')" type="button" class="btn btn-primary btn-sm" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='3month')}"  data-vaule="3month">3개월</button>
                            <button ng-click="tableSearchCtrl.changePeriod('1year')" type="button" class="btn btn-primary btn-sm" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='1year')}"  data-vaule="1year">1년</button>
                            <button ng-click="tableSearchCtrl.changePeriod('all')" type="button" class="btn btn-primary btn-sm" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='all')}"  data-vaule="all">전체</button>
                        </div>
                    </td>
                </tr>

                <tr >
                    <td class="list_form_label"></td>
                    <td>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="st_date">2016-01-01</label>
                                <input
                                        ng-model="tableSearchCtrl.stDate"
                                        ui-date="tableSearchCtrl.stDateOptions"
                                        type="text" class="form-control" id="st_date" name="st_date" placeholder="yyyy-mm-dd">
                            </div>
                            <span class="form-group" style="margin:0 10px;padding-top:8px;">~</span>
                            <div class="form-group">
                                <label class="sr-only" for="end_date">2016-01-01</label>
                                <input
                                        ng-model="tableSearchCtrl.endDate"
                                        ui-date="tableSearchCtrl.endDateOptions"
                                        type="text" class="form-control" id="end_date" name="end_date" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                    </td>
                </tr>



                </tbody>
            </table>
        </div>


        <div class="list-form-search-btn">
            <a class="btn btn-primary btn-lg" ng-click="tableSearchCtrl.updateList()">검색</a></p>
        </div>

        <div  style="width:70%;margin-top:30px;">
            <select
                    ng-model="tableSearchCtrl.order"
                    ng-change="tableSearchCtrl.updateList()"
                    style="width:150px;float:right;height:30px;"
                    class="form-control ng-pristine ng-untouched ng-valid" name="order" id="order">
                <optgroup label="">
                    <option value="registerd_date">최신등록순</option>
                    <option value="name">3D의상명순</option>
                </optgroup>
            </select>
        </div>


    </div>


</script>

<script type="text/ng-template" id="table_body_threeD_popup.html">

    <div class="table_cont" style="max-height: 322px;width:70%;border: 1px solid #dddddd;margin-top: 10px;float: left;">

        <table class="table table-hover no-margin td_popup_body_table" style="min-width:300px;">
            <thead>
            <tr>
                <th style="width:4%">No</th>
                <th style="width:17%">제작 카테고리</th>
                <th style="width:12%">3D의상썸네일</th>
                <th style="width:12%">3D의상코드</th>
                <th style="width:23%">3D의상명</th>
                <th style="width:10%">성별</th>
                <th style="width:15%">설명</th>
                <th style="width:8%">의상제작일</th>

            </tr>
            </thead>

            <tbody
                    ng-show="tableBodyCtrl.getTotal()>0"
            >

            <tr class="clickable-row"
                ng-repeat="tableRow in tableBodyCtrl.getResults() track by $index"
                data-id="{{tableRow.id}}"
                ng-click="tableBodyCtrl.showTdPrevModal(tableRow,$index);"
            >

                <td>
                    <span class="name" >{{tableBodyCtrl.getTotal()-(tableBodyCtrl.getCount()*(tableBodyCtrl.getStart()/tableBodyCtrl.getCount()) )-$index}}</span>
                </td>


                <td>
                    <span class="name" ng-bind="tableRow.make_category_route"></span>
                </td>

                <td>
                      <span class="name">
                        <div class="thumbnail_img_cont" style="margin:0 auto;">
                          <img ng-show="(!tableRow.td_fitting_files.thumbnail.url)" class="bg_img" src="/app/common/no-image.jpg?_=" alt="{{tableRow.name}}" />
                          <img ng-show="(tableRow.td_fitting_files && tableRow.td_fitting_files.thumbnail && tableRow.td_fitting_files.thumbnail.url)" class="thumbnail_img" ng-src="{{tableRow.td_fitting_files.thumbnail.url}}?_=<%=sails.config.ver%>" alt="{{tableRow.name}}" />
                        </div>
                      </span>
                </td>

                <td>
                    <span class="name" ng-bind="tableRow.code"></span>
                </td>

                <td>
                    <span class="name" ng-bind="tableRow.name"></span>
                    <!--<a class="thumbnail_img_desc" href="" ng-click="tableBodyCtrl.showTdPrevModal(tableRow);" >{{tableRow.name}}</a>-->
                </td>

                <td>
                    <span class="name" ng-bind="tableRow.sex"></span>
                </td>


                <td>
                    <span class="name" ng-bind="tableRow.description"></span>
                </td>

                <td>
                    <span class="name" ng-bind="tableBodyCtrl.renderRegistSection(tableRow.registerd_datetime)"></span>
                </td>


            </tr>


            </tbody>

            <tbody ng-show="tableBodyCtrl.getTotal()<1">
            <tr>
                <td colspan="10" style="text-align: center;">검색된 상품이 없습니다.</td>
            </tr>
            </tbody>

        </table>
    </div>


</script>

<script  type="text/ng-template" id="td_prev_modal_small.html">

    <div class="td_preview_modal_container">

        <!-- Modal -->
        <div class="" id="tdPreviewModal">
            <div class="">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-body-inner">
                            <div
                                    ng-class="{'img_show':($index==tdPrevModalCtrl.curIdx)}"
                                    ng-repeat="li in tdPrevModalCtrl.imgArr track by $index"
                                    class="td_img_cont">

                                <div class="td_img" style="background:url({{li}}) no-repeat center center; background-size:cover;background-repeat: no-repeat;width: 100%;height: 100%;"></div>
                                <!--<img class="td_img" ng-src="{{li}}" alt="">-->
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <ul class="pager">
                            <li>
                                <a
                                        ng-click="tdPrevModalCtrl.showPrev()"
                                        href="">Previous</a>
                            </li>
                            <li>
                                <a
                                        ng-click="tdPrevModalCtrl.showNext()"
                                        href="">Next</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>

</script>


<!--COMMON_DATA (mandatory)-->
<script>

    var APP = APP || {};

    APP.modules={
        directive:{
            util:{}
        },
        ctrl:{}
    };

    APP.createNS = function (namespace) {
        var nsparts = namespace.split(".");
        var parent = APP;

        if (nsparts[0] === "APP") {
            nsparts = nsparts.slice(1);
        }

        for (var i = 0; i < nsparts.length; i++) {
            var partname = nsparts[i];
            if (typeof parent[partname] === "undefined") {
                parent[partname] = {};
            }
            parent = parent[partname];
        }
        return parent;
    };

    //link 수정
    APP.URL_INFO = {
        "menu":{"HOME":{"name":"HOME","link":"#"},
            "LOGIN":{"name":"LOGIN","link":"#"},
            "LOGOUT":{"name":"LOGOUT","link":"#"},
            "OPR_MNG_ORG_ADMIN_CONFIRMATION":{"name":"운영업체 정보보기","link":"#"},
            "OPR_MNG_ORG_ADMIN_MODIFICATION":{"name":"운영업체 정보수정","link":"#"},
            "OPR_MNG_ORG_STORE_LIST":{"name":"입점업체 관리","link":"#"},
            "OPR_MNG_ORG_STORE_REGISTRATION":{"name":"입점업체 등록","link":"#"},
            "OPR_MNG_ORG_STORE_MODIFICATION":{"name":"입점업체 수정","link":"#"},
            "OPR_MNG_ORG_STORE_CONFIRMATION":{"name":"입점업체 보기","link":"#"},
            "OPR_MNG_ACC_ORG_LIST":{"name":"업체 계정관리","link":"#"},
            "OPR_MNG_ACC_ORG_REGISTRATION":{"name":"업체 계정등록","link":"#"},
            "OPR_MNG_ACC_ORG_MODIFICATION":{"name":"업체 계정수정","link":"#"},
            "OPR_MNG_ACC_ORG_CONFIRMATION":{"name":"업체 계정보기","link":"#"},
            "ITEMS_MNG_CATEGORY":{"name":"분류관리","link":"#"},
            "ITEMS_MNG_CATEGORY_BRAND":{"name":"브랜드관리","link":"#"},
            "ITEMS_MNG_CATEGORY_BRAND_REGISTRATION":{"name":"브랜드등록","link":"#"},
            "ITEMS_MNG_CATEGORY_BRAND_MODIFICATION":{"name":"브랜드수정","link":"#"},
            "ITEMS_MNG_CATEGORY_BRAND_CONFIRMATION":{"name":"브랜드조회","link":"#"},
            "ITEMS_MNG_ITEMS_LIST":{"name":"상품목록","link":"#"},
            "ITEMS_MNG_ITEMS_REGISTRATION":{"name":"상품등록","link":"#"},
            "ITEMS_MNG_ITEMS_MODIFICATION":{"name":"상품수정","link":"#"},
            "ITEMS_MNG_ITEMS_CONFIRMATION":{"name":"상품보기","link":"#"},
            "ITEMS_MNG_ITEMS_BATCH_REGISTRATION":{"name":"상품일괄등록","link":"#"},
            "ITEMS_MNG_ITEMS_TD_LIST":{"name":"3d상품목록","link":"#"}}
    };

    //link 수정
    APP.MENU_DATA = {
        "cur_gnb_id":"items_mng",
        "cur_lnb_idx":1,
        "cur_lnb_id":"ITEMS_MNG_ITEMS_TD_LIST",
        "menu":[
            {
                "id":"opr_mng",
                "name":"운영관리",
                "link":"",
                "isHide":false,
                "children":[
                    {
                        "name":"업체정보 관리",
                        "isHide":false,
                        "children":[
                            {
                                "isHide":false,
                                "id":"OPR_MNG_ORG_ADMIN_MODIFICATION",
                                "name":"운영업체 정보관리",
                                "link":"",
                            },
                            {
                                "id":"OPR_MNG_ORG_STORE_LIST",
                                "isHide":false,
                                "name":"입점업체 관리",
                                "link":""
                            }
                        ]
                    },

                    {
                        "name":"계정정보 관리",
                        "isHide":false,
                        "children":[
                            {"id":"OPR_MNG_ACC_ORG_LIST","isHide":false,"name":"업체 계정관리","link":"#"}
                        ]
                    }
                ]
            },

            {
                "id":"items_mng",
                "name":"상품관리",
                "link":"",
                "isHide":false,
                "children":[
                    {
                        "name":"분류정보 관리",
                        "isHide":false,
                        "children":[
                            {"id":"ITEMS_MNG_CATEGORY","name":"분류관리","isHide":false,"link":""},
                            {"id":"ITEMS_MNG_CATEGORY_BRAND","name":"브랜드관리","isHide":false,"link":""}
                        ]
                    },

                    {
                        "name":"상품정보 관리",
                        "isHide":false,
                        "children":[
                            {"id":"ITEMS_MNG_ITEMS_LIST","name":"상품목록","link":""},
                            {"id":"ITEMS_MNG_ITEMS_REGISTRATION","isHide":false,"name":"상품등록","link":""},
                            {"id":"ITEMS_MNG_ITEMS_TD_LIST","name":"3d상품목록","isHide":false,"link":""}
                        ]
                    }
                ]
            }
        ]
    };



    APP.info={
        gURL:window.location.protocol+'//'+window.location.host+'/'+'kr', //수정
        gHost:"http://dev-mall-api.fitnshop.com", //수정
        gAPIHost:"http://dev-mall-api.fitnshop.com", //수정
        gAPIPort:"4080", //수정
        gHost:"http://dev-mall-api.fitnshop.com", //수정
        gLocale:"kr", //수정
        gVersion:"0.0.110", //수정
        imgURL:"http://dev-img.fitnshop.com/images", //수정
        gRegion:"",
        user:{},
        API_FRONT_URL:{},
        table:{
            TABLE_VIEW_RANGE_LIST:['20','40','80','100']
        }
    };

    APP.info.gAPIHost = 'http://localhost';  //localtest
    APP.info.gAPIPort = '1337'; //localtest

    APP.info.user.account_uuid
    APP.info.user = {
        "account_uuid":"11",   //수정
        "account_uuid_hash":"",  //수정
        "account_id_hash":"",  //수정
        "purchase_url":"",   //수정
        "client_name": "",   //수정
        "account_type": "admin",
        "login_id": "",  //수정
        "parent_org_id": parseInt("222",10),   //수정
        "org_id": parseInt("222",10),  //수정
        "org_name": "",  //수정
        "contact_name": "",
        "contact_phone": "",
        "contact_mail": "",
        "contact_homepage": "",
        "email_id": "",
        "status": "activated",   //수정
        "language": "KO",  //수정
        "currency": "KRW",   //수정
        "timezone": "+09:00"   //수정
    }

    APP.info.user.timezonecnt = _getCurTimeZone();

    function _getCurTimeZone(){
        var curTimeZone = APP.info.user.timezone;
        if(curTimeZone=='null' || curTimeZone=='undefined' || curTimeZone==null || curTimeZone==undefined || curTimeZone==''){
            curTimeZone = -9;
        }else{
            if( APP.info.user.timezone.substr(0,1)=='+' ){
                curTimeZone =  -1*parseInt(APP.info.user.timezone.substr(1,2));
            }else if( APP.info.user.timezone.substr(0,1)=='-' ){
                curTimeZone = parseInt(APP.info.user.timezone.substr(1,2));
            }else{
                curTimeZone = parseInt(APP.info.user.timezone.substr(0,2));
            }
        }

        return curTimeZone;
    }


    //수정
    APP.info.user.auth = {
        "account_uuid":"","majorOrganization":2,"minorOrganization":2,"masterAccount":2,"organizationAccount":2,
        "license":2,"category":2,"brand":2,"tdItem":2,"item":2,"batchItem":2,"defaultVideo":2,"mirrorVideo":2,"organizationVideo":2
    };


    //수정
    //API_FRONT_URL

    // angular => API_URL_INFO
    APP.info.API_FRONT_URL = {
        GET_3DITEMS_LIST:APP.info.gAPIHost+':'+APP.info.gAPIPort+'/td/list',
        GET_MAKE_CATE_URL:APP.info.gAPIHost+':'+APP.info.gAPIPort+'/category/getCateCSV?account_uuid='+(APP.info.user.account_uuid)
    };


    APP.i18n = {
    };

    APP.setup403Page = function(__container){
        $(document.body).attr('data-page-id','403');
        $(__container || '.content_wrapper').html('<div class="list_table_wrapper"> <div page-location="" title="403 Forbidden" location="" class="form_header" style=""><h3 class="form_header_title" style="">403 Forbidden</h3></div><h4>이 페이지에 접근권한이 없습니다.</h4></div>');
    }

    APP.createNavModel = function createNavModel(__locale, __auth, __NAV_MODEL, __session){
        //TODO : refactorying

        console.log('__auth.majorOrganization: ' ,__auth.majorOrganization);
        console.log('__auth.minorOrganization: ' ,__auth.minorOrganization);
        console.log('__auth.organizationAccount: ' ,__auth.organizationAccount);
        console.log('__auth.category: ' ,__auth.category);
        console.log('__auth.brand: ' ,__auth.brand);
        console.log('__auth.item: ' ,__auth.item);
        console.log('__auth.tdItem: ' ,__auth.tdItem);


        var majorOrganization = (is.existy(__auth) && is.existy(__auth.majorOrganization))?parseInt(__auth.majorOrganization,10):1;

        var tmpOprMngLink = '/' + (__locale) + ((majorOrganization>=2)? __NAV_MODEL.menu.OPR_MNG_ORG_ADMIN_MODIFICATION.link:__NAV_MODEL.menu.OPR_MNG_ORG_ADMIN_CONFIRMATION.link);
        var tmpOprMngStoreLink = '/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ORG_STORE_LIST.link;
        var tmpParamStoreLink = '';

        if(__session.account_type==='shop') {
            tmpParamStoreLink = '?account_uuid='+(__session.account_uuid)+'&org_id='+(__session.org_id);
            tmpOprMngStoreLink = '/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ORG_STORE_MODIFICATION.link+tmpParamStoreLink;
            if( parseInt(__auth.minorOrganization,10)===1 ){
                tmpOprMngStoreLink = '/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ORG_STORE_CONFIRMATION.link+tmpParamStoreLink;
            }
            tmpOprMngLink = tmpOprMngStoreLink;
        }

        var menuArr = [
            {
                id:'opr_mng',
                name:'운영관리',
                link: tmpOprMngLink,
                children:[
                    {name:'업체정보 관리',
                        isHide:( ((parseInt(__auth.majorOrganization,10)<1) && (parseInt(__auth.minorOrganization,10)<1))?true:false ),
                        children:[
                            (function(){

                                return {
                                    isHide:((__session.account_type==='shop')?true:false),
                                    id:'OPR_MNG_ORG_ADMIN_MODIFICATION',
                                    name:'운영업체 정보관리',
                                    link: tmpOprMngLink
                                };
                            })(),
                            {
                                id:'OPR_MNG_ORG_STORE_LIST',
                                isHide:((parseInt(__auth.minorOrganization,10)<1)?true:false),
                                name:__NAV_MODEL.menu.OPR_MNG_ORG_STORE_LIST.name,
                                link:tmpOprMngStoreLink
                            }

                        ]},
                    {name:'계정정보 관리',
                        isHide:((parseInt(__auth.organizationAccount,10)<1)?true:false),
                        children:[
                            {
                                id:'OPR_MNG_ACC_ORG_LIST',
                                isHide:((parseInt(__auth.organizationAccount,10)<1)?true:false),
                                name:__NAV_MODEL.menu.OPR_MNG_ACC_ORG_LIST.name,
                                link:'/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ACC_ORG_LIST.link
                            }
                        ]}
                ]
            },

            {
                id:'items_mng',
                name: '상품관리',
                link: '/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_LIST.link,

                children:[
                    {name:'분류정보 관리',
                        isHide:((__session.account_type==='shop' || ((parseInt(__auth.category,10)<1) && (parseInt(__auth.brand,10)<1)))?true:false),
                        children:[
                            {
                                id:'ITEMS_MNG_CATEGORY',
                                name:__NAV_MODEL.menu.ITEMS_MNG_CATEGORY.name,
                                isHide:((__session.account_type==='shop' || (parseInt(__auth.category,10)<1))?true:false),
                                link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_CATEGORY.link
                            },
                            {
                                id:'ITEMS_MNG_CATEGORY_BRAND',
                                name:__NAV_MODEL.menu.ITEMS_MNG_CATEGORY_BRAND.name,
                                isHide:((__session.account_type==='shop' || (parseInt(__auth.brand,10)<1))?true:false),
                                link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_CATEGORY_BRAND.link
                            }

                        ]},
                    {name:'상품정보 관리',
                        isHide:( ((parseInt(__auth.item,10)<1) && (parseInt(__auth.tdItem,10)<1))?true:false ),
                        children:[
                            {
                                id:'ITEMS_MNG_ITEMS_LIST',
                                name:__NAV_MODEL.menu.ITEMS_MNG_ITEMS_LIST.name,
                                isHide:((parseInt(__auth.item,10)<1)?true:false),
                                link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_LIST.link
                            },
                            {
                                id:'ITEMS_MNG_ITEMS_REGISTRATION',
                                isHide:((parseInt(__auth.item,10)<=1)?true:false),
                                name:__NAV_MODEL.menu.ITEMS_MNG_ITEMS_REGISTRATION.name,
                                link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_REGISTRATION.link
                            },
                            {
                                id:'ITEMS_MNG_ITEMS_TD_LIST',
                                name:__NAV_MODEL.menu.ITEMS_MNG_ITEMS_TD_LIST.name,
                                isHide:((parseInt(__auth.tdItem,10)<1)?true:false),
                                link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_TD_LIST.link
                            }
                        ]}
                ]
            }
        ];

        console.log('LNB' , menuArr);

        return menuArr;
    }

</script>
