<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>3d test</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="author" content="FX-GEAR" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />


    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <style>
        header, nav, section, article, aside, footer {
            display:block;
        }
    </style>
    <![endif]-->



    <link rel="stylesheet" href="/css/bootstrap.min.css?_=0.0.112">
    <!--STYLES-->
    
    <!--STYLES END-->

    <style>

        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            padding:4px;
        }

        .td_popup_wrapper{
            position: fixed;
            display: none;
            width:90%;
            z-index:10000;
            border-radius: 8px;
            border:2px solid #dddddd;
            -webkit-box-shadow: 10px 10px 48px -5px rgba(0,0,0,0.4);
            -moz-box-shadow: 10px 10px 48px -5px rgba(0,0,0,0.4);
            box-shadow: 10px 10px 48px -5px rgba(0,0,0,0.4);
        }

        .opacity_bg{
            position: absolute;
            display: block;
            width:100%;
            height:100%;
            background-color: rgba(255,255,255,1);
            border-radius: 8px;
        }

        .template_table_list table tr td, .org_admin_registration table tr td, .org_admin_modification table tr td, .org_store_registration table tr td, .org_store_modification table tr td, .org_admin table tr td, .org_store table tr td{
            height: 24px;
        }

        .list-form-wrapper .list-form-inner label {
            margin-right: 30px;
        }

        .list-form-inner input[type=text]{
            height:32px;
        }

        .thumbnail_prev_wrapper{
            float: right;
            display: block;
            position: relative;
            width: 28%;
        }

        .thumbnail_prev_cont{
            position: relative;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }

        .thumbnail_prev_img{

        }

        .btn-xs, .btn-sm{
            width:56px;
            height:30px;
            border-width:0;
        }

        .td_popup_body_table{
            font-size:12px;
        }

        .td_preview_modal_container .modal-content{
            margin-top:10px;
            width:100% !important;
            height:385px;
            min-width: 0 !important;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
        }

        .td_preview_modal_container .modal-content .modal-body .modal-body-inner .td_img_cont{
            width:100%;
            height:100% !important;
            background-color: black;
        }

        .list-form-wrapper .form-inline{display:inline-flex;}

        .modal-body-inner{
            min-height: 328px !important;
        }

        .modal-footer{
            padding:0 !important;
            border-top:0;
            margin-top:-21px;
        }

        .pager{
            margin:0 0 !important;
        }

        .on_td{
            background-color: #f1f1f1;
        }

        .ui-datepicker{
            width:250px;
        }

    </style>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body data-page-id="threeD-list">

<div id="wrap" class="template_table_list" style="height:2500px;">



    <!--<div class="content_wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
    <div class="td_popup_wrapper">
        <div class="opacity_bg"></div>

        <div class="content_wrapper" style="margin:0 30px;">
            <div class="list_table_wrapper">

                <threed-table-modal
                        bootstrap-ctrl="tableSearchCtrl,tableBodyCtrl"
                >
                    <table-search
                            get-start="tableComponentThreeDCtrl._state.tableData.info.start"
                            get-total="tableComponentThreeDCtrl._state.tableData.info.total"
                            get-count="tableComponentThreeDCtrl._state.tableData.info.count"
                            set-search-opt="tableComponentThreeDCtrl.exports.setSearchOpt(options)"
                            update-page="tableComponentThreeDCtrl.exports.updatePage(options)"
                    ></table-search>

                    <table-body
                            get-start="tableComponentThreeDCtrl._state.tableData.info.start"
                            get-total="tableComponentThreeDCtrl._state.tableData.info.total"
                            get-count="tableComponentThreeDCtrl._state.tableData.info.count"
                            get-results="tableComponentThreeDCtrl._state.tableData.results"

                            get-cur-data="tableComponentThreeDCtrl.exports.getCurData()"
                            set-cur-data="tableComponentThreeDCtrl.exports.setCurData(options)"
                            get-cur-idx="tableComponentThreeDCtrl.exports.getCurIdx()"
                            set-cur-idx="tableComponentThreeDCtrl.exports.setCurIdx(options)"
                    >
                    </table-body>

                    <div class="thumbnail_prev_wrapper">
                        <td-prev-modal-small
                        ></td-prev-modal-small>
                    </div>

                    <div class="list-form-search-btn" style="height:0;">
                        <a class="btn btn-primary btn-lg" style="float:left;margin-left: 27%;margin-bottom: 20px;margin-top: 20px;" ng-click="tableComponentThreeDCtrl.exports.hidePopup()">취소</a>
                        <a class="btn btn-primary btn-lg" style="float:right;margin-right: 20%;margin-bottom: 20px;margin-top: 20px;" ng-click="tableComponentThreeDCtrl.exports.sendData()">등록</a>
                    </div>

                </threed-table-modal>


            </div>  <!-- .list_table_wrapper END-->
        </div>  <!-- .content_wrapper END-->
    </div>




</div>



<% include ./test_3d_popup_templates.ejs %>

<script src="/modules/dependencies/jquery.1.11.3/jquery.min.js?_=0.0.111"></script>
<script src="/td_popup_assets/cnbiz_module_not_jquery.min.js?_=0.0.111"></script>

<!--SCRIPTS_BASE,SCRIPTS,SCRIPTS_ALL (mandatory)-->
<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->

<button id="show_popup" style="z-index: 10000;position: fixed;top:0;">show popup</button>

<script>
    $('#show_popup').on('click', function(e){
        e.preventDefault();
        $(window).trigger('OPEN_3D_POPUP');
        return false;
    });

    $(window).on('ATTACH_3D_DATA', function(e, data){
        console.log('data: ', data);
    });
</script>

</body>
</html>
