<div class="nav_cont">
  <nav class="nav navbar navbar-default nav-above <%=req.getLocale()%>" style="">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="nav_icon_img" src="<%=sails.config.urlinfo.img%>/app/common/logo.png?_=<%=sails.config.ver%>" />  | Admin</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right"  style="">
          <li class="navbar-right-menu"><a href="#"><%=req.session.login_id%> 님</a></li>
          <li class="navbar-right-menu">
            <a class="btn-logout-wrapper" href="<%=url_info.menu.LOGOUT.link%>" style="">
              <button type="reset" id="logout" class="btn btn-default btn-logout" style="">Logout</button>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </nav>

  <nav class="nav navbar navbar-default nav-below <%=req.getLocale()%>" style="">

    <div class="container-fluid navbar_cont"  style="">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <% for(var i=0,iTotal = menu_data.menu.length;i<iTotal; ++i){ %>
            <span>isHide: <%=menu_data.menu[i].isHide%></span>
            <% if( menu_data.menu[i].isHide !==true){ %>

              <% if( menu_data.menu[i].id===menu_data.cur_gnb_id ){ %>
                <li class="navbar-nav-menu active">
                  <a class="navbar-nav-menu-txt" href="<%=menu_data.menu[i].link%>"><%=menu_data.menu[i].name%></a>
                </li>
              <% }else{%>
                <li class="navbar-nav-menu">
                  <a class="navbar-nav-menu-txt" href="<%=menu_data.menu[i].link%>"><%=menu_data.menu[i].name%></a>
                </li>
              <% }%>


            <% } %>

          <% } %>
        </ul>
      </div>
    </div>

  </nav>


</div>

