<script  type="text/ng-template" id="td_prev_modal.html">

  <div class="td_preview_modal_container">

    <!-- Modal -->
    <div class="modal fade" id="tdPreviewModal" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="modal-body-inner">
              <div
                ng-class="{'img_show':($index==tdPrevModalCtrl.curIdx)}"
                ng-repeat="li in tdPrevModalCtrl.imgArr track by $index"
                class="td_img_cont">
                <img class="td_img" ng-src="{{li}}" alt="">
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <ul class="pager">
              <li>
                <a
                  ng-click="tdPrevModalCtrl.showPrev()"
                  href="">Previous</a>
              </li>
              <li>
                <a
                  ng-click="tdPrevModalCtrl.showNext()"
                  href="">Next</a>
              </li>
            </ul>
            <button type="submit" class="btn btn-primary btn-color-red" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>

</script>
