<script type="text/ng-template" id="threeD_dash_board.html">

  <div class="three-items-list-cont" data-c="{{threeDDashBoardCtrl.items.total}}">

    <div class="three-items-list-wrap" ng-if="threeDDashBoardCtrl.type=='item'">
      <table class="table table-striped table-bordered table-dash-board">
        <thead>
        <tr>
          <th class="table-thead-th-all" >전체</th>
          <th class="table-thead-th-threed-regist">3d 의상등록</th>
          <th class="table-thead-th-threed-unregist">3d 의상미등록</th>
        </tr>
        </thead>

        <tbody>
        <tr >
          <td>
            <span class="name">{{threeDDashBoardCtrl.items.total}} 건</span>
          </td>

          <td>
            <span class="name">{{threeDDashBoardCtrl.items.register}} 건</span>
          </td>

          <td>
            <span class="name">{{threeDDashBoardCtrl.items.not_register}} 건</span>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="three-items-list-wrap" ng-if="threeDDashBoardCtrl.type=='threed'">
      <table class="table table-striped table-bordered table-dash-board">
        <thead>
        <tr>
          <th class="table-thead-th-all" >전체</th>
          <th class="table-thead-th-threed-regist">Woman</th>
          <th class="table-thead-th-threed-unregist">Man</th>
        </tr>
        </thead>

        <tbody>

        <tr >
          <td>
            <span class="name">{{threeDDashBoardCtrl.threed.total}} 건</span>
          </td>

          <td>
            <span class="name">{{threeDDashBoardCtrl.threed.woman}} 건</span>
          </td>

          <td>
            <span class="name">{{threeDDashBoardCtrl.threed.man}} 건</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <% if( parseInt(req.userAuth.item,10)>=2 ){ %>
    <div class="three-items-list-btn" ng-if="threeDDashBoardCtrl.type=='item'">
      <a href="/<%=res.getLocale()%>/items_mng/items/registration" class="btn btn-primary btn-lg" style="">상품등록</a>
    </div>
    <% } %>

  </div>

</script>

