<script type="text/ng-template" id="category_main.html">


  <div class="row">


    <div id="rightPanel" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <p>분류설정</p>
      <span ng-if="CategoryCtrl.authCategory==='2'">Drag&Drop으로 분류 이동이 가능합니다</span>

      <div class="panel panel-default">
        <div class="panel-heading" ng-if="CategoryCtrl.authCategory==='2'">
          <h3 class="panel-title">
            <button
              ng-click="CategoryCtrl.exports.showCateNew()"
              id="addCate" type="button" class="btn btn-default btn_default_sm">분류추가</button>
            <button
              ng-click="CategoryCtrl.exports.changeStatus()"
              id="deleteCate" type="button" class="btn btn_default_sm btn_delete">삭제</button>
            <!--<button id="saveCateDepth" type="buton" class="btn btn-default btn_default_sm btn_depth_save">분류 저장</button>-->
            <img
              ng-click="CategoryCtrl.exports.setShowCateInfo('default')"
              id="editCateOpt" src="<%= sails.config.urlinfo.img %>/app/common/config.jpg?_=<%= sails.config.ver %>" alt="">
          </h3>
        </div>

        <div class="panel-body">
        </div>
      </div>  <!-- .panel END -->
    </div>  <!-- #rightPanel END -->



    <div class="cateInfoCont col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div
        ng-show="(CategoryCtrl.isShowCateInfo)"
        id="cateInfo">
        <p>분류정보</p>

        <table class="table table-bordered">
          <colgroup>
            <col width="20%">
            <col width="*">
          </colgroup>
          <tbody>
          <tr>
            <th>현재분류</th>
            <td><span>{{ (CategoryCtrl.curRow.parentName!=undefined)?CategoryCtrl.curRow.parentName+' > ':'' }}</span>{{CategoryCtrl.curRow.name}}</td>
          </tr>
          <!--<tr>
            <th>분류번호</th>
            <td>01</td>
          </tr>-->
          <tr>
            <th>분류명</th>
            <td>
              <input
                ng-disabled="CategoryCtrl.authCategory!=='2'"
                ng-model="CategoryCtrl.curRow.name" name="curRowName" type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <th>분류 노출</th>
            <td>
              <label for="public">
                <input
                  ng-disabled="CategoryCtrl.authCategory!=='2'"
                  ng-model="CategoryCtrl.curRow.status"
                  ng-true-value="'activated'"
                  ng-false-value="'disabled'"
                  type="checkbox" class="" name="public" id="public">노출함
              </label>
            </td>
          </tr>

          </tbody>
        </table>

        <button
          ng-if="CategoryCtrl.authCategory==='2'"
          ng-click="CategoryCtrl.exports.updateCategory(CategoryCtrl.curRow);"
          type="submit" class="btn btn_default btn_cancel">저장</button>
      </div> <!-- #cateInfo END -->

      <div
        ng-show="(CategoryCtrl.isShowCateNew)"
        id="cateNew">
        <p>분류추가</p>

        <table class="table table-bordered">
          <colgroup>
            <col width="20%">
            <col width="*">
          </colgroup>
          <tbody>
          <!--<tr>
            <th>분류번호</th>
            <td>01</td>
          </tr>-->
          <tr>
            <th>분류명</th>
            <td><input ng-model="CategoryCtrl.newRow.cate_name" name="newRowName" type="text" class="form-control"></td>
          </tr>
          <tr>
            <th>분류 노출</th>
            <td>
              <label for="public">
                <input
                  ng-model="CategoryCtrl.newRow.cate_status"
                  ng-true-value="'activated'"
                  ng-false-value="'disabled'"
                  type="checkbox" class="" name="public" id="public">노출함
              </label>
            </td>
          </tr>


          </tbody>
        </table>
        <button
          ng-if="CategoryCtrl.authCategory==='2'"
          ng-click="CategoryCtrl.exports.setCategory(CategoryCtrl.newRow);"
          type="submit" class="btn btn_default btn_cancel">저장</button>
      </div> <!-- #cateNew END -->

      <div
        ng-show="(CategoryCtrl.isShowCateDefaultInfo)" id="defaultInfo">
        <p>분류 기본설정</p>

        <table class="table table-bordered">
          <colgroup>
            <col width="20%">
            <col width="*">
          </colgroup>
          <tbody>
          <tr>
            <th>2단계 분류 상품노출</th>
            <td>
              <label for="depth">
                <input
                  ng-model="CategoryCtrl._state.defaultSetting.show_2depth"
                  ng-true-value="true"
                  ng-false-value="false"
                  type="checkbox" class="" name="depth" id="depth">1단계 분류에 노출함
              </label>
            </td>
          </tr>

          </tbody>
        </table>

        <button
          ng-if="CategoryCtrl.authCategory==='2'"
          ng-click="CategoryCtrl.exports.setDefaultConfig();"
          type="submit" class="btn btn_default btn_cancel">저장</button>

      </div>  <!-- #defaultInfo END -->
    </div>  <!-- .cateInfoCont END -->

  </div>  <!-- .row END-->


</script>
