<script type="text/ng-template" id="category_list.html">

  <div id="nestableCont" class="list-group table-of-contents">
    <div class="dd" id="nestable">
      <ol class="dd-list dd-list-container" style="min-height:300px;">

        <li
          ng-repeat="li in CategoryListCtrl.getFilteredResults()"
          class="dd-item"
          data-id="{{li.id}}"
          data-name="{{li.name}}"
          data-status="{{li.status}}"
          data-priority="{{li.priority}}"
          data-item_sort="{{li.item_sort}}"
          data-item_count="{{li.item_count}}"
          >

          <button ng-show="li.children && li.children.length>0" data-action="collapse" type="button" >Collapse</button>
          <button ng-show="li.children && li.children.length>0" data-action="expand" type="button" style="display:none;">Expand</button>

          <div class="dd-handle" ng-class="{'deactive':(li.status!='activated')}">
            {{li.name}}
            <a ng-if="CategoryListCtrl.getDpt01ItemsCount({options:li})>0 && (li.status=='activated') && (CategoryListCtrl.getAccountType()!=='shop')" href="">
              <span
                data-dpt01-id="{{li.id}}"
                class="children-cnt">( {{ li.item_count }} )</span>
            </a>

            <span
              data-dpt01-id="{{li.id}}"
              ng-if="li.status!='activated' && (CategoryListCtrl.getAccountType()!=='shop')"
              class="children-cnt deactive">( {{ li.item_count }} )</span>
          </div>

          <ol
            ng-if="li.children && li.children.length>0"
            class="dd-list dd-list-children-container">

            <li
              ng-repeat="chLi in li.children track by $index"
              class="dd-item dd-items-depth2"
              data-id="{{chLi.id}}"
              data-name="{{chLi.name}}"
              data-status="{{chLi.status}}"
              data-priority="{{chLi.priority}}"
              data-item_sort="{{chLi.item_sort}}"
              data-item_count="{{chLi.item_count}}"
            >
              <div class="dd-handle" ng-class="{'deactive':(chLi.status!='activated')}">
                {{chLi.name}}
                <a ng-if="CategoryListCtrl.getDpt01ItemsCount({options:chLi})>0 && (chLi.status=='activated') && (CategoryListCtrl.getAccountType()!=='shop')" href="">
                  <span
                    data-dpt01-id="{{li.id}}"
                    data-dpt02-id="{{chLi.id}}"
                    class="children-cnt">( {{ chLi.item_count }} )</span>
                </a>

                <span
                  data-dpt01-id="{{li.id}}"
                  data-dpt02-id="{{chLi.id}}"
                  ng-if="chLi.status!='activated' && (CategoryListCtrl.getAccountType()!=='shop')"
                  class="children-cnt">( {{ chLi.item_count }} )</span>

              </div>
            </li>

          </ol>
        </li>

        <!--
        <li class="dd-item" data-id="1">
          <div class="dd-handle">Item 1</div>
        </li>

        <li class="dd-item" data-id="2">

          <div class="dd-handle">Item 2</div>

          <ol class="dd-list">
            <li class="dd-item" data-id="3"><div class="dd-handle">Item 3</div></li>
            <li class="dd-item" data-id="4"><div class="dd-handle">Item 4</div></li>
            <li class="dd-item" data-id="5">
              <div class="dd-handle">Item 5</div>
            </li>
            <li class="dd-item" data-id="9"><div class="dd-handle">Item 9</div></li>
            <li class="dd-item" data-id="10"><div class="dd-handle">Item 10</div></li>
          </ol>
        </li>

        <li class="dd-item" data-id="11">
          <div class="dd-handle">Item 11</div>
        </li>

        <li class="dd-item" data-id="12">
          <div class="dd-handle">Item 12</div>
        </li>
        -->

      </ol>
    </div>


  </div>


</script>
