/*
@font-face {
  font-family: 'PNA_B';
  src:url('@{globalImgPath}/font/Proxima-Nova-Alt-Blod.eot');
  src: local("☺"),
    url('@{globalImgPath}/font/Proxima-Nova-Alt-Blod.eot#iefix') format('embedded-opentype'),
    url('@{globalImgPath}/font/Proxima-Nova-Alt-Bold.woff') format('woff'),
    url('@{globalImgPath}/font/Proxima-Nova-Alt-Bold.ttf') format('truetype'),
    url('@{globalImgPath}/font/Proxima-Nova-Alt-Blod.svg#ProximaNovaA-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
*/
