
<div class="filter-detailc" id="addressDraw">
  <dl class="location-hots">
    <dt>常用地区</dt>
    <dd><a href="javascript:ss_replaceParam2('area_id','1');">北京</a></dd>
	<dd><a href="javascript:ss_replaceParam2('area_id','2');">天津</a></dd>
    <dd><a href="javascript:ss_replaceParam2('area_id','9');">上海</a></dd>
    <dd><a href="javascript:ss_replaceParam2('area_id','35');">Korea</a></dd>
  </dl>
  <dl class="location-all">
    <dt>省份</dt>
    <dd>
      <ul>
        <li>
          <p class="lt">A</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','12');">安徽</a></span> <span><a href="javascript:ss_replaceParam2('area_id','34');">澳门</a></span> </p>
        </li>
        <li>
          <p class="lt">C</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','22');">重庆</a></span> </p>
        </li>
        <li>
          <p class="lt">F</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','13');">福建</a></span> </p>
        </li>
        <li>
          <p class="lt">G</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','19');">广东</a></span> <span><a href="javascript:ss_replaceParam2('area_id','28');">甘肃</a></span> <span><a href="javascript:ss_replaceParam2('area_id','20');">广西</a></span> <span><a href="javascript:ss_replaceParam2('area_id','24');">贵州</a></span> </p>
        </li>
      </ul>
      <ul>
        <li>
          <p class="lt">H</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','21');">海南</a></span> <span><a href="javascript:ss_replaceParam2('area_id','3');">河北</a></span> <span><a href="javascript:ss_replaceParam2('area_id','16');">河南</a></span> <span><a href="javascript:ss_replaceParam2('area_id','8');">黑龙江</a></span> <span><a href="javascript:ss_replaceParam2('area_id','17');">湖北</a></span> <span><a href="javascript:ss_replaceParam2('area_id','18');">湖南</a></span> </p>
        </li>
        <li>
          <p class="lt">J</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','10');">江苏</a></span> <span><a href="javascript:ss_replaceParam2('area_id','14');">江西</a></span> <span><a href="javascript:ss_replaceParam2('area_id','7');">吉林</a></span> </p>
        </li>
      </ul>
      <ul>
        <li>
          <p class="lt">N</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','6');">辽宁</a></span> <span><a href="javascript:ss_replaceParam2('area_id','5');">内蒙古</a></span> <span><a href="javascript:ss_replaceParam2('area_id','30');">宁夏</a></span> </p>
        </li>
        <li>
          <p class="lt">Q</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','29');">青海</a></span> </p>
        </li>
        <li>
          <p class="lt">S</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','15');">山东</a></span> <span><a href="javascript:ss_replaceParam2('area_id','4');">山西</a></span> <span><a href="javascript:ss_replaceParam2('area_id','27');">陕西</a></span> <span><a href="javascript:ss_replaceParam2('area_id','23');">四川</a></span> </p>
        </li>
      </ul>
      <ul>
        <li>
          <p class="lt">T</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','32');">台湾</a></span> </p>
        </li>
        <li>
          <p class="lt">X</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','26');">西藏</a></span> <span><a href="javascript:ss_replaceParam2('area_id','31');">新疆</a></span> <span><a href="javascript:ss_replaceParam2('area_id','33');">香港</a></span> </p>
        </li>
        <li>
          <p class="lt">Y</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','25');">云南</a></span> </p>
        </li>
        <li>
          <p class="lt">Z</p>
          <p class="lc"> <span><a href="javascript:ss_replaceParam2('area_id','11');">浙江</a></span> </p>
        </li>
      </ul>
    </dd>
  </dl>
  <p class="oreder-default"><a href="javascript:ss_dropParam2('area_id');">不限地区</a></p>
</div>
