
<script type="text/ng-template" id="table_body_threeD.html">

  <div class="table_cont">

    <table class="table table-hover no-margin">
      <thead>
        <tr>
          <th style="width:2%">
            <input class="table-row-check-box-all no-margin" type="checkbox">
          </th>
          <th style="width:4%">No</th>
          <th style="width:8%">입점업체</th>
          <th style="width:8%">제작업체(CAT)</th>
          <th style="width:8%">3D 의상코드</th>
          <th style="width:17%">의상명</th>
          <th style="width:5%">성별</th>
          <th style="width:12%">제작 카테고리</th>
          <th style="width:10%">설명</th>
          <th style="width:8%">의상제작일</th>
        </tr>
      </thead>

      <tbody
        ng-show="tableBodyCtrl.getTotal()>0"
      >

      <tr
        ng-repeat="tableRow in tableBodyCtrl.getResults() track by $index"
        data-id="{{tableRow.id}}"
      >
        <td>
          <input class="table-row-check-box no-margin" type="checkbox" shop-name="{{tableRow.name}}" uuid="{{tableRow.code}}" id="{{tableRow.id}}" name="{{tableRow.id}}">
        </td>

        <td>
          <span class="name" >{{tableBodyCtrl.getTotal()-(tableBodyCtrl.getCount()*(tableBodyCtrl.getStart()/tableBodyCtrl.getCount()) )-$index}}</span>
        </td>

        <td>
          <span class="name">{{tableRow.org_name}}<br/>( {{tableRow.org_id}} )</span>
        </td>

        <td>
          <span class="name">제작업체(CAT)</span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.code"></span>
        </td>

        <td>
          <span class="name">
            <div class="thumbnail_img_cont">
              <img ng-show="(!tableRow.td_fitting_files.thumbnail.url)" class="bg_img" src="<%=sails.config.urlinfo.img%>/app/common/no-image.jpg?_=<%=sails.config.ver%>" alt="{{tableRow.name}}" />
              <img ng-show="(tableRow.td_fitting_files && tableRow.td_fitting_files.thumbnail && tableRow.td_fitting_files.thumbnail.url)" class="thumbnail_img" ng-src="{{tableRow.td_fitting_files.thumbnail.url}}?_=<%=sails.config.ver%>" alt="{{tableRow.name}}" />
            </div>

            <a
              ng-show="tableRow.td_fitting_files"
              class="thumbnail_img_desc" href="" ng-click="tableBodyCtrl.showTdPrevModal(tableRow);" >{{tableRow.name}}</a>
            <span
              class="thumbnail_img_desc"
              ng-show="!tableRow.td_fitting_files"
            >{{tableRow.name}}</span>
          </span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.sex"></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.make_category_route"></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.description"></span>
        </td>

        <td>
          <span class="name" ng-bind="tableBodyCtrl.renderRegistSection(tableRow.registerd_datetime)"></span>
        </td>

      </tr>


      </tbody>

      <tbody ng-show="tableBodyCtrl.getTotal()<1">
      <tr>
        <td colspan="10" style="text-align: center;">검색된 상품이 없습니다.</td>
      </tr>
      </tbody>

    </table>
  </div>


</script>
