<script type="text/ng-template" id="table_search_threeD.html">
  <div class="list-form-wrapper">

    <div class="list-form-inner">
      <table class="table list_form" style="">
        <thead style="">
        <tr>
          <th style="width:18%"></th>
          <th style="width:82%"></th>
        </tr>
        </thead>

        <tbody>

        <tr >
          <td class="list_form_label">검색분류</td>
          <td>
            <div class="form-inline">
              <select
                ng-model="tableSearchCtrl.query_opt"
                ng-change="tableSearchCtrl.onChangeQueryOpt()"
                class="form-control" name="query_opt" id="query_opt">
                <optgroup label="">
                  <option value="td_name">의상명</option>
                  <option value="td_code">의상코드</option>
                </optgroup>
                <optgroup label="-----------------">
                  <option value="org_id">입점업체</option>
                </optgroup>
              </select>

              <select
                ng-show="(tableSearchCtrl.query_opt=='org_id')"
                ng-model="tableSearchCtrl.org_id"
                ng-change="tableSearchCtrl.onChangeOrgId()"
                class="form-control" name="org_id" id="org_id">

                <option ng-if="tableSearchCtrl.userData.account_type==='admin'" value="">--입점업체 전체--</option>
                <option
                  ng-repeat="opt in tableSearchCtrl.org_id_arr track by $index"
                  ng-bind="opt.org_name"
                  data-org_name="{{opt.org_name}}"
                  data-org_id="{{opt.org_id}}"
                  value="{{opt.org_id}}"
                ></option>
              </select>

              <select
                ng-show="(tableSearchCtrl.query_opt=='org_id') && (tableSearchCtrl.cat_arr.length>0)"
                ng-model="tableSearchCtrl.cat_id"
                class="form-control" name="cat_id" id="cat_id">

                <option value="">--CAT 제작업체 선택--</option>
                <option
                  ng-repeat="opt in tableSearchCtrl.cat_arr track by $index"
                  ng-bind="opt.login_id"
                  data-account_id="{{opt.account_id}}"
                  value="{{opt.account_id}}"
                ></option>
              </select>


              <input
                ng-show="(tableSearchCtrl.query_opt!='org_id')"
                ng-model="tableSearchCtrl.query"
                name="query"
                id="query"
                type="text" class="form-control search_class_txt">
            </div>
          </td>
        </tr>



        <tr >
          <td class="list_form_label">성별</td>
          <td>
            <div class="form-inline">

              <label class="check-inline">
                <input type="checkbox" ng-model="tableSearchCtrl.td_sex_all" ng-true-value="true" ng-false-value="false" id="td_sex_all" value="td_sex_all"> 입점업체 전체
              </label>

              <label class="check-inline">
                <input type="checkbox" ng-model="tableSearchCtrl.td_sex_woman" ng-true-value="true" ng-false-value="false" id="td_sex_woman" value="td_sex_woman"> 여성
              </label>

              <label class="check-inline">
                <input type="checkbox" ng-model="tableSearchCtrl.td_sex_man" ng-true-value="true" ng-false-value="false" id="td_sex_man" value="td_sex_man"> 남성
              </label>
            </div>
          </td>
        </tr>

        <!--<tr >
          <td class="list_form_label">제작 카테고리</td>
          <td>
            <div class="form-inline">
              <select
                ng-change="tableSearchCtrl.onChangeMakeCategoryDbId01()"
                ng-model="tableSearchCtrl.make_category_db_id_01"
                class="form-control" name="cate_id" id="cate_id">
                <option value="">-1차분류선택-</option>
                <option
                  ng-repeat="li in tableSearchCtrl.make_category_db_id_arr track by $index"
                  value="{{li.cate_id}}"
                  ng-bind="li.cate_name"
                  ></option>
              </select>

              <select
                ng-model="tableSearchCtrl.make_category_db_id_02"
                class="form-control" name="cate_id2" id="cate_id2">
                <option value="">-2차분류선택-</option>
                <option
                  ng-repeat="li in tableSearchCtrl.make_category_db2_id_arr track by $index"
                  value="{{li.cate_id}}"
                  ng-bind="li.cate_name"
                  value=""></option>
              </select>

            </div>
          </td>
        </tr>-->

        <tr >
          <td class="list_form_label">제작 카테고리</td>
          <td>
            <div class="form-inline">

              <select
                ng-repeat="li in tableSearchCtrl.make_category_arr track by $index"
                ng-model="li.cur_code"
                ng-change="tableSearchCtrl.onChangeCateNmList(li.index)";
                ng-class="{visible_hidden:(li.data.length===0)}"
                class="form-control" name="cate_id{{li.index}}" id="cate_id{{li.index}}" data-idx="{{li.index}}">
                <option value="" ng-if="$index===0">-전체선택-</option>
                <option value="" ng-if="$index!==0">-{{(li.index+1)}}차분류선택-</option>
                <option
                  ng-repeat="chli in li.data track by $index"
                  value="{{chli.CODE}}">{{ (chli[tableSearchCtrl.curlang]!=='')?(chli[tableSearchCtrl.curlang]):(chli.CODE) }}</option>
              </select>

            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label">의상제작일</td>
          <td>
            <div class="form-inline">
              <button ng-click="tableSearchCtrl.changePeriod('today')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='today')}" data-vaule="today">하루</button>
              <button ng-click="tableSearchCtrl.changePeriod('3days')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='3days')}"  data-vaule="3days">3일</button>
              <button ng-click="tableSearchCtrl.changePeriod('week')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='week')}"  data-vaule="week">7일</button>
              <button ng-click="tableSearchCtrl.changePeriod('1month')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='1month')}"  data-vaule="1month">1개월</button>
              <button ng-click="tableSearchCtrl.changePeriod('3month')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='3month')}"  data-vaule="3month">3개월</button>
              <button ng-click="tableSearchCtrl.changePeriod('1year')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='1year')}"  data-vaule="1year">1년</button>
              <button ng-click="tableSearchCtrl.changePeriod('all')" type="button" class="btn btn-primary btn-date" ng-class="{'btn-date-all':(tableSearchCtrl.period_unit=='all')}"  data-vaule="all">전체</button>
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label"></td>
          <td>
            <div class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="st_date">2016-01-01</label>
                <input
                  ng-model="tableSearchCtrl.stDate"
                  ui-date="tableSearchCtrl.stDateOptions"
                  type="text" class="form-control" id="st_date" name="st_date" placeholder="yyyy-mm-dd">
              </div>
              <span class="form-group" style="margin-right:10px;">~</span>
              <div class="form-group">
                <label class="sr-only" for="end_date">2016-01-01</label>
                <input
                  ng-model="tableSearchCtrl.endDate"
                  ui-date="tableSearchCtrl.endDateOptions"
                  type="text" class="form-control" id="end_date" name="end_date" placeholder="yyyy-mm-dd">
              </div>
            </div>
          </td>
        </tr>



        </tbody>
      </table>
    </div>


    <div class="list-form-search-btn">
      <a class="btn btn-primary btn-lg" ng-click="tableSearchCtrl.updateList()">검색</a></p>
    </div>

  </div>


</script>
