

//background: url('@{globalImgPath}/test/FXMirror_Homepage_features_guide_v.2.jpg?_=@{ver}') center center no-repeat;

body{
	min-width: 1024px;
	font-size: 1em;

	input[type=text], input[type=password], select {
	    //-webkit-appearance: none;
	    border-radius: 0;
	}


	input[type=text]::-ms-clear {
		display: none;
	}

	textarea{
		-webkit-appearance: none;
		border-radius: 0;
	}


  .visible_hidden{
    visibility: hidden;
  }

	h3,h5,dd,span,div,li,dt{
		word-break: break-all;
	}


    .table_mixin();
    .table_search_mixin();
    .td_preview_modal_mixin();


    .frm_error_cont{
      color:red;
    }

    input[type="text"]:disabled {
      .ipt_disabled;
    }

    select:disabled {
      .ipt_disabled;
      appearance: none;
      -webkit-appearance: none;
    }

    .ipt_disabled{
      background: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      border:none;
    }

    .opacity_show{
      opacity:1;
    }

    .opacity_hide{
      opacity:0;
    }



}

.font_italic{
	font-style: italic;
}

.form-control{
  padding:0 10px 0 10px;
}



.table_mixin(){
  .list_table{
    clear: both;
  }

  .table_cont{
    position: relative;
    overflow-x: auto;

    table.table{
      min-width:870px;
    }

    table.list_form{
      margin-bottom:0;
    }

    table{
      .thumbnail_img_cont{
        position: relative;
        display: block;
        width:60px;
        height:60px;
        overflow: hidden;
        float: left;

        img.bg_img{
          position: absolute;
          width:100%;
          height: auto;
          top:0;
          left:0;
        }

        img.thumbnail_img{
          position: absolute;
          width:100%;
          height: 100%;
          top:0;
          left:0;
        }

      }

      .thumbnail_img_desc{
        position: relative;
        display: block;
        float: left;
        margin-left: 10px;
      }

    }

  }

  .table-dash-board{
    thead{
      th{
        background-color: white;
      }
    }
  }
}


.table_search_mixin(){

  .list_table .table thead{
    background-color: #f5f5f5;
  }

  .list_table .table th, .list_table .table td{
    text-align:center;
  }

  .list_table .list-form-wrapper{
    position: relative;
    display: block;
    clear: both;
    margin-top:60px;
    padding: 0px 0px;
  }

  .list_table .list-form-wrapper .list-form-inner{
    position: relative;
    display: block;
    clear: both;
    padding: 10px 0px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;

    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
      border:0px;
    }

    .table.list_form{

      >thead{
        display:none;
        height:0;
        margin:0;
        padding:0;
        border:0;
      }

      td{
        text-align: left;
      }

    }

    select, input{
      display: inline-block;
      margin-right: 8px;
    }

    .list_form_label{
      font-size: 12pt;
      vertical-align: middle;
      text-align: left;
      border:0;
      padding-left: 33px;
    }

    .list-form-inner .list-form-row{
      position: relative;
      display: block;
      height:43px;
      margin:0 0;
      padding:0 0;
    }

    label{
      font-size: 12pt;
    }

    .btn-date{
      border-radius: 4px;
      color: #333333;
      background-color: #e7e7e7;
      border-color: #cccccc;
    }

    .btn-date-all{
      color: white;
      background-color: #30a6b2;
      border-color: #1f909b;
    }


    .list-form-inner .list-form-row .label{
      position: relative;
      display: inline-block;
      width:145px;
      font-weight: bold;
      color: #333333;
      font-size:12pt;
      padding-top:14px;
    }

    .list-form-inner .list-form-row .form-ele-cont{
      position: relative;
      display: inline-block;
    }

    input[name=query]{
      min-width:380px;
    }

  }



  .list-form-search-btn{
    position: relative;
    display: block;
    width:100%;
    height: 50px;
    margin-top:25px;
  }

  .list-form-search-btn .btn{
    width:120px;
    height: 50px;
    position: relative;
    display: block;
    background-color: black;
    font-size: 15pt;
    margin:0 auto;
    padding: 12px 0px;
    text-align: center;
  }


}


.td_preview_modal_mixin(){
  .td_preview_modal_container{
    .modal-content{
      width:90%;
      min-width:800px;
      height:auto;

      .modal-body{
        position: relative;
        display: block;
        width: 100%;
        height:auto;

        .modal-body-inner{
          position: relative;
          display: block;
          overflow: hidden;
          min-height:430px;
          width: 100%;

          .td_img_cont{
            position: absolute;
            display: block;
            opacity: 0;
            .td_img{
              width: 758px;
              height: auto;
            }
          }
        }


      }
    }


    .img_show{
      opacity: 1 !important;
    }
    .img_hide{
      opacity: 0;
    }

  }


}
