.operation_client_account {

  table{
    tr{
      th{
        .bg-color-mixin(#f5f5f5);
        vertical-align: middle;
        height: 44px;
      }
      td{
        vertical-align: middle;
        height: 44px;
        input[type=text], input[type=password], select {
          width: 250px;
          display: inline-block;
          margin-right: 10px;
        }
        p {
          font-weight: normal;
          margin-top: 10px;
        }
        .mirror_addr {
          margin-bottom: 0;
          li {
            margin: 3px 0;
            span {
              min-width: 70px;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .detail {
    margin-top: 30px;
  }

  p {
    font-size: 12px;
    font-weight: bold;
  }

  label {
    margin: 0;
    padding: 0 16px;
    input {
      margin-right: 10px;
    }
  }

  .long_input {
    min-width: 250px;
    max-width: 500px;
    width: 70% !important;
  }

  .btn_default {
    width: 121px;
    height: 48px;
    color: @white;
    display: block;
    margin: 0 auto;
    .border-radius-mixin(3px);

    &.btn_save {
      .bg-color-mixin(@color-save);
      border: 1px solid #1f909b;
    }
  }
  .btn_default_sm {
    width: 74px;
    height: 26px;
    padding: 3px;
    display: inline-block;
    vertical-align: initial;
    .border-radius-mixin(3px);
  }

}
