<!DOCTYPE html>
<html>
<head>
  <% include ../common/head.ejs %>
</head>

<body data-page-id="login">

<div id="wrap" class="login" style="opacity:0;">

  <div class="content_wrapper">
    <login></login>
  </div>

</div>

<!--COMMON_DATA (mandatory)-->
<% include ../../app/common/common_data.ejs %>

<script>

  <% if(req.session.account_uuid){ %>
    APP.info.user.auth = <%-JSON.stringify(req.userAuth)%>;

    if(window.history.length>1){
      //window.history.back();
    }else{
    }
    //TODO
    //auth 따라 page분기
    var redirectURL = '/opr_mng/org/admin/modification';
    if(APP.info.user.auth.majorOrganization===0){
      //업체관련 권한 X
      //TODO : 업체관련 권한 없을때 default page 이동
      redirectURL = '/opr_mng/org/store/list';  //임시

    }else{
      if(APP.info.user.auth && (APP.info.user.auth.majorOrganization===2) ){
      }else{
        redirectURL = '/opr_mng/org/admin/confirmation';
      }
    }
    window.location.replace(window.location.protocol+'//'+window.location.host+'/' +APP.info.gLocale+redirectURL);

  <% } %>

  //session 있을때 back 임시처리
  if( APP.info.user.account_type ){
  }else{
    document.getElementById('wrap').style.opacity = '1';
  }
</script>

<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->

</body>
</html>
