/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none; vertical-align: middle;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
body { font: 12px/20px "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif; color: #666; background: #FFF none repeat scroll 0 0; min-width: 1200px;}
input, select, textarea { font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
i, cite, em { font-style: normal;}
input,button,select,textarea{ outline:none}
html {min-height:101%; }

/* 链接 */
a { color: #333; text-decoration: none; outline: medium none; -webkit-transition-property:color; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
a:link, a:visited, a:active { text-decoration: none;}
a:hover { color: #e44b50; text-decoration: underline;}

/* 超出隐藏（需要再设置宽高） */
.over_hidden{ display: block; overflow-x: hidden; overflow-y: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* input放大by input_max.js */
.parentCls { display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.js-max-input { font-size: 20px; color: #F40; background: #FFFAE5; white-space: nowrap; padding: 7px; border: solid 1px #FFD2B2;}



/* Clearfix,避免因子元素浮动而导致的父元素高度缺失能问题 */
	.clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
	.clearfix { display: inline-block;}
	html[xmlns] .clearfix { display: block;}
	*html .clearfix{height:1%;}
	*+html .clearfix{height:1%;}

time { color: #777;}

/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }

/*文字排版
******************************/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f20 { font-size:20px;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.t2 { text-indent:2em;}
.lh150 { line-height:150%}
.lh180 { line-height:180%}
.lh200 { line-height:200%}
.unl { text-decoration:underline;}
.no_unl { text-decoration:none;}
.noborder { border-style:none!important; border-width: 0!important ;}

/*定位
******************************/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; display:inline;}
.fr { float:right !important; display:inline;}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: top;}
.pr { position:relative;}
.pa { position:absolute;}
.abs-right { position:absolute; right:0;}
.zoom { zoom:1}
/*.hidden { visibility:hidden;*/}
.none { display:none;}
.clear { clear: both; height: 0; font-size: 0; line-height:0; }

/*长度高度
******************************/
.w10 { width:10px;}
.w20 { width:20px;}
.w30 { width:30px;}
.w40 { width:40px !important;}
.w50 { width:50px !important;}
.w60 { width:60px !important;}
.w65 { width:65px !important;}
.w70 { width:70px !important;}
.w80 { width:80px !important;}
.w90 { width:90px;}
.w96 {width: 96px;}
.w100 { width:100px !important;}
.w110 { width:110px !important;}
.w120 { width:120px !important;}
.w130 { width:130px !important;}
.w150 { width:150px !important;}
.w160 { width:160px;}
.w180 { width:180px;}
.w200 { width:200px !important;}
.w210 { width:210px !important;}
.w230 { width:230px;}
.w240 { width:240px;}
.w250 { width:250px !important;}
.w270 { width:270px;}
.w300 { width:300px !important;}
.w340 { width:340px;}
.w380 { width:380px;}
.w400 { width:400px!important;}
.w450 { width:450px!important;}
.w500 { width:500px;}
.w530 { width:530px;}
.w600 { width:600px !important;}
.w700 { width:700px;}
.w780 { width: 780px;}
.w800 { width:800px;}
.w208 {width: 208px;}



.w { width:100%;}
.h20 { height: 20px !important;}
.h30 { height: 30px !important;}
.h40 { height: 40px !important;}
.h50 { height: 50px !important;}
.h80 { height: 80px;}
.h100 { height:100px !important;}
.h200 { height:200px ;}
.h500 { height:500px !important;}
.h { height:100%}
.size30 { width: 30px; height: 30px;}
.size32 { width: 32px; height:32px;}
.size40 { width: 40px; height:40px;}
.size60 { width: 60px; height:60px;}
.size70 { width: 70px; height: 70px;}
.size72 { width: 72px; height: 72px;}
.size75 { width: 75px; height: 75px;}
.size80 { width: 80px; height:80px;}
.size90 { width: 90px; height:90px;}
.size100 { width: 100px; height: 100px;}
.size110 { width: 110px; height: 110px;}
.size120 { width: 120px; height: 120px;}
.size128 { width: 128px; height: 128px;}
.size160 { width: 160px; height: 160px;}
.size160-48 { width: 160px; height: 48px;}
.size160 { width: 160px; height: 160px;}
.size184 { width: 184px; height: 114px; }
.size190 { width: 190px; height: 190px;}
.size196 { width: 196px; height: 196px;}
.size233 { width: 233px; }

/*边距
******************************/
.m0 { margin: 0!important; }
.m10 { margin:10px;}
.m15 { margin:15px !important;}
.m30 { margin:30px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px !important;}
.mt30 { margin-top:30px !important;}
.mt50 { margin-top:50px !important;}
.mt100 { margin-top:100px;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px !important;}
.mb50 { margin-bottom:50px;}
.mb100 { margin-bottom:100px;}
.ml5 { margin-left:5px!important;}
.ml10 { margin-left:10px!important;}
.ml15 { margin-left:15px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml50 { margin-left:50px;}
.ml100 { margin-left:100px !important;}
.ml200 { margin-left:200px !important;}
.mr5 { margin-right:5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px !important;}
.mr50 { margin-right:50px !important;}
.mr100 { margin-right:100px;}

/*边距
******************************/
.p10 { padding:10px;}
.p15 { padding:15px;}
.p30 { padding:30px;}
.pt5 { padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt30 { padding-top:30px;}
.pt50 { padding-top:50px;}
.pt100 { padding-top:100px;}
.pb5 { padding-bottom:5px;}
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px !important;}
.pb30 { padding-bottom:30px;}
.pb50 { padding-bottom:50px;}
.pb100 { padding-bottom:100px;}
.pl5 { padding-left:5px;}
.pl10 { padding-left:10px;}
.pl15 { padding-left:15px;}
.pl20 { padding-left:20px;}
.pl30 { padding-left:30px;}
.pl50 { padding-left:50px;}
.pl100 { padding-left:100px;}
.pr5 { padding-right:5px;}
.pr10 { padding-right:10px;}
.pr15 { padding-right:15px;}
.pr20 { padding-right:20px;}
.pr30 { padding-right:30px;}
.pr50 { padding-right:50px;}
.pr100 { padding-right:100px;}

.hr { font-size: 1px; display: block; height: 0; margin: 12px 0; border-top: 1px solid #E3E3E3; overflow: hidden;}
.hr-double { height: 1px; border-top: 1px solid #E3E3E3; border-bottom: 1px solid #E3E3E3;}
.hr8 {  margin: 8px 0 !important;}
.hr12 { margin: 12px 0 !important;}
.hr16 { margin: 16px 0 !important;}
.hr18 { margin: 18px 0 !important;}
.hr24 { margin: 24px 0 !important;}
.hr32 { margin: 32px 0 !important;}
.hr.dotted { border-top-style: dotted;}
.hr-double.dotted { border-bottom-style: dotted;}
/* 常用标准按钮样式定义 v3-b12*/
a.ncbtn-mini, a.ncbtn { font: normal 12px/20px "microsoft yahei", arial; color: #FFF; background-color: #CCD0D9; text-align: center; vertical-align: middle; display: inline-block; *display: inline;
height: 20px; padding: 5px 10px; border-radius: 3px; cursor: pointer; *zoom: 1;
}
a.ncbtn-mini { line-height: 16px; height: 16px; padding: 3px 7px; border-radius: 2px; }
a.ncbtn { height: 20px; padding: 5px 10px; border-radius: 3px; }
a:hover.ncbtn-mini, a:hover.ncbtn { text-decoration: none; color: #FFF; background-color: #AAB2BD; }
a.ncbtn-mini i, a.ncbtn i { font-size: 14px !important; vertical-align: middle; margin: 0 4px 0 0 !important; }
/* 翻页样式 v3-b12 */
.pagination { text-align: center; display:block; margin: 0 auto; padding: 15px 0; }
.pagination ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;
}
.pagination ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; margin: 0 0 0 -1px; }
.pagination ul li { *display: inline/*IE6、7*/;
*zoom:1;
}
.pagination li span { font: 600 12px/20px Verdana, Tahoma, Arial; color: #AAA; background-color: #FFF; text-align: center; display: block; min-width: 20px; padding: 8px; border: 1px solid #E6E6E6; position: relative; z-index: 1; }
.pagination li a span, .pagination li a:visited span { color: #555; text-decoration: none; background-color: #FFF; position: relative; z-index: 1; }
.pagination li a:hover span, .pagination li a:active span { color: #e44b50; text-decoration: none; border-color: #FC6520; position: relative; z-index: 9; cursor:pointer; }
.pagination li a:hover { text-decoration: none; }
.pagination li span.currentpage { color: #FFF; font-weight: bold; background-color: #e44b50; border-color: #FC6520; position: relative; z-index: 2; }
.pagination li:first-child { margin-right: 8px; }
.pagination li:last-child { margin-left: 8px; }
/*弹窗登录 v3-b12 */
.quick-login { background: #FFF; overflow: hidden; width: 298px; padding: 0 30px; }
.quick-login dl { width: 100%; margin: 0 auto; overflow: hidden; }
.quick-login dl dt { line-height: 20px; height:20px; margin: 8px 0 2px 0; text-shadow: 1px 1px 0 #FFF; }
.quick-login dl dd span { line-height: 28px; color: #999; margin-left:8px; }
.quick-login .text { width: 250px; }
.quick-login dl dd img { width:72px; height:30px; cursor:pointer;}
.quick-login ul { width: 100%; display:block; clear:both; margin: 20px auto 10px auto; padding-bottom:10px; overflow: hidden; border-bottom: solid 1px #E7E7E7; }
.quick-login ul li { line-height: 20px; color:#999; }
.quick-login ul li a { text-decoration:underline; font-weight:600; margin:0 2px; }
.quick-login ul li a.forget { color: #FF7F00; }
.quick-login ul li a.register { color: #006DD9; }
.quick-login .enter { width: 100%; margin: 10px auto 20px auto; overflow: hidden; }
.quick-login .enter .submit { color:#FFF; line-height: 28px; font-weight:600; background-image: none; background-color: #ED5564; display: inline-block; width: 88px; padding: 0; margin: 0; border: 0; cursor:pointer; }
.quick-login .enter .submit:hover { background-color: #DB4453; }
.quick-login .enter .other { margin: 0 0 0 15px; }
.quick-login .enter a { line-height: 32px; color: #999; display: inline-block; margin-right: 8px; }
.quick-login .enter a i { background: url(../images/login.png) no-repeat; vertical-align: middle; display: inline-block; width: 32px; height: 32px; margin-right: 6px; }
.quick-login .enter a.qq i { background-position: 0 0; }
.quick-login .enter a:hover.qq { color: #3EB6E8; }
.quick-login .enter a:hover.qq i { background-position: -96px 0; text-decoration:none; }
.quick-login .enter a.sina i { background-position: -32px 0; }
.quick-login .enter span a:hover.sina { color: #F77362; }
.quick-login .enter span a:hover.sina i { background-position: -128px 0; text-decoration:none; }
.quick-login .enter a.wx i { background-position: -64px 0; }
.quick-login .enter span a:hover.wx { color: #4EA335; }
.quick-login .enter span a:hover.wx i { background-position: -160px 0; text-decoration:none; }
/*div宽高局中
******************************/
.thumb , .logo { display:table-cell; vertical-align:middle; text-align:center;}
.thumb i , .logo i { *display:inline-block; *height:100%; *vertical-align:middle; }
.thumb img , .logo img { *vertical-align:middle; }

.thumb-cut { overflow: hidden;}
.thumb-cut a { text-align: center; float: left; position:relative; overflow:hidden; }
.thumb-cut img { vertical-align: text-top; float: none; position:relative;}

#page { background-color: #F5F5F5; width: 100%; height: 29px; border-bottom: 1px solid #D8D8D8; }
/*会员级别图标*/
.nc-grade-mini { font: 600 italic 12px/16px Georgia,Arial; text-shadow: 1px 1px 0 rgba(0,0,0,0.25); color: #FFF4F4; background-color: #F33; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; height: 16px; padding: 1px 3px; border-radius: 2px; *zoom: 1/*IE7*/;}

/*用于ToolTip.js配合图片显示
******************************/
.trans_msg { background-color: #FFF; padding: 4px; border: solid 1px #CCC; box-shadow: 0 0 0 2px rgba(153,153,153,0.1); filter:alpha(opacity=100,enabled=1) revealTrans(duration=.2,transition=1) blendtrans(duration=.2);}
.trans_msg img { display: block; max-width: 150px; max-height: 150px;}
.warp-all { width: 1200px; margin: 0 auto;}

/* 公用顶部区域
-------------------------------------- */
.public-top-layout { font-family: Arial, "宋体"; line-height: 20px; color: #777; background-color: #FAFAFA; border-bottom: solid 1px #F0F0F0;}
.public-top-layout .topbar { height: 30px;}
.public-top-layout .user-entry { width: 45%; height: 20px; float: left; padding: 5px 0;}
.public-top-layout .user-entry a { color: #777;}
.public-top-layout .user-entry span{margin:0 4px;}
.public-top-layout .user-entry .other { margin:0 0 0 5px }
.public-top-layout .user-entry .other a { line-height:22px; color:#999; display:inline-block }
.public-top-layout .user-entry .other a i { background:url(../images/toplogin.png) no-repeat; vertical-align:middle; display:inline-block; width:20px; height:20px; margin-right:2px }
.public-top-layout .user-entry .other a.qq i { background-position:0 0 }
.public-top-layout .user-entry .other a:hover.qq { color:#3EB6E8 }
.public-top-layout .user-entry .other a:hover.qq i { background-position:-60px 0; text-decoration:none }
.public-top-layout .user-entry .other a.sina i { background-position:-20px 0 }
.public-top-layout .user-entry .other a:hover.sina { color:#F77362 }
.public-top-layout .user-entry .other a:hover.sina i { background-position:-80px 0; text-decoration:none }
.public-top-layout .user-entry .other a.wx i { background-position:-40px 0 }
.public-top-layout .user-entry .other a:hover.wx { color:#4EA335 }
.public-top-layout .user-entry .other a:hover.wx i { background-position:-100px 0; text-decoration:none }
.public-top-layout .quick-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: right; width: 55%; height: 30px; float: right;}
.public-top-layout .quick-menu dl { text-align: left; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; width: 90px; height: 30px; position: relative; z-index: 999; *zoom:1/*IE6、7*/;}
.public-top-layout .quick-menu dl a { color: #777 !important;}
.public-top-layout .quick-menu dl dt { font-size: 12px; line-height: 20px; height: 20px; padding: 5px 0; position: absolute; z-index: 2; top: 0px; left: 12px;}
.public-top-layout .quick-menu dl dt a:hover { text-decoration: none; color: #F30;}
.public-top-layout .quick-menu dl dt i { background: url(../images/top_bg.png) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 6px; height: 3px; margin-left: 6px;-webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.public-top-layout .quick-menu dl.hover dt i { FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
.public-top-layout .quick-menu dl dd { background-color: #FFF; display: none; width: 88px; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 0; left: 0;}
.public-top-layout .quick-menu dl.hover dd { display: block;}
.public-top-layout .quick-menu dl dd ul { width: 88px; margin: 30px 0 0 0; }
.public-top-layout .quick-menu dl dd ul li a { font-size: 12px; line-height: 24px; display: block; clear: both; padding: 2px 0 2px 11px;}
.public-top-layout .quick-menu dl dd ul li a:hover { text-decoration: none; background-color: #F7F7F7;}
.public-top-layout .quick-menu dl.weixin { width: 100px;}
.public-top-layout .quick-menu dl.weixin dt { background:url(../images/weixin.png) no-repeat 0 8px; padding-left: 20px;}
.public-top-layout .quick-menu dl.weixin dd { width: auto; padding: 5px; right: 0; left: auto; text-align:center;}
.public-top-layout .quick-menu dl.weixin dd h4 { line-height: 18px; color:#F98016; text-align: center; margin: 30px 0 5px 0; font-size: 12px;}
.public-top-layout .quick-menu dl.weixin dd img { max-width: 96px; max-height: 96px; margin:10px 0}
.public-top-layout .quick-menu dl dt em { background-image:url(../images/top_ico.png); background-repeat:no-repeat; vertical-align:middle; display:inline-block; width:13px; height:15px; margin:2px 1px 0 0; transition:all .2s; -webkit-transition:all .2s }
.public-top-layout .quick-menu dl.hover dt em { background-image:url(../images/top_ico.png); background-repeat:no-repeat }
.public-top-layout .quick-menu dl dt em.ico_tel { background-position:0 -15px }
.public-top-layout .quick-menu dl.hover dt em.ico_tel { background-position:0 -30px }
.public-top-layout .quick-menu dl dt em.ico_shop { background-position:-15px -15px }
.public-top-layout .quick-menu dl.hover dt em.ico_shop { background-position:-15px -30px }
.public-top-layout .quick-menu dl dt em.ico_order { background-position:-30px -15px }
.public-top-layout .quick-menu dl.hover dt em.ico_order { background-position:-30px -30px }
.public-top-layout .quick-menu dl dt em.ico_store { background-position:-45px -15px }
.public-top-layout .quick-menu dl.hover dt em.ico_store { background-position:-45px -30px }
.public-top-layout .quick-menu dl dt em.ico_service { background-position:-60px -15px }
.public-top-layout .quick-menu dl.hover dt em.ico_service { background-position:-60px -30px }
.public-top-layout .quick-menu dl.down_app { font-size:12px; width:100px;}
.public-top-layout .quick-menu dl.down_app dd { width:222px; padding:5px; left:0; top:30px; text-align:center }
.public-top-layout .quick-menu dl.down_app .qrcode { width:120px; text-align:center; float:left }
.public-top-layout .quick-menu dl.down_app .qrcode img { display:block; max-width:120px; max-height:120px }
.public-top-layout .quick-menu dl.down_app .hint { width:100px; float:right; text-align:center }
.public-top-layout .quick-menu dl.down_app .hint h4 { font-size:14px; line-height:24px; font-weight:600; color:#e44b50 }
.public-top-layout .quick-menu dl.down_app .addurl { width:90px; float:right; clear:right; margin:6px 4px 0 0; text-align:left }
.public-top-layout .quick-menu dl.down_app .addurl a { color:#999; line-height:16px; background-color:#F5F5F5; display:block; width:70px; height:16px; clear:both; padding:5px 9px; margin-top:5px; border:solid 1px #DDD; font-family:"Microsoft Yahei" }
.public-top-layout .quick-menu dl.down_app .addurl a i { font-size:14px; margin-right:4px }
.public-top-layout .quick-menu dl.down_app .addurl a:hover { text-decoration:none; color:#85c441; background-color:#e6f5d1; border-color:#85c441 }
.public-top-layout .quick-menu .invite { width:65px;}
.public-top-layout .quick-menu .invite span { color:#F00}
.public-top-layout .quick-menu dl.down_app .addurl a:hover i { color:#85c441 }
.warning { color: #C00; background-color: #FFC; width: 98%; clear: both; padding: 6px; margin: 6px auto; border: 1px dashed #F90;}
.warning label { clear: both; line-height: 20px;}


/* Scrollbar jQuery Plugin
-------------------------------------- */
.ps-container .ps-scrollbar-x,
.ps-container .ps-scrollbar-y { background-color: #AAA; height: 8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: absolute; z-index: auto; bottom: 3px; opacity: 0; filter: alpha(opacity=0); -webkit-transition: opacity.25s linear; -moz-transition: opacity .25s linear; transition: opacity .25s linear;}
.ps-container .ps-scrollbar-x { left: auto; height: 8px; bottom: 3px; }
.ps-container .ps-scrollbar-y { right: 3px; width: 8px; bottom: auto; }

.ps-container:hover .ps-scrollbar-x,
.ps-container:hover .ps-scrollbar-y { opacity: .6; filter: alpha(opacity=60);}
.ps-container .ps-scrollbar-x:hover,
.ps-container .ps-scrollbar-y:hover { opacity: .9; filter: alpha(opacity=90); cursor: default;}
.ps-container .ps-scrollbar-x.in-scrolling,
.ps-container .ps-scrollbar-y.in-scrolling { opacity: .9; filter: alpha(opacity=90);}

.faq-wrapper { width: 1200px; margin: auto; }
#faq { background-color: #f5f5f5; width: 100%; padding-top:10px; border-top: solid 1px #e7e7e7; overflow: hidden;}
#faq ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; padding: 0 0 10px 0; margin-left: 0 }
#faq li { font-size: 12px; display: inline; float: left; padding-left: 40px; width: 100px;}
#faq dl { display: block; width: 100%; margin: 10px 0px 0px 0px;}
#faq dl dt { font: 14px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; margin-bottom: 4px; font-weight: bold;}
#faq dl dd { font: 12px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; line-height: 24px; white-space: nowrap;}
#faq dl dd i { font-size: 0; line-height: 0; background: url(../images/top_bg.png) no-repeat -80px -10px; vertical-align: middle; /*display: inline-block;*/ width: 0px; height: 0px; margin-right: 0px;}
#faq dl dd a { color: #666;}

#footer { font-size: 12px !important; border-top:1px solid #e7e7e7; text-align: center;  margin: 0 auto; padding-bottom: 10px; overflow: hidden; background:#F5F5F5; width:100%}
#footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
#footer a { color: #666; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
#footer .vol { font-family: Verdana, Geneva, sans-serif; font-weight: 600; font-style: oblique; font-size: 12px;}
#footer .vol .b { color: #00F;}
#footer .vol .o { color: #F60;}
#footer .vol em { font-family: Georgia, Arial;  font-weight: 600; font-style: italic; color: #000; margin-left: 2px;}
/* tip提示 */
.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}

/* 侧边工具条 */
.TA_delay { transition: all 0.3s ease-in-out 0.2s;-moz-transition: all 0.3s ease-in-out 0.2s;-webkit-transition: all 0.3s ease-in-out 0.2s;-o-transition: all 0.3s ease-in-out 0.2s; }

.nc-appbar { position: fixed; z-index: 1998; width: 50px; height: 100%; right: 6px; top: 0; bottom: 0;}
.nc-appbar-tabs {width: 50px; height: 100%; position: absolute; z-index: 1; top: 0; bottom: 0; border-right: 6px solid #7A6E6E; /*box-shadow: -5px 0 3px rgba(0,0,0,0.35); background: #FEFCF5 url(../images/app_bar_bg.png) no-repeat top center;*/ }

.nc-hidebar { display: block; position: absolute; z-index: 3; bottom: 5px; right: -86px; cursor: pointer;}
.nc-hidebar .nc-hidebar-bg { background: url(../images/toolbar.png) no-repeat -100px 0; width: 79px; height: 56px; position: relative; z-index: 1;}
.nc-hidebar .nc-hidebar-bg .user-avatar,
.nc-hidebar .nc-hidebar-bg .frame,
.nc-hidebar .nc-hidebar-bg .show { background: url(../images/toolbar.png) no-repeat; width: 36px; height: 36px; position: absolute; top: 10px; left: 15px;}
.nc-hidebar .nc-hidebar-bg .user-avatar { background-position: -100px 0px; z-index: 1;}
.nc-hidebar .nc-hidebar-bg .user-avatar img { max-width: 36px; max-height: 36px;}
.nc-hidebar .nc-hidebar-bg .frame { background-position: -100px -70px; z-index: 2;}
.nc-hidebar .nc-hidebar-bg .show { display: none; background-position: -140px -70px; z-index: 3;}
.nc-hidebar .nc-hidebar-bg:hover .show { display: block;}
.nc-hidebar:hover { background-position: -100px -60px;}
.nc-appbar-tabs .user { text-align: center; width: 36px; position: absolute; z-index: 1; top: 40%; margin-top: -36px; cursor: pointer; height: 36px; overflow: hidden; right: 0px;}
.nc-appbar-tabs .user .avatar { background-color: #7A6E6E; width: 34px; height: 34px; padding: 1px; /*margin: 0 auto 5px auto;*/float: right; border-radius: 3px 0 0 3px;}
.nc-appbar-tabs .user .avatar img { width: 28px; height: 28px; border-radius: 14px; margin: 2px 0 0 0;}
.nc-appbar-tabs .user p { display: block; width: 80px; height: 36px; border-radius: 3px 0 0 3px;left: 0px; line-height: 36px; color: #fff; background-color: #7A6E6E; text-align: center;}
.nc-appbar-tabs .user:hover { width: 94px; }
.nc-appbar-tabs .user:hover .avatar { background-color: #e44b50; }
.nc-appbar-tabs .user:hover p { background-color: #e44b50; }

.nc-appbar-tabs .tools { position: absolute; z-index: 1; top: 40%;}
.nc-appbar-tabs .tools { margin-top: 0px;}
.nc-appbar-tabs .tools li { float: right; width: 36px;}
.nc-appbar-tabs .tools a { display: block; width: 36px; height: 36px; overflow: hidden; float: right; position: relative; z-index: 1; margin-top: 3px; /* font: 12px/20px Arial,"microsoft yahei"; color: #333; text-align: center;*/ }
.nc-appbar-tabs .tools a .tools_img { width: 36px; height: 36px; position: absolute; top: 0px; right: 0px; border-radius: 3px 0 0 3px; z-index: 3; background: url(../images/tollsbor_new.png) no-repeat #7A6E6E;}
.nc-appbar-tabs .tools a i { font: 10px/12px Arial;  color: #FFF; background-color: #D93600; text-align: center; min-width: 12px; height: 12px; padding: 2px; border-radius: 8px; position: absolute; z-index: 1; top: 0; right: 5px;}
.nc-appbar-tabs .tools a span { display: block; width: 63px; height: 36px; border-radius: 3px 0 0 3px;left: 0px; line-height: 36px; color: #fff; background-color: #7A6E6E; text-align: center; position: absolute; left: 0px; z-index: 1;}

.nc-appbar-tabs .tools li a:hover { width: 96px;}
.nc-appbar-tabs .tools li a:hover .tools_img { background-color: #e44b50;}
.nc-appbar-tabs .tools li a:hover span { background-color: #e44b50; }

.nc-appbar-tabs .tools a.chat .tools_img { background-position: 0 0;}
.nc-appbar-tabs .tools a.compare .tools_img { background-position: 0 -36px;}
.nc-appbar-tabs .tools a.cart .tools_img { background-position: 0 -72px;}
.nc-appbar-tabs .tools a.gotop .tools_img { background-position: 0 -108px;}
.nc-appbar-tabs a.nc-appbar-hide { background:url(../images/appbar-hide.png) no-repeat 0 0 #7A6E6E; border-radius: 3px 0 0 3px; width: 36px; height: 36px; padding: 0; margin: 0; position: absolute; z-index: 2; bottom: 5px ; right: 0px;}
.nc-appbar-tabs a.nc-appbar-hide:hover { background-color: #e44b50;}
/*工具条-会员登录*/
.nc-appbar-tabs .user-login-box { background-color: #FFF; width: 240px; padding: 10px 40px 30px 40px; border: solid 1px #CCC; position: absolute; z-index: 2; top: 40%; margin-top: -120px; right: 50px; box-shadow: -4px 0 4px rgba(0,0,0,0.25);}
.nc-appbar-tabs .user-login-box dd img {height: 26px; width: 90px;}
.nc-appbar-tabs .user-login-box i.arrow { background:url(../images/toolbar.png) no-repeat -100px -150px; width: 7px; height: 13px; position: absolute; z-index: 3; top: 90px; right: -7px;}
.nc-appbar-tabs .user-login-box a.close-a { font: 600 11px /16px Verdana, Geneva, sans-serif; text-decoration: none; color: #999; text-align: center; width: 16px; height: 16px; position: absolute; z-index: 3; top: 10px; right: 10px;}
.nc-appbar-tabs .user-login-box a { font: 12px/20px arial,"宋体"; color: #005EA6; text-decoration: underline; float: right;}
.nc-appbar-tabs .user-login-box dl {}
.nc-appbar-tabs .user-login-box dt { font: 13px/20px Arial,"microsoft yahei"; height: 20px; padding: 10px 0 0;}
.nc-appbar-tabs .user-login-box dt a { font: 12px/20px arial,"宋体"; color: #005EA6; text-decoration: underline; float: right;}
.nc-appbar-tabs .user-login-box dd {}
.nc-appbar-tabs .user-login-box dd .text { line-height: 20px; width: 226px; height: 20px; padding: 3px 5px; border: solid 1px #CCC;}
.nc-appbar-tabs .user-login-box .bottom { margin-top: 20px;}
.nc-appbar-tabs .user-login-box .submit { font: 600 14px/20px Arial,"microsoft yahei";  color: #FFF; background-color: #D93600; width: 240px; height: 30px; border: solid 1px #B22D00; cursor: pointer;}
/*工具条-会员信息*/
.nc-appbar-tabs .user-info { background-color: #FFF; width: 240px; padding: 9px 19px; border: solid 1px #CCC; position: absolute; z-index: 2; top: 48%; margin-top: -120px; right: 50px; box-shadow: -4px 0 4px rgba(0,0,0,0.25);}
.nc-appbar-tabs .user-info i.arrow { background:url(../images/toolbar.png) no-repeat -100px -150px; width: 7px; height: 13px; position: absolute; z-index: 3; top: 45px; right: -7px;}
.nc-appbar-tabs .user-info .avatar { width: 88px; height: 88px; float: left; position: relative; z-index: 1;}
.nc-appbar-tabs .user-info .avatar .frame { background: url(../images/point_bg.png) no-repeat 0 0; width: 88px; height: 88px; position: absolute; z-index: 2; top: 0; left: 0;}
.nc-appbar-tabs .user-info .avatar img { width: 80px; height: 80px; position: absolute; z-index: 1; top: 4px; left: 4px;}
.nc-appbar-tabs .user-info dl { display: block; width: 140px; float: left; margin: 10px 0 0 10px;}
.nc-appbar-tabs .user-info dt { font: 600 14px/20px "microsoft yahei"; margin-bottom: 6px;}
.nc-appbar-tabs .user-info dd { line-height: 22px;}
#vToolbar .content-box { background-color: #F5F5F5; width: 240px; height: 100%; border-left: solid 1px #7C8994; position: absolute; z-index: 0; top: 0; right: -250px; bottom: 0; box-shadow: -4px 0 2px rgba(0,0,0,0.25);}
#vToolbar .content-box .top { height: 24px; padding: 9px 7px; border-bottom: dotted 1px #CCC; margin-bottom: 10px;}
#vToolbar .content-box .top h3 { font: 16px/24px "microsoft yahei"; color: #333; display: inline-block; }
#vToolbar .content-box .top a.close { background: url(../images/toolbar.png) no-repeat -100px -120px; width: 16px; height: 16px; margin-top: 4px; float: right;}
#vToolbar .content-box .goods-list { background-color: #FFF; width: 180px; padding: 10px 0; margin: 0 0 0 12px;}
#vToolbar .content-box .goods-list li { width: 160px; padding: 0 0 10px 0; margin: 0 auto; }
#vToolbar .content-box .goods-info { width: auto; margin: auto;}
.nc-appbar .goods-pic { width: 120px; height: 120px; margin: 0 auto 10px auto;}
.nc-appbar .goods-pic a { line-height: 0; background: none; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; padding: 0; margin: 0; overflow: hidden;}
.nc-appbar .goods-pic a img { max-width: 120px; max-height: 120px; margin-top: expression( 120-this.height/2); *margin-top:expression(60-this.height/2)/*IE6,7*/;}
.nc-appbar .goods-name a { font-weight: normal; line-height: 16px; color: #555; background: none; text-align: left; display: block; width: 100%; height: 16px; padding: 0; margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.nc-appbar .goods-price { font: 600 14px/20px Arial; color: #C00;}
.nc-appbar .goods-price .del { font: normal 12px/20px  Arial; color: #005EA6; display: none; float: right; cursor: pointer;}
#vToolbar .goods-list li:hover .goods-price .del { display: block;}
#vToolbar .content-box .no-compare { color: #999; line-height: 180px; text-align: center;}
.nc-appbar .content-box .btn-box { background-color: #F5F5F5; text-align: center; width: 160px; padding: 10px; position: absolute; z-index: 2; bottom: 0; left: 10px;}
.nc-appbar .content-box .btn-box a { background-color: #E74649; color: #FFFFFF; cursor: pointer; padding: 5px 10px;}
.nc-appbar .content-box .btn-box .total-price { color: #777; padding-bottom: 10px;}

.nc-appbar .cart-list { width: 180px; margin: 0 0 0 12px;}
.nc-appbar .cart-list li { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FFF; padding: 4px; border: solid 1px #FFF; margin-bottom: 10px; position: relative; z-index: 1;}
.nc-appbar .cart-list li:hover { border-color: #e74649; box-shadow: 3px 3px 0 rgba(204,204,204,0.75);}
.nc-appbar .cart-list .goods-pic,
.nc-appbar .cart-list dl { font-size: 12px; vertical-align: top; letter-spacing: normal; display: inline-block; *display: inline/*IE6、7*/; *zoom:1; }
.nc-appbar .cart-list .goods-pic { width: 40px ; height: 40px; margin: 0;}
.nc-appbar .cart-list .goods-pic a { line-height: 0; background: none; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; padding: 0; margin: 0; overflow: hidden;}
.nc-appbar .cart-list .goods-pic a img { max-width: 40px; max-height: 40px; margin-top: expression( 40-this.height/2);}
.nc-appbar .cart-list dl { width: 125px; margin-left: 5px;}
.nc-appbar .cart-list .goods-name { text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.nc-appbar .cart-list a.del { font: 600 10px/14px Arial; color: #FFF; background-color: #CCC; text-align: center; width: 14px; height: 14px; border-radius: 7px; position: absolute; z-index: 1; top: -5px; right: -5px;}
.nc-appbar .cart-list li:hover a.del { background-color: #e74649;}

/* 顶部搜索 */
#top_search_box .ui-widget-content { background: #FFF none !important; border-color: #CCC !important; border: 1px solid #dddddd;}
#top_search_box .ui-corner-all { line-height: 24px; display: block; color: #555 !important; text-indent: 8px;}
#top_search_box .ui-state-hover { font-weight: normal !important; color: #333 !important; text-decoration: none !important; background: #EEE none !important; border: none !important; cursor: pointer !important;}

/* 调试模式 */
.trace { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color: #000; line-height: 18px; background:#FFF299; padding:8px; margin:8px; border:1px dashed silver;}
.trace fieldset { margin:8px;}
.trace fieldset legend { font-size: 16px; color: #000; font-weight:bold;}
.trace fieldset div { overflow:auto; max-height: 300px; _height: 300px; text-align:left;}

.member-card { width: 280px; margin: -5px -9px;}
.member-card dl { padding: 5px 9px; position: relative; z-index: 1;}
.member-card dl dt.member-id { line-height: 20px; color: #333; height: 20px; margin-left: 85px;}
.member-card dl dt.member-id i { background: url(../images/member-card/sex.png) no-repeat; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 5px;}
.member-card dl dt.member-id i.sex1 { background-position: 0 0;}
.member-card dl dt.member-id i.sex2 { background-position: 100% 0;}
.member-card dl dt.member-id i.sex3 { display: none;}
.member-card dl dt.member-id a { font-size: 14px; font-weight: 600;}
.member-card dl dd.avatar { width: 72px; height: 72px; padding: 2px; border: solid 1px #E7E7E7; position: absolute; z-index: 1; top: 5px; left: 9px;}
.member-card dl dd.avatar img { width: 72px; height: 72px;}
.member-card dl dd.info { height: 60px; margin-left: 85px;}
.member-card dl dd.info li { line-height: 20px; vertical-align: middle; height: 20px;}
.member-card dl dd.ajax-info { line-height: 20px; margin-top: 5px;}
.member-card .bottom { background-color: #F8FBFE; padding: 5px 9px; border-top: solid 1px #AED2FF; overflow: hidden; }
.member-card .follow-handle { }
.member-card .follow-handle a{ font-size: 12px; font-weight: 600; text-decoration: none; text-shadow: 1px 1px 0 rgba(0,0,0,0.25); line-height: 16px; color: #FFFFFF; background-color: #44AA5D; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44AA5D', endColorstr='#289D55'); background-image: -webkit-gradient( linear, left top, left bottom, from(#44AA5D), to(#289D55)) ; background-image: -moz-linear-gradient(top, #44AA5D, #289D55); display: inline-block; height: 16px; padding: 4px 12px; border: 1px solid #289D55; cursor: pointer; box-shadow: 1px 1px 0 rgba(255,255,255,0.75); margin-right: 10px; }

.member-card .send-msg { float: right; padding: 5px;}
.member-card .send-msg a { font-size: 12px; line-height: 16px; color: #777; height: 16px; }
.member-card .send-msg a i { background: url(../images/member-card/mail-send.png) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 4px;}

/* 新加保障体系图标开始 */
#certMatershiti { background: url(../images/legend.png) no-repeat; width: 16px; height: 16px; background-position: 0 -210px;}
#certMaterqtian { background: url(../images/legend.png) no-repeat; width: 16px; height: 16px; background-position: 0 -70px;}
#certMaterzhping { background: url(../images/legend.png) no-repeat;  width: 16px;  height: 16px;  background-position: 0 -130px;}
#certMatererxiaoshi { background: url(../images/legend.png) no-repeat; width: 16px; height: 16px; background-position: 0 -151px;}
#certMaterhuodaofk { background: url(../images/legend.png) no-repeat;  width: 16px;  height: 16px;  background-position: 0 -109px;}
#certMatershiyong{ background: url(../images/legend.png) no-repeat; width: 16px; height: 16px; background-position: 0 -170px;}
#certMaterxiaoxie { background: url(../images/legend.png) no-repeat; width: 16px; background-position: 0 -389px; height: 16px;}
#certMatertuihuo { background: url(../images/legend.png) no-repeat; width: 16px; height: 16px; background-position: 0 -90px;}
/* 新加保障体系图标结束 */

/*底部保证开始*/
.fttff29 { background-color: #f5f5f5; width: 100%; }
.warp-all236 { width: 1200px; margin: 0 auto; }
.mod_agree { padding: 15px 0px 10px 0px; text-align: center; }
.mod_agree_con { overflow: hidden; zoom: 1; }
.mod_agree_item { margin-top: 10px; display: inline; float: left; width: 198px; border-right: 1px dotted #CCC; }


.mod_agree_item1 i { background-position: 0 -60px; }
.mod_agree_item i { display: block; margin: auto; width: 36px; height: 35px; background-image: url(../images/home_bg211.png); background-repeat: no-repeat; }
.mod_agree_item a {color: #666; font: 12px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; display: block; padding-top: 5px; line-height: 18px; }
.mod_agree_item a:hover {color: #666; font: 12px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53; display: block; padding-top: 5px; line-height: 18px; text-decoration: none; }
.mtdibu10 { display: block; width: 1200px; margin: 0 auto; text-align: center; overflow: hidden; margin-top: 10px;}
.mod_agree_item span { display: block; color: #999; }
.ic_footer_inner a { color: #555;}
.mod_agree_item2 i { background-position: -50px -60px;}
.mod_agree_item3 i { background-position: -100px -60px;}
.mod_agree_item4 i { background-position: -150px -60px;}
.mod_agree_item5 i { background-position: -200px -60px;}
.mod_agree_item6 { border-right: 0;}
.mod_agree_item6 i { background-position: -250px -60px;}


.public-top-layout .seller-login { background-color: #D40000; display: inline-block; margin-left: 10px; border: 1px solid #d90000; border-radius: 3px; box-shadow: 2px 2px 0 rgba(204,204,204,0.65);}
.public-top-layout .seller-login a { line-height: 14px; color: #FFF; display: block; height: 14px; padding: 1px 4px;}
.public-top-layout .seller-login a:hover { text-decoration: none; background-color: #D90000;}
.public-top-layout .seller-login i { font-size: 14px; vertical-align: middle; margin-right: 4px;}

/*-- 二次开发hover效果 --*/
.ztlb_left span:hover .m { top: 100px; left: 160px; width: 170px; height: 38px; position: absolute; background: url(../images/btn.png) center no-repeat; }
.ztlb_left a:hover { opacity: 0.5; filter: alpha(opacity=50); }
.ztlb_left .box { float: left; position: relative; width: 480px; height: 320px; margin-right: 30px; margin-bottom: 20px; display: inline; background: #f3f3f3; }
.ztlb_wrapper1200 { position: relative; width: 1000px; margin: 0 auto; }
.ztlb_left .box .txt01 a { position: absolute; top: 225px; left: 15px; width: 440px; height: 50px; font: 24px/50px "微软雅黑"; overflow: hidden; color: #D40000; }
.ztlb_left .box .txt02 a { position: absolute; top: 265px; left: 15px; width: 450px; font: 14px/20px "微软雅黑"; overflow: hidden; color: #666; }
.ztlb_left .box .img { background-color: #000; position: absolute; top: 0px; left: 0px; width: 480px; height: 225px; }
.ztlb_left { float: left; width: 1020px; }
.warp-allzhuanti { width: 1200px; margin: auto; }
.ztlb { margin-top: 0px; }
.no-content {color: #999999;font: 16px/20px Arial,"microsoft yahei";padding: 150px 0;text-align: center;}
/* 底部客服400 */
.f-l { float: left; font-size: 12px; }
.help .contact .ic, .service li { display: block; background:  url(../images/hd-and-btm.png) 0 0 no-repeat; _background: url(../images/hd-and-btm-8.png) 0 0 no-repeat; }
.help { background-color: #f5f5f5; height: 165px; }
.help dl { float: left; width: 160px; margin-right: 14px; padding: 20px 0; }
.help dl a { color: #666; }
.help .contact { margin-left: 16px; border-left: 1px solid #e7e7e7; }
.help .contact-border { padding: 0px 0 20px 50px; border-left: 1px solid #fff; }
.help .contact .tel, .help .contact .mail { height: 26px; line-height: 26px; padding-left: 36px; cursor: default; }
.help .contact .tel { background-position: 0 -250px; color: #00B492; font-size: 20px; }
.help .contact .tel:hover, .help .contact .mail:hover { text-decoration: none; }
.help .contact .mail { font-size: 16px; background-position: 0 -280px; color: #666; }
.help .contact .attention { padding-top: 10px; }
.help .contact .weixin { width: 155px; }
.help .weixin p, .help .qq ul{ margin-top:10px;}

.help .contact .weixin img { width: 85px; height:85px; }
.help .contact .weixin span { display: block; line-height: 31px; height: 31px; padding: 0 16px 0 6px; color: #666; }
.help .contact .sina, .help .contact .qq { height: 30px; line-height: 30px; padding-left: 36px; color: #666; }
.help .contact .sina { background-position: 0 -310px; }
.help .contact .qq { background-position: 0 -340px; }
#faq .help .contact li{ margin-left:0px; padding-left:35px;}
/*热门晒单*/
.home-share { border-bottom: 1px solid #f0f0f0; height: 200px; overflow: hidden; width: 100%; }
.home-share .caption { border-bottom: 1px solid #e8e8e8; color: #323232; font-family: Microsoft YaHei;font-size: 16px;font-weight: bold; height: 25px; line-height: 25px; padding: 15px 0 10px; margin-left:0;}
.home-share .caption p { width: 385px;}
.home-share .scrollbox { height: 122px; margin: 20px 0 0; overflow: hidden; width:100%; float:left; }
.home-share .scrollbox ul { width:100%; float:left; height: 122px; }
.home-share li { border-bottom: 1px dotted #e8e8e8; height: 58px; margin-bottom: 6px; overflow: hidden; vertical-align: middle; float:left; margin-left:15px; width:385px; }
.home-share .share_c { height: 50px; overflow: hidden; width:370px; }
.home-share .share_c .l { float: left; }
.home-share .share_c .l a:hover img { margin-left: -10px;}
.home-share .share_c img { height: 50px; width: 50px;transition: all 0.4s ease-out 0s }
.home-share .share_c .r { float: left; overflow: hidden; width: 310px; height:50px; }
.home-share .share_c .r .s_title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.home-share .share_c .r p { height: 22px; line-height: 22px; overflow: hidden; padding-left: 20px; }
.home-share .share_c a { color: #E12228; }
.home-share .share_c a:hover { text-decoration: underline; }
.home-share a.s_content { color: #646464; }
.home-share a.s_content:hover { color: #646464; }
.scrollLoading {background:url(../images/loading.gif) no-repeat center}
/*.scrollLoading {cursor: pointer;  z-index: 2;}
.scrollLoading:hover {transform: scale(1); }*/
.banner-thumb img {cursor: pointer; transition: transform 200ms linear 0s;}
.banner-thumb img:hover {transform: translateY(-5px);}

.goods-thumb img, .left-ads img:hover, .right-side-focus img {transform: scale(1); transition: all 0.4s ease-in-out 0s;}
.goods-thumb img:hover, .left-ads img:hover, .right-side-focus img:hover {transform: scale(1.2);}
#top-banner { display:none;}


.footer-container {
    margin: 0 auto;
    overflow: hidden;
    width: 1000px;
    margin-top:20px;
}
.footer-container .left-side {
    float: left;
}
.footer-container .site-name {
    margin-bottom: 15px;
}
.footer-container .site-name a {
    margin-right: 10px;
    vertical-align: top;
}
.footer-container .nav-about {
    font-size: 0;
    margin-bottom: 8px;
}
.footer-container .nav-about a, .footer-container .nav-about i {
    color: #666;
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    vertical-align: middle;
}
.footer-container .nav-about i {
    background-color: #666;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
}
.footer-container .site-intro {
    margin-bottom: 8px;
}
.footer-container .right-side {
    float: right;
    font-size: 0;
}
.footer-container .right-side dl, .footer-container .right-side .QRcode {
    color: #000;
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    vertical-align: top;
}
.footer-container .right-side dl dt {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-container .right-side dl dd {
    font-size: 18px;
    margin-bottom: 30px;
}
.footer-container .right-side dl dd.worktime {
    font-size: 12px;
}
.footer-container .right-side .QRcode {
    height: 160px;
    margin-left: 20px;
    width: 120px;
}
.footer-container .right-side .QRcode img {
    max-height: 120px;
    max-width: 120px;
}

.warp-all236 {
    margin: 0 auto;
    width: 1200px;
}
.mod_agree {
    padding: 10px 0 10px;
    text-align: center;
}
.mod_agree_con {
    overflow: hidden;
}
.mod_agree_item {
    border-right: 1px dotted #ccc;
    display: inline;
    float: left;
    margin-top: 10px;
    width: 198px;
}
.mod_agree_item1 i {
    background-position: 0 -60px;
}
.mod_agree_item i {
    background-image: url("../images/home_bg211.png");
    background-repeat: no-repeat;
    display: block;
    height: 35px;
    margin: auto;
    width: 36px;
}
.mod_agree_item a {
    color: #666;
    display: block;
    font: 12px/18px "Lucida Grande",tahoma,arial,宋体;
    padding-top: 5px;
}
.mod_agree_item a:hover {
    color: #666;
    display: block;
    font: 12px/18px "Lucida Grande",tahoma,arial,宋体;
    padding-top: 5px;
    text-decoration: none;
}
.mtdibu10 {
    display: block;
    margin: 10px auto 0;
    overflow: hidden;
    text-align: center;
    width: 1200px;
}
.mod_agree_item span {
    color: #999;
    display: block;
}
.ic_footer_inner a {
    color: #555;
}
.mod_agree_item2 i {
    background-position: -50px -60px;
}
.mod_agree_item3 i {
    background-position: -100px -60px;
}
.mod_agree_item4 i {
    background-position: -150px -60px;
}
.mod_agree_item5 i {
    background-position: -200px -60px;
}
.mod_agree_item6 {
    border-right: 0 none;
}
.mod_agree_item6 i {
    background-position: -250px -60px;
}