@charset "utf-8";
/* CSS Document */
/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响 */
html{
	color:#000;background:#fff;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font: 12px/1.5 微软雅黑,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
	vertical-align:bottom;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
/* 定义链接颜色 */
a{ color:#555;}
a.blue{ color:#2953A6;}
a:hover{ color:#f60;}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 차감浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}

.content{ width:1000px; margin:10px auto 0;}

/*图片等比例缩放*/
	.thumb { display:table-cell; vertical-align:middle; text-align:center;}
	.thumb i { *display:inline-block; *height:100%; *vertical-align:middle; }
	.thumb img  { *vertical-align:middle; }
	.size20{ width:20px; height:20px;}
	.size40{ width:40px; height:40px;}
	.size50{ width:50px; height:50px;}
	.size60{ width:60px; height:60px;}
	.size76{ width:76px; height:76px;}
	.size120{ width:120px; height:120px;}
	.size125{ width:125px; height:125px;}
	.size160{ width:160px; height:160px;}



/*==============================*/
/* 商品信息页面样式 */
/*==============================*/
.content_780{ width:780px;}
.content_208{ width:208px;}
.flea_info_main{ width:1000px; overflow:hidden; margin-top:12px;}
#flea_info_slider{width:1000px; height:88px; border-bottom:2px solid #FD7D00; position:relative;}
	#slider li.sell_two{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:900px;
		height:88px;
		margin:0;
		padding:0;
		}	
    #prevBtn2, #nextBtn2{ 
		display:block;
		width:24px;
		height:64px;
		position:absolute;
		left:10px;
		top:9px;
		z-index:998;
		}	
	#nextBtn2, #slider1next2{ 
		left:966px;
		}														
	#prevBtn2 a, #nextBtn2 a{  
		display:block;
		position:relative;
		width:24px;
		height:64px;
		background:url(../images/flea/flea_icon.png) no-repeat -24px -695px;	
		}
	#prevBtn2 a:hover, #nextBtn2 a:hover{ background-position:-24px -695px;}	
	#nextBtn2 a{ 
		background:url(../images/flea/flea_icon.png) no-repeat 0 -695px;	
		}	
	#nextBtn2 a:hover{ background-position:0 -695px;}
.sell_two .pic{ width:76px; height:76px; border:1px solid #e8e8e8; padding:2px; margin:1px 9px; position:relative;}
.sell_two .pic .time{ width:80px; height:18px; line-height:18px; color:#fff; opacity:0.7;-moz-opacity: 0.7; -khtml-opacity: 0.7; filter: alpha(Opacity=70); background:#FD7D00; position:absolute; left:0; bottom:0; text-align:center; overflow:hidden;}
.sell_two .bor{ height:80px;border-color:#FD7D00;border-style:solid;border-width:2px 2px 2px;margin: 0 8px;}

.ware_title{color: #3E3E3E; height:40px;line-height: 40px;}
.ware_title strong{ font-size:16px; }

/*闲置物品信息预览*/
#flea_info_goods{ width:300px;}
#property{ width:455px; overflow:hidden;}
.item_info{border-bottom: 1px dashed #E1E1E1; padding: 0 0 10px;}
.item_info li{ color: #656565;line-height: 34px;overflow: hidden;}
.item_info em {font-style: normal;white-space: nowrap;width: 60px;}
.item_info .price strong {
    background: none repeat scroll 0 50% transparent;
    color: #FF6600;
    font-family: tahoma,arial,"宋体";
    font-size: 24px;
    padding: 0 4px;
}
.rank_new{ position:relative;}
.item_info li .tb-tips {
    width: 206px;
}
.tb-tips {
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px 0;
    height: 23px;
    line-height: 23px;
    margin: 0 5px 0 10px;
    position: absolute;
	top:0;
}
.tb-tips a{ color:#36c;}
.tb-tips a:hover{ color:#f60;}
.tb-tips-l {
    background-position: 0 -26px;
    float: left;
    margin-left: -8px;
    width: 10px;
}
.tb-tips-r {
    background-position: -8px 0;
    float: right;
    margin-right: -2px;
    width: 5px;
	display:block;
	margin-top:-23px \9;
}
.tb-tips-l, .tb-tips-r {
    background-image:url(../images/flea/tips.png);
    display: block;
    height: 23px;
}
#contact{ width:451px; margin-top:20px;}
.grey-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EBEBEB;
    padding: 1px;
}
.grey-box .bd {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #656565;
    padding: 10px;
}
#contact ul {
    border-bottom: 1px dashed #DFDFDF;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
#contact ul li {
    float: left;
    height: 28px;
    line-height: 28px;
    max-width: 100%;
    min-width: 49%;
    overflow: hidden;
}
#contact p {
    line-height: 19px;
}

/*信息页面右侧样式*/
.flea_gray{ width:204px; background:#fff; border:1px solid #ebebeb; padding:1px; float:left;}
.flea_time{ width:184px; background:#f7f7f7; line-height:20px; padding:10px; overflow:hidden;}
.flea_time p{ color:#666;}
.flea_time p span{ color:#555;}

#seller_info{ margin-top:5px;}
#seller_info h2.title{ width:184px; background:#f7f7f7; line-height:24px; padding:0 10px; overflow:hidden; border-bottom:1px solid #ebebeb;}
#seller_info p{ line-height:24px; padding-top:5px; padding-left:15px;}
#seller_info p a img{ margin-left:5px; display:inline; vertical-align: middle;}

.flea_user_menu{background: url("../images/flea/user_menu.gif") repeat-x scroll 0 bottom transparent;height: 30px;padding-left: 20px;position: relative;width: 760px; margin-bottom:20px; float:left;}
.flea_user_menu li{ float:left;}
.flea_user_menu li .normal{background: url("../images/flea/user_menu_nav.gif") no-repeat scroll right 0 transparent;color: #3D3F3E;display: block;font-size: 12px;font-weight: bold;text-decoration: none;}
.flea_user_menu li .normal span{background: url("../images/flea/user_menu_nav.gif") no-repeat scroll left -150px transparent;display: block;padding: 8px 20px 8px 22px;}
.flea_option_box { width: 740px; padding: 0 20px; margin-bottom: 10px; _overflow-x:auto; }
.flea_wrap-inside{ margin:0 auto 10px; width:96%;}
.flea_goods{ float:left; border-bottom:1px dashed #ccc; padding-bottom:10px;}
.flea_goods .pic{border: 1px solid #e8e8e8;height: 60px;margin: 0 0 8px;padding: 5px;width: 60px; float:left;}
.flea_goods dl{ padding-left:5px; float:left; width:118px;}
.flea_goods dt{ line-height:18px; height:36px; overflow:hidden;}
.flea_goods dt a{ line-height:18px; height:36px; color:#36c;}
.flea_goods dd{ color:#c8c8c8;}
.flea_wrap-inside .more{ background:url(../images/flea/gift_info_btn.gif); width:72px; height:28px; line-height:28px; text-align:center; display:inline-block; margin-left:66px; margin-top:10px;}
#seller_info .sell{ border-bottom: 1px dashed #CCCCCC;line-height: 20px;margin: 10px; padding-bottom: 10px;width: 184px;}
#seller_info .sell a{ color:#36c;}
#seller_info .sell a:hover{ color:#f60;}
.flea_wrap-inside .more:hover{ background:url(../images/flea/gift_info_btn.png);}
.flea_wrap-inside .more a{ color:#FFFFFF; text-decoration:none;}

.col-sub a{ width:208px; height:42px; display:block; margin-bottom:5px; background:url(../images/flea/flea_buy.png) 0 -134px no-repeat;}
/*信息页面下部样式*/
#Tab1 {
    float: left;
    margin: 20px auto 0;
    padding: 0;
    width: 1000px;
}
#Tab1 .message_text {
    width: 930px;
}
.Menubox {
    height: 29px;
    line-height: 28px;
    width: 100%;
}
.Menubox ul {
    border-bottom: 2px solid #e8e8e8;
    height: 32px;
    margin: 0;
    padding: 0;
    position: relative;
}
.Menubox li {
    border-color: #E6E6E6 #E6E6E6 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    color: #656565;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 170px;
}
.Menubox li#one1 {
    left: 5px;
}
.Menubox li#one2 {
    left: 185px;
}
.Menubox li#one3 {
    left: 365px;
}
.Menubox li#one3 a{ text-decoration:none; color:#656565;}
.Menubox li#one3.hover a{ color:#f60;}

.Menubox li#one4 {
    left: 545px;
}
.Menubox li.hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #e8e8e8 #e8e8e8 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    bottom: -2px;
    color: #FD7D00;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0;
    position: absolute;
    width: 166px;
}
.Contentbox {
    border-top: medium none;
    clear: both;
    float: left;
    margin-bottom: 100px;
    margin-top: 0;
    padding: 10px;
}
.Contentbox #con_one_2{ padding-top:10px;}
.Contentbox dt {
    color: #000000;
    font-weight: 600;
    line-height: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
}
.Contentbox dd {
    color: #FF0000;
    line-height: 20px;
    padding-right: 30px;
    padding-top: 5px;
}
#comments-content {
    background: none repeat scroll 0 0 #F2F5F7;
    float: left;
    padding-bottom: 10px;
    width: 1000px;
}
.comment-line {
    border-bottom: 1px solid #D1D7DC;
    color: #656565;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    margin: 30px 0;
    width: 980px;
}
.comment-edit {
    float: left;
}
.comment-edit .comment-user {
    display: inline;
    float: left;
    height: 60px;
    margin: 5px 5px 0;
    width: 60px;
}
.comment-edit .comment-user img {
    height: 60px;
    width: 60px;
}
.comment-add {
    float: left;
    margin-top: 5px;
}
.comment-add textarea {
    border: 1px solid #E2E2E2;
    font-size: 12px;
    height: 32px;
    padding: 4px;
    width: 896px;
}
.comment-act {
    float: right;
    margin-top: 3px;
	margin-right:20px;
}
.comment-act a {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    color: #000000;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    padding: 0 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.comment-act a:active {
    background: -moz-linear-gradient(center top , #E5E5E5 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
}
.comment-list {
    float: left;
    padding-left: 70px;
}
.comment-list li {
    border-top: 1px dashed #D5D5D5;
    margin-top: 5px;
    overflow: hidden;
    padding: 7px 7px 2px;
    width: 882px;
}
.comment-list .comment-user {
    float: left;
    height: 40px;
    margin-right: 30px;
    width: 40px;
}
.comment-list .comment-user img {
    height: 40px;
    width: 40px;
}
.comment-list li p {
    color: #404040;
    padding-top: 5px;
}
.comment-list li .words .user_name {
    color: #3366CC;
}
#other_items {
    float: left;
    margin-left: 12px;
    margin-top: 20px;
    width: 100%;
}
#other_items li {
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 162px;
}
#other_items li .pic {
    border: 1px solid #CCCCCC;
    height: 160px;
    width: 160px;
}
#other_items li h3 {
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    margin: 5px 0;
    overflow: hidden;
    width: 160px;
}
#other_items li h3 a {
    color: #3366CC;
    font-weight: normal;
}
#other_items li h3 a:hover {
    color: #FF6600;
}
#other_items li .price {
    color: #666666;
    float: left;
}
#other_items li .price b {
    color: #FF6600;
    font-weight: normal;
}
#other_items li .time {
    color: #666666;
    float: right;
}
.message_text {
    border-bottom: 1px dotted #BABABA;
    float: left;
    line-height: 24px;
    overflow: hidden;
    padding: 15px 25px;
    position: relative;
    text-align: center;
    width: 730px;
}
.pagination {
    float: right;
    margin-top: 10px;
    padding: 2px;
}
.pagination ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.pagination ul li {
    display: inline;
    float: left;
    list-style-type: none;
}

#tb-detail-tips{ width:980px; margin:0 auto;}
#tb-detail-tips .tb-buy-tips {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #DDDDDD;
}
#tb-detail-tips .tb-buy-tips ul {
    float: left;
    padding: 20px 10px;
}
#tb-detail-tips .tb-buy-tips ul li {
    color: #656565;
    line-height: 28px;
    padding-left: 16px;
}
#tb-detail-tips .tb-buy-tips .tb-pub-free {
    border-left: 1px solid #EBEBEB;
    color: #676767;
    display: block;
    float: right;
    font-family: 'Microsoft Yahei','微软雅黑';
    font-size: 18px;
    height: 67px;
    line-height: 67px;
    margin: 15px 0;
    position: relative;
    text-align: center;
    text-decoration: underline;
    width: 266px;
	display:block;
}
#tb-detail-tips .tb-buy-tips .tb-pub-free i {
    background-position: -119px -366px;
    display: block;
    height: 11px;
    overflow: hidden;
    position: absolute;
    right: 32px;
    text-indent: -9999px;
    top: 30px;
    width: 6px;
}
#tb-detail-tips .train-type {
    border-top:#ddd 1px solid;
	border-right:#ddd 1px solid;
	border-left:#ddd 1px solid;
    background-color: #F7F7F7;
    margin-right: 0;
    padding: 10px 0 15px 19px;
}
#tb-detail-tips .train-type h6 {
    color: #000000;
    font: 700 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
    margin-bottom: 10px;
}
#tb-detail-tips .train-type li {
    border-left: 1px solid #FFFFFF;
    float: left;
    height: 104px;
    padding: 0 0 0 25px;
    width: 430px;
}
#tb-detail-tips .train-type li.first-child {
    border-left: 0 none;
    border-right: 1px solid #DDDDDD;
    padding-left: 0;
    padding-right: 25px;
}
#tb-detail-tips .info {
    margin-bottom: 80px;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.clearfix { *zoom : 1; }
.tb-flow-item {
    border: 1px solid #E2E2E2;
    display: block;
    float: left;
    height: 55px;
    padding-left: 7px;
    padding-top: 18px;
    position: relative;
    width: 66px;
}
.tb-flow-arrow {
    background:url(../images/flea/tb-flow-tf.gif) 0 -34px no-repeat;
    float: left;
    height: 16px;
    margin: 30px 12px;
    position: relative;
    width: 19px;
}
.tb-flow-tf {
    background:url(../images/flea/tb-flow-tf.gif) 0 0 no-repeat;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.tb-flow-num {
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    left: 3px;
    position: absolute;
    top: 0px;
}


/*放大镜*/
.ware_pic { float: left; }
.big_pic {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E7E7E7;
    height: 300px;
    margin: 0;
    width: 300px;
}
.jqzoom{ width:300px; height:300px; position:relative; padding: 0; cursor:crosshair;display: table-cell;vertical-align:middle;text-align:center;/* hack for ie */*display: block;*font-size: 200px;/* end */}
.jqzoom .ico {  position: absolute; z-index: 999; right: 0px; bottom: 0px; width: 24px; height: 24px; opacity: 0.8; -moz-opacity: 0.8; -khtml-opacity: 0.8; filter: alpha(Opacity=80);}
.jqzoom img{ text-align:center;vertical-align:middle;}
div.zoomdiv { display:none; text-align: center; width: 100px; height: 100px; background: #fff; border:1px solid #ccc; position: absolute; z-index: 100; top:0px; left:0px; overflow: hidden;}
div.jqZoomPup { repeat; opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter: alpha(Opacity=50); position: absolute; z-index: 10; top:0px; left:0px; visibility: hidden;}
.bottom_btn { width: 300px; height: 64px; position: relative; }
.ware_box { width: 300px; height: 60px; position: absolute; left: 0px; top: 10px; overflow: hidden; }
.ware_box ul { position: absolute; top: 0; left: 0; width: 300px;}
.ware_box li { /* if IE7/8/9*/ *text-align: center;  display: inline; width: 40px; height: 40px; float: left; padding: 5px; margin-right: 8px; border: solid 1px #EBEBEB; overflow: hidden; cursor: pointer; }
.ware_box li.ware_pic_hover { padding: 4px; border: solid 2px #F60;}
/*分享css*/
.share{ float:left; width:310px; margin-top:10px; color:#3e3e3e;}
.share span{ margin:0 3px; float:left;}
.share span a{ float:left;}
.share span a img{ float:left; margin-top:0px;}

