@charset "utf-8";


/*
by wansyb QQ499063702
*/

@import url(base.css); /* 公用样式*/

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响 */
html{
	color:#000;background:#fff;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font: 12px/1.5 微软雅黑,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
	vertical-align:bottom;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
/* 定义链接颜色 */
a{ color:#555;}
a.blue{ color: #999;}
a:hover{ color:#f60;}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 차감浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}



/*==============================*/
/* 全局 */
/*==============================*/
.content{ width:1200px; margin:0 auto;}
.backToTop { font-size: 12px; line-height: 1.2; color: #fff; background-color: #000; text-align: center; display: none; width: 18px; padding: 5px 0; position: fixed; _position: absolute; right: 10px; bottom: 100px; _bottom: "auto"; cursor: pointer; opacity: .6; filter: Alpha(opacity=60);}

/*图片等比例缩放*/
	.thumb { display:table-cell; vertical-align:middle; text-align:center;}
	.thumb i { *display:inline-block; *height:100%; *vertical-align:middle; }
	.thumb img  { *vertical-align:middle; }
	.size20{ width:20px; height:20px;}
	.siez35{ width:35px; height:35px;}
	.size40{ width:40px; height:40px;}
	.size50{ width:50px; height:50px;}
	.size60{ width:60px; height:60px;}
	.size76{ width:76px; height:76px;}
	.size100{ width:100px; height:100px;}
	.size120{ width:120px; height:120px;}
	.size125{ width:125px; height:125px;}
	.size160{ width:160px; height:160px;}

/*==============================*/
/* 头部区域 */
/*==============================*/
#topHeader { width: 1200px; height: 90px; margin: 0 auto; position: relative; z-index: 99;}
#topHeader .site-logo { position: absolute; top: 20px; left: 0px;}
/* 头部搜索Tab切换样式 */
#search { display: block; width: 500px; height: 90px; position: absolute; left: 500px; z-index:-1;}
	#search .details { width: 500px; height: 90px; position: relative; z-index: 1;}
		#search ul.tab { float: left; width: 200px; height: 23px; position: absolute; z-index: 99; top: 10px; left: 0px; overflow: hidden;}
			#search ul.tab li { height: 20px; float: left; padding: 0 0 3px 3px; margin-right: 8px; cursor: pointer;}
				#search ul.tab li span { font-weight: bold; line-height: 20px; color: #555; white-space: nowrap; float: left; padding: 0 14px 3px 11px;}
			#search ul.tab li.current { background: url(../images/flea/flea_hbg.png) no-repeat left -159px; height: 23px; float: left; padding: 0 0 0 3px;}
				#search ul.tab li.current span { line-height: 20px; color: #FFF; background: url(../images/flea/flea_hbg.png) no-repeat right -182px; height: 20px; float: left; padding: 0 14px 3px 11px; margin: 0;}
		#search .form { background: url(../images/flea/flea_hbg.png) no-repeat left -69px; width:492px; height: 30px; position: absolute; z-index: 1; top: 31px; left: 0px; }
			#search .form form div.formstyle { background: url(../images/flea/flea_hbg.png) repeat-x 0px -99px; display: inline; height: 30px; float: left; margin: 0 0 0 25px;}
			#search .form form div.formstyle .textinput { font-family: Tahoma, Arial; font-size: 12px; line-height: 20px; color: #555; text-indent: 4px; display: block; width: 380px; height: 20px; padding: 0; margin: 5px 0; float: left; border: 0;}
			#search .form form div.formstyle .search-button { line-height: 1200px; background: url(../images/flea/flea_hbg.png) no-repeat 0 -129px; width: 63px; height: 30px; padding: 0; margin: 0; border: 0; overflow: hidden; cursor: pointer; _float: left;}
		#search div.advanced-search { line-height: 24px; display: block; position: absolute;  z-index: 99; top:32px; left:505px; }
		#search div.tag { line-height: 20px; display: block; width: 500px; height: 20px; position: absolute; z-index: 1; overflow: hidden; top: 65px; left: 10px;}
		#search div.tag a { color: #555; float: left; padding-top: 0; padding-right: 12px;}
		#search div.tag a:hover { color: #F60; }
		#search div.tag h4 { float: left;}
		#search div.tag h4 a { font-size: 12px; font-weight: bold; color: #333; background: url(../images/flea/flea_hbg.png) no-repeat right -463px; float: left; padding-right: 10px; padding-left: 4px; }
		#search div.tag h4 a:hover { color: #333; text-decoration: underline;}

#show_area{ background:url(../images/flea/gif.gif) right center no-repeat; line-height:20px;border:1px solid #e8e8e8; padding:0 12px 0 2px; cursor:pointer;}
#j_headercitylist{display:none;top:26px;left:0px;position:absolute;background:#fff;width:270px;border:1px solid #89ccf0; -moz-box-shadow:5px 5px 0 rgba(0,0,0,0.3);-webkit-box-shadow:5px 5px 0 rgba(0,0,0,0.3);box-shadow:5px 5px 0 rgba(0,0,0,0.3);padding: 0 6px 9px; overflow:hidden;word-wrap:break-word;}
#j_headercitylist li{float:left; height:20px;line-height:20px;margin:8px 7px 0px; *margin:8px 5px 0;  padding:0px 4px; cursor:pointer; white-space:nowrap;}
#citylist{display:none;position:absolute;background-color:#fff;width:200px;top:20px;left:20px;border:1px solid #89ccf0;z-index:1px; cursor:pointer; padding-bottom:8px;}
#citylist li{float:left;height:20px;line-height:20px;margin:8px 7px 0px; padding:0px 4px; display:block; cursor:pointer;white-space:nowrap;}
#citylb1{ color: #89CCF0;position: absolute;top: 6px;left:-7px}
#citylb2{ color: #FFFFFF;left: 1px;position: absolute;top: 6px;z-index: 9999;left:-6px}

#close{ width:18px; height:18px; color:#fff; background:#89CCF0; font-weight:bold; text-decoration:none; display:block; text-align:center; position:absolute; top:3px; right:3px;}
#cityname{ position:relative; top:30px; left:190px; float:left;font-size:15px}
#cityblock{ position:relative; margin-top: 36px; margin-left: 239px; float:left;}

/*==============================*/
/* 底部区域 */
/*==============================*/		
#footer { line-height: 20px; color: #aaa; text-align: center; width: 1200px; clear: both; display: block; padding-bottom: 10px; margin: 12px auto 0px auto; border-top: solid 2px #C8C8C8; overflow: hidden;}
#footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
#footer a { color: #666; text-decoration: none; }
#footer a:hover { text-decoration: underline; }

		
		/* 主导航条样式 */		
#navBar{ width:100%; height:35px; background: #454545;}
  #navBar ul{ width:1200px; height:35px; margin:0 auto; overflow:hidden;}
  #navBar ul li{display:block;/* background:url(../images/flea/line.png) no-repeat; */}  
  #navBar ul li.none{ background:none;}
  #navBar ul li.link{ background: #FF5A5A;}
  #navBar ul li.none a{ padding-left:0;}
  #navBar ul li a{ width:70px; height:100%; color:#fff; height:35px; display: block; line-height:38px; text-align:center; font-size: 15px; font-weight:bold; text-shadow: 0px 0px 0 #ff5a5a; padding:0 14px;}
  #navBar ul li a:hover{ text-decoration:none; background: #FF5A5A;}

/*==============================*/
/* 闲置首页样式 */
/*==============================*/

        /* 分类菜单样式 */
#category{ width:100%; height:90px; background:#f5f5f5; border-bottom:1px solid #E9E9E9;}	
  #category li{ width:240px; float:left;}	
  #category .items_pic{ margin-top:20px; float:left;}
  #category .cat_list{ width:142px; height:50px; padding-left:7px; padding-top:18px; float:left; overflow:hidden;}
  #category .cat_list p{ line-height:25px;}
  #category .cat_list a{ padding-right:7px;}
  
       /* 首页图片轮播 */
.container {width: 240px; height: 217px; margin-top:4px; float:left;}
.container a img {width: 240px; height: 217px}
.container img {border:none;}
.td_f a img{ padding:0; margin:0}
.num {position: absolute; width: 115px; float: right; bottom: 0; right: 0;}
.num li {text-align: center; line-height: 20px; list-style-type: none; margin: 1px; width: 20px; font-family Arial; background:#000; float: left; height:20px; COLOR: #86a2b8; font-size: 12px; cursor: pointer;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.num li.on {line-height: 20px; width: 20px; background:#89ccf0; no-repeat; height: 20px; COLOR: #ffffff}


       /* 首页主题样式 */
a.more{ float:right; color:#FF0000;}
a.gray2{ float:right; color:#333;}
.orange{ color:#f60;}	
.black{ color:#000; font-weight:bold;}
.gray{ color:#999;}
.blue2{ color:#58c2fb;}
.price{ padding-right:5px;}   
.ad{ width:1200px; text-align:center; margin:20px 0;}
.ad img{display: block;}
.size790{ width:790px;}
.size200{ width:200px;}
	   
.flea_goods{ margin-top:20px;}
  #first_items{ height:222px;}
   .hotgoods{margin-left: 16px; width: 674px; float:left;}
     .hotgoods h2{background:url(../images/flea/text.gif) no-repeat; height:22px; line-height:22px; overflow:hidden; }
	 .hotgoods h2 a,#fir_items h2 a,#third_items h2 a{ color:#333;background:url(../images/flea/flea_icon.png) right -1003px no-repeat; height:20px; float:right; margin-top:3px; margin-left:3px; padding-right:20px; }
     .hotgoods_G{ color:#333; background-color: #FFFFFF;height: 180px;margin-top: 9px; padding-top:13px;}
	 .hotgoods_G .pic{ background-color:#fff; width:100px; height:100px; float:left; padding:1px; border:1px solid #EAEAEA}
	 .hotgoods_G dl{ position:relative;}
	 .hotgoods_G dt{ margin-left:20px;}
	 .hotgoods_G dd{ width:528px; line-height:24px; color:#555; margin-left:10px; margin-right:10px;}
	 .hotgoods_G dd.flea_message{ width:520px; padding-left:10px; line-height:24px; height:48px; overflow:hidden;}
   .sell{ float:right; width:250px;}
     #buttonContainer a{ margin-top:16px; background:url(../images/flea/flea_buy.png) 0 0 no-repeat; width:250px; height:40px; display:block;}
	 #buttonContainer a:hover{background:url(../images/flea/flea_buy.png) 0 -65px no-repeat;}
	 
  #fir_items,#third_items,#five_items{ width:1200px;}
  
  #fir_items h2{background:url(../images/flea/text.gif) 0 -108px no-repeat; height:22px; line-height:22px; overflow:hidden; margin-top:20px; padding-bottom:10px;}
  #fir_items .people{ margin-left:85px; margin-right:5px; float:left;font-family: Arial,Helvetica,sans-serif;font-size: 14px;font-weight: bold;}
  #fir_items .number{ background:url(../images/flea/text.gif) 0 -264px no-repeat; float:left; width:118px; height:22px;}
  #fir_items ul{ width:1196px; border:1px solid #e8e8e8; float:left;}
  #fir_items li{ width:120px; height:170px; background:#F6F6F6; padding-right:10px; padding-left:11px; float:left; border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; padding-top:10px;}
  #fir_items li.cn{ border-right:none; padding-left:13px; padding-right:13px;}
  #fir_items li .pic{ width:120px; height:120px; background:#fff;}
  #fir_items li p{ color:#333; width:90%; margin:5px 5% 0;}
  #fir_items li .orange{ margin-left:5px; font-family:tahoma; font-size:14px; font-weight:bold;}
  
  #second_items{ width:590px; margin-top:5px;}
  #second_items h2{background:url(../images/flea/text.gif) 0 -74px no-repeat; height:22px; line-height:22px; overflow:hidden; margin-top:10px; }
  #second_items .content{ background-color: #F7F7F7;border: 1px solid #ECECEC;height: 390px; margin-top: 5px;padding-left: 10px;padding-right: 10px;width: 568px;}
    #second_items .ct{ padding-left:100px; font-size:16px; font-weight:bold;}
    .hot_items{ margin-top:5px; margin-left:auto; margin-right:auto; float:left;}
	.hot_items li{float: left; height: 130px;margin-bottom: 5px;margin-left: 40px;margin-top: 10px;text-align: left;width: 100px; overflow:hidden;}
	.hot_items .pic{ width:76px; height:76px;border:1px solid #eaeaea; background:#fff; }
	.hot_items li p.area{ color:#808080;}
    #second_items .more-city-text{clear: left;color: #808080;float: left;margin-left: 20px;margin-top: 15px; width:50px;}
	#second_items .area-list{float: left; margin-top: -5px; padding-left: 20px; padding-top: 10px;}
	#second_items .area-list li{float: left;font-size: 12px;padding-bottom: 5px;width: 68px;}
  
  #third_items h2{background:url(../images/flea/text.gif) 0 -35px no-repeat; height:22px; line-height:22px; overflow:hidden; }
    .look_items{ margin-top:10px; padding-left:16px; width:1182px; border:1px solid #ECECEC; float:left; padding-bottom:20px;}
    .look_items li{margin: 20px 13px 0 0;}
	.look_items li p{ color:#333; line-height:24px; float:left;}
	.look_items li p span{ padding-left:5px; padding-right:0}
	.look_items .pic{ width:125px; height:125px;border:1px solid #eaeaea;}
	
  #fourth_items{ width:1200px; margin-top:20px; margin-bottom:20px; float:left;}	
  #fourth_items h2{background:url(../images/flea/text.gif) 0 -142px no-repeat; width:100%; height:22px; line-height:22px; overflow:hidden;}
    #fourth_items ul{ margin-top:10px;}
    #fourth_items ul li{ width:290px; height:100px; margin-right:13px;}
    #fourth_items ul li img{display: block;}
	#fourth_items ul li.last{ margin:0}
	
  #six_items{float: left;height: 390px;margin-left: 10px; margin-top:10px; position: relative;width: 390px;}
  #six_items h2{background:url(../images/flea/text.gif) 0 -343px no-repeat; width:100%; height:32px; line-height:32px; overflow:hidden;}
    .famous-person-content{border: 1px solid #ECECEC;height: 390px;position: relative;width: 390px;}
	.famous-person-information{height: 80px;padding: 10px 6px 10px 10px;}
	.famous-person-information li{float: left;height: 35px;margin-right: 7px;padding: 2px 2px 6px;width: 35px;}
	.famous-person-information li.hover{ border:2px solid #5bc9ff; border-radius:4px;}
	.famous-person-shop{background-color: #F4F4F4;border-top: 1px solid #EAEAEA; bottom: 0;height: 290px;left: 0;overflow: hidden;position: absolute;width:390px;_width:395px;}
	.famous-person-shop-infomation{ padding-left:15px; padding-top:20px;}
	.famous-person-shop-infomation .pic{ width:60px; height:60px; float:left;}
	.shop-assess {float: left;margin-left: 10px;margin-top: -3px;width: 280px;}
	
/*明星卖家商品切换css*/
	.famous-person-shop-infomation .infiniteCarousel{clear: both; height: 142px;position: relative;top: 30px;}
	.infiniteCarousel {width: 360px;position: relative;}
.infiniteCarousel .wrapper {
  width: 321px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  height:142px;
  overflow: auto;
  min-height: 10em;
  margin: 0 20px;
  position: absolute;
  top: 0;
}


.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  height: 142px;
    text-align: left;
    width: 77px;
	margin-right:0;
	padding:0 15px 0 15px;
}

.infiniteCarousel ul li .pic{ width:76px; height:76px; background:#fff;}
.infiniteCarousel ul li p{color:#333; float:left; width:100%;margin-top:10px;}
.infiniteCarousel ul li p.item-title{ margin:0;}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 20px;
  width: 14px;
  background:url(../images/flea/flea_icon.png) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 37px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 -980px;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -955px;
  left: 0;
}
	
/*明星卖家商品切换css*/  


/*==============================*/
/* 搜索页面样式 */
/*==============================*/

/*左边*/
#flea_keyword{ width:780; height:25px; line-height:25px; background:#F6F6F6; border-bottom:1px solid #fff; padding-left:10px; color:#555;}

#cat_select{ width:774; border-top:1px solid #e9e9e9; padding:10px 8px 0; position:relative;}
#cat_select ul.cat_list{ line-height:30px;margin-bottom:9px; overflow:hidden;}
#cat_select ul.cat_list li{ width:150px; color:#404040;}
#cat_select .fold{ position:absolute; right:0; top:10px;}
  .search_keyword{ height:38px; line-height:38px; color:#707070; overflow:hidden;}
  .search_keyword a{ padding:0 12px;}
  
#filter{ width:100%; /*background:url(../images/flea/flea_icon.png) left -69px no-repeat; */ border-top:1px solid #e9e9e9; margin-bottom:10px;}
  #filter .fill_filter{height:40px; line-height:40px; background:#fff; overflow:hidden;border-bottom:1px dashed #CCCCCC; position:relative;}
  #filter .fill_filter_c{line-height:40px; background:#fff; overflow:hidden;border-bottom:1px dashed #CCCCCC; position:relative;}
    .fill_filter dl,.fill_filter_c dl{ position:relative;}
    .fill_filter dt,.fill_filter_c dt {color: #404040;padding: 0 0 0 8px;width: 79px;}
    .fill_filter dd{ margin:0 5px;}
	.fill_filter_c dd.search_city{ width:663px; margin-left:5px;}
	.fill_filter dd ul,.fill_filter_c dd ul{ margin-left:5px; float:left;}
	.fill_filter dd li,.fill_filter_c dd li{ float:left; white-space:nowrap;}
    .fill_filter dd a,.fill_filter_c dd a{border: 1px solid #FFFFFF; color: #999; display: inline-block; padding: 0 10px; cursor:pointer;}
    .fill_filter dd li.current a,.fill_filter_c dd li.current a{ height:22px; line-height:22px; margin:9px 0; background:#404040; color:#fff; -moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
	.fill_filter .tips{ background:url(../images/flea/flea_icon.png) left top no-repeat; height:27px; line-height:27px; position:absolute; top:7px; right:120px; padding-left:13px;}
	.tips .tips_c{ background:url(../images/flea/flea_icon.png) right -27px no-repeat; height:27px; padding-right:5px; display:inline-block;}

#rank{ width:100%;}
  .rankbar{ height:42px; width:100%; -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;behavior:url(ie-css3.htc); position:relative; z-index:1;background:url(../images/flea/rankbar.png) repeat-x;}
  .rankbar ul.options{ padding-left:10px;}
  .rankbar .rank_default{ margin-top:8px; margin-right:2px;background:url(../images/flea/flea_icon.png) 0 -437px no-repeat; padding-left:8px; height:22px; line-height:22px; position:relative;}
  .rankbar .rank_default span{ background:url(../images/flea/flea_icon.png) right -461px no-repeat; height:22px;padding-right:20px; line-height:22px; display:block; float:left; }
     #rank_current span{ padding-right:8px;}
  .rankbar .rank_default span a.down,.rankbar .rank_default span a.up{ color:#429BCB;}
	.rank_default span a.down i{background:url(../images/flea/flea_icon.png) left -495px no-repeat; width:11px; height:15px; top:5px; top:3px \9;right:5px; position:absolute;}
	.rank_default span a.up i{background:url(../images/flea/flea_icon.png) -19px -496px no-repeat; width:11px; height:15px; top:5px; top:3px \9;right:5px; position:absolute;}
	.rank_default span a i{background:url(../images/flea/flea_icon.png) -19px -494px no-repeat; width:11px; height:15px; top:5px; top:3px \9;right:5px; position:absolute;}
    .rank_price_range{ margin-top:9px; margin-left:6px; width:110px;}
	.rank_price_range input,#price_form input{ background:#fff; border:1px solid #7F9DB9; height:18px; line-height:18px;}
	.rank_price_range input:focus,#price_form input:focus{box-shadow:0 0 3px #55a3ff}
	
	.chack_box{ margin-top:8px; margin-right:16px; height:24px; line-height:24px;}
	  .chack_box input{ margin-top: -2px;vertical-align: middle;}
	  .chack_box label strong{font-weight:normal; color:#404040;}
	  .chack_box label strong.qq{background:url(../images/flea/flea_icon.png) right -496px no-repeat; padding-right:20px;}
	.keywords{ margin-right:10px; margin-top:8px;}
	.keywords .key{float:left; margin-right:2px;}
	.keywords input{ width:134px; height:18px; background:#fff; border:1px solid #7F9DB9;}
	.keywords input:focus{ box-shadow:0 0 3px #55A3FF;}
	.keywords span{ background:url(../images/flea/flea_icon.png) 0 -437px no-repeat; display:inline-block; padding-left:8px; height:22px; line-height:22px;}
	.keywords span a{background:url(../images/flea/flea_icon.png) right -461px no-repeat; display:inline-block; padding-right:8px; }
	
/*搜索页面价格浮动效果的css*/
#price_form{display:none;background:#fff;height:50px;width:80px;heigth:40px;position:absolute;left:130px;top:0px; padding:10px; border:1px solid #37B4F0; box-shadow:1px 2px 6px rgba(0,0,0,0.2);}
#price_form a{ margin-top:8px; float:right; cursor:pointer; height:15px; display:block; margin-top:10px; padding:1px 8px; border:1px solid #e8e8e8; border-radius:3px; line-height:15px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 50%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#e5e5e5), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 50%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 50%,#fcfcfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 50%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#e5e5e5 50%,#fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}

/*搜索页面成色划分css*/
#flea_dialog{ padding:5px;}
  #flea_dialog li{ padding:20px 0; border-top:1px dashed #DFDFDF}
  #flea_dialog li.first_dialog{ border:none;}
    #flea_dialog dt{color: #000000;display: block;float: left;font-size: 14px;font-weight: bold;text-align: right;width: 90px;}
	#flea_dialog dd {color: #676767;display: block;float: left; width: 280px;}

#list-content{ }	
#list-content ul#seller{ float:left; margin-bottom:20px;}
#list-content ul#seller .nonegoods{ background:url(../images/flea/nofound.jpg) left 10px no-repeat; padding-left:120px; width:620px; font-weight:bold; margin:30px 0 0 40px; display:block;}
  .nonegoods h3{ font-weight:bold; font-size:14px; line-height:30px;}
  .nonegoods dl{ font-weight:normal; line-height:24px; padding-top:10px;}
#list-content ul li.seller_goods{ width:770px; padding:17px 10px; border-bottom:1px dashed #ccc; margin-bottom:5px;}
#list-content ul li.seller_goods p.pic{ border:1px solid #ccc; width:120px; height:120px;}
#list-content .list{ width:430px; margin:0 15px; overflow:hidden;}
#list-content .list h2{ font-size:14px; height:20px; line-height:20px;}
#list-content .list h2 a.blue:hover{ color:#2953A6;}
#list-content ul li p.details{ height:36px; line-height:36px;}
#list-content ul li p.details .orange{ font-size:16px;font-family: Arial,tahoma;}
#list-content .list_content{ color:#404040; width:430px; height:36px; line-height:18px; margin-bottom:14px; overflow:hidden; float:left; }
#list-content .scan{ margin-left:12px;}
#list-content .scan em{ padding:0 5px;}
#list-content .seller{ width:152px; height:93px; background:url(../images/flea/flea_icon.png) left -522px no-repeat; padding:15px 10px 0px 23px; overflow:hidden;}
  .seller .pic{ border:1px solid #e8e8e8; width:50px; height:50px; margin-right:10px;}
  .seller .seller_name .qq{background:url(../images/flea/flea_icon.png) right -496px no-repeat; padding:0 12px;}
  .seller span.seller_rank{background:url(../images/flea/flea_icon.png) 8px -647px no-repeat; padding:0 13px;}
  .seller .seller_num{ width:96%; margin:5px auto 0; overflow:hidden; height:24px; line-height:24px; color:#333230; }
  .seller .seller_name a{ font-weight:bold;}

/*右边*/	
.collect{width:100%; height:166px;}
.collect h2{ background: url("../images/flea/text.gif") no-repeat 0 -261px;height: 22px;line-height: 22px;overflow: hidden;}
.collect .collect_goods{width:98%; height:136px; border:1px solid #e8e8e8; margin-top:9px; }
  .collect_goods .collect_hot{ text-align:center; margin:10px 0 10px 0;  color:#808080;}
  .collect_goods .pic{ width:76px; height:76px; margin-left:6px;}
  .collect_goods .collect_info{ margin-left:10px; width:153px;}
  		.collect_info p{ height:20px; line-height:20px; color:#555; overflow:hidden;}
		.collect_info p.details{ height:40px; line-height:20px; overflow:hidden;}
		
a.sell_btn2{ width:176px; height:46px; background:url(../images/flea/flea_icon.png) 0 -218px no-repeat; margin-bottom:20px; display:inline-block; margin-left:12px;}
a.sell_btn2:active{background:url(../images/flea/flea_icon.png) 0 -267px no-repeat;}

/*他们正在卖的*/
.sell_now,.look_for{ width:200px; margin-bottom:5px;}
.sell_now h2{ border-bottom:1px solid #ccc; width:100%; height:27px; margin-bottom:10px;}
.sell_now h2 span{ background:url(../images/flea/text.gif) 0 -188px no-repeat; width:126px; height:27px; display:block;}

.slider{ position:relative;}
.slider p{ float:left;}
.slider li{ color:#808080;}
.slider p .user img{ border:1px solid #e8e8e8;}
.slider .user_name{ padding:0 10px;}
.slider p.items_title{ width:200px; line-height:24px; overflow:hidden; padding-bottom:8px;}
.slider p.items_title a{ color:#404040; }
.slider .items_info{ color:#999; width:200px; float:left;}
.slider .items_info img{border:1px solid #e8e8e8;}
.slider .items_info p{ width:120px; padding-left:15px; line-height:24px; float:right;}
/* Easy Slider */

	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider li.sell_one{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:200px;
		height:140px;
		overflow:hidden; 
		}	
	.sell_one .pic1{ width:20px; height:20px;}
	.sell_one .pic2{ width:50px; height:50px; border:1px solid #e8e8e8;}
	#prevBtn, #nextBtn{ 
		display:block;
		width:16px;
		height:14px;
		position:absolute;
		right:20px;
		top:-30px;
		z-index:2;
		}	
	#nextBtn, #slider1next{ 
		right:4px;
		}														
	#prevBtn a, #nextBtn a{  
		display:block;
		position:relative;
		width:16px;
		height:14px;
		background:url(../images/flea/flea_icon.png) no-repeat 0 -335px;	
		}
	#prevBtn a:hover, #nextBtn a:hover{ background-position:0 -349px;}	
	#nextBtn a{ 
		background:url(../images/flea/flea_icon.png) no-repeat -16px -335px;	
		}	
	#nextBtn a:hover{ background-position:-16px -349px;}
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */

/*他们正在关注的*/
.look_for h2{ width:200px; height:27px; display:block; background:url(../images/flea/text.gif) 0 -220px no-repeat; border-bottom:1px solid #ccc; margin-bottom:12px;}
.look_for li{border-bottom: 1px dashed #CCCCCC;margin-bottom: 11px;overflow: hidden; float:left;}
.look_for li .pic{ width:60px; height:60px; border:1px solid #e8e8e8;}
.look_for li h3{height: 36px;margin-bottom: 10px;overflow: hidden;width: 132px;}
.look_for li .price{ width:124px;}
.look_for li .item-attrs{ line-height:21px; height:21px; margin-top:2px; width:200px; float:right;}
  .item-attrs .item_click,.item-attrs .item_scan,.item-attrs .item_fav{ margin-left:12px; background:url(../images/flea/flea_icon.png); padding-right:20px;}
  .item-attrs .item_click{ background-position:right -642px;}
  .item-attrs .item_scan{ background-position:right -669px;}
  .item-attrs .item_fav{ background-position:right -694px;}
  

/*闲置首页tab切换效果*/
#five_items{ float:left;}
.cont{padding:10px;}
.hidden{display:none;}
.scrolldoorFrame{width:1200px; height:400px; margin:0px auto 20px;overflow:hidden; position:relative;}
.scrolldoorFrame h2{ position:absolute; top:5px; left:0; background:url(../images/flea/text.gif) 0 -310px no-repeat; width:102px; height:23px;}
.scrollUl{width:875px;overflow:hidden; position:absolute; left:125px; top:11px;}
.scrollUl li{float:left;}
.bor03{border:1px solid #EAEAEA;position:absolute; top:35px; width:1168px;}
.bor03 .cc{ display:none;}
.bor03 #c01{ display:block;}

.sd01{cursor:pointer;background:url(../images/flea/flea_icon.png) 0 -779px no-repeat; color:#fff; padding:0 0 0 8px; margin-right:8px; font-weight:bold; float:left; line-height:24px; height:24px}
.sd01 span{background:url(../images/flea/flea_icon.png) right -813px no-repeat; display:block; padding:0 15px 0 7px;}

.sd02{cursor:pointer;background:url(../images/flea/flea_icon.png) 0 -865px no-repeat; color:#000; padding:0 0 0 8px; margin-right:8px; font-weight:bold; line-height:24px; height:24px;}
.sd02 span{background:url(../images/flea/flea_icon.png) right -899px no-repeat; display:block; padding:0 15px 0 7px;}

.bor03 ul li{
	float: left;
    height: 150px;
    margin-bottom: 8px;
    margin-left: 14px;
    position: relative;
    text-align: left;
    width: 124px;}
.bor03 .pic{ width:120px; height:120px; margin-bottom:5px;}
.bor03 p{ width:120px; height:20px; line-height:20px; overflow:hidden;}
.bor03 .price{ font-size:14px;}

/*分页按钮css0*/

.pagination{ padding: 2px; float: right;}
.pagination ul{ margin: 0; padding: 0; font-size: 12px; text-align: left;}
.pagination ul li { display: inline; list-style-type: none; float: left;}
.pagination li span{font-size: 12px; line-height: 20px; color: #999; list-style-type: none; display: inline; float: left; padding: 0px 5px; margin: 0px 2px; border: 1px solid #CCC;}
.pagination li a span , .pagination li a:visited span{ color: #6C92AD; text-decoration: none; border-color: #AEB9B9; cursor:pointer;}
.pagination li a:hover span, .pagination li a:active span{ color: #DB7C1E; background-color: #FFEFCE; border-color: #DB7C1E; cursor:pointer;}
.pagination li span.currentpage{ color:#FFF; font-weight: bold;  background-color: #FF5A5A; border-color: #FF5454;}


/*顶部    start*/
.yHeader{width: 100%;}
/*导航   start*/
.yNavIndex{width: 1200px;margin: 18px auto 0;height:35px;/*border-bottom: 2px solid #2d2d2d;*/position: relative;}
.yNavIndex .yMenuIndex{margin-left: 212px;}
.yNavIndex .yMenuIndex li a{position: relative;display: inline-block;font-size: 14px;color: #333;line-height: 32px;height: 32px;padding: 0 21px;}
.yNavIndex .yMenuIndex li a.yMenua{border-bottom: 3px solid #2d2d2d;text-decoration: none;}
.yNavIndex .yMenuIndex li a:hover{border-bottom: 3px solid #2d2d2d;text-decoration: none;}
.yNavIndex .yMenuIndex li{float: left;height: 33px;padding: 0 0px;}
/*下拉*/
.pullDown{z-index: 12;position: absolute;}
.pullDown:hover .pullDownList{display:block;}

.pullDown .mcate .pullDownTitle i {
    background: rgba(0, 0, 0, 0) url("../images/top_bg.png") no-repeat scroll -182px -186px;
    float: left;
    font-size: 0;
    height: 14px;
    line-height: 0;
    margin: 4px 4px 0 0;
    width: 18px;
}

.pullDownTitle{height: 24px;width: 199px;background: #a90000;color: #ffffff;font-size: 16px;font-weight: normal; padding:8px 0 3px 13px;}
.pullDownTitle a{color:white; text-decoration: none; font-weight:normal; margin-left:7px;}
.pullDownTitle a:hover{color:white; text-decoration: none; font-weight:normal;}
.pullDownList{width: 212px;height: 480px;background: url(../images/pullbj.jpg);position: relative;z-index: 2; display:none;}
.pullDownList li{height: 32px;color: #fefcfc;font-size: 13px;padding-left: 11px;position: relative;}
.pullDownList li i{display: inline-block;position:relative;top:4px;margin-right: 8px;left:0;-webkit-transition: margin-left .2s linear;-moz-transition: margin-left .2s linear;-o-transition: margin-left .2s linear; width: 20px;height: 19px;background: url(../images/indexicon1.png) no-repeat;}
.pullDownList li.menulihover i{margin-left: 6px;}
.pullDownList li a{color: #fefcfc;font-size: 12px;}
.pullDownList li.menuliselected{background: #4a4a4a;}
.pullDownList li.menuliselected span{top: 14px;right: 7px;border-left: 4px solid transparent;border-top: 4px solid #fff;border-right:4px solid transparent;border-bottom: 0;}
.pullDownList li.menulihover{background: #a90000;}
.pullDownList li span{display: inline-block; width: 0;height: 0;position: absolute;top: 12px;right: 8px;}
.pullDownList li.menulihover span{top: 12px;right: 8px;border-left: 4px solid #fff;border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-right: 0;}
/*下拉详细列表具体分类*/
.yMenuListCon{width: 400px;height:480px;position: absolute;z-index:2;top: 35px;left: 212px;overflow: hidden; display:none;}
.yMenuListCon p{width:auto;color: #7f7e7e;font-size: 12px;margin: 10px 0 0 -1px;overflow: hidden;}
.yMenuListCon p a{color: #7f7e7e;font-size: 12px;padding: 0 8px;display: inline-block;float: left;margin-top: 5px;background: url(../images/indexicon1.png) 0 -1695px;}
.yMenuListCon p a.ecolor610{color: #a90000;}
.yMenuListCon p a:hover{color: #a90000;text-decoration: underline;}
.yMenuListConin{display: none; background: #fff;opacity: 0.9; -moz-opacity:0.9;filter: alpha(opacity=90);padding:0 20px;width: 360px;height:480px;position: absolute;left: 0;top: 0;}
.yMenuLCinList{overflow: hidden;}
	/*详细分类标题*/
	.yMenuLCinList h3{position: relative;height: 20px;width: auto;margin: 25px auto 0;border-bottom: 1px solid #000;}
	.yMenuLCinList h3 a{font-size: 12px;color: #2d2d2d;position: absolute;bottom: 0px;display: block;}
	.yMenuLCinList h3 .yListMore{color: #666666;font-weight: normal;right: 0;with: 40px;height: 20px;}
	.yMenuLCinList h3 .yListName{-webkit-transition: left .2s linear;-moz-transition: left .2s linear;-o-transition: left .2s linear;display: block;width: 90px;height: 20px;line-height: 20px;padding-top: 17px;padding-left: 30px;left: 0;background:url(../images/yListNameicon.png) no-repeat 0 5px;}
	.yMenuLCinList h3 .yListName:hover{left:6px;}
/*导航   end*/
/*顶部    end*/
