@charset "utf-8";
/* ================================ */
/* 商城前台购买\购物车等页面相关样式		*/
/* Author:			j.k		*/
/* Copyright:		www.cnbiz.co.kr	*/
/* Create Date:		Aug-10-2012		*/
/* Retrofit Date:	Nov-15-2014		*/
/* ================================ */

.wrapper { width: 1000px; margin: 0 auto;}
.ws0 { font-size: 0; *word-spacing: -1px/*IE6、7*/;}


/* 表单项属性
------------------------------------------- */
input[type="text"], input[type="password"], input.text, input.password { font: 12px/20px Tahoma; color: #777; background-color: #FFF; vertical-align: middle; display: inline-block; height: 20px; padding: 2px 4px; border: solid 1px #CCC; outline: 0 none;}
input[type="text"]:focus, input.text:focus, textarea:focus { color: #333; border-color: #75B9F0; box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15); outline: 0 none;}
input[type="text"].error, input[type="password"].error, textarea.error { border-color: #ED6C4F; box-shadow: 0 0 0 2px rgba(232, 71, 35, 0.15); outline: 0 none;}
textarea, .textarea { font: 12px/20px Tahoma; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 60px; padding: 2px 4px; border: solid 1px #CCC; outline: 0 none;}
select { color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 26px; padding: 4px; border: solid 1px #CCC;}
select option { line-height: 20px; height: 20px;}
input[type="radio"], .radio { vertical-align: middle; display: inline-block; margin-right: 5px;}
/*表单验证错误提示文字*/
label.error { font-size: 12px; color: #E84723; margin-left: 8px;}
label.error i { margin-right: 4px;}
/* 按钮
-------------------------------------------*/
a.ncc-btn-mini { font: normal 12px/20px arial,"microsoft yahei"; color: #777; background-color: #F5F5F5; text-align: center; vertical-align: middle; display: inline-block; height: 20px; padding: 2px 10px; margin-right: 2px; border-style: solid; border-width: 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncc-btn-mini { text-decoration: none; color: #333; background-color: #E6E6E6;border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncc-btn { font: normal 14px/20px arial,"microsoft yahei"; color: #777; background-color: #F5F5F5; text-align: center; display: inline-block; height: 20px; padding: 8px 16px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncc-btn { text-decoration: none; color: #333; background-color: #E6E6E6; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncc-btn-mini i, a.ncc-btn i { margin-right: 4px;}
a.ncc-btn-blue, a.ncc-btn-acidblue, a.ncc-btn-green, a.ncc-btn-orange, a.ncc-btn-red, a.ncc-btn-black,
a:hover.ncc-btn-blue, a:hover.ncc-btn-acidblue, a:hover.ncc-btn-green, a:hover.ncc-btn-orange, a:hover.ncc-btn-red, a:hover.ncc-btn-black { color: #FFF !important; text-shadow: 0 -1px 0 rgba(0,0,0,0.10);}
a.ncc-btn-blue { background-color: #006DCC; border-color: #0062B7 #0062B7 #005299 #0062B7;}
a.ncc-btn-acidblue { background-color: #49AFCD; border-color: #429DB8 #429DB8 #37839A #429DB8;}
a.ncc-btn-green { background-color: #5BB75B; border-color: #52A452 #52A452 #448944 #52A452;}
a.ncc-btn-orange { background-color: #FAA732; border-color: #E1962D #E1962D #BB7D25 #E1962D;}
a.ncc-btn-red { background-color: #DA4F49; border-color: #C44742 #C44742 #A33B37 #C44742;}
a.ncc-btn-black { background-color: #363636; border-color: #313131 #313131 #282828 #313131;}
a:hover.ncc-btn-blue { background-color: #0044CC; border-color: #003DB7 #003DB7 #003399 #003DB7;}
a:hover.ncc-btn-acidblue { background-color: #2F96B4; border-color: #2A87A2 #2A87A2 #237087 #2A87A2;}
a:hover.ncc-btn-green { background-color: #51A351; border-color: #499249 #499249 #3D7A3D #499249;}
a:hover.ncc-btn-orange { background-color: #F89406; border-color: #DF8505 #DF8505 #BA6F04 #DF8505;}
a:hover.ncc-btn-red { background-color: #BD362F; border-color: #AA312A #AA312A #8E2823 #AA312A;}
a:hover.ncc-btn-black { background-color: #222222; border-color: #1F1F1F #1F1F1F #191919 #1F1F1F;}

/* 购物车头部内容
------------------------------------*/
.ncc-wrapper { width: 1000px; margin: 0 auto;}
.ncc-head-layout { display: block; width: 1000px; height: 100px; margin: 0 auto; overflow: hidden;}
.ncc-head-layout .site-logo { float: left; width: 240px; height: 60px; margin: 20px 0;}
.ncc-head-layout .site-logo a { display: block;}
.ncc-head-layout .site-logo img { max-width: 240px; max-height: 60px;}
/* 步骤 */
.ncc-flow { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 640px; height: 70px; float: right; margin: 15px 0; }
.ncc-flow li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 25%; height: 70px; position: relative; z-index: 1;}
.ncc-flow li { *display: inline/*IE6,7*/;}
.ncc-flow li i { background: #FFF url(../images/buy/buy_step.gif) no-repeat; width: 30px; height: 30px; margin-left: -15px; position: absolute; z-index: 2; top: 0; left: 50%;}
.ncc-flow li i.step1 { background-position: 0 0;}
.ncc-flow li i.step2 { background-position: -30px 0;}
.ncc-flow li i.step3 { background-position: -60px 0;}
.ncc-flow li i.step4 { background-position: -90px 0;}
.ncc-flow li p { font-size: 14px/24px arial,"microsoft yahei";  color: #CCC; text-align: center; width: 100%; height: 24px; position: absolute; z-index: 2; left: 0; bottom: 0; overflow: hidden;}
.ncc-flow li sub { background-color: #FFF; width: 5px; height: 5px; margin-left: -3px; border: solid 1px #CCC; border-radius: 4px; position: absolute; z-index: 2; top: 38px; left: 50%;}
.ncc-flow li .hr { *line-height: 1px; background-color: #DDD; width: 100%; height: 1px; border: none 0; position: absolute; z-index: 1; top: 29px;left: 0;}
.ncc-flow li.current i.step1 { background-position: 0 -30px;}
.ncc-flow li.current i.step2 { background-position: -30px -30px;}
.ncc-flow li.current i.step3 { background-position: -60px -30px;}
.ncc-flow li.current i.step4 { background-position: -90px -30px;}
.ncc-flow li.current p { color: #e44b50;}
.ncc-flow li.current sub { background-color: #e44b50; border-color: #e44b50; box-shadow: 0 0 0 2px rgba(0,153,204,0.15);}
.ncc-flow li.current .hr { background-color: #e44b50;}

/*购物车为空
-----------------------------------*/
.ncc-null-shopping { width: 480px; height: 340px; margin: 0 auto; position: relative; z-index:1; overflow:hidden; }
.ncc-null-shopping i.ico { background: url(../images/buy/cart.png) no-repeat 0 0; width: 180px; height: 180px; position:absolute; z-index: 1; top: 80px; left:0;}
.ncc-null-shopping i.ico-gift { background: url(../images/buy/gift.png) no-repeat 0 0; width: 180px; height: 180px; position:absolute; z-index: 1; top: 80px; left:0;}
.ncc-null-shopping h4 { font: lighter 22px/30px "microsoft yahei"; color: #777; position: absolute; z-index: 1; top: 110px; left: 180px; }
.ncc-null-shopping p { position: absolute; z-index: 1; top: 160px; left: 180px; }
.ncc-null-shopping p i { font-size: 14px; margin-right: 6px;}

/* 购物车内容部分
-----------------------------------*/
.ncc-main {}
.ncc-title { height: 50px; padding: 15px 0; border: solid #F7F7F7; border-width: 1px 0 0;}
.ncc-title h3 { font: lighter 24px/30px arial,"microsoft yahei"; color: #555;}
.ncc-title h5 { font: 12px/20px arial,"microsoft yahei"; color: #AAA;}
.ncc-title h5 a { color: #e44b50;}
.ncc-table-style { width: 100%; border-collapse: collapse; border-style: solid; border-width: 2px 1px; border-color: #AAA #DDD;}
.ncc-table-style thead th { line-height: 20px; color: #666; background-color: #F9F9F9; text-align: center; height: 20px; padding: 8px 0; border-bottom: solid 1px #DDD;}
.ncc-table-style tbody th { font-size: 12px; line-height: 20px; color: #333; height: 20px; background-color: #DAF0FE; padding: 8px; border-bottom: solid 1px #DDD;}
.ncc-table-style tbody th .store-sale { font-size: 12px; display: inline-block; float: right;}
.ncc-table-style tbody th .store-sale em { font-size: 12px; line-height: 14px; color: #FFF; background-color: #090; vertical-align: middle; display: inline-block; height: 14px; padding: 2px 6px; border-radius: 10px; margin-right: 4px;}
.ncc-table-style .store-sale .ncc-store-gift { vertical-align: middle; display: inline-block; width: 24px; height: 24px; margin-left: 4px; position: relative; z-index: 1;}
.ncc-table-style .store-sale .ncc-store-gift img { width: 24px; height: 24px; position: absolute; z-index: 1; top: 0; left: 0; }
.ncc-table-style .store-sale .ncc-store-gift:hover { z-index: 2; }
.ncc-table-style .store-sale .ncc-store-gift:hover img { display: block; width: 40px; height: 40px; top: -10px; left: -10px; box-shadow: 4px 4px 0 rgba(153,153,153,0.25);transition:ease-in-out 0.25s;}

.ncc-table-style tbody tr td { background-color: #FFF; padding: 8px 0; text-align: center; border-bottom: solid 1px #DDD;}
.ncc-table-style tbody tr.shop-list td { background-color: #FFFDEE;}
.ncc-table-style tbody tr td.pd-account { background-color: #FFAA01; padding: 2px;}
.ncc-table-style tfoot td { background: #F9F9F9; text-align: right; height: 30px; padding: 10px 0;}

.ncc-table-style a { color: #333;}
.ncc-table-style a:hover { color: #C00;}
.ncc-table-style i { margin-right: 4px;}
.ncc-table-style .ncc-goods-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; overflow: hidden;}
.ncc-table-style .ncc-goods-thumb img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}
.ncc-table-style .ncc-goods-info { display: block; }
.ncc-table-style .ncc-goods-info dt { line-height: 20px; height: 20px;}
.ncc-table-style .ncc-goods-info dd { line-height: 16px; color: #999; margin-top: 4px;}
.ncc-table-style .ncc-goods-info dd span.xianshi,.ncc-table-style .ncc-goods-info span.zengpin { color: #FFF; background-color: #FD6760; padding: 1px 4px;}
.ncc-table-style .ncc-goods-info dd span.xianshi strong,.ncc-table-style .ncc-goods-info dd span.groupbuy strong { font-size: 14px; font-weight: 600; margin: 0 2px;}
.ncc-table-style .ncc-goods-info dd span.xianshi em,.ncc-table-style .ncc-goods-info dd span.buldling em { color: #FF0; margin: 0 2px;}
.ncc-table-style .ncc-goods-info dd span.groupbuy,.ncc-table-style .ncc-goods-info span.buldling { color: #FFF; background-color: #DA542E; padding: 1px 4px;}
/*商品赠品*/
.ncc-goods-gift { line-height: 20px; color: #FFF; background-color: #F60; vertical-align: top; display: inline-block; *display: inline/*IE6、7*/; *zoom: 1/*IE6、7*/; padding: 2px 6px;}
.ncc-goods-gift-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: top; display: inline-block; *display: inline/*IE6、7*/; *zoom: 1/*IE6、7*/; }
.ncc-goods-gift-list li { vertical-align: top; display: inline-block; *display: inline; margin-right: 5px; *zoom: 1;}
.ncc-goods-gift-list .thumb { display: block; width: 24px; height: 24px; position: relative; z-index: 1;}
.ncc-goods-gift-list .thumb img { width: 24px; height: 24px; position: absolute; z-index: 1; top: 0; left: 0; }
.ncc-goods-gift-list .thumb:hover { z-index: 2; }
.ncc-goods-gift-list .thumb:hover img { display: block; width: 40px; height: 40px; top: -10px; left: -10px; box-shadow: 4px 4px 0 rgba(153,153,153,0.25);transition:ease-in-out 0.25s;}

.ncc-table-style a.add-substract-key { font: 14px/14px Arial; color: #777; text-decoration: none; background-color: #F5F5F5; letter-spacing: normal; word-spacing: normal; text-align: center; vertical-align: middle; display: inline-block; width: 14px; height: 14px; margin: 0 4px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer; *display: inline/*IE6,7*/; *zoom: 1;}
.ncc-table-style a:hover.add-substract-key { color: #FFF; background-color: #49AFCD; border-color: #429DB8 #429DB8 #37839A #429DB8; text-decoration:none;}
.ncc-bottom { width: 100%; padding: 20px 0; overflow: hidden;}
.ncc-msg-textarea { vertical-align: top; height: 20px; resize: none; width: 400px;}
.ncc-msg-textarea:focus { height: 40px;}

.ncc-receipt-info { color: #777; padding: 9px 19px; border: solid 1px #EEE;}
.ncc-receipt-info-title { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; height: 22px; padding: 4px 0;}
.ncc-receipt-info-title h3,
.ncc-receipt-info-title a { font: 16px/20px arial,"microsoft yahei"; color: #333; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block;}
.ncc-receipt-info-title a { font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #e44b50; margin-left: 10px;}
.ncc-receipt-info-title h3, .ncc-receipt-info-title a { *display: inline/*IE6,7*/;}
.ncc-receipt-info-title h3 strong { font: bold 18px/20px Verdana; color: #F30; margin-left: 4px;}
.ncc-receipt-info.current_box { color: #534535; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3FFFF5CC', endColorstr='#3FFFF5CC');background:rgba(255,245,204,0.25); padding: 7px 17px; border: solid 3px #D93600;}

.ncc-receipt-info .fcode-form { width: 400px; margin: 20px auto;}
.ncc-receipt-info .fcode-form .text { font-size: 16px; vertical-align: middle; padding: 4px; width: 300px; height: 24px;}
.ncc-receipt-info .fcode-form .button { font-weight: 600; color: #555; background-color: #EEE; vertical-align: middle; width: 80px; height: 34px; border: solid 1px #AAA; cursor: pointer;}
.ncc-receipt-info .fcode-hint { font: 18px/34px arial,"microsoft yahei"; color: #e44b50; text-align: center; width: 600px; height: 34px; margin: 20px auto;}
.ncc-receipt-info .fcode-hint i { font-size: 24px; margin-right: 10px;}
.ncc-candidate-items p { color: #888;}
.ncc-candidate-items p:hover { color: #e44b50}
.ncc-candidate-items p i { font-size: 16px; color: #e44b50; vertical-align: middle; margin-right: 4px;}

/* 表单提交样式 */
.ncc-form-default { }
.ncc-form-default dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; line-height: 20px; clear: both; padding: 0; margin: 0; overflow: hidden;}
.ncc-form-default dl:hover { background-color: #FFF5CC;}
.ncc-form-default dl:hover .hint { color: #666;}
.ncc-form-default dl.bottom { border-bottom-width: 0px;}
.ncc-form-default dl dt { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 15%; padding: 10px 1% 10px 0; margin: 0;}
.ncc-form-default dl dt { *display: inline/*IE6,7*/;}
.ncc-form-default dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.ncc-form-default dl dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 84%; padding: 10px 0 10px 0; }
.ncc-form-default dl dd { *display: inline/*IE6,7*/;}
.ncc-form-default dl dd p { clear: both;}
.ncc-form-default dl dd select { margin-right: 5px;}
/* 收货人信息 */
.ncc-candidate-items ul { overflow: hidden;}
.ncc-candidate-items li { line-height: 20px; display: block; min-height: 20px; padding: 5px 0 6px 0; margin-top: -1px; border-top: dotted 1px #E6E6E6;}
.ncc-candidate-items input[type="radio"], 
.ncc-candidate-items .radio,
.ncc-candidate-items label,
.ncc-candidate-items a { font-size: 12px;  vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block;}
.ncc-candidate-items .radio,
.ncc-candidate-items label,
.ncc-candidate-items a { *display: inline-block/*IE6,7*/; zoom: 1;}
.ncc-candidate-items input[type="radio"], 
.ncc-candidate-items .radio { margin: 0 5px;}
.ncc-candidate-items label { line-height: 20px; display: inline-block;}
.ncc-candidate-items span { line-height: 20px; vertical-align: middle; display: inline-block; height: 20px;}
.ncc-candidate-items .true-name { font-weight: 600; margin-right: 10px;}
.ncc-candidate-items .address { text-overflow: ellipsis; white-space: nowrap; max-width: 650px; margin-right: 20px; overflow: hidden;}
.ncc-candidate-items .phone { margin-right: 20px;}
.ncc-candidate-items label i { font-size: 14px; margin-right: 2px;}
.ncc-candidate-items .del { color: #D93600;}
.ncc-selected-item { background-color: #FFF5CC; font-size: 12px;}
/* 支付方式 */
.ncc-offpay-list { padding: 0 15px;}
.ncc-offpay-list:hover { background-color: #FFFDEE;}
.ncc-offpay-list dt { font: 12px/20px arial,"microsoft yahei"; color: #333; height: 20px; padding: 10px 0; }
.ncc-offpay-list dt strong { font-size: 14px; font-weight: 600; color: #F30; margin: 0 2px;}
.ncc-offpay-list dd { border-bottom: dotted 1px #E7E7E7;}
.ncc-offpay-list ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 350px; display: inline-block; *display: inline/*IE7*/; zoom: 1; }
.ncc-offpay-list ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; *display: inline/*IE7*/; width: 42px; height: 42px; margin: 0 8px 8px 0; zoom: 1;}

.ncc-offpay-list ul li span { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; border: solid 1px #CCC; overflow: hidden;}
.ncc-offpay-list ul li span img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}
.ncc-offpay-list label { display: inline-block; *display: inline/*IE7*/; zoom: 1; margin: 15px; vertical-align: top; }

.ncc-payment-showgoods { line-height: 20px; color: #005EA7; display: inline-block; padding: 0 5px;}
.ncc-payment-showgoods:hover { text-decoration: none; color: #FFF; background: #D93600; }
.ncc-payment-showgoods i { font-size: 14px; margin-right: 4px;}
.ncc-payment-showgoods-list { background-color: #FFF9D4; display: none; width: 270px; border: solid 1px #FEC500; position: absolute; z-index: 99;}
.ncc-payment-showgoods-list dl { display: block; clear: both; padding: 0 10px 5px 10px; overflow: hidden;}
.ncc-payment-showgoods-list dt { font-weight: 600; line-height: 20px; color: #D93600; display: block; border-bottom: dotted 1px #FEC500; margin-top: 5px;}
.ncc-payment-showgoods-list dd { display: block; margin-top: 3px;}
.ncc-payment-showgoods-list .goods-thumb { vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; *display: inline/*IE7*/; width: 32px; height: 32px; margin: 0 3px 3px 0; zoom: 1;}
.ncc-payment-showgoods-list .goods-thumb span { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 30px; height: 30px; float: left; border: solid 1px #FEC500; overflow: hidden;}
.ncc-payment-showgoods-list .goods-thumb span img { max-width: 30px; max-height: 30px; margin-top:expression(30-this.height/2); *margin-top:expression(15-this.height/2)/*IE6,7*/;}

.ncc-table-style td h3 { float: left; width: 340px; font-size: 12px; font-weight: normal; padding-left: 20px; }
.ncc-table-style td h3 a { display: block; margin-bottom: 5px; color: #333; text-decoration: none; }
.ncc-table-style td h3 a:hover { color: #c00; text-decoration: underline; }
.ncc-table-style td h3 .attr { color: #b4b4b4; background-image: none;}


.ncc-store-account { margin: 0 20px 20px 0;}
.ncc-store-account dl { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncc-store-account dl dt, .ncc-store-account dl dd  { font: normal 12px/28px Verdana, Arial; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; text-align: right; width: 100px; height: 28px; *zoom: 1;}
.ncc-store-account dl dt { color: #333; width: 300px;}
.ncc-store-account dl.freight dt, .ncc-store-account dl.freight dd { color: #999;}
.ncc-store-account dl.total dt, .ncc-store-account dl.total dd { color: #37839A; font-weight: 600;}
.ncc-store-account dl.mansong dt, .ncc-store-account dl.mansong dd, .ncc-store-account dl.voucher dd { color: #393;}
.ncc-store-account dl.mansong dt a { color: #393; text-decoration: underline;}
.ncc-store-account dl dd em { margin-right: 4px; vertical-align: middle;}
.ncc-pd-account { color: #333; background-color: #FFF9ED; text-align: right; padding: 8px;}
.ncc-pd-account em { font-weight: 600; font-size: 12px; font-family: Verdana, Arial; color: #000; margin: 0 5px;}
.ncc-all-account { font: normal 16px/32px "microsoft yahei", Arial; margin-right: 20px; }
.ncc-all-account em { font-size: 22px; color: #D93600; margin: 0 5px;}

/*支付方式*/
.ncc-payment-list { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncc-payment-list li { vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; width: 120px; padding: 10px 30px; margin: 11px; border: solid 1px #E6E6E6; border-radius: 4px; position: relative; z-index: 1;}
.ncc-payment-list li i { display: none;}
.ncc-payment-list li label { display: block; cursor: pointer;}
.ncc-payment-list li:hover,
.ncc-payment-list li.using { border: solid 2px #52A452; margin: 10px;}
.ncc-payment-list li.using i { background: url(../images/buy/pay-use.png) no-repeat 0 0; display: block; width: 32px; height: 32px; position: absolute; z-index: 1; top: 2px; left: 0px;}
.ncc-payment-list li .logo { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 50px; overflow: hidden;}
.ncc-payment-list li .logo img { max-width: 120px; max-height: 50px; margin-top:expression(50-this.height/2); *margin-top:expression(25-this.height/2)/*IE6,7*/;}
.ncc-payment-list li .predeposit { display: block; clear: both; margin-top: 10px;}
.ncc-payment-list li .predeposit p { font: 12px/18px "microsoft yahei"; color: #D93600; text-align: left; margin-top: 5px;}

/*支付完成回执*/
.ncc-finish-a { font: 18px/32px "microsoft yahei"; height: 32px; margin-top: 20px;}
.ncc-finish-a i { background: url("../images/buy/pay-use.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block; vertical-align: middle; margin-right: 8px; width: 32px; height: 32px; }
.ncc-finish-a span { font-weight: 600; color: #52A452; margin: 0 4px;}
.ncc-finish-a em { font: bold 18px/32px  Verdana, Geneva, sans-serif; color: #FF3300; margin: 0 4px;}
.ncc-finish-b, .ncc-finish-c { font: 14px/30px "microsoft yahei"; color: #999; margin: 5px 0 0 35px;}
.ncc-finish-b a { color: #e44b50;}
.ncc-finish-c i { font-size: 14px; margin-right: 2px;}

.voucher_list { margin-bottom: 20px; }
table.voucher_list { margin: 0 auto 30px auto; border: 1px solid #C2C8CF;}
table.voucher_list { border-bottom-width: 0;}
table.voucher_list td { font-size: 12px; line-height: 20px; padding: 6px 10px; border-bottom: 1px solid #C2C8CF;}
table.voucher_list td.radio { color: #3E4646; text-align: right; width: 10%;}
table.voucher_list td.fashion { color: #3E4646; width: 15%;}
table.voucher_list td.pay { color: #3E4646; background: #F3F3F3; width: 25%;}
table.voucher_list td.explain { color: #9499A3; width: 50%; }


.nopay { line-height: 20px; background-color: rgb(254, 243, 224); float: left; color: #C30; margin-left: 60px; _margin-left: 30px; height: 20px; padding: 6px 12px; border: 1px solid #fbd0aa;}
.nopay a { font-weight: 600; color: #06C; }
/* 满即送活动 */
.nc-mansong { background-color:#F7F7F7; border: solid 1px #D8D8D8; padding: 4px;}
.nc-mansong-container { background-color:#FFF; padding: 10px 10px 10px 80px; margin: 0; position: relative; z-index: 1;}
.nc-mansong-container:hover { background-color:#F7F7F7;}
.nc-mansong-ico { background: url(../images/shop/public.png) no-repeat scroll -590px -240px; display:block; width:50px; height:60px; position:absolute; z-index:1; top:20px; left:20px; }
.nc-mansong-content {}
.nc-mansong-content dt {}
.nc-mansong-content dt h3 { color:#555; line-height: 24px; display:inline-block;}
.nc-mansong-content dt time { color:#999; line-height: 24px; font-size: 14px; font-weight:normal; display:inline-block; margin-left: 10px; margin-bottom: 5px;}
.nc-mansong-remark { color:#999; line-height: 24px;}



.tabs-hide { display: none !important;}

/* 积分兑换商品
------------------------------------------- */
.ncc-point-flow { position: absolute; z-index: 1; top: -100px; right: 0;}
.ncc-point-flow li {width: 33.3333% !important;}
