@charset "utf-8";
/* ================================ */
/* 商城注册登录页面相关样式定义 			*/
/* Author:			j.k		*/
/* Copyright:		www.cnbiz.co.kr	*/
/* Create Date:		Aug-10-2012		*/
/* Retrofit Date:	Sep-01-2012		*/
/* ================================ */

label.error { color: #F30;}

.quick-login { background: #FFF; overflow: hidden; width: 278px; padding: 0 40px; }
.quick-login dl { width: 100%; margin: 0 auto; overflow: hidden;}
.quick-login dl dt { line-height: 20px; height:20px; margin: 8px 0 2px 0; text-shadow: 1px 1px 0 #FFF;}
.quick-login dl dd span { line-height: 28px; color: #999; margin-left:8px;}
.quick-login .text{ font-family: Tahoma; width: 250px; height: 24px; line-height: 24px; background-color:#FFF; padding: 1px 2px 3px 4px !important; padding: 3px 2px 1px 4px; border: solid 1px; border-color: #CCC #DDD #DDD #CCC; border-radius: 0; box-shadow: 2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if Webkie*/;}
.quick-login .text:focus{ background-color:#FFF; border-color: #CCC; box-shadow: 1px 1px 1px 0 #E7E7E7; -moz-box-shadow: 1px 1px 1px 0 #E7E7E7/* if FF*/; -webkit--box-shadow: 1px 1px 1px 0 #E7E7E7/* if Webkie*/;}

.quick-login ul { width: 100%; display:block; clear:both; margin: 20px auto 10px auto; padding-bottom:10px; overflow: hidden; border-bottom: solid 1px #E7E7E7;}
.quick-login ul li {line-height: 20px; color:#999;}
.quick-login ul li a { text-decoration:underline; font-weight:600; margin:0 2px;}
.quick-login ul li a.forget {  color: #FF7F00;}
.quick-login ul li a.register { color: #006DD9;}
.quick-login .enter { width: 100%; margin: 10px auto 20px auto; overflow: hidden;}
.quick-login .enter .submit { color:#FFF; font-weight:600; background: url(../images/login.png) no-repeat scroll 0px 0px;  width: 88px; height: 28px; padding: 0; margin: 0; border: 0; cursor:pointer; text-shadow: 1px 1px 0 #DB7800;}
.quick-login .enter .submit:hover { background: url(../images/login.png) no-repeat scroll 0px -28px; }
.quick-login .enter span {  border-left: dotted 1px #ccc; padding-left:6px; margin: 0 0 0 6px; line-height:28px;}
.quick-login .enter span a { background-image: url(../images/login.png); background-repeat: no-repeat; background-attachment: scroll; height: 28px; display: inline-block;}
.quick-login .enter span a.qq { background-position: -88px 0px; width: 78px;}
.quick-login .enter span a:hover.qq {background-position: -88px -28px; text-decoration:none;}
.quick-login .enter span a.sina { background-position: -166px 0px; width: 88px;}
.quick-login .enter span a:hover.sina {background-position: -166px -28px; text-decoration:none;}

.regist-now{
    color: #aaa;
    float: right;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-top: 30px;
}
.regist-now span{
        display: inline-block;
    vertical-align: top;
}
.regist-now .avatar{
    border-radius: 100%;
    height: 40px;
    margin-right: 6px;
    width: 40px;
    }
.regist-now .avatar img{
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

/* 注册表单样式 */
.nc-register-bg {
    background: #fafafa url("../images/register_bg.png") repeat scroll 50% 50%;
    height: 680px;
    overflow: hidden;
    width: 100%;
}
.nc-register-box {
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
    height: 560px;
    margin: 60px auto;
    padding: 10px;
    width: 860px;
}
.nc-register-layout {
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    height: 520px;
    overflow: hidden;
    padding: 19px;
    width: 820px;
}
.nc-register-layout .left {
    float: left;
    height: 520px;
    width: 600px;
}
.nc-register-mode {
    width: 580px;
}
.nc-login-layout .tabs-nav, .nc-register-layout .tabs-nav {
    border-bottom: 1px solid #e6e6e6;
    font-size: 0;
    word-spacing: -1em;
}
.nc-login-layout .tabs-nav li, .nc-register-layout .tabs-nav li {
    display: inline-block;
    height: 40px;
    letter-spacing: normal;
    margin-bottom: -1px;
    text-align: center;
    vertical-align: bottom;
    width: 50%;
    word-spacing: normal;
}
.nc-login-layout .tabs-nav li a, .nc-register-layout .tabs-nav li a {
    color: #999;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 13px;
    position: relative;
    z-index: 1;
}
.nc-login-layout .tabs-nav li a:hover, .nc-register-layout .tabs-nav li a:hover {
    color: #000;
    text-decoration: none;
}
.nc-login-layout .tabs-nav li a.tabulous_active, .nc-register-layout .tabs-nav li a.tabulous_active {
    border-bottom: 3px solid #f32613;
    color: #f32613;
    display: block;
}
.nc-login-layout .tabs-nav li a i, .nc-register-layout .tabs-nav li a i {
    border-color: #f32613 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 7px;
    bottom: -17px;
    display: none;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -4px;
    position: absolute;
    width: 0;
    z-index: 1;
}
.nc-login-layout .tabs-nav li a.tabulous_active i, .nc-register-layout .tabs-nav li a.tabulous_active i  {
    display: block;
}
.nc-login-layout .tabs-container, .nc-register-layout .tabs-container {
    position: relative;
    z-index: 1;
}
.nc-register-mode .tabs-content {
    padding: 50px 80px 0 100px;
}
.nc-login-form {
    display: block;
}
.nc-login-form dl {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    height: 52px;
    margin-top: -1px;
    position: relative;
    width: 398px;
    z-index: 1;
}
.nc-login-form dl.focus {
    border-color: #7abd54;
    z-index: 3;
}
.nc-login-form dl.error {
    border-color: #f32613 !important;
    z-index: 2;
}
.nc-login-form dl dt {
    color: #666;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding: 16px 0 16px 20px;
    width: 72px;
}
.nc-login-form dl dd {
    float: left;
    height: 28px;
    padding: 12px 0;
}
.nc-login-form dl dd .text {
    box-shadow:none !important;
    border: 0 none;
    font-family: "microsoft yahei";
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    width: 290px;
}
.nc-login-form dl .note {
    color: #ccc;
    height: 32px;
    left: 245px;
    line-height: 16px;
    position: absolute;
    top: 10px;
    width: 145px;
    z-index: 1;
}
.nc-login-form dl.focus .note {
    color: #7abd54;
}
.nc-login-form .code-div {
    height: 54px;
    width: 100%;
}
.nc-login-form .code-div dl {
    float: left;
    width: 277px;
}
.nc-login-form .code-div span {
    border: 1px solid #e6e6e6;
    float: left;
    height: 52px;
    margin: -1px 0 0 -1px;
    position: relative;
    width: 120px;
    z-index: 1;
}
.nc-login-form .code-div span img {
    height: 52px;
    width: 120px;
}
.nc-login-form .code-div span a {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    display: none;
    font-size: 14px;
    height: 52px;
    left: 0;
    line-height: 52px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 120px;
    z-index: 1;
}
.nc-login-form .code-div span:hover a {
    display: block;
}
.nc-login-form .clause-div {
    border: 0 none;
    color: #666;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    width: 400px;
}
.nc-login-form .clause-div dd {
    height: auto;
    padding: 0;
}
.nc-login-form .clause-div .checkbox {
    margin-right: 8px;
    vertical-align: middle;
}
.nc-login-form .tiptext {
    color: #999;
    line-height: 20px;
    margin: 15px 0;
}
.nc-login-form .tiptext a {
    background-color: #21b384;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 0 4px;
    padding: 0 8px;
    vertical-align: middle;
}
.nc-login-form .tiptext a:hover {
    background-color: #1fa67a;
    text-decoration: none;
}
.nc-login-form .tiptext a i {
    font-size: 14px;
    margin-right: 4px;
}
.nc-login-form .submit-div {
    margin-top: 15px;
}
.nc-login-form .submit-div .submit {
    background-color: #f32613 !important;
    background-image: none !important;
    border: 1px solid #d91e17;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: "microsoft yahei";
    font-size: 16px;
    font-weight: 600;
    height: 42px;
    width: 398px;
}
.nc-login-form label.error {
    background: #fff5d9 none no-repeat scroll 0 0;
    color: #000;
    height: 24px;
    left: 300px;
    line-height: 24px;
    padding: 8px 12px 8px 24px;
    position: absolute;
    text-align: left;
    top: 5px;
    white-space: nowrap;
    z-index: 2;
}
.nc-login-form label.error i {
    color: #ff875a;
    font-size: 24px;
    margin-right: 12px;
    vertical-align: middle;
}
.nc-login-form .clause-div label.error {
    right: 50px;
    top: -5px;
}
.nc-login-form .code-div label.error {
    left: auto;
    min-width: auto;
    right: 0;
}
.transition {
    transition: all 0.3s ease-in-out 0.3s;
}
.make_transist {
    transition: all 0.3s ease-in-out 0s;
}
.hidescale {
    opacity: 0;
    transform: scale(0.9);
}
.showscale {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
}
.hideleft {
    opacity: 0;
    transform: translateX(-100%);
}
.showleft {
    opacity: 1;
    transform: translateX(0px);
    transition-delay: 0.3s;
}
.hidescaleup {
    opacity: 0;
    transform: scale(1.1);
}
.showscaleup {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
}
.hideflip {
    opacity: 0;
    transform: rotateY(-90deg) scale(1.1);
    transform-origin: 50% 50% 0;
}
.showflip {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
    transform-origin: 50% 50% 0;
    transition-delay: 0.3s;
}
.tabulousclear {
    clear: both;
    display: block;
}
.nc-register-layout .right {
    border-left: 1px solid #e6e6e6;
    float: right;
    height: 500px;
    padding: 20px 0 0 19px;
    width: 200px;
}
.nc-register-layout .right h4 {
    color: #333;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}
.nc-register-layout .right .api-login {
    border-bottom: 1px dashed #e6e6e6;
    font-size: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.nc-register-layout .right .api-login a {
    display: inline-block;
    margin-left: 12px;
    vertical-align: top;
    width: 42px;
}
.nc-register-layout .right .api-login a i {
    background: rgba(0, 0, 0, 0) url("../images/login_pic.png") no-repeat scroll 0 0;
    display: block;
    height: 42px;
    width: 42px;
}
.nc-register-layout .right .api-login a.qq i {
    background-position: -126px -32px;
}
.nc-register-layout .right .api-login a.sina i {
    background-position: -168px -32px;
}
.nc-register-layout .right .api-login a.wx i {
    background-position: -210px -32px;
}
.nc-register-layout .right .reister-after li {
    color: #999;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 12px;
}
.nc-register-layout .right .reister-after i {
    background: rgba(0, 0, 0, 0) url("../images/login_pic.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    width: 24px;
}
.nc-register-layout .right .reister-after .ico01 i {
    background-position: 0 -76px;
}
.nc-register-layout .right .reister-after .ico02 i {
    background-position: -30px -76px;
}
.nc-register-layout .right .reister-after .ico03 i {
    background-position: -60px -76px;
}
.nc-register-layout .right .reister-after .ico04 i {
    background-position: -90px -76px;
}
.nc-register-layout .right .reister-after .ico05 i {
    background-position: -120px -76px;
}
.nc-register-layout .right .reister-after .ico06 i {
    background-position: -150px -76px;
}
.nc-login-layout {
    margin: 20px auto;
    position: relative;
    width: 1200px;
    z-index: 1;
}
.nc-login-layout .openid {
    color: #aaa;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: -70px;
    z-index: 1;
}
.nc-login-layout .openid span {
    display: inline-block;
    vertical-align: top;
}
.nc-login-layout .openid .avatar {
    border-radius: 100%;
    height: 40px;
    margin-right: 6px;
    width: 40px;
}
.nc-login-layout .openid .avatar img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.nc-login-layout .openid a {
    font-weight: 600;
    margin: 0 4px;
}
.nc-login {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    float: right;
    padding: 19px 19px 29px;
    position: relative;
    width: 440px;
    z-index: 1;
}
.nc-login .arrow {
    background: rgba(0, 0, 0, 0) url("../images/login_pic.png") no-repeat scroll -280px 0;
    height: 9px;
    left: 160px;
    position: absolute;
    top: -9px;
    width: 17px;
    z-index: 1;
}
.nc-login .tabs-container {
    margin-top: 30px;
    padding: 0 40px 20px;
}
.nc-login .tabs-content {
    width: 352px;
}
.nc-login .nc-login-form dl {
    width: 348px;
}
.nc-login .nc-login-form dl dd .text {
    width: 240px;
}
.nc-login .nc-login-form .code-div dl {
    width: 228px;
}
.nc-login .nc-login-form .handle-div {
    line-height: 20px;
    margin-top: 15px;
    overflow: hidden;
}
.nc-login .nc-login-form .handle-div .auto {
    color: #999;
    float: left;
}
.nc-login .nc-login-form .handle-div .auto .checkbox {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.nc-login .nc-login-form .handle-div .auto em {
    color: #ff3238;
    display: inline-block;
    line-height: 20px;
    margin-left: 6px;
    vertical-align: top;
}
.nc-login .nc-login-form .handle-div .forget {
    float: right;
}
.nc-login .nc-login-form .submit-div .submit {
    width: 348px;
}
.nc-login-api {
    font-size: 0;
    margin: 0 auto;
    width: 340px;
}
.nc-login-api h4 {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
.nc-login-api a {
    color: #aaa;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 24px;
    text-decoration: none;
    vertical-align: top;
}
.nc-login-api a i {
    background: rgba(0, 0, 0, 0) url("../images/login_pic.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    margin-right: 6px;
    vertical-align: middle;
    width: 32px;
}
.nc-login-api a.qq i {
    background-position: 0 0;
}
.nc-login-api a.sina i {
    background-position: -32px 0;
}
.nc-login-api a.wx i {
    background-position: -64px 0;
}
.nc-login-api a.qq:hover {
    color: #3eb6e8;
}
.nc-login-api a.qq:hover i {
    background-position: -96px 0;
}
.nc-login-api a.sina:hover {
    color: #f77260;
}
.nc-login-api a.sina:hover i {
    background-position: -128px 0;
}
.nc-login-api a.wx:hover {
    color: #4ea335;
}
.nc-login-api a.wx:hover i {
    background-position: -160px 0;
}
.nc-login-layout .left-pic {
    float: left;
    height: 409px;
    margin: 30px 0;
    position: relative;
    width: 720px;
    z-index: 1;
}
.nc-login-layout .left-pic img {
    left: 0;
    max-height: 409px;
    max-width: 720px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.nc-login-layout .left-pic span {
    font-family: "microsoft yahei";
    font-size: 24px;
    left: 100px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 220px;
    width: 250px;
    z-index: 2;
}
.nc-login-layout .left-pic p a {
    color: #fff;
    font-size: 12px;
    left: 165px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 270px;
    width: 120px;
    z-index: 2;
}
.nc-login-left {
    color: #626a73;
    display: inline;
    float: left;
    line-height: 22px;
    margin: 10px 0;
    width: 450px;
}
.nc-login-left h3 {
    color: #555;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 6px;
    margin-top: 2px;
}
.nc-login-left ol {
    border-bottom: 1px dashed #e7e7e7;
    margin-top: 20px;
    width: 420px;
}
.nc-login-left ol li {
    display: block;
    float: left;
    font-family: "microsoft yahei";
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    margin: 0 0 5px 10px;
    overflow: hidden;
    padding: 0 0 12px;
    vertical-align: middle;
    width: 200px;
}
.nc-login-left ol li i {
    background: rgba(0, 0, 0, 0) url("../images/login.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 48px;
    margin-right: 10px;
    vertical-align: middle;
    width: 48px;
}
.nc-login-left ol li.ico01 i {
    background-position: -256px 0;
}
.nc-login-left ol li.ico02 i {
    background-position: -304px 0;
}
.nc-login-left ol li.ico03 i {
    background-position: -352px 0;
}
.nc-login-left ol li.ico04 i {
    background-position: -256px -48px;
}
.nc-login-left ol li.ico05 i {
    background-position: -304px -48px;
}
.nc-login-left ol li.ico06 i {
    background-position: -352px -48px;
}
@media projection, screen {
.ui-tabs-hide {
    display: none;
}
}
@media print {
.ui-tabs-nav {
    display: none;
}
}
.ui-tabs-nav::after {
    clear: both;
    content: " ";
    display: block;
}
.ui-tabs-disabled {
    opacity: 0.4;
}
.ui-tabs-loading em {
    background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll 0 50%;
    padding: 0 0 0 20px;
}
* html .ui-tabs-nav {
    display: inline-block;
}
:first-child + html .ui-tabs-nav {
    display: inline-block;
}
