@charset "utf-8";
/* CSS Document */
a { color: #0279B9;}
a:hover { text-decoration: underline; color: #F33;}
.nc-appbar-tabs a.compare { display: none !important;}
.red { color: #DD5A43 !important;}
.blue { color: #e44b50 !important;}
.green { color: #69AA46 !important;}
.orange { color: #FF892A !important;}
.grey { color: #777777 !important;}
.hint { color: #BBB; line-height: 20px; }
.rmb-price { font-weight: 600; color: #666; background:url(../images/rmb_s.gif) no-repeat 0 3px; padding-left: 10px;}
.font_bold { font-weight: 600; color: #333 !important;}
.goods-price { font-family: Tahoma; font-size: 12px; font-weight: 700; color: #555;}
.goods-time { font-family: Tahoma; color: #999;}
.goods-freight { color: #999;}
.goods-pay { color: #69C;}
.goods-favorite { width: 10px; height: 10px; padding: 3px;  border-radius: 2px; display: inline-block; vertical-align: middle;}
a.goods-favorite:hover {background-color:#F5F5F5; border: 1px #CCC solid; padding: 2px; text-decoration:none;}


.store-name a { color: #0579C6;}
.noborder { border: none;}
.num{ color: #390; }
.price { color:#F60; font-weight: 600;}


/* 表单项属性
------------------------------------------- */
input[type="text"], input[type="password"], input.text, input.password { font: 12px/20px Arial; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 20px; padding: 4px; border: solid 1px #CCC; outline: 0 none;}
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.password:focus, textarea:focus { color: #333; border-color: #75B9F0; box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15); outline: 0 none;}
input[type="text"].error, input[type="password"].error, textarea.error { border-color: #ED6C4F; box-shadow: 0 0 0 2px rgba(232, 71, 35, 0.15); outline: 0 none;}
textarea, .textarea { font: 12px/18px Arial; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 54px; padding: 4px; border: solid 1px #CCC; outline: 0 none;}
select, .select { color: #777; background-color: #FFF; height: 30px; vertical-align: middle; *display: inline; padding: 4px; border: solid 1px #CCC; *zoom:1;}
select option, .select option { line-height: 20px; display: block; height: 20px; padding: 4px;}
.submit-border { display: inline-block; *display: inline/*IE6,7*/; border: solid 1px; border-color: #52A452 #52A452 #448944 #52A452; zoom:1;}
input[type="submit"], input.submit, a.submit { font-size: 12px; font-weight: bold; color: #FFF; text-shadow: 0 -1px 0 rgba(0,0,0,0.1); background-color: #5BB75B; display: block; height: 30px; padding: 0 20px 2px 20px; border: 0; cursor: pointer; }
.submit-border:hover { borderd-color: #499249 #499249 #3D7A3D #499249;}
input[type="submit"]:hover, input.submit:hover, a.submit:hover { text-decoration: none; color: #FFF; background-color: #51A351;}
input[type="file"] { line-height:20px; background-color:#FBFBFB; height: 20px; border: solid 1px #D8D8D8; cursor: default;}
.add-on { line-height: 28px; background-color: #E6E6E6; vertical-align: top; display: inline-block; text-align: center; width: 28px; height: 28px; border: solid #CCC; border-width: 1px 1px 1px 0}
.add-on { *display: inline/*IE6,7*/; zoom:1;}
.add-on i { font-size: 14px; color: #666; text-shadow: 1px 1px 0 #FFFFFF; *margin-top: 8px/*IE7*/;}

/*表单验证错误提示文字*/
label.error { font-size: 12px; color: #E84723; margin-left: 8px;}
label.error i { margin-right: 4px;}

/* 弹出框体 */
#dialog_manage_screen_locker { opacity:0!important;}
.dialog_wrapper { box-shadow: 0 0 0 2px rgba(153,153,153,0.25) !important; padding: 0!important; border-radius: 0!important;}


/* 按钮
-------------------------------------------*/
a.ncm-btn-mini { font: normal 12px/20px arial; color: #777; background-color: #F5F5F5; text-align: center; vertical-align: middle; display: inline-block; height: 20px; padding: 0 10px; margin-right: 2px; border-style: solid; border-width: 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncm-btn-mini { text-decoration: none; color: #333; background-color: #E6E6E6;border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncm-btn { font: normal 12px/20px "microsoft yahei"; color: #777!important; background-color: #F5F5F5; text-align: center; vertical-align: middle; display: inline-block; height: 20px; padding: 4px 12px; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: pointer;}
a:hover.ncm-btn { text-decoration: none; color: #333; background-color: #E6E6E6; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
a.ncm-btn-mini i, a.ncm-btn i { font-size: 14px !important; vertical-align: middle; margin: 0 4px 0 0 !important;}
a.ncm-btn-blue, a.ncm-btn-acidblue, a.ncm-btn-green, a.ncm-btn-orange, a.ncm-btn-red, a.ncm-btn-black,
a:hover.ncm-btn-blue, a:hover.ncm-btn-acidblue, a:hover.ncm-btn-green, a:hover.ncm-btn-orange, a:hover.ncm-btn-red, a:hover.ncm-btn-black, .ncm-table-handle a.btn-orange-current { color: #FFF !important; text-shadow: 0 -1px 0 rgba(0,0,0,0.10);}
a.ncm-btn-blue,
.ncm-table-handle a:hover.btn-blue  { background-color: #006DCC; border-color: #0062B7 #0062B7 #005299 #0062B7;}
a.ncm-btn-acidblue,
.ncm-table-handle a:hover.btn-acidblue { background-color: #49AFCD; border-color: #429DB8 #429DB8 #37839A #429DB8;}
a.ncm-btn-green,
.ncm-table-handle a:hover.btn-green { background-color: #5BB75B; border-color: #52A452 #52A452 #448944 #52A452;}
a.ncm-btn-orange,
.ncm-table-handle a:hover.btn-orange,
.ncm-table-handle a.btn-orange-current { background-color: #FAA732; margin: 0; border-style: solid; border-width: 1px; border-color: #E1962D #E1962D #BB7D25 #E1962D !important;}
a.ncm-btn-red,
.ncm-table-handle a:hover.btn-red { background-color: #DA4F49; border-color: #C44742 #C44742 #A33B37 #C44742;}
a.ncm-btn-black,
.ncm-table-handle a:hover.btn-black { background-color: #363636; border-color: #313131 #313131 #282828 #313131;}
a:hover.ncm-btn-blue{ background-color: #0044CC; border-color: #003DB7 #003DB7 #003399 #003DB7;}
a:hover.ncm-btn-acidblue { background-color: #2F96B4; border-color: #2A87A2 #2A87A2 #237087 #2A87A2;}
a:hover.ncm-btn-green { background-color: #51A351; border-color: #499249 #499249 #3D7A3D #499249;}
a:hover.ncm-btn-orange { background-color: #F89406; border-color: #DF8505 #DF8505 #BA6F04 #DF8505;}
a:hover.ncm-btn-red { background-color: #BD362F; border-color: #AA312A #AA312A #8E2823 #AA312A;}
a:hover.ncm-btn-black { background-color: #222222; border-color: #1F1F1F #1F1F1F #191919 #1F1F1F;}

/*表格操作按钮*/
.ncm-table-handle { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-table-handle span { vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; padding: 0 4px; border-left: solid 1px #E6E6E6;}
.ncm-table-handle span { *display: inline/*IE6,7*/;}
.ncm-table-handle span:first-child { border-left: none 0;}
.ncm-table-handle span a { color: #777; background-color: #FFF; display: block; padding: 3px 7px; margin: 1px;}
.ncm-table-handle span a i { font-size: 14px; line-height: 16px; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.ncm-table-handle span a p { font: 12px/16px arial; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.ncm-table-handle span a:hover { text-decoration: none; color: #FFF; margin: 0; border-style: solid; border-width: 1px;}

/*上传按钮*/
.ncm-upload-btn { vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-right: 5px;  width: 80px; height: 30px; *zoom:1;}
.ncm-upload-btn a { display: block; position: relative; z-index: 1;}
.ncm-upload-btn span { width: 80px; height: 30px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer;}
.ncm-upload-btn .input-file { width: 80px; height: 30px; padding: 0; margin: 0; border: none 0; opacity:0; filter: alpha(opacity=0); cursor: pointer; }
.ncm-upload-btn p { font-size: 12px; line-height: 20px; background-color: #F5F5F5; color: #999; text-align: center; color: #666; width: 78px; height: 20px; padding: 4px 0; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; position: absolute; left: 0; top: 0; z-index: 1;}
.ncm-upload-btn p i { vertical-align: middle; margin-right: 4px;}
.ncm-upload-btn a:hover p { background-color: #E6E6E6; color: #333; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;} 

i[class*="icon-"] { font-size: 14px; margin-right: 4px;}

/*方形图裁切*/
.pic-cut-100, .pic-cut-120 { font-size: 12px; line-height: 20px; color: #555; width: 632px; height: 520px; margin: 20px auto; position: relative; z-index: 1; }
.pic-cut-120 { width: 652px; margin: 30px auto;}
.pic-cut-100 .work-title, .pic-cut-120 .work-title { font-size: 12px; line-height: 20px; text-align: center; width: 500px; position: absolute; z-index: 1; top: 0; left: 0;}
.pic-cut-100 .work-layer, .pic-cut-120 .work-layer { background: #FFF; padding: 1px; border: dashed 1px #777; position: absolute; z-index: 1; top: 20px; left:0;}
.pic-cut-100 .work-layer p, .pic-cut-120 .work-layer p { background: url(../images/member/cut_bg.png) repeat 0 0; display: block; width: 500px; height: 500px; overflow: hidden;}
.pic-cut-100 .thumb-layer, .pic-cut-120 .thumb-layer { padding: 1px; border: dashed 1px #777; position: absolute; z-index: 1; top: 20px; right: 0;}
.pic-cut-100 .thumb-layer p { width: 100px; height: 100px; overflow: hidden;}
.pic-cut-120 .thumb-layer p { width: 120px; height: 120px; overflow: hidden;}
.pic-cut-100 .thumb-layer p img, .pic-cut-120 .thumb-layer p img { margin: 0; display: inline;}
.pic-cut-100 .thumb-title, .pic-cut-120 .thumb-title { text-align: center; width: 104px; position: absolute; z-index: 1; top: 0; right: 0;}
.pic-cut-120 .thumb-title { width: 124px;}
.pic-cut-100 .cut-help, .pic-cut-120 .cut-help { width: 100px; position: absolute; z-index: 1; top: 140px; right: 0;}
.pic-cut-120 .cut-help { width: 120px; top: 160px;}
.pic-cut-100 .cut-help h4, .pic-cut-120 .cut-help h4 { font-size: 12px; line-height: 28px; color: #333;}
.pic-cut-100 .cut-btn, .pic-cut-120 .cut-btn { position: absolute; z-index: 1; top:340px; left: 525px;}
.pic-cut .cut-btn { top:340px; left: 530px;}


/* 商品缩略图
-------------------------------------------*/
.ncm-goods-thumb-mini { width: 40px; height: 40px; border: solid 1px #F5F5F5;}
.ncm-goods-thumb-mini a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; overflow: hidden; }
.ncm-goods-thumb-mini a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}

.ncm-goods-thumb { width: 60px; height: 60px;}
.ncm-goods-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden; }
.ncm-goods-thumb a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/;}

.ncm-goods-thumb-120 { width: 120px; height: 120px;}
.ncm-goods-thumb-120 a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; overflow: hidden; }
.ncm-goods-thumb-120 a img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); *margin-top:expression(60-this.height/2)/*IE6,7*/;}

.ncm-store-pic { width: 60px; height: 60px;}
.ncm-store-pic a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden; }
.ncm-store-pic a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/; border-radius: 30px;}

/* 商品介绍 
-------------------------------------------*/
.ncm-goods-info {}
.ncm-goods-info dt { font-weight: 600;}
.ncm-goods-info dt a { color: #333;}
.ncm-goods-info dt a:hover { text-decoration: none; color: #F30;}
.ncm-goods-info dd { color: #777;}
.ncm-goods-price em,
.ncm-order-price em { font-family: Verdana, Arial; color: #EC4F4A;}

/* 图片滚动 
-------------------------------------------*/
.jcarousel-list-horizontal { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.jcarousel-container-horizontal { padding: 0 18px;}
.jcarousel-clip { overflow: hidden;}
.jcarousel-clip-horizontal { z-index: 1;}
.jcarousel-item {}
.jcarousel-item-horizontal { font-size: 12px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.jcarousel-direction-rtl .jcarousel-item-horizontal { margin-right: 0;}
.jcarousel-item-placeholder { background: #fff; color: #000;}
.jcarousel-prev-horizontal,
.jcarousel-next-horizontal { background: transparent url(../images/member/member_pics.png) no-repeat; width: 9px; height: 16px; padding: 10px 13px; position: absolute; z-index: 9; top: 50%; cursor: pointer;}
.jcarousel-prev-horizontal { background-position: -240px -40px; left: 0; }
.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus,
.jcarousel-prev-horizontal:active { background-position: -276px -40px;}
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active { background-position: -240px -40px; cursor: default;}
.jcarousel-next-horizontal { background-position: -240px -76px; right: 0; }
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus,
.jcarousel-next-horizontal:active { background-position: -276px -76px;}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active { background-position: -240px -76px; cursor: default;}

/* 翻页样式 */
.pagination { display: inline-block; margin: 0 auto;}
.pagination ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.pagination ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; margin: 0 0 0 -1px;}
.pagination ul li { *display: inline/*IE6、7*/; *zoom:1;}
.pagination li span { font: normal 14px/20px "microsoft yahei"; color: #AAA; background-color: #FAFAFA; text-align: center; display: block; min-width: 20px; padding: 8px; border: 1px solid #E6E6E6; position: relative; z-index: 1;}
.pagination li a span , 
.pagination li a:visited span { color: #005AA0; text-decoration: none; background-color: #FFF; position: relative; z-index: 1;}
.pagination li a:hover span, .pagination li a:active span{ color: #FFF; text-decoration: none !important; background-color: #D93600; border-color: #CA3300; position: relative; z-index: 9; cursor:pointer;}
.pagination li a:hover { text-decoration: none;}
.pagination li span.currentpage { color: #AAA; font-weight: bold; background-color: #FAFAFA; border-color: #E6E6E6; position: relative; z-index: 2;}

/* ============================
 * 买家中心及账户设置框架头部菜单样式
 * ============================ */
/*用户中心布局*/
.ncm-container { width: 1200px; margin: 0 auto 30px auto;}
.ncm-container .left-layout { width: 210px; float: left; margin-right: -1px;}
.ncm-container .right-layout { width: 990px; float: right; padding: 1px 0 0; margin-left: -1px;}
.ncm-container .right-layout .wrap { width: 980px; float: right;}

/*用户中心左侧内容*/
.ncm-l-top { background-color: #EC4F4A; width: 100%; height: 40px; position: relative; z-index: 3;}
.ncm-l-top h2 a { font-size: 14px; font-weight: 600; color: #FFF; height: 20px; float: left; padding: 10px 0 10px 20px;}
.ncm-l-top h2 a:hover { text-decoration: none;}
.ncm-l-top .set-btn { background: url(../images/member/member_pics.png) no-repeat 0 0; display: block; width: 20px; height: 20px; float: right; margin: 10px;}
.set-container-arrow { background: url(../images/member/member_pics.png) no-repeat -50px 0; display: none; width: 10px; height: 19px; position: absolute; z-index: 2; top: 10px; left: 205px;}
.set-container { background-color: #FFF; display: none; min-width: 530px; padding: 4px; border: solid 1px #E7E7E7; position: absolute; z-index: 1; top: -10px; left: 214px; box-shadow: 3px 3px 0 rgba(153,153,153,0.1);}
.set-container .title { width: 98%; height: 32px; margin: 0 auto; border-bottom: solid 1px #F5F5F5;}
.set-container .title h3 { font-size: 14px; line-height: 32px; font-weight: 600; color: #333; float: left; margin-left: 8px;}
.set-container .title .close-btn { background: url(../images/member/member_pics.png) no-repeat -30px 0; width: 17px; height: 17px; float: right; margin: 7px 3px auto auto;}
.set-container .tip { background-color: #F7F7F7; padding: 4px 8px; margin: 10px;}
.set-container .tip a { color: #005AA0; text-decoration: underline; margin-left: 4px;}
.set-container .menu-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 98%; margin: 0 auto;}
.set-container .menu-list dl { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; width: 22%; margin-left: 3%; *zoom: 1;}
.set-container .menu-list dt { font-weight: 600; color: #333; height: 20px; padding: 4px 0;}
.set-container .menu-list dd { line-height: 20px; height: 20px; padding: 3px 0;}
.set-container .menu-list dd:nth-child(7) { margin-top: 7px;}
.set-container .menu-list dd.checked { color: #B22D00; font-weight: 600;}
.set-container .menu-list dd .checkbox { vertical-align: middle; margin-right: 6px;}
.set-container .bottom { width: 98%; padding: 10px 0 5px 0; margin: 10px auto 0 auto; border-top: solid 1px #F5F5F5;}
.set-container .bottom .setting { color: #FFF; background-color: #E43E41; width: 46px; height: 26px; margin-left: 15px; border: none; border-radius: 3px; cursor: pointer;}
.set-container .bottom .cancel { color: #333; line-height: 24px; background-color: #F6F6F6; vertical-align: top; text-align: center; display: inline-block; *display: inline; width: 44px; height: 24px; margin-left: 5px; border: solid 1px #DDD; border-radius: 3px; *zoom: 1; cursor: pointer;}
.set-container .bottom a:hover { text-decoration: none;}

.ncm-user-info { background-color: #FD6760; padding: 15px 20px; overflow: hidden;}
.ncm-user-info .avatar { width: 72px; height: 72px; float: left; position: relative; z-index: 1;}
.ncm-user-info .avatar .frame { background: url(../images/member/member_pics.png) no-repeat 0 -30px; width: 72px; height: 72px; position: absolute; z-index: 2; top: 0; left: 0;}
.ncm-user-info .avatar img { width: 64px; height: 64px; position: absolute; z-index: 1; top: 4px; left: 4px;}
.ncm-user-info .new-message { font: 600 12px/16px Arial; color: #FFF; background-color: #EC4F4A; text-align: center; min-width: 16px; height: 16px; border: solid 2px #FFF;  border-radius: 8px;position: absolute; z-index: 3; top: 0; right: 4px;}
.ncm-user-info .handle { width: 80px; float: right;}
.ncm-user-info .handle a { line-height: 24px; color: #FECAC8; display: block; height: 24px; clear: both; }
.ncm-user-info .handle a:hover { color: #FFF; text-decoration: none;}
.ncm-user-info .handle i { font-size: 14px; margin-right: 5px;}
.ncm-user-info .name { font: 600 14px/20px "microsoft yahei"; color: #FFF; padding-top: 8px; display: block; clear: both;}


.ncm-sidebar { background-color: #FFF; margin-top: 6px; border: solid 1px #E7E7E7;}
.ncm-sidebar li.side-menu { width: 100%; margin: 0; border-bottom: dotted 1px #E7E7E7; overflow: hidden;}
.ncm-sidebar li.side-menu a { background: url(../images/member/member_pics.png) no-repeat -10px -180px; display: block; margin: 12px; cursor: pointer;}
.ncm-sidebar li.side-menu a:hover { text-decoration: none;}
.ncm-sidebar li.side-menu a.shrink { background-position: -10px -200px;}
.ncm-sidebar li.side-menu a h3 { font-size: 14px; font-weight: 600; color: #333; line-height: 20px; background: url(../images/member/member_pics.png) no-repeat -498px 9px; height: 20px; padding-left: 7px; display: block;}
.ncm-sidebar .side-menu ul { margin-bottom: 10px;}
.ncm-sidebar .side-menu ul li { width: 100%; }
.ncm-sidebar .side-menu ul li a { background: none; line-height: 20px; color: #777; width: auto; padding: 6px 0 6px 20px; margin: 0;}
.ncm-sidebar .side-menu ul li a:hover { color: #333; background: #FAFAFA;}
.ncm-sidebar .side-menu ul li.selected a { color: #000; background: #F0F0F0;}
.ncm-sidebar li.side-menu:first-child { background-color: #F7F7F7; border-bottom-style: solid;}
.ncm-sidebar li.side-menu:first-child li a:hover { background: #F0F0F0;}
.ncm-sidebar li.side-menu:first-child .selected a { color: #000; background: #E7E7E7;}
.ncm-sidebar li.side-menu:last-child { border-bottom: 0;}
.ncm-sidebar li.side-menu:first-child ul li:nth-child(6) { margin-top: 8px; padding-top: 8px; border-top: solid 1px #EEE;}

.ncm-quick-menu { background: #FF966E !important; margin-top: 0!important; border: none;}
.ncm-quick-menu li.side-menu-quick { background: #FF966E; width: 100%; margin: 0; overflow: hidden;}
.ncm-quick-menu li.side-menu-quick a { background: url(../images/member/member_pics.png) no-repeat -10px -220px; display: block; margin: 12px; cursor: pointer;}
.ncm-quick-menu li.side-menu-quick a:hover { text-decoration: none;}
.ncm-quick-menu li.side-menu-quick a.shrink { background-position: -10px -200px;}
.ncm-quick-menu li.side-menu-quick a h3 { font-size: 14px; font-weight: 600; color: #FFF; line-height: 20px; background: url(../images/member/member_pics.png) no-repeat -498px -21px; height: 20px; padding-left: 7px; display: block;}
.ncm-quick-menu .side-menu-quick ul { margin-bottom: 10px;}
.ncm-quick-menu .side-menu-quick ul li { width: 100%; }
.ncm-quick-menu .side-menu-quick ul li a { background: none; line-height: 20px; color: #FFF; width: auto; padding: 4px 0 4px 20px; margin: 0;}
.ncm-quick-menu .side-menu-quick ul li a:hover { background: #FA8465;}
.ncm-quick-menu .side-menu-quick ul li.selected a { color: #000; background: #F57A56;}


.ncm-index-container { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-index-container .normal,
.ncm-index-container .double { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; height: 250px; *zoom: 1; position: relative; z-index: 1;}
.ncm-index-container .normal { width: 33.3333%;}
.ncm-index-container .double {width: 66.6666%;}
.ncm-index-container .outline { background-color: #FFF; height: 100%; border: solid 1px #E7E7E7; margin: -1px;}
.ncm-index-container #account,
.ncm-index-container #security { height: 150px;}
.ncm-index-container #transaction,
.ncm-index-container #shopping { height: 320px;}
.ncm-index-container #transaction .outline { background-color: #FEFBF8;}
.ncm-index-container .normal:hover,
.ncm-index-container .double:hover { z-index: 2;}
.ncm-index-container .normal:hover .outline,
.ncm-index-container .double:hover .outline { border-color: #FD6760; box-shadow: 0 0 5px rgba(204,204,204,0.5);}
.ncm-index-container .more { line-height: 40px; text-align: center; width: 95%; height: 40px; margin: 8px auto 0 auto; border-top: dotted 1px #E7E7E7;}
.ncm-index-container .more a { color: #777;}
.ncm-index-container .more a:hover { text-decoration: none; color: #FD6760;}
.ncm-index-container .user-account { margin: 15px; overflow: hidden;}
.ncm-index-container .user-account ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; margin-left: -1px;}
.ncm-index-container .user-account li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 33%; border-left: solid 1px #E7E7E7; *zoom: 1/*IE7*/;}
.ncm-index-container .user-account li a { display: block; height: 100px; padding: 10px 0;}
.ncm-index-container .user-account li a:hover { text-decoration: none;}
.ncm-index-container .user-account li h5 { color: #666;}
.ncm-index-container .user-account li .icon { background: url(../images/member/member_pics.png) no-repeat; display: inline-block; *display: inline/*IE7*/; width: 32px; height:32px; margin: 5px auto; *zoom: 1/*IE7*/;}
.ncm-index-container .user-account #pre-deposit .icon { background-position: -240px 0;}
.ncm-index-container .user-account #voucher .icon { background-position: -275px 0;}
.ncm-index-container .user-account #points .icon { background-position: -310px 0;}
.ncm-index-container .user-account li .value { font-weight: 600; line-height: 28px; color: #999; display: block; clear: both;}
.ncm-index-container .user-account li .value em { font: 24px/28px Arial; color: #666; vertical-align: bottom; margin: 0 4px;}
.ncm-index-container .SAM { padding: 20px;}
.ncm-index-container .SAM-info { height: 20px; margin: 20px 0;}
.ncm-index-container .SAM-info strong { margin-right: 10px;}
.ncm-index-container #high strong { color: #393;}
.ncm-index-container #normal strong { color: #F60;}
.ncm-index-container #low strong { color: #F33;}
.ncm-index-container .SAM-info span { font-size: 0; line-height: 12px; background-color: #EEE; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 200px; height: 12px; border-radius: 6px; position: relative; z-index: 1; box-shadow: inset 1px 1px 1px rgba(204,204,204,1); *zoom: 1/*IE7*/;}
.ncm-index-container .SAM-info em { font-size: 0; line-height: 12px; background: url(../images/member/member_pics.png) no-repeat 0 -140px; display: block; height: 12px; position: absolute; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-index-container #high span em { width: 100%; border-radius: 6px;}
.ncm-index-container #normal span em { width: 66.6666%; border-radius: 6px 0 0 6px;}
.ncm-index-container #low span em { width: 33.3333%; border-radius: 6px 0 0 6px;}
.ncm-index-container .SAM-info a { color: #06C; margin-left: 10px;}

.ncm-index-container .SAM-handle {}
.ncm-index-container .SAM-handle span { color: #666; display: inline-block; *display: inline/*IE7*/; width: 48%; height: 20px; *zoom: 1/*IE7*/;}
.ncm-index-container .SAM-handle i { background: url(../images/member/member_pics.png) no-repeat; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 20px; height: 20px; *zoom: 1/*IE7*/;}
.ncm-index-container .SAM-handle i.mobile { background-position: -90px 0; margin-right: 4px;}
.ncm-index-container .SAM-handle i.mail { background-position: -110px 0; margin-right: 6px;}
.ncm-index-container .SAM-handle a { color: #FF966E;}
.ncm-index-container .SAM-handle em { color: #5BB75B;}
.ncm-index-container .title { margin: 15px;}
.ncm-index-container .title h3 { font-size: 14px; font-weight: 600; line-height: 16px; display: inline-block; height: 16px; padding-left: 5px; border-left: solid 3px #FD6760;}
.ncm-index-container .title ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: top; display: inline-block; *display: inline/*IE6、7*/; margin-left: 80px; overflow: hidden; *zoom: 1/*IE7*/;}
.ncm-index-container .title ul li { font-size: 12px; line-height: 14px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline; height: 14px; padding: 0 20px; margin-left: -1px; border-left: solid 1px #E7E7E7; *zoom: 1;}
.ncm-index-container .title ul li em { font-family: Arial; color: #999; margin: 0 4px;}
.ncm-index-container .title ul li a { text-decoration: none; color: #333;}
.ncm-index-container .title ul li a:hover, .ncm-index-container .title ul li a em { color: #FD6760;}
.ncm-index-container .null-tip { text-align: center; margin: 40px auto auto;}
.ncm-index-container #transaction .null-tip,
.ncm-index-container #shopping .null-tip { margin: 70px auto auto;}
.ncm-index-container .null-tip dt { background: url(../images/member/member_pics.png) no-repeat; display: inline-block; *display: inline/*IE7*/; width: 50px; height: 50px; margin: 0 auto; *zoom: 1/*IE7*/;}
.ncm-index-container #transaction dt { background-position: -80px -30px;}
.ncm-index-container #shopping dt { background-position: -130px -30px;}
.ncm-index-container #favoritesGoods dt,
.ncm-index-container #favoritesStore dt { background-position: -180px -30px;}
.ncm-index-container #friendsShare dt { background-position: -80px -80px;}
.ncm-index-container #circle dt { background-position: -130px -80px;}
.ncm-index-container #browseMark dt { background-position: -180px -80px;}
.ncm-index-container .null-tip dd {}
.ncm-index-container .null-tip h4 { font: 16px/24px "microsoft yahei"; color: #777}
.ncm-index-container .null-tip h5 { font: 12px/20px "microsoft yahei"; color: #BBB; margin-bottom: 12px;}
.ncm-index-container #transaction .null-tip h4 { color: #DD997F;} 
.ncm-index-container #transaction .null-tip h5 { color: #E8BCAA;}
/*交易提醒*/
.ncm-index-container .order-list {}
.ncm-index-container .order-list ul { width: 95%; margin: 0 auto;}
.ncm-index-container .order-list li { background-color: #FAECE0; padding: 8px; margin-bottom: 12px;}
.ncm-index-container .order-list .ncm-goods-thumb,
.ncm-index-container .order-list .ncm-goods-info,
.ncm-index-container .order-list .ncm-btn { vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-index-container .order-list .ncm-goods-thumb { position: relative; z-index: 1;}
.ncm-index-container .order-list .ncm-goods-thumb em { font-weight: 600; color: #FFF; background: #EC4F4A; padding: 0 4px; position: absolute; z-index: 1; top: 0; right: 2px;}
.ncm-index-container .order-list .ncm-goods-info { width: 430px; margin: 0 10px;}
.ncm-index-container .order-list .ncm-goods-info dt a { text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; max-width: 360px; *zoom:1/*IE7*/;overflow: hidden;}
.ncm-index-container .order-list .ncm-goods-info dt span { font-weight: normal; margin-left: 6px;}
.ncm-index-container .order-list .ncm-goods-info dt strong  { font-weight: 600; color: #EC4F4A; margin: 2px;}
.ncm-index-container .order-list .ncm-goods-info dd span { display: inline-block; *display: inline/*IE7*/; *zoom:1/*IE7*/;}
.ncm-index-container .order-list .ncm-goods-info .order-date { width: 200px;}
.ncm-index-container .order-list .ncm-goods-info .order-state a { margin-left: 8px; color: #099; text-decoration: none;}
.ncm-index-container .order-list .ncm-goods-info .order-state a i { font-size: 14px; margin-right: 4px;}
.ncm-index-container .order-list .ncm-btn { margin-top: 15px;}
/*购物车*/
.ncm-index-container .cart-list {}
.ncm-index-container .cart-list ul { width: 95%; height: 216px; margin: 0 auto;}
.ncm-index-container .cart-list li { background-color: #FFF; padding: 0 8px; margin-bottom: 12px;}
.ncm-index-container .cart-list .ncm-goods-thumb,
.ncm-index-container .cart-list .ncm-goods-info { vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-index-container .cart-list .ncm-goods-info { width: 210px; margin: 0 0 0 10px;}
.ncm-index-container .cart-list .ncm-goods-info dt a {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 100%; *zoom:1/*IE7*/;}
.ncm-index-container .cart-list .ncm-goods-info dd span { display: inline-block; *display: inline/*IE7*/; *zoom:1/*IE7*/;}
.ncm-index-container .cart-list .ncm-goods-info dd .sale { line-height: 16px; color: #FFF; background-color: #EC4F4A; height: 16px; padding: 0 4px; margin-left: 8px;}
/*收藏商品*/
.ncm-index-container .ncm-favorites-goods .jcarousel-prev-horizontal,
.ncm-index-container .ncm-favorites-goods .jcarousel-next-horizontal { top: 25%;}
.ncm-index-container .ncm-favorites-goods li { text-align: center;}
.ncm-index-container .ncm-favorites-goods .ncm-goods-thumb-120 { margin: 0 auto; position: relative; z-index: 1;}
.ncm-index-container .ncm-favorites-goods .ncm-goods-price em { color: #FFF; background-color: #F33; padding: 0 4px; position: absolute; z-index: 1; bottom: 0; right: 0;}
.ncm-index-container .ncm-favorites-goods .ncm-goods-name { text-overflow: ellipsis; white-space: nowrap; display: block; height: 20px; padding: 0 6px; margin-top: 8px; overflow: hidden;}
/*收藏店铺\好友动态\我的圈子\我的足迹*/
.ncm-index-container .ncm-favorites-store,
.ncm-index-container .ncm-friends-share,
.ncm-index-container .ncm-circle,
.ncm-index-container .ncm-browse-mark { padding-top: 8px; height: 190px; overflow: hidden;}
.ncm-index-container .ncm-favorites-store li,
.ncm-index-container .ncm-friends-share li,
.ncm-index-container .ncm-circle li,
.ncm-index-container .ncm-browse-mark li { text-align: center;}
.ncm-index-container .ncm-favorites-store .ncm-store-pic,
.ncm-index-container .ncm-friends-share .ncm-friend-avatar,
.ncm-index-container .ncm-circle .ncm-circle-pic,
.ncm-index-container .ncm-browse-mark .ncm-goods-pic { width: 80px; height: 80px; margin: 0 auto;}
.ncm-index-container .ncm-favorites-store .ncm-store-pic a,
.ncm-index-container .ncm-friends-share .ncm-friend-avatar a,
.ncm-index-container .ncm-circle .ncm-circle-pic a,
.ncm-index-container .ncm-browse-mark .ncm-goods-pic a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 80px; height: 80px; overflow: hidden; }
.ncm-index-container .ncm-favorites-store .ncm-store-pic a img,
.ncm-index-container .ncm-friends-share .ncm-friend-avatar a img,
.ncm-index-container .ncm-circle .ncm-circle-pic a img,
.ncm-index-container .ncm-browse-mark .ncm-goods-pic a img { max-width: 80px; max-height: 80px; margin-top:expression(80-this.height/2); *margin-top:expression(40-this.height/2)/*IE6,7*/; border-radius: 40px;}
.ncm-index-container .ncm-favorites-store dl,
.ncm-index-container .ncm-friends-share dl,
.ncm-index-container .ncm-circle dl {}
.ncm-index-container .ncm-browse-mark {}
.ncm-index-container .ncm-favorites-store dt,
.ncm-index-container .ncm-friends-share dt,
.ncm-index-container .ncm-circle dt, 
.ncm-index-container .ncm-browse-mark dt { line-height: 16px; height: 32px; padding: 4px 8px 2px 8px; overflow: hidden;}
.ncm-index-container .ncm-favorites-store dd,
.ncm-index-container .ncm-friends-share dd,
.ncm-index-container .ncm-circle dd,
.ncm-index-container .ncm-browse-mark dd { color: #999; }
.ncm-index-container .jcarousel-skin-tango { height: 136px; overflow: hidden;}
.ncm-index-container .ncm-favorites-goods .jcarousel-skin-tango  { height: 144px;}
.ncm-index-container .normal .jcarousel-prev-horizontal, 
.ncm-index-container .normal .jcarousel-next-horizontal { top: 29px;}
.ncm-index-container .jcarousel-prev-horizontal, 
.ncm-index-container .jcarousel-next-horizontal { display: none !important;}
.ncm-index-container .jcarousel-skin-tango:hover .jcarousel-prev-horizontal, 
.ncm-index-container .jcarousel-skin-tango:hover .jcarousel-next-horizontal { display: block !important;}


/* ---------------------------------------- */
/* 用户中心右侧主体内容			   				*/
/* ---------------------------------------- */
.tabmenu { background-color: #FFF; width:100%; height: 38px; display: block; position: relative; z-index: 1;}
.tabmenu .tab { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FFF; height: 36px; border-bottom: solid 1px #E7E7E7;}
.tabmenu .tab li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1; margin-right: -1px;}
.tabmenu .tab li a { font-family: "microsoft yahei"; font-size: 12px; line-height: 20px; color: #666; background-color: #F7F7F7; display: block; height: 20px; padding: 7px 19px 8px 19px; border-style: solid; border-color: #E7E7E7; border-width: 1px 1px 0 1px;}
.tabmenu .tab li a:hover { text-decoration: none; color: #000; background-color: #E7E7E7; }
.tabmenu .tab .active a,
.tabmenu .tab .active a:hover { font-size: 14px; font-weight: 600; color: #E60012; background-color: #FFF; padding: 7px 19px 9px 19px; cursor: default;}

.tabmenu .text-intro { line-height: 20px; color: #999; position: absolute; z-index: 99; top: 5px; right: 5px;}
.tabmenu a.ncm-btn { padding: 5px 13px; position: absolute; z-index: 1; top: -2px; right: 0px;}


/* 内容部分通用搜索样式 */
.ncm-search-table { color: #999; width: 100%; border-bottom: solid 1px #E6E6E6;}
.ncm-search-table th { font-size: 12px; line-height: 22px; text-align: right; width: 50px; padding: 8px 8px 8px 0;}
.ncm-search-table td { text-align: left; padding: 8px 0;}
.ncm-search-table input.text { vertical-align: middle; width: 148px;}
.ncm-search-table .add-on { vertical-align: top;}
.ncm-search-table .submit-border { vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; margin: 0 2px; border-style: solid; border-width: 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; *zoom:1; }
.ncm-search-table .submit-border:hover { border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
.ncm-search-table input[type="submit"], 
.ncm-search-table input.submit, 
.ncm-search-table a.submit { font: 12px/28px "microsoft yahei"; color: #333; background-color: #F5F5F5; width: 64px; height: 28px; padding: 0; border: 0; cursor: pointer;}
.ncm-search-table input[type="submit"]:hover { background-color: #E6E6E6; color: #333; }


/* 内容部分通用表格样式 */
.ncm-default-table { line-height:20px; width: 100%; border-collapse: collapse; clear: both;}
.ncm-default-table thead th { color: #999; background-color: #FFF; text-align:center; height: 20px; padding: 8px 0; border-bottom: solid 1px #E7E7E7; }
.ncm-default-table thead td, 
.ncm-default-table tfoot th { background-color: #FFF; height: 20px; padding: 5px 0; border-bottom: solid 1px #E7E7E7;}
.ncm-default-table tfoot th { border-top: solid 1px #E6E6E6;}
.ncm-default-table thead td .checkall,
.ncm-default-table tfoot th .checkall { vertical-align: middle; display: inline-block; *display: inline/*IE7*/; margin: 0 4px 0 8px; *zoom: 1;}
.ncm-default-table thead td label, 
.ncm-default-table tfoot th label { color: #777; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; margin-right: 10px; cursor: pointer; *zoom:1;}
.ncm-default-table tbody th { background-color: #FAFAFA; border: solid #E6E6E6; border-width: 1px 0; padding: 4px 0;}
.ncm-default-table tbody th span { display: inline-block; vertical-align: middle; margin-right: 30px;}
.ncm-default-table tbody th span.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 240px; height: 20px; overflow: hidden;}
.ncm-default-table tbody th a.share-goods { float: right; margin-right: 10px; color: #999;}
.ncm-default-table tbody th a:hover.share-goods { color: #333; text-decoration: none;}
.ncm-default-table tbody th a.share-goods i { vertical-align: middle;}
.ncm-default-table tbody th a.order-trash { float: right; margin-right: 10px; color: #999; padding-right: 10px; border-right: solid 1px #DDD; margin-right: 10px;}
.ncm-default-table tbody th a:hover.order-trash { color: #F33; text-decoration: none;}
.ncm-default-table tbody th a.order-trash i { font-size: 14px; vertical-align: middle;}

.ncm-default-table tbody td { color: #999; background-color: #FFF; text-align: center; padding: 10px 0;}
.ncm-default-table tbody tr.bd-line td { border-bottom: solid 1px #E7E7E7;}
.ncm-default-table tbody td strong { color: #666;}
.ncm-default-table tfoot td { background-color: #FFF; text-align: center; padding: 10px 0;}
.ncm-default-table td .pic-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 32px; height: 32px; padding: 2px; border: solid 1px #F5F5F5; overflow: hidden;}
.ncm-default-table td .pic-thumb img { max-width: 32px; max-height: 32px; margin-top:expression(32-this.height/2); *margin-top:expression(16-this.height/2)/*IE6,7*/;}
.ncm-default-table td .goods-name { border: none; overflow: hidden;}
.ncm-default-table td .goods-name dt { font-size: 12px; line-height: 16px; color: #333; text-overflow: ellipsis; display: block; text-align: left; white-space: nowrap; max-width: 320px!important; height: 16px; padding-bottom: 4px; overflow: hidden;}
.ncm-default-table td .goods-name dt span { line-height: 16px; color: #FFF; background-color: #DA542E; display: inline-block; *display: inline/*IE7*/; height: 16px; padding: 1px 3px; border-radius: 2px; margin-right: 4px; zoom: 1;}
.ncm-default-table td .goods-name dd { line-height: 20px; display: block; height: 20px;}
.ncm-default-table td span.sale-type { line-height: 16px; color:#FFF; background-color: #FD6760; height: 16px; padding: 2px 4px; border-radius: 2px;}
.ncm-default-table td .goods-price { font-weight: 600; color: #666; background:url(../images/rmb_s.gif) no-repeat 0 3px; padding-left: 10px;}
/*订单赠品*/
.ncm-goods-gift {}
.ncm-goods-gift ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: inline-block; vertical-align: middle;}
.ncm-goods-gift li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin-right: 4px; *zoom: 1; }
.ncm-goods-gift li a {line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 30px; height: 30px; overflow: hidden;}
.ncm-goods-gift li a img { max-width: 30px; max-height: 30px; margin-top:expression(30-this.height/2);}


.order tbody.pay { box-shadow: 0 3px 0 rgba(204,204,204,0.15); }
.order tbody tr td.sep-row { height:12px; padding:0; border:0;}
.order tbody.pay tr td.sep-row { background-color: #FFF; padding:0; border:0;}
.order tbody tr:hover td.sep-row { background-color: #FFF; border:0; }
.order tbody tr th { border: solid 1px #E7E7E7; }
.order tbody.pay tr th { background-color: #FFF; border: solid 1px #F9DBCC; }
.order tbody tr td { border-bottom: 1px solid #E7E7E7; vertical-align: top; }
.order tbody.pay tr td { background-color: #FFF;  border-bottom: 1px solid #F9DBCC; vertical-align: top; }
.order tbody.pay tr td.pay-td { background-color: #FAECE0; padding: 9px 0;border: solid 1px #F9DBCC; text-align: left;}
.order tbody.pay tr td.pay-td span { font-weight: 600; color: #53514F;}
.order tbody.pay tr td.pay-td span em { font-size: 16px; color: #EC4F4A; font-weight: 600; vertical-align: middle;}
.order tbody tr td.bdl { border-left: 1px solid #E7E7E7; }
.order tbody tr td.bdr { border-right: 1px solid #E7E7E7; }
.order tbody.pay tr td.bdl { border-left: 1px solid #F9DBCC; }
.order tbody.pay tr td.bdr { border-right: 1px solid #F9DBCC; }

.order .norecord {border-bottom:0 !important;}


/* 警示信息文字 */
.warning-option { font-size: 0; line-height: 32px; color: #666; *word-spacing:-1px/*IE6、7*/; text-align: center; margin: 100px auto;}
.warning-option i { font-size: 24px; line-height: 32px; background: url(../images/nothing.gif) no-repeat 0 0; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 48px; height: 48px; margin-right: 8px;}
.warning-option span { font: 600 16px/48px "microsoft yahei"; vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block;}
.warning-option i, .warning-option span { *display: inline/*IE6,7*/;}

/* 验证错误提示 */
#warning { display: none; background: url(../images/member/warning_bg.png) no-repeat scroll 0px 0px; padding: 6px 12px 12px 100px; min-height: 60px;}
#warning label { display: block; margin: 4px 0 0 0;}
#warning label.error { font-family: "microsoft yahei"; font-size: 1.4em; line-height: 20px; color: #D50000; padding-left: 12px;}

.alert { color: #C09853; background-color: #FCF8E3; padding: 9px 14px; margin: 10px auto; border: 1px solid #FBEED5; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.alert a { color: #927036; text-decoration: underline;}
.alert h4 { font-size: 16px; font-weight: bold; line-height: 1.5em; margin-bottom: 2px;}
.alert-success { color: #468847; background-color: #DFF0D8; border-color: #D6E9C6;}
.alert-info { color: #3A87AD; background-color: #D9EDF7; border-color: #BCE8F1;}
.alert-error { color: #B94A48; background-color: #F2DEDE; border-color: #EED3D7;}
.alert-block { padding-top: 14px; padding-bottom: 14px;}
.alert ul { font-size: 12px;}
.alert li { margin-bottom: 6px;}
.alert li em { font-weight: 600; color: #F30; margin: 0 2px;}
.alert i { font-size: 14px; margin-right: 4px; vertical-align: middle;}


/* 通用页内表单提交类型样式 */
.ncm-default-form {}
.ncm-default-form h3 { font-weight: 600; line-height: 22px; color: #555; clear: both; background-color: #F5F5F5; padding: 5px 0 5px 12px; border-bottom: solid 1px #E7E7E7;}
.ncm-default-form dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; line-height: 20px; clear: both; padding: 0; margin: 0; border-bottom: dotted 1px #E6E6E6; overflow: hidden;}
.ncm-default-form dl:hover { background-color: #FCFCFC;}
.ncm-default-form dl:hover .hint { color: #666;}
.ncm-default-form dl.bottom { border-bottom-width: 0px;}
.ncm-default-form dl dt,
.ncm-default-form dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 14%; padding: 10px 1% 10px 0; margin: 0; *display: inline/*IE6,7*/; *zoom: 1;}
.ncm-default-form dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.ncm-default-form dl dd { text-align: left; width: 85%; padding: 10px 0 10px 0; }
.ncm-default-form dl dd span { display: inline-block; *line-height: 20px; *display: inline; *height: 20px; *margin-top: 6px; *zoom:1;}
.ncm-default-form dl dd p { clear: both;}
.ncm-default-form dl dd .hint { color: #AAA;}
.ncm-default-form div.bottom { text-align: center;}

.ncm-default-form .ncsc-upload-thumb { background-color: #FFF; display: block; border: dashed 1px #E6E6E6; position: relative; z-index: 1;}
.ncm-default-form .ncsc-upload-thumb:hover { border-style: solid; border-color: #e44b50;}
.ncm-default-form .ncsc-upload-thumb p { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block/*IE6,7*/; width: 100px; height: 100px; overflow: hidden;}
.ncm-default-form .ncsc-upload-thumb i { font-size: 48px; color: #CCC;}
.ncm-default-form .ncsc-upload-thumb a { font: 10px/14px Tahoma; background-color: #FFF; text-align: center; vertical-align: middle; display: none; width: 14px; height: 14px; border: 1px solid; border-radius: 8px 8px 8px 8px; position: absolute; z-index: 2; top: -8px; right: -8px;}
.ncm-default-form .ncsc-upload-thumb:hover a { color: #e44b50; display: block; border-color: #e44b50;}
.ncm-default-form .ncsc-upload-thumb:hover a:hover { text-decoration: none;}
.ncm-default-form .upload-appeal-pic { border: dotted 1px #D8D8D8; padding: 5px; width: 250px; margin-left: 32px;}
.ncm-default-form .upload-appeal-pic p { padding: 5px;}
.ncm-default-form .handle { height: 30px; margin: 10px 0;}

.bottom .submit-border { margin: 10px auto;}
.bottom .submit { font: 14px/36px "microsoft yahei"; text-align: center; min-width: 100px; *min-width: auto; height: 36px;}
.bottom a.submit { width: 100px; margin: 0 auto;}
.bottom .submit[disabled="disabled"] { color: #999; text-shadow: none; background-color: #F5F5F5; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: default;}
.bottom .ncm-btn { font-size: 14px; vertical-align: top; padding: 8px 19px; margin: 10px auto;}

/* 通用弹出式窗口样式 */
.eject_con { background-color: #FFF; overflow: hidden;}
.eject_con h3 { font: 14px/36px "microsoft yahei"; text-align: center; height: 36px; margin-top: 10px;}
.eject_con dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; line-height: 20px; clear: both; padding: 0; margin: 0; overflow: hidden;}
.eject_con dl dt,
.eject_con dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 19%; padding: 10px 1% 0 0; margin: 0; *display: inline/*IE6,7*/; *zoom: 1;}
.eject_con dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.eject_con dl dd { text-align: left; width: 80%; padding: 10px 0 0 0; }
.eject_con-list { margin-top: 4px;}
.eject_con-list li { line-height: 24px;}
.eject_con-list li .radio { vertical-align: middle; margin-right: 4px;}
.eject_con .bottom { background-color:#F9F9F9; text-align: center; border-top: 1px solid #EAEAEA; margin-top:12px; }
.eject_con .alert { margin: 5px;}
.ncmc-delivery { background-color: #F5F5F5; min-height: 250px; padding: 10px 5px 10px 20px; margin: 10px; position: relative; z-index: 1;}
.ncmc-delivery ul { width: 570px; height: 200px;}
.ncmc-delivery ul li { height: 20px; padding: 9px; margin: 1px;}
.ncmc-delivery ul li.select { background:#FFF; border: solid 1px #ff966e; margin: 0;}
.ncmc-delivery .delivery-map { background-color: #FFF; width: 250px; height: 250px; position: absolute; z-index: 1; top: 10px; right: 10px;}
.ncmc-delivery .pagination { clear: both;}
.ncmc-delivery .pagination ul { width: auto; height: auto;}
.ncmc-delivery .pagination ul li { height: auto; padding: 0;}
.ncmc-delivery .pagination ul li span { font-size: 12px; padding: 2px;}

 
 /* 评价评分样式 */
.raty { font-size: 0; line-height: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: middle; display: inline-block;}
.raty img { letter-spacing: normal; word-spacing: normal; display: inline-block; width: 16px; height: 16px; margin: 2px 0;}

/*订单详情相关
-------------------------------------------*/
.ncm-oredr-show { width: 980px; margin-left: 10px;}
.ncm-order-info { font-size: 0; *word-spacing:-1px/*IE6、7*/; border: solid 1px #D8D8D8; position: relative; z-index: 2;}
.ncm-order-details { background-color: #FBFBFB; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/; width: 359px; border-right: solid 1px #D8D8D8;}
.ncm-order-details .title { font-size: 12px; font-weight: 600; line-height: 20px; background-color: #F3F3F3; height: 20px; padding: 9px; border-bottom: solid 1px #D8D8D8;}
.ncm-order-details .content { display: block; width: auto; padding: 17px 17px 7px 17px;}
.ncm-order-details .content dl,
.ncm-order-contnet .daddress-info { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-bottom: 10px;}
.ncm-order-details .content dl.line { padding-top: 10px; border-top: dotted 1px #D8D8D8;}
.ncm-order-details .content dl dt,
.ncm-order-details .content dl dd,
.ncm-order-contnet .daddress-info dt,
.ncm-order-contnet .daddress-info dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-details .content dl dt { color: #888; width: 20%; }
.ncm-order-details .content dl dd { color: #666; width: 80%; }
.ncm-order-details .content dl dd span { margin-right: 6px;}
.ncm-order-details .content dl dd a,
.ncm-order-contnet .daddress-info dd a { color: #666; float: right; padding: 0 5px 0 10px; position: relative; z-index: 1;}
.ncm-order-details .content dl dd a:hover,
.ncm-order-contnet .daddress-info dd a:hover { text-decoration: none; color: #F33; z-index: 2;}
.ncm-order-details .content dl dd a i,
.ncm-order-contnet .daddress-info dd a i { font-size: 10px; margin-left: 4px;}
.ncm-order-details .content dl dd a .more,
.ncm-order-contnet .daddress-info dd a .more { background-color: #FBFBFB; display: none; width: 323px; padding: 10px; border: solid 1px #CCC; position: absolute; z-index: 1; right: -10px; top: 25px; box-shadow: 2px 2px 0 rgba(153,153,153,0.15)}
.ncm-order-details .content dl dd a:hover .more,
.ncm-order-contnet .daddress-info dd a:hover .more { display: block;}
.ncm-order-details .content dl dd a .more .arrow,
.ncm-order-contnet .daddress-info dd a .more .arrow { background: url(../images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 2px; top: -6px; right: 30px;}
.ncm-order-details .content dl dd a .more ul {}
.ncm-order-details .content dl dd a .more li,
.ncm-order-contnet .daddress-info dd a .more li { line-height: 24px; color: #888;}
.ncm-container #container { width: 320px; height: 320px;}

.ncm-order-details .content dl dd a .more li span,
.ncm-order-contnet .daddress-info dd a .more li span { color: #666; display: inline;}
.ncm-order-details .content dl dd .msg { text-align: left; margin-top: 5px;}
.ncm-order-details .content dl dd .msg a { float: none; padding: 0; margin-right: 5px;}
.ncm-order-condition { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 556px; *zoom: 1/*IE7*/; padding: 20px 30px; }
.ncm-order-condition dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; padding-bottom: 15px; margin-bottom: 20px; border-bottom: dotted 1px #E7E7E7;}
.ncm-order-condition dl dt, 
.ncm-order-condition dl dd { font: normal 16px/32px "microsoft yahei", Arial ; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-condition dl dt { margin-left: 30px;}
.ncm-order-condition dl dt i { font-size: 30px; font-weight: normal; vertical-align: middle; margin-right: 10px;}
.ncm-order-condition ul { margin-left: 40px;}
.ncm-order-condition li { display: block; margin-bottom: 10px;}
.ncm-order-condition li .ncm-btn-mini { margin: 0 5px;}
.ncm-order-condition li time { font-family: Tahoma; color: #C63; margin: 0 5px;}

.ncm-order-info .mall-msg { font-size: 12px; font-weight: 600; color: #999; position: absolute; z-index: 1; bottom: 5px; right: 10px;}
.ncm-order-info .mall-msg a { font-weight: normal; color: #06C; margin-left: 4px;}
.ncm-order-info .mall-msg a:hover { text-decoration: none;}
.ncm-order-step { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 30px; position: relative; z-index: 1;}
.ncm-order-step dl { font-size: 12px; line-height: 20px; background: url(../images/member/member_pics.png) no-repeat -285px -130px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 215px; height: 36px; margin: 50px 0 60px -1px; position: relative; z-index: auto; *zoom: 1/*IE7*/;}
.ncm-order-step dl.step-first { background-position: -240px -130px; width: 36px; margin-left: 50px;}
.ncm-order-step dl.long { background-position: -115px -370px; width: 385px;}
.ncm-order-step dl dt { font-weight: 600; text-align: center; width: 70px; position: absolute; z-index: 1; top: -30px; right: -12px;}
.ncm-order-step dl.current dt { color: #FD6760;}
.ncm-order-step dl dd.bg { background: url(../images/member/member_pics.png) no-repeat -280px -170px; display: none; width: 220px; height: 36px; position: absolute; z-index: 1; top: 0; right: 0;}
.ncm-order-step dl.step-first dd.bg { background-position: -240px -170px; width: 36px;}
.ncm-order-step dl.long dd.bg { background-position: -110px -410px; width: 390px;}
.ncm-order-step dl dd.date { font: 12px/20px Tahoma, Arial; color: #999; text-align: center; display: none; width: 120px; position: absolute; z-index: 2; bottom: -40px; right: -42px;}
.ncm-order-step dl.current dd { display: block;}
/*积分兑换订单详情页面的特殊性*/
.ncm-order-condition .ncm-order-step { margin: -5px;}
.ncm-order-condition .ncm-order-step dl { border: none; padding: 0;}
.ncm-order-condition .ncm-order-step dl dt { font-size: 12px; line-height: 20px; margin: 0;}
/*线下抢订单详情页面的特殊性*/
.ncm-order-step .code-list { font-size: 12px; background-color: #F9F9F9; width: 398px; padding: 9px; margin: -50px 0 0 400px; border: solid 1px #CCC; position: relative; z-index: 1; box-shadow: 3px 3px 0 rgba(153,153,153,0.05);}
.ncm-order-step .code-list .arrow { background: url(../images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 1; top: -6px; left: 90px;}
.ncm-order-step .code-list h5 { font-size: 14px; line-height: 16px; font-weight: 600; display: inline-block; height: 16px; padding-left: 5px; border-left: 3px solid #FD6760;}
.ncm-order-step .code-list h5 em { font-size: 12px; color: #e44b50;}
.ncm-order-step .code-list #codeList { max-height: 135px; position: relative; z-index: auto; overflow: hidden;}
.ncm-order-step .code-list ul { }
.ncm-order-step .code-list li { color: #999; background-color: #FCFCFC; padding: 4px; margin-top: 5px;}
.ncm-order-step .code-list li:hover { background-color: #FFF; box-shadow: 0 0 5px rgba(204,204,204,0.75);} 
.ncm-order-step .code-list li strong { font-family: Tahoma; font-size: 14px; font-weight: 600; color: #090; margin: 0 20px 0 5px;}
.ncm-order-step .code-list li.used { color: #F90; background-color: transparent; box-shadow: none;}
.ncm-order-step .code-list li.used strong { color: #999;}
.ncm-order-contnet { margin-top: 30px;}
.ncm-order-contnet .ncm-default-table { border: solid 1px #D8D8D8;}
.ncm-order-contnet tbody th,
.ncm-order-contnet tfoot th { background-color: #F3FAFE;}
.ncm-order-contnet tbody td.refund span { background-color: #69AA46; color: #FFF; margin-left: 4px; padding: 1px 2px;}
.ncm-order-contnet .order-deliver,
.ncm-order-contnet .daddress-info { margin: 5px 10px;}
.ncm-order-contnet .order-deliver span { margin-right: 30px;}
.ncm-order-contnet .order-deliver a { color: #0279B9; position: relative; z-index: 1;}
.ncm-order-contnet .order-deliver a:hover { color: #F33; text-decoration: none;}
.ncm-order-contnet .order-deliver a i { font-size: 10px; margin-left: 4px;}
.ncm-order-contnet .order-deliver a .more { line-height: 28px; background-color: #FBFBFB; display: none; width: 480px; padding: 10px; border: 1px solid #CCCCCC; position: absolute; z-index: 1; top: 20px; left: -200px; box-shadow: 2px 2px 0 rgba(153, 153, 153, 0.15);}
.ncm-order-contnet .order-deliver a .more .arrow { background: url("../images/member/member_pics.png") no-repeat scroll -140px 0 rgba(0, 0, 0, 0); width: 11px; height: 6px; position: absolute; z-index: 1; top: -6px; left: 220px;}
.ncm-order-contnet .order-deliver a:hover .more { color: #555; display: block;}

.ncm-order-contnet .daddress-info dt { color: #888; text-align: right; width: 28%; }
.ncm-order-contnet .daddress-info dd { color: #666; width: 72%; }
.ncm-order-contnet .daddress-info dd a .more { width: 280px; right: 0px; top: 25px;}
.ncm-order-contnet .daddress-info dd a .more .arrow { top: -6px; right: -5px;}
.ncm-order-contnet .ncm-store-sales { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 5px 10px;}
.ncm-order-contnet .ncm-store-sales dt,
.ncm-order-contnet .ncm-store-sales dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-contnet .ncm-store-sales dd { margin-right: 20px;}
.ncm-order-contnet .ncm-store-sales dd strong { color: #C33;}
.ncm-order-contnet .ncm-store-sales dd span { margin: 0 5px;}
.ncm-order-contnet tfoot td { background-color: #F5F5F5;}
.ncm-order-contnet tfoot td dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: right; clear: both; padding: 2px;}
.ncm-order-contnet tfoot td dl dt,
.ncm-order-contnet tfoot td dl dd { font-size: 12px; line-height: 20px; vertical-align: bottom; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-contnet tfoot td dl dt { width: 100px; text-align: right;}
.ncm-order-contnet tfoot td dl dd { min-width: 120px; text-align: left;}
.ncm-order-contnet tfoot td .sum {font-weight: 600; color: #666; }
.ncm-order-contnet tfoot td .sum em { font: 20px/24px Verdana, Arial; color: #C00; vertical-align: bottom; margin: 0 4px;}


/* 订单物流跟踪 */
.express-log { border: solid 1px #E7E7E7; background: #FAFAFA; margin: 10px 0; padding:10px;line-height: 28px;}
.express-log .loading { background: url(../images/loading.gif) no-repeat scroll left center; padding-left: 24px;}

/* 收藏夹*/
/*显示形式切换*/
.model-switch-btn { color: #777; vertical-align: top; display: inline-block; *display: inline; margin-left: 20px; *zoom: 1;}
.model-switch-btn a { line-height: 16px; text-decoration: none; color: #777; background-color: #F7F7F7; display: inline-block; *display: inline; text-align: center; width: 16px; height: 16px; padding: 3px 2px 1px 2px; margin-left: -1px; border: solid 1px #DDD; position: relative; z-index: 1; *zoom: 1;}
.model-switch-btn a:hover { color: #333; background-color: #E6E6E6;}
.model-switch-btn a i { font-size: 14px; margin: 0;}
.model-switch-btn a.current { color: #FFF; background-color: #FD6760; border-color: #EC4F4A; z-index: 2; cursor: default;}
.pic-model { width: 100%;}
.pic-model ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 976px; text-align: left; border: solid #EEE; border-width: 1px 0 0 1px}
.pic-model ul li { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 243px; height: 284px; margin: 0; border-color: #E6E6E6; border-style: solid; border-width: 0 1px 1px 0; position: relative; z-index: 1; *zoom: 1; overflow: hidden;}
.pic-model ul li.expired { background:#F7F7F7;}
.pic-model div.favorite-goods-thumb { background-color: #FFF; width: 220px; height: 220px; position: absolute; z-index: 1; top: 12px; left: 12px;}
.pic-model div.favorite-goods-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 220px; height: 220px; overflow: hidden; }
.pic-model div.favorite-goods-thumb a img { max-width: 220px; max-height: 220px; margin-top:expression(220-this.height/2); *margin-top:expression(110-this.height/2)/*IE6,7*/;}
.pic-model div.favorite-goods-info { width: 220px; height: 60px; padding: 220px 12px 10px 12px; position: absolute; z-index: 2; top: 0; left: 0;}
.pic-model div.favorite-goods-info dl {filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#F2FFFFFF', endColorstr='#F2FFFFFF');background:rgba(255,255,255,0.95);}
.pic-model div.favorite-goods-info dt { line-height: 18px; height: 36px; margin: 4px 0 0; overflow: hidden;}
.pic-model div.favorite-goods-info dt .checkitem { vertical-align: middle; margin-right: 4px;}
.pic-model div.favorite-goods-info dd {}
.pic-model dl dd .goods-name { line-height: 18px; height: 36px; padding: 2px 0; overflow: hidden;}
.pic-model dl dd .goods-price { height: 20px;}

.pic-model dl dt .checkitem { display:inline-block;}
.pic-model dl dd { width: 100%;}
.pic-model dl dd a.sns-share { display: block; width: 48px; height: 20px; float: right; overflow: hidden;}

.shop-new-goods .detail li a { display:block; width:120px; height:120px; border: solid 1px #E7E7E7;}
.shop-new-goods .operate{ color: #666; width:150px; float: right; margin-top:40px;}
.shop-new-goods .operate .status{ text-align: center; width: 150px; height: 39px; padding: 8px 0px;}
.shop-new-goods .operate .status li { width:65px; height: 40px; float: left; padding: 0px 5px;}
.shop-new-goods .operate .status li .number{ font-family: arial; font-size: 24px; font-weight: 700; color: #FF5400; line-height:32px;}
.shop-new-goods .operate .status li .kind { line-height:24px;}

/*评价晒图*/
/* ====================== */
/* 店铺简介边栏 -> info.php */
/* ====================== */
.ncm-evaluation-store {}
.ncm-evaluation-store .store-name { font: 600 14px/20px arial,"microsoft yahei"; color: #555; background-color: #F5F5F5; height: 20px; padding: 6px 10px; border-bottom: solid 1px #EEE;}
.ncm-evaluation-store .store-info { margin: 0 }
.ncm-evaluation-store .store-info dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; border-bottom: dotted 1px #E6E6E6; padding: 8px 10px;}
.ncm-evaluation-store .store-info dl dt,
.ncm-evaluation-store .store-info dl dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-evaluation-store .store-info dl dt { color: #666; text-align: right; width: 30%; }
.ncm-evaluation-store .store-info dl dd { color: #333; white-space: nowrap; text-overflow: ellipsis; width: 70%; overflow: hidden;}

.ncm-evaluation-store .store-info .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 79px; height: 17px; margin-right: 5px; *zoom: 1/*IE7*/;}
.ncm-evaluation-store .store-info .all-rate span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px;}
.ncm-evaluation-store .store-info .all-rate em { color: #DA542E; font-weight: 600; vertical-align: middle; margin-right: 2px;}

.ncm-evaluation-store .store-info .detail-rate { clear: both;}
.ncm-evaluation-store .store-info .detail-rate { color: #999; padding: 8px 16px; border-bottom: dotted 1px #E6E6E6;}
.ncm-evaluation-store .store-info .detail-rate h5 { color: #777; margin-bottom: 4px;}
.ncm-evaluation-store .store-info .detail-rate h5 strong { font-weight: 700; margin-right: 55px;}
.ncm-evaluation-store .store-info .detail-rate li { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 2px 0 2px 5px;}
.ncm-evaluation-store .store-info .detail-rate li span { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-evaluation-store .store-info .detail-rate .credit { color: #555; width: 35px; margin: 0 25px 0 5px;}
.ncm-evaluation-store .store-info .detail-rate i { color: #FFF; background: url(../images/2014grate.png) no-repeat; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 9px; height: 8px; margin-right: 4px; *zoom: 1/*IE7*/; }
.ncm-evaluation-store .store-info .detail-rate em { color: #FFF; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 40px; margin-left: 2px; *zoom: 1/*IE7*/;}
.ncm-evaluation-store .store-info .detail-rate .high { color: #DA542E;}
.ncm-evaluation-store .store-info .detail-rate .high i { background-position: 0 -40px; }
.ncm-evaluation-store .store-info .detail-rate .high em { background-color: #DA542E;}
.ncm-evaluation-store .store-info .detail-rate .equal { color: #DA542E;}
.ncm-evaluation-store .store-info .detail-rate .equal i { background-position: -18px -40px;}
.ncm-evaluation-store .store-info .detail-rate .equal em { background-color: #DA542E;}
.ncm-evaluation-store .store-info .detail-rate .low { color: #e44b50;}
.ncm-evaluation-store .store-info .detail-rate .low i { background-position: -9px -40px; }
.ncm-evaluation-store .store-info .detail-rate .low em { background-color: #e44b50;}


.ncm-evaluation-store .store-info .no-border { border: 0!important; padding-bottom: 0!important;}
.ncu-evaluation-store .ncu-form-style { float: right; width: 700px;}


.ncm-evaluation-list {}
.ncm-evaluation-timeline { text-align: left; display: block; padding: 5px 0 15px 0; margin: 30px 0 0 100px; border-left: solid 3px #F5F5F5; position: relative; z-index: 1;}
.ncm-evaluation-timeline .date { font: normal 11px/20px Verdana, Arial; color: #AAA; text-align: center; width: 200px; height: 20px; position: absolute; z-index: 2; top: -25px; left: -55px;}
.ncm-evaluation-timeline .goods-thumb { background-color: #F2F2F2; width: 60px; height: 60px; position: absolute; z-index: 1; top: 5px; left: -80px; }
.ncm-evaluation-timeline .goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height:60px; overflow: hidden;}
.ncm-evaluation-timeline .goods-thumb a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2);}
.ncm-evaluation-timeline .detail { margin: 0 0 0 20px;}
.ncm-evaluation-timeline .detail dt { display: block; margin-bottom: 10px; overflow: hidden;}
.ncm-evaluation-timeline .detail dt .user-name { font: bold 12px/20px "Microsoft Yahei"; color: #AAA; float: left;}
.ncm-evaluation-timeline .detail dt time { color: #CCC; float: right;}
.ncm-evaluation-timeline .detail dd { color: #999; margin-bottom: 4px;}
.ncm-evaluation-timeline .detail dd span { color: #555;}
.ncm-evaluation-timeline .detail dd.explain { color: #D93600; background-color: #FFC; border: dotted 1px #FEF4B1;}
.ncm-evaluation-timeline .detail .photos-thumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: middle; display: inline-block;}
.ncm-evaluation-timeline .detail .photos-thumb li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; text-align: center; width: 44px; margin-right: 6px; *zoom: 1;}
.ncm-evaluation-timeline .detail .photos-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; padding: 1px; border: solid 1px #E6E6E6; overflow: hidden;}
.ncm-evaluation-timeline .detail .photos-thumb a:hover { border-color: #D93600;}
.ncm-evaluation-timeline .detail .photos-thumb a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}


.evaluation-image { border-bottom: 1px dotted #E6E6E6; overflow: hidden;}
.evaluation-image ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 680px; margin: 15px -15px 0 0;}
.evaluation-image ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; text-align: center; width: 118px; margin-right: 16px; position: relative; z-index: 1; *zoom: 1;}
.evaluation-image ul li .upload-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 108px; height: 108px; padding: 4px; border: solid 1px #E6E6E6; position: relative; z-index: 1;}
.evaluation-image ul li .upload-thumb img { max-width: 110px; max-height: 108px; margin-top:expression(108-this.height/2); *margin-top:expression(54-this.height/2)/*IE6,7*/;}
.evaluation-image ul li .upload-thumb .del { font-size: 11px; line-height: 16px; color: #C8C8C8; background-color: #FFF; text-align: center; width: 16px; height: 16px; border: solid 1px #D7D7D7; border-radius: 9px; position: absolute; z-index: 1; top: -9px; right: -9px; -webkit-text-size-adjust:none;}
.evaluation-image ul li .upload-thumb .del:hover { color: #FFF; text-decoration: none; background-color:#F30; border-color: #F30;}
.evaluation-image .help { background-color: #FEFEFE; vertical-align: top; width: 280px; display: inline-block; border: dashed 1px #F2F2F2; padding: 9px; margin: 10px 0 0 20px;}
.evaluation-image .help dt { font: bold 12px/20px "microsoft yahei"; width: auto; display: block; padding: 0; margin-bottom: 8px;}
.evaluation-image .help dd { width: auto; display: block; padding: 0;}
.evaluation-image .upload-btn { vertical-align: top; display: inline-block; width: 100px; height: 30px; margin: 10px auto;}
.evaluation-image .upload-btn a { display: block; position: relative; z-index: 1;}
.evaluation-image .upload-btn span { width: 100px; height: 30px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer;}
.evaluation-image .upload-btn .input-file { width: 100px; height: 30px; padding: 0; margin: 0; border: none 0; opacity:0; filter: alpha(opacity=0); cursor: pointer; }
.evaluation-image .upload-btn p { font-size: 12px; line-height: 20px; background-color: #F5F5F5; color: #999; text-align: center; color: #666; width: 98px; height: 20px; padding: 4px 0; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; position: absolute; left: 0; top: 0; z-index: 1;}
.evaluation-image .upload-btn p i { vertical-align: middle; margin-right: 4px;}
.evaluation-image .upload-btn a:hover p { background-color: #E6E6E6; color: #333; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;} 



/* 退款详情相关
-------------------------------------------*/
.ncm-flow-layout,
.ncm-flow-item dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.ncm-flow-container,
.ncm-flow-item,
.ncm-flow-item dt,
.ncm-flow-item dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-flow-layout { width: 978px; border: solid 1px #DDD; margin-left: 10px;}
.ncm-flow-container { width: 657px; padding: 0 10px; border-right: solid 1px #DDD;}
/* 右侧商品订单 */
.ncm-flow-item { width: 280px; padding: 0 10px;}
.ncm-flow-item a { color: #e44b50;}
.ncm-flow-item .title { font-size: 14px; font-weight: 600; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncm-flow-item .item-goods dl { margin: 10px 0; padding-bottom: 10px; border-bottom: solid 1px #EEE;}
.ncm-flow-item .item-goods dt { width: 42px; padding: 0 10px;}
.ncm-flow-item .item-goods dd { width: 212px;}
.ncm-flow-item .item-goods dd a { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.ncm-flow-item .item-order dl { margin-bottom: 8px;}
.ncm-flow-item .item-order dl.line { padding-top: 10px; border-top: dotted 1px #D8D8D8;}
.ncm-flow-item .item-order dt { color: #888; text-align: right; width: 22%; margin-right: 1%;}
.ncm-flow-item .item-order dd { color: #666; width: 75%; }
.ncm-flow-item .item-order dl dd span { margin-right: 6px;}
.ncm-flow-item .item-order dl dd .a { color: #666; float: right; padding: 0 5px 0 10px; position: relative; z-index: 1;}
.ncm-flow-item .item-order dd a:hover { text-decoration: none; color: #F33; z-index: 2;}
.ncm-flow-item .item-order dl dd .a i { font-size: 10px; margin-left: 4px;}
.ncm-flow-item .item-order dl dd .a .more { background-color: #FBFBFB; display: none; width: 268px; padding: 10px; border: solid 1px #CCC; position: absolute; z-index: 1; right: -5px; top: 25px; box-shadow: 2px 2px 0 rgba(153,153,153,0.15)}
.ncm-flow-item .item-order dl dd .a:hover .more { display: block;}
.ncm-flow-item .item-order dl dd .a .more .arrow { background: url(../images/member/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 2px; top: -6px; right: 25px;}
.ncm-flow-item .item-order dl dd .a .more ul {}
.ncm-flow-item .item-order dl dd .a .more li { line-height: 24px; color: #888;}
.ncm-flow-item .item-order dl dd .a .more li span { color: #666; display: inline;}
/* 左侧内容详情 */
.ncm-flow-container .title { height: 20px; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncm-flow-container .title h3 { font-size: 14px; font-weight: 600; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-flow-container .refund-type-box { vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 100px; height: 20px; position: relative; z-index: 2; *zoom: 1/*IE*/;}
.ncm-flow-container .refund-type-box i { background: url(../images/member/member_pics.png) no-repeat -370px -90px; width: 17px; height: 17px; position: absolute; z-index: 1; top: 2px; right: 0;}
.ncm-flow-container .refund-type-box:hover i { background-position: -370px -107px;}
.ncm-flow-container .refund-type-text { font-size: 14px; font-weight: 600; color: #EC4F4A; width: 100%; height: 20px; user-select: none; -webkit-user-select: none; -moz-user-select: none; position: absolute; z-index: 2; top: 0; left: 0; cursor: pointer;}
.ncm-flow-container .refund-type-option { display: none; background: #fff; width: 100%; position: absolute; z-index: 1; top: 22px; left: -1px; border: 1px solid #CCC;}
.ncm-flow-container .refund-type-option li { height: 20px; padding: 4px; color: #555; cursor: pointer;}
.ncm-flow-container .refund-type-option li.seleced { background: #39F; color: #fff;}
/* 流程步骤 */
.ncm-flow-step { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 30px;}
.ncm-flow-step dl { font-size: 12px; line-height: 20px; background: url(../images/member/member_pics.png) no-repeat; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 36px; margin: 50px 0 60px -1px; position: relative; z-index: -1; *zoom: 1/*IE7*/;}
.ncm-flow-step dl.step-first { background-position: -240px -170px !important; width: 36px !important;}
.ncm-flow-step dl dt { font-weight: 600; color: #999; text-align: center; width: 120px; position: absolute; z-index: 1; top: -30px; right: -42px;}
.ncm-flow-step dl.current dt { color: #FD6760;}
.ncm-flow-step dl dd.bg { background: url(../images/member/member_pics.png) no-repeat; display: none; height: 36px; position: absolute; z-index: 1; top: 0; right: 0;}
.ncm-flow-step dl.step-first dd.bg { background-position: -240px -210px !important; width: 36px !important;}
.ncm-flow-step dl.current dd { display: block;}
/* 退款 */
#saleRefund .ncm-flow-step dl { background-position: -285px -130px; width: 215px; }
#saleRefund .ncm-flow-step dl.step-first { margin-left: 100px;}
#saleRefund .ncm-flow-step dl dd.bg {  background-position: -280px -170px; width: 220px;}
/* 退货 */
#saleRefundReturn .ncm-flow-step dl { background-position: -325px -130px; width: 175px;}
#saleRefundReturn .ncm-flow-step dl.step-first { margin-left: 50px;}
#saleRefundReturn .ncm-flow-step dl dd.bg {  background-position: -320px -210px; width: 180px;}
/* 投诉 */
#ncmComplainFlow .ncm-flow-step dl { background-position: -360px -130px; width: 140px;}
#ncmComplainFlow .ncm-flow-step dl.step-first { margin-left: 40px;}
#ncmComplainFlow .ncm-flow-step dl dd.bg {  background-position: -355px -250px; width: 145px;}
/* 举报 */
#ncmInformFlow .ncm-flow-step dl { background-position: -285px -130px; width: 215px;}
#ncmInformFlow .ncm-flow-step dl.step-first { margin-left: 100px;}
#ncmInformFlow .ncm-flow-step dl dd.bg {  background-position: -280px -170px; width: 220px;}
.ncm-inform-item {}
/* 提交表单 */
.ncm-flow-container .ncm-default-form dl dt { width: 19%;}
.ncm-flow-container .ncm-default-form dl dd { width: 79%;}
/* 举证图片列表 */
.ncm-evidence-pic { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.ncm-evidence-pic li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 60px; height: 60px; padding: 4px; margin-right: 10px; border: solid 1px #F5F5F5; *zoom: 1/*IE7*/;}
.ncm-evidence-pic li a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 100px; height:60px; overflow: hidden;}
.ncm-evidence-pic li a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2);}

/*交易投诉
-------------------------------------------*/

.ncm-complain-container .title { height: 20px; padding: 10px 0; border-bottom: solid 1px #EEE;}
.ncm-complain-container .title h3 { font-size: 14px; font-weight: 600; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-complain-talk { background-color: #FFF; border:1px dashed #EEE; max-height: 200px; word-break: normal; word-wrap: break-word; padding: 8px; overflow-y: scroll;}
.ncm-complain-talk .admin { color: black;}
.ncm-complain-talk .accuser { color: red;}
.ncm-complain-talk .accused { color: green;} 
 
 /* 账户信息设置
-------------------------------------------*/
.ncm-user-profile { background-color: #FFF; padding: 10px;}
.ncm-user-profile .user-avatar { width: 120px; height: 120px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-top: 5px; *zoom: 1/*IE7*/;}
.ncm-user-profile .user-avatar span { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; overflow: hidden; }
.ncm-user-profile .user-avatar span img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); *margin-top:expression(60-this.height/2)/*IE6,7*/; }
.ncm-user-profile .ncm-default-form { width: 830px; float: right;}

/* 会员设置-Tag标签 */
.user-tag-optional { background-color: #F9FAFC; min-height: 24px; padding:10px 10px 2px 10px; border: solid 1px #C4D5E0;}
.user-tag-optional span { line-height: 16px; color: #498CD0; background-color: #E8F2FF; display: inline-block; height: 16px; padding: 4px 6px; margin: 0 4px 8px 0; cursor: pointer;}
.user-tag-optional span:hover { color: #FFF; background-color: #498CD0;}
.user-tag-selected { border: dashed 1px #E7E7E7; min-height: 24px; padding:10px 10px 2px 10px; }
.user-tag-selected span { line-height: 16px; color: #555; background-color: #FEF6CE; display:inline-block; height: 16px; padding: 2px 4px; margin: 0 18px 8px 0; outline: 1px solid #EAD483; border: 1px solid #FFF;}
.user-tag-selected span:hover { margin: 0 2px 8px 0; cursor:default; }
.user-tag-selected span a { display: none; }
.user-tag-selected span:hover a { font-size: 0px; line-height: 0px; background: url(../images/member/member_pics.png) no-repeat scroll -390px -50px; vertical-align: middle; text-indent: 999%; display: inline-block; width: 12px; height: 12px; margin: auto 0 auto 4px; overflow: hidden; cursor: pointer;}
.user-tag-selected span:hover a:hover { background-position: -390px -65px;}
.user-tag-selected span.ep { line-height:22px; color: #CCC; background-color: #FFF; vertical-align: top; text-align: center; width: 72px; height: 22px; padding:0; margin: 0 4px 8px 0; outline: none; border: dashed 1px #CCC; }

/* 账户安全设置相关
-------------------------------------------*/
.ncm-security-user { background-color: #FFF; padding: 5px; margin-bottom: 30px;}
.ncm-security-user h3 { font: 16px/20px arial,"microsoft yahei"; color: #666; height: 20px; margin: 10px 0; }
.ncm-security-user .user-avatar { width: 80px; height: 80px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-top: 5px; *zoom: 1/*IE7*/;}
.ncm-security-user .user-avatar span { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 80px; height: 80px; overflow: hidden; }
.ncm-security-user .user-avatar span img { max-width: 80px; max-height: 80px; margin-top:expression(80-this.height/2); *margin-top:expression(40-this.height/2)/*IE6,7*/; }
.ncm-security-user .user-intro { vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-left: 20px; *zoom: 1/*IE7*/;}
.ncm-security-user .user-intro dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; height: 20px; margin-bottom: 3px;}
.ncm-security-user .user-intro dt,
.ncm-security-user .user-intro dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-security-user .user-intro dt { color: #999;}
.ncm-security-user .user-intro dd { color: #666;}
.ncm-security-user .user-intro dd span { color: #000;}
.ncm-security-user .user-intro dd span a { color: #F33; font-weight: 600; text-decoration: underline;}
.ncm-security-container { background-color: #FFF; border: solid 1px #E7E7E7;}
.ncm-security-container .title { color: #666; background-color: #F9F9F9; height: 20px; padding: 6px 10px; border-bottom: solid 1px #E7E7E7;}
.ncm-security-container .current { padding: 20px;}
.ncm-security-container .current strong { font: lighter 28px/32px arial,"microsoft yahei";}
.ncm-security-container .current span { color: #F63; vertical-align:middle; margin-left:10px;}
.ncm-security-container .low strong { color: #F30;}
.ncm-security-container dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 30px 40px; border-top: solid 1px #E7E7E7;}
.ncm-security-container dt,
.ncm-security-container dd,
.ncm-security-container dl span { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 50px; *zoom: 1/*IE7*/;}
.ncm-security-container dt { width: 25%;}
.ncm-security-container dd { width: 75%;}
.ncm-security-container dt .icon { background: url(../images/member/member_pics.png) no-repeat; width: 50px; height: 50px; position: relative; z-index: 1;}
.ncm-security-container dt .icon i { background: url(../images/member/member_pics.png) no-repeat -330px -90px; width: 23px; height: 23px; position: absolute; z-index: 1; right: 0; bottom: 0; }
.ncm-security-container #password .icon { background-position: 0 -300px;}
.ncm-security-container #email .icon { background-position: -50px -300px;}
.ncm-security-container #mobile .icon { background-position: -100px -300px;}
.ncm-security-container #paypwd .icon { background-position: -150px -300px;}
.ncm-security-container .item { text-align: center; height: 50px; margin-left: 20px;}
.ncm-security-container .item h4 { font: 18px/30px arial,"microsoft yahei"; color: #666; }
.ncm-security-container .item h6 { font: 12px/30px arial,"microsoft yahei"; color: #999; }
.ncm-security-container .explain { width: 480px; }
.ncm-security-container .handle { margin-left: 80px;}
.ncm-security-container dl.no .icon i { display: none;}
.ncm-security-container dl.no .item h6 { color: #F60;}
.ncm-security-container dl.no .handle .bd { display: block;}
.ncm-security-container dl.no .handle .jc { display: none;}
.ncm-security-container dl.yes .icon i { display: block;}
.ncm-security-container dl.yes .item h6 { color: #52BEA6;}
.ncm-security-container dl.yes .handle .bd { display: none;}
.ncm-security-container dl.yes .handle .jc { display: block;}

/* 好友-查找添加好友 */
.ncm-friend-find {}
.ncm-friend-find .search-form { padding: 20px 100px; margin: 0; border-bottom: dotted 1px #D8D8D8;}
.ncm-friend-find .complex { display: none; margin-top: 10px;}
.ncm-recommend-tag {}
.ncm-recommend-tag dl {}
.ncm-recommend-tag dt { font: 14px/32px arial,"microsoft yahei"; color: #666; border-bottom: dotted 1px #D8D8D8; }
.ncm-recommend-tag dt i { margin-left: 10px; margin-right: 4px;}
.ncm-recommend-tag dd { min-height: 120px; margin-top: 10px; position: relative; z-index:1;}
.ncm-recommend-tag dd .picture { width: 120px; height: 120px; position: absolute; z-index: 1; top:0px; left:0px;}
.ncm-recommend-tag dd .arrow { background: url(../images/member/member_pics.png) no-repeat -360px 0; width: 11px; height: 21px; position: absolute; z-index:2; top: 20px; left: 120px;}
.ncm-recommend-tag dd .content { background-color: #EEE; width: 800px; height: 100px; padding: 9px; border: solid 1px #CCC; border-radius: 5px;  position: absolute; z-index: 1; top:0px; left:130px;}
.ncm-recommend-tag dd .content p { font-size: 14px; line-height: 20px; height: 20px; text-overflow: ellipsis; white-space: nowrap; width: 640px; }
.ncm-recommend-tag dd .content .friends { width: auto; height: 70px; padding: 5px 0;}
.ncm-recommend-tag dd .content .friends h5 { line-height: 20px; margin: 4px 0 6px 0; color: #777; }
.ncm-recommend-tag dd .content .friends h5 strong { color: #C30; font-weight: normal; padding-right: 4px; padding-left: 4px;}
.ncm-recommend-tag dd .content .friends p { font-size: 0; line-height: 0; background: url(../images/member/member_pics.png) scroll no-repeat;	text-indent: 999px; display: inline-block; width: 13px; height: 19px; margin: 10px 2px; overflow: hidden;}
.ncm-recommend-tag dd .content .friends .F-prev { background-position: -390px -580px;}
.ncm-recommend-tag dd .content .friends .F-next { background-position: -410px -580px;}
.ncm-recommend-tag dd .content .friends .F-prev:hover { background-position: -390px -600px;}
.ncm-recommend-tag dd .content .friends .F-next:hover { background-position: -410px -600px;}
.ncm-recommend-tag dd .content .friends .list { display: inline-block; width: 480px; height: 40px; position: relative; z-index: 2; overflow: hidden; }
.ncm-recommend-tag dd .content .friends .list ul { width: 960px; height: 40px; position: absolute; top:0; left: 0;}
.ncm-recommend-tag dd .content .friends .list ul li { background-color: #FFF; white-space: nowrap; display: block; width: 40px; height: 40px; float: left; margin-right: 8px;}
.ncm-recommend-tag dd .content .friends a.care  { line-height: 16px; color: #FFF; background: none repeat scroll 0 0 #46970C; text-decoration: none; display:inline-block; float:right; padding: 4px 16px; margin:7px; border: 1px solid #368200;}



/* 我的好友列表 */
.ncm-friend-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 30px 0; }
.ncm-friend-list li { font-size: 12px; line-height: 20px; background-color: #FAFAFA; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 33.3333%; height: 90px; border: solid 1px #E7E7E7; margin: -1px; position: relative; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-friend-list li:hover { background-color: #FFF; border-color: #FD6760; z-index: 2; box-shadow: 0 0 6px rgba(204,204,204,0.5);}
.ncm-friend-list .avatar,
.ncm-friend-list .info,
.ncm-friend-list .follow { vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncm-friend-list .avatar { width: 60px; height: 60px; margin: 10px;}
.ncm-friend-list .avatar a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden;}
.ncm-friend-list .avatar img { max-width: 60px; max-height: 60px; margin-top: expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/; }
.ncm-friend-list .info { width: 155px; height: 60px; margin: 10px 0;}
.ncm-friend-list .info dt { height: 20px; margin-bottom: 4px;}
.ncm-friend-list .info dt a { font-size: 14px; color: #555; white-space: nowrap; text-overflow: ellipsis; display: inline-block; *display: inline/*IE7*/; max-width: 140px; height: 20px; overflow: hidden; *zoom: 1;}
.ncm-friend-list .info dt i { background: url(../images/member/member_pics.png) no-repeat; vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 16px; height: 16px; margin-left: 8px;}
.ncm-friend-list .info dt i.male { background-position: -320px -40px;}
.ncm-friend-list .info dt i.female { background-position: -340px -40px;}
.ncm-friend-list .info dd { color: #999;}
.ncm-friend-list .info dd a { color: #FF966E; display: none;}
.ncm-friend-list li:hover .info dd a { display: block; }
.ncm-friend-list .follow { margin: 10px 0;}
.ncm-friend-list .follow p { color: #999; margin: 5px 0 15px 0;}
.ncm-friend-list .follow p i { background: url(../images/member/member_pics.png) no-repeat -365px -40px; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 4px;}
.ncm-friend-list .follow a {}
.ncm-friend-list li dl dd.area { text-overflow: ellipsis; color: #999; margin-bottom: 5px; white-space: nowrap; overflow: hidden;}
.ncm-friend-list li dl dd .checkitem { float:left; margin-top: 4px;}

/* 站内信发送 */
.ncm-message-send { font-size: 0; *word-spacing:-1px/*IE6、7*/; border: solid  #E7E7E7; border-width: 0 1px 1px;}
.ncm-message-send-form,
.ncm-message-send-friend { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-message-send-form { width: 70%; border-right: solid 1px #E7E7E7; padding-top: 20px;}
.ncm-message-send-friend { width: 30%; margin-left: -1px; margin-right: -1px; border-left: solid 1px #E7E7E7; }
.ncm-message-send-friend h3 { font-size: 14px; font-weight: 600; display: block; padding: 10px 0; margin: 0 10px; border-bottom: 1px solid #EEEEEE;}
.ncm-message-send-friend ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 5px 10px;}
.ncm-message-send-friend ul li { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 23%; padding: 1%; margin-bottom: 5px; *zoom: 1/*IE7*/;}
.ncm-message-send-friend ul li:hover { border: solid 1px #FD6760; background: #FF966E; margin: -1px;}
.ncm-message-send-friend ul li .avatar { width: 50px; height: 50px; margin: 5px auto;}
.ncm-message-send-friend ul li .avatar img { max-width: 50px; max-height: 50px;}
.ncm-message-send-friend ul li a { color: #777; }
.ncm-message-send-friend ul li a:hover { color: #FFF; text-decoration: none;}
.ncm-message-send-friend ul li p { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.ncm-message-send-friend .nomessage { display: block; text-align: center; padding: 100px 0;}
.ncm-message-send-friend .nomessage a { clear: both; margin: 10px auto;}
/*消息设定*/
.ncm-message-setting {}
.ncm-message-setting dl,
.ncm-message-setting ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-message-setting dt,
.ncm-message-setting dd,
.ncm-message-setting li { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}

.ncm-message-setting dl { border: solid 1px #E7E7E7; margin-top: -1px;}
.ncm-message-setting dt { font: 16px/20px arial,"microsoft yahei"; color: #999; background-color: #FAFAFA; width: 14%; padding: 4%; border-right: solid 1px #E7E7E7}
.ncm-message-setting dt span { width: 24px; height: 24px; text-align: center; display: inline-block; border: solid 2px #999; margin-right: 6px; border-radius: 14px;}
.ncm-message-setting dt i { line-height: 24px; font-size: 16px; color: #999; margin: 0; }
.ncm-message-setting dd { width: 69%;  padding: 4%;}
.ncm-message-setting ul {}
.ncm-message-setting li { width: 25%;}


#footer { width: 1000px; margin: 0 auto; text-align: center; color: #aaa; line-height: 18px; padding: 15px 0; }
.clear { font-size: 0px; line-height: 0px; height: 0; margin: 0; padding: 0; float: none; clear: both; border: 0;}

/*浏览历史记录*/
.ncm-browse { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-browse-left,
.ncm-browse-class { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-browse-left { text-align: center; width: 720px; margin: 20px 20px 0 0;}
.ncm-browse-list { text-align: left; margin-bottom: 20px;}
.ncm-browse-list li { font-size: 12px; display: block; position: relative; z-index: 1;}
.ncm-browse-list .browse-timeline { background-color: #EEE; width: 12px; height: 12px; border-radius: 6px; position: absolute; z-index: 2; top: 9px; left: 116px;}
.ncm-browse-list .browse-time { color: #999; text-align: right; width: 100px; position: absolute; z-index: 1; top: 5px; left: 0;}
.ncm-browse-list .browse-goods { border-left: solid 3px #EEE; height: 100px; padding: 10px 10px 0 20px; margin-left: 120px;}
.ncm-browse-list .browse-goods .goods-thumb { width: 60px; height: 60px; border: solid 1px #F5F5F5; float: left;}
.ncm-browse-list .browse-goods .goods-thumb a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden;}
.ncm-browse-list .browse-goods .goods-thumb a img { max-width: 60px; max-height: 60px; margin-top: expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/; }
.ncm-browse-list .browse-goods .goods-info { line-height: 18px; width: 350px; float: left; margin-left: 10px;}
.ncm-browse-list .browse-goods .goods-info dt { font-weight: 600; height: 36px; overflow: hidden;}
.ncm-browse-list .browse-goods .goods-info dd { margin-top: 4px; color: #999;}
.ncm-browse-list .browse-goods .goods-info dd .sale-price { color: #C00; font-size: 14px; font-weight: 600; margin-right: 20px;}
.ncm-browse-list .ncm-btn { float: right; visibility: hidden;}
.ncm-browse-list .browse-goods .goods-info dd .market-price { text-decoration: line-through;}
.ncm-browse-list li:hover { background-color: #FFE; border: solid 3px #FFCC99; margin: -3px; box-shadow: 0 0 10px 0 rgba(153,153,153,0.25); z-index: 2;}
.ncm-browse-list li:hover .browse-goods { border-color: #FFCC99;}
.ncm-browse-list li:hover .browse-timeline { background-color: #FD6760;}
.ncm-browse-list li:hover .ncm-btn { visibility: visible;}

.ncm-browse-class { font-size: 12px; width: 238px; border: solid 1px #E7E7E7; margin-top: 20px;}
.ncm-browse-class .title { font-size: 14px; font-weight: 600; background-color: #F5F5F5; padding: 9px 19px; border-bottom: solid 1px #E7E7E7;}
.ncm-browse-class .title a { color: #333;}
.ncm-browse-class ul { margin-bottom: -1px;}
.ncm-browse-class li { font-size: 14px; border-bottom: solid 1px #E7E7E7;}
.ncm-browse-class li a { color: #777; display: block; padding: 9px 19px;}
.ncm-browse-class li a.selected { font-weight: 600; color: #333;}
.ncm-browse-class li.selected a { background-color: #F5F5F5; color: #333;}
.ncm-browse-class li a:hover { background-color: #FBFBFB; color: #555;}
.ncm-browse-class li a i { font-size: 0px; line-height: 0; vertical-align: middle; display: inline-block; width: 0px; height: 0px; margin-right: 6px; border-width: 4px; border-color: transparent transparent transparent #CCC; border-style: dashed dashed dashed solid;}
.ncm-browse-class li a.selected i { border-color: #777 transparent transparent transparent; border-style: solid dashed dashed dashed;}
.ncm-browse-class li ul { margin-bottom: 0;}
.ncm-browse-class li ul li { font-size: 12px; border: none;}
.ncm-browse-class li ul li a { font-size: 12px; display: block; padding: 6px 19px 6px 39px;}

#weibocharcount .counter { color:#999;}
#weibocharcount label.error { position: absolute; z-index: 1; bottom:20px; left:110px;}
#weibocharcount .warning { color: orange; margin:0; padding:0; border:none; background:none; width:auto; clear:none;}
#weibocharcount .exceeded { color: red;}



/*绑定登录*/
.ncm-bind { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 30px;}
.ncm-bind .relieve,
.ncm-bind .revise { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 180px; *zoom: 1/*IE7*/;}
.ncm-bind .relieve { width: 39%; text-align: center; border-right: dashed 1px #E7E7E7;}
.ncm-bind .relieve .ico-qq,
.ncm-bind .relieve .ico-sina { background: url(../images/member/shareicon/bind_qq.png) no-repeat 0 0; display: inline-block; *display: inline; width: 80px; height: 80px; margin: 10px auto 0 auto; *zoom: 1;}
.ncm-bind .relieve .ico-sina { background: url(../images/member/shareicon/bind_sina.png) no-repeat 0 0; }
.ncm-bind .revise { width: 50%; margin: 0 5%;}
.ncm-bind .revise dt { width: 25%;}
.ncm-bind .revise dd { width: 74%;}
.ncm-bind .qq { color: #06C;}
.ncm-bind .sina { color: #C30;}
/* 分享绑定设置 */
.bind-account-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 95%; margin: 30px auto auto; overflow: hidden;}
.bind-account-list li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin-bottom: 30px; width: 33.3333%; *zoom: 1/*IE7*/;}
.account-item { height: 80px; padding-left: 90px; position: relative;}
.account-item .website-icon { display: block; width: 80px; height: 80px; position: absolute; top: 0; left: 0;}
.account-item dl dt { color: #333; font-size: 14px; font-weight: 700;}
.account-item dl dd { color: #999;}
.account-item dl dd.operate { margin-top: 6px;}
.account-item dl dd em { color: #000; font-style: normal; margin-right: 10px;}