
/* =VARIABLES (LESS @variables do not get compiled into the final CSS file)
   ---------------------------------------------------------------------------------------------------- */
@base-background:      #fffaef; /*cream*/
@base-text:            #4f4351; /*purple/grey*/

@white:                #fff;
@black:                #000;

@color-subtitles:      #9a8864; /*mud*/
@color-highlight:      #e9e59b; /*lime*/
@color-dark:         #080c3c; /*midnight*/
@color-save:         #30a6b2; /*dark cyan*/
@color-delete:       #f04124; /*red*/
@tablet-title-font-size:         2.5em; /*midnight*/
@mobile-title-font-size:         1.8125em; /*midnight*/


// Breakpoints
// ------------------------- Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
@mobile:      ~"screen and (max-width: 320px)";
@tablet:      ~"screen and (max-width: 600px)";
@desktop:     ~"screen and (max-width: 1024px)";






/* =MIXINS (mostly from Twitter Bootstrap's mixins.less)
   ---------------------------------------------------------------------------------------------------- */
// Border Radius
.border-radius-mixin(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow-mixin(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.bg-color-mixin(@color){
	background-color: @color;
}



.bg-img-mixin(@url){
  background-image: url(@url);
  background-repeat: no-repeat;
}

.bg-img-filter-ms-mixin(@url){
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{url}', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{url}', sizingMethod='scale')";
}

.bg-img-center-mixin(@url){
  background-image: url(@url);
  background-repeat: no-repeat;
  .bg-img-filter-ms-mixin(@url);
  background-position: center;
  background-size: cover;
}

.gradient_bg_mixin(@stcolor, @endcolor){
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f4f7+0,ffffff+100 */
  background: @stcolor; /* Old browsers */
  background: -moz-linear-gradient(top,  @stcolor 0%, @endcolor 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  @stcolor 0%,@endcolor 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  @stcolor 0%,@endcolor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{stcolor}', endColorstr='@{endcolor}',GradientType=0 ); /* IE6-9 */
}

.font-color-mixin(@color){
	color: @color;
}

// Sizing shortcuts
// -------------------------
.size-mixin(@width, @height) {
  width: @width;
  height: @height;
}
.square-mixin(@size) {
  .size(@size, @size);
}

.border-box-mixin{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.fontMalgunGothic{
  font-family: 'Malgun Gothic', 'Malgun Gothic', '맑은 고딕', '맑은고딕' !important;
}

// Center-align a block level element
// ----------------------------------
.center-block-mixin() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Opacity
.opacity-mixin(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

.font-smooth-mixin(){
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

.transition (@props: all;
             @duration:1s;
             @delay: 0s;
             @timing: ease;
             @compact: true;
             @raw-input: false) {
  .output() when (@raw-input = false) and not (@compact = true) {
  -webkit-transition-property:@props;
     -moz-transition-property:@props;
      -ms-transition-property:@props;
       -o-transition-property:@props;
          transition-property:@props;
  -webkit-transition-duration:@duration;
     -moz-transition-duration:@duration;
      -ms-transition-duration:@duration;
       -o-transition-duration:@duration;
          transition-duration:@duration;
  -webkit-transition-delay:   @delay;
     -moz-transition-delay:   @delay;
      -ms-transition-delay:   @delay;
       -o-transition-delay:   @delay;
          transition-delay:   @delay;
  -webkit-transition-timing-function:@timing;
     -moz-transition-timing-function:@timing;
      -ms-transition-timing-function:@timing;
       -o-transition-timing-function:@timing;
          transition-timing-function:@timing;
  }
  .output() when (@raw-input = false) and (@compact = true) {
    @propsLength: length(@props);
    @durationLength: length(@duration);
    @delayLength: length(@delay);
    @timingLength: length(@timing);
    .buildString(@i, @s: ~'') when (@i <= @propsLength) {
      @prop: extract(@props, @i);
      .setDuration() when (@i <= @durationLength) {
        @dur: extract(@duration, @i);
      }
      .setDuration() when (@i > @durationLength) {
        @dur: extract(@duration, @durationLength);
      }
      .setDuration();
      .setDelay() when (@i <= @delayLength) {
        @del: extract(@delay, @i);
      }
      .setDelay() when (@i > @delayLength) {
        @del: extract(@delay, @delayLength);
      }
      .setDelay();
      .setTiming() when (@i <= @timingLength) {
        @time: extract(@timing, @i);
      }
      .setTiming() when (@i > @timingLength) {
        @time: extract(@timing, @timingLength);
      }
      .setTiming();
      .setDivider() when (@i > 1) {
        @divider: ~'@{s},';
      }
      .setDivider() when (@i = 1) {
        @divider: ~'';
      }
      .setDivider();
      @string: @divider @prop @dur @del @time;
      .buildString((@i + 1), @string);
    }
    .buildString(1);
    .buildString(@i, @s: ~'') when (@i > @propsLength) {
      .compact(@s);
    }
  }
  .output() when not (@raw-input = false) {
    .compact(@raw-input);
  }
  .compact(@string) {
    -webkit-transition:@string;
       -moz-transition:@string;
        -ms-transition:@string;
         -o-transition:@string;
            transition:@string;
  }
  .output();
}

/*
.test {
  .transition();
}
.test-props {
  .transition(width);
}
.test-duration {
  .transition(@duration: 3s);
}
.test-delay {
  .transition(@delay: 10s);
}
.test-timing {
  .transition(@timing: linear);
}
.test-all {
  .transition(height, 4s, 12s, ease-out);
}
.test-multitransitions {
  .transition(width, height, top; 1s, 2s; 0s, 1s, 3s; ease-in, ease-out, ease);
}
.test-not-compact {
  .transition(width, height, top; 1s, 2s; 0s, 1s, 3s; ease-in, ease-out, ease; false);
}
.test-raw-input {
  .transition(@raw-input: top 1s, bottom 1s, color 3s 1s linear;);
}


http://stackoverflow.com/questions/10412643/can-i-define-a-less-mixin-to-generate-a-transition-property-with-a-variable-numb
 */


.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform:    scale(@factor);
  -ms-transform:     scale(@factor);
  -o-transform:      scale(@factor);
}
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}
.skew (@deg, @deg2) {
  -webkit-transform:       skew(@deg, @deg2);
  -moz-transform:    skew(@deg, @deg2);
  -ms-transform:     skew(@deg, @deg2);
  -o-transform:      skew(@deg, @deg2);
}
.translate (@x, @y:0) {
  -webkit-transform:       translate(@x, @y);
  -moz-transform:    translate(@x, @y);
  -ms-transform:     translate(@x, @y);
  -o-transform:      translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform:       translate3d(@x, @y, @z);
  -moz-transform:    translate3d(@x, @y, @z);
  -ms-transform:     translate3d(@x, @y, @z);
  -o-transform:      translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
  -webkit-perspective:  @value;
  -moz-perspective:   @value;
  -ms-perspective:  @value;
  perspective:    @value;
}
.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}


// @base-url: "images";
// @base-url: "http://dev-img.fxmirror.net";


/*
@base-url: "http://assets.fnord.com";
background-image: url("@{base-url}/images/bg.png");
 */


.btn-color-red{
  color:white;
  border:1px solid #f04124;
  background-color: #f04124;
}

.btn-color-grey{
  color: #333333;
  border:1px solid #dfdfdf;
  background-color: #e7e7e7;
}

.btn-color-blue{
  color:white;
  border:1px solid #1f909b;
  background-color: #30a6b2;
}

.float_right{
  float: right;
}

.float_left{
  float: left;
}

.clear_both{
  clear: both;
}





