<script type="text/ng-template" id="table_pagination_basic.html">

  <div class="pagination_wrapper" ng-show="tablePaginationBasicCtrl.getTotal()>0">
    <ul class="pagination"  style="">
      <!--<li class="disabled"><a href="#">&laquo;</a></li>-->
      <li><a href="" ng-click="tablePaginationBasicCtrl.clickPage(tablePaginationBasicCtrl.prevPage)">&laquo;</a></li>

      <li ng-repeat="li in tablePaginationBasicCtrl.pageListData" ng-class="{'active':((tablePaginationBasicCtrl.curPage+1)==li.page)}">
        <a href="" ng-click="tablePaginationBasicCtrl.clickPage(li.count)">{{li.page}}</a>
      </li>

      <li><a href=""  ng-click="tablePaginationBasicCtrl.clickPage(tablePaginationBasicCtrl.nextPage)">&raquo;</a></li>
    </ul>
  </div>

</script>
