<script type="text/ng-template" id="table_btn_basic.html">
  <div>
    <button class="btn btn-default pull-left btn-color-red"
            ng-click="tableBtnBasicCtrl.changeDelete()"
            ng-if="tableBtnBasicCtrl.show('delete')">삭제
    </button>
    <a class="btn btn-default pull-right"
       ng-href="{{tableBtnBasicCtrl.locationUrl}}"
       ng-if="tableBtnBasicCtrl.show('add')">{{tableBtnBasicCtrl.btnAddName}}</a>
  </div>
</script>
