<!DOCTYPE html>
<html>
<head>
  <% include ../../common/head.ejs %>
</head>

<% if( page_type === 'registration') { %>
<body data-page-id="item-registration">
  <div id="wrap" class="item_registration">

    <% include ../../../templates/common/header.ejs %>
    <% include ../../../templates/common/lnb.ejs %>
    <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="list_table_wrapper">
        <% include ../../../templates/common/contents_above_title.ejs %>

<% } else { %> <!-- modification -->
<body data-page-id="item-modification">
  <div id="wrap" class="item_modification">
    <div class="content_wrapper">
      <div class="list_table_wrapper">
<% } %>
      <item-registration
        page-type="<%= page_type %>"
        item-id="<%= item_id %>">
        <threed-registration></threed-registration>
      </item-registration>

    </div>  <!-- .list_table_wrapper END-->
  </div>  <!-- .content_wrapper END-->

  <td-prev-modal></td-prev-modal>

</div>

<% include ../../../templates/items_mng/items/item_registration.ejs %>
<% include ../../../templates/items_mng/items/threeD_registration.ejs %>
<% include ../../../templates/common/td_preview_modal.ejs %>

<!--COMMON_DATA (mandatory)-->
<% include ../../common/common_data.ejs %>

<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->

</body>
</html>
