<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/head.ejs %>
  </head>

  <body data-page-id="brand-list">

    <div id="wrap" class="template_table_list">
      <% include ../../../templates/common/header.ejs %>
      <% include ../../../templates/common/lnb.ejs %>

      <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="list_table_wrapper">

          <% include ../../../templates/common/contents_above_title.ejs %>


          <table-brand
            bootstrap-ctrl=""
          >
            <table-search
              get-start="tableComponentBrandCtrl._state.tableData.info.start"
              get-count="tableComponentBrandCtrl._state.tableData.info.count"
              get-query-opt="tableComponentBrandCtrl._state.tableData.options.query_opt"
              get-query="tableComponentBrandCtrl._state.tableData.options.query"
              get-status="tableComponentBrandCtrl._state.tableData.options.status"
              update-query-opt = "tableComponentBrandCtrl.exports.updateQueryOpt(options)"
              update-query = "tableComponentBrandCtrl.exports.updateQuery(options)"
              update-status = "tableComponentBrandCtrl.exports.updateStatus(options)"
              update-page="tableComponentBrandCtrl.exports.updatePage(options)"
            >

            </table-search>

            <table-option
              get-total="tableComponentBrandCtrl._state.tableData.info.total"
              get-start="tableComponentBrandCtrl._state.tableData.info.start"
              get-count="tableComponentBrandCtrl._state.tableData.info.count"
              update-page="tableComponentBrandCtrl.exports.updatePage(options)"
            >
            </table-option>


            <table-body
              brand-auth="<%=req.userAuth.brand%>"
              item-auth="<%=req.userAuth.item%>"
              get-total="tableComponentBrandCtrl._state.tableData.info.total"
              get-start="tableComponentBrandCtrl._state.tableData.info.start"
              get-count="tableComponentBrandCtrl._state.tableData.info.count"
              get-results="tableComponentBrandCtrl._state.tableData.results"
            >
            </table-body>

            <table-btn
              btn-add-name="브랜드 등록"
              <% if (req.userAuth && parseInt(req.userAuth.brand,10)===2 ) { %>
              view-option="delete,add"
              <% }else{ %>
              view-option=""
              <% } %>
              api-option='{"kind":"brand","status":"deleted","show":"debug,contact"}'
              not-selected-str="브랜드를 선택해주세요"
              delete-row="tableComponentBrandCtrl.exports.deleteRow(options)"
              location-url="/<%=res.getLocale()%><%=url_info.menu.ITEMS_MNG_CATEGORY_BRAND_REGISTRATION.link%>"
            ></table-btn>

            <pagination
              get-total="tableComponentBrandCtrl._state.tableData.info.total"
              get-start="tableComponentBrandCtrl._state.tableData.info.start"
              get-count="tableComponentBrandCtrl._state.tableData.info.count"
              update-page="tableComponentBrandCtrl.exports.updatePage(options)"
              count-range="tableComponentBrandCtrl.exports.COUNT_RANGE"
            >
            </pagination>

          </table-brand>


        </div>  <!-- .list_table_wrapper END-->
      </div>  <!-- .content_wrapper END-->

    </div>

    <!-- ANGULAR templates -->
    <% include ../../../templates/common/table/table_component_basic.ejs %>
    <% include ../../../templates/items_mng/brand/brand_list/table_search_brand.ejs %>
    <% include ../../../templates/common/table/table_option_basic.ejs %>
    <% include ../../../templates/items_mng/brand/brand_list/table_body_brand.ejs %>
    <% include ../../../templates/common/table/table_btn_basic.ejs %>
    <% include ../../../templates/common/table/table_pagination_basic.ejs %>


    <!--COMMON_DATA (mandatory)-->
    <% include ../../common/common_data.ejs %>

    <!--SCRIPTS_BASE-->
    
    <!--SCRIPTS_BASE END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->

    <!--SCRIPTS_ALL-->
    
    <!--SCRIPTS_ALL END-->

  </body>
</html>
