<!DOCTYPE html>
<html>
<head>
  <% include ../../common/head.ejs %>
</head>

<body data-page-id="brand-registration">

<div id="wrap" class="template_table_list">
  <% include ../../../templates/common/header.ejs %>
  <% include ../../../templates/common/lnb.ejs %>

  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="list_table_wrapper">

      <% include ../../../templates/common/contents_above_title.ejs %>
      <brand-registration
        brand-id="<%= brand.id %>"
        brand-name="<%= encodeURIComponent(brand.name) %>"
        brand-status="<%= brand.status %>"
        brand-type="<%= brandType %>"
      ></brand-registration>


    </div>  <!-- .list_table_wrapper END-->
  </div>  <!-- .content_wrapper END-->

</div>

<!-- ANGULAR templates -->
<% include ../../../templates/items_mng/brand/brand_registration.ejs %>


<!--COMMON_DATA (mandatory)-->
<% include ../../common/common_data.ejs %>

<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->

</body>
</html>
