<script type="text/ng-template" id="item_registration.html">
  <div ng-show="itemRegistrationCtrl.pageType === 'modification' ">
    <div class="header">
      <span class="title"><%= __('items.regist.label.title_edit') %></span>
      <div class="date">
        <dl class="dl-horizontal">
          <dt><%= __('items.regist.label.regist_date') %>:</dt>
          <dd ng-bind="itemRegistrationCtrl.registerd_datetime || '-'"></dd>
          <dt><%= __('items.regist.label.update_date') %>:</dt>
          <dd class="point_color" ng-bind="itemRegistrationCtrl.updated_datetime || '-'"></dd>
        </dl>
      </div>
    </div>
    <div class="info">
      <span class="item_name" ng-bind="itemRegistrationCtrl.item_name_str"></span><br/>
      <span>상품ID: </span><span class="point_color" ng-bind="itemRegistrationCtrl.code"></span>  /
      <span><%= __('items.regist.label.default_code') %>: </span><span class="point_color" ng-bind="itemRegistrationCtrl.rep_code || '-'"></span>
    </div>
  </div>

  <form ng-submit="itemRegistrationCtrl._submit()" enctype="multipart/form-data">
    <div class="basic">
      <p><%= __('items.regist.label.default_info') %></p>
      <table class="table table-bordered">
        <colgroup>
          <col width="145">
          <col width="*">
        </colgroup>
        <tbody>
        <tr>
          <th><%= __('items.regist.label.item_name') %></th>
          <td>
            <input type="text"
                   class="form-control input-sm long_input"
                   ng-model="itemRegistrationCtrl._state.item_name"
                   maxlength="250"
                   required kr-input>
            <span>[ <span ng-bind="itemRegistrationCtrl._state.item_name.length || 0"></span> / 250 <%= __('common.ui.label.letter_len') %> ]</span>
            <span class="label label-primary"><%= __('common.ui.label.mandatory') %></span>
            <label><input type="checkbox"
                          ng-model="itemRegistrationCtrl._state.sale_type"
                          ng-false-value="0"
                          ng-true-value="1"><%= __('items.list.label.chk_sales_sample')%></label>
          </td>
        </tr>
        <tr>
          <th><%= __('items.regist.label.sales_price') %></th>
          <td><input type="text"
                     class="form-control input-sm"
                     ng-init="itemRegistrationCtrl._state.item_price = 0"
                     ng-model="itemRegistrationCtrl._state.item_price"
                     ng-disabled="itemRegistrationCtrl._state.sale_type">
            <span ng-bind="itemRegistrationCtrl.currency || '<%= req.session.currency %>' "></span></td>
        </tr>
        <tr>
          <th>상품ID</th>
          <td ng-bind="itemRegistrationCtrl.code == '' ? '<%= __("brand.label.auto_create")%>' : itemRegistrationCtrl.code"></td>
        </tr>
        <tr>
          <th class="text_top"><%= __('items.regist.label.shop_no') %></th>
          <td>
            <input type="text"
                   class="form-control input-sm"
                   ng-model="itemRegistrationCtrl._state.origin_item_id"
                   ng-disabled="itemRegistrationCtrl._state.sale_type" required>
            <span class="label label-primary"
                  ng-hide="itemRegistrationCtrl._state.sale_type"><%= __('common.ui.label.mandatory') %></span>
            <p><%= __('items.regist.alert.write_no') %></p>
            <span>[<%= __('items.regist.label.exam_solution') %>]</span>
            <ul>
              <li>• <%= __('items.regist.label.domain_sample_01') %></li>
              <li>• <%= __('items.regist.label.domain_sample_02') %></li>
              <li>• <%= __('items.regist.label.domain_sample_03') %></li>
              <li>• <%= __('items.regist.label.domain_sample_04') %></li>
              <li>• <%= __('items.regist.label.domain_sample_05') %></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th><%= __('items.regist.label.brand') %></th>
          <td>
            <select class="form-control"
                    ng-model="itemRegistrationCtrl._state.brand_id" convert-to-number>
              <option ng-repeat="brand in itemRegistrationCtrl.brand_code_arr"
                      value="{{brand.id}}">{{brand.name}}
              </option>
            </select>
            <span class="label label-primary"><%= __('common.ui.label.mandatory') %></span>
          </td>
        </tr>
        <tr>
          <th><%= __('items.regist.label.gender') %></th>
          <td ng-init="itemRegistrationCtrl._state.item_sex || (itemRegistrationCtrl._state.item_sex = 'woman')">
            <label>
              <input type="radio"
                     value="woman"
                     ng-model="itemRegistrationCtrl._state.item_sex"><%= __('items.regist.label.woman') %>
            </label>
            <label>
              <input type="radio"
                     value="man"
                     ng-model="itemRegistrationCtrl._state.item_sex"><%= __('items.regist.label.man') %>
            </label>
            <label>
              <!--<input type="radio"-->
              <!--value="unsex"-->
              <!--ng-model="itemRegistrationCtrl._state.item_sex">공용-->
            </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="public">
      <p><%= __('items.regist.label.config_display') %></p>
      <table class="table table-bordered">
        <colgroup>
          <col width="145">
          <col width="*">
        </colgroup>
        <tbody>
        <tr>
          <th class="text_top"><%= __('items.regist.label.classify_items') %></th>
          <td>
            <div class="classification">
              <ul>
                <li ng-repeat="li in itemRegistrationCtrl.category_list">
                  <label>
                    <input type="checkbox"
                           data-children-length={{li.children.length}}
                           ng-click="itemRegistrationCtrl.updateSelection($event, li.id)"
                           ng-checked="itemRegistrationCtrl.isSelected(li.id)"
                           value="{{li.id}}"
                    > <img
                      src="<%= sails.config.urlinfo.img %>/app/item/folder_icon.jpg?_=<%= sails.config.ver %>"
                      alt="icon">{{li.name}}
                  </label>
                  <ul class="children_ul" ng-show="li.children.length > 0">
                    <li ng-repeat="ch in li.children">
                      <label>
                        <input type="checkbox"
                               value="{{ch.id}}"
                               ng-click="itemRegistrationCtrl.updateSelection($event, ch.id)"
                               ng-checked="itemRegistrationCtrl.isSelected(ch.id)"> <img
                          src="<%= sails.config.urlinfo.img %>/app/item/folder_icon.jpg?_=<%= sails.config.ver %>"
                          alt="icon">{{ch.name}}
                      </label>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <span class="label label-primary cate"><%= __('common.ui.label.mandatory') %></span>

          </td>
        </tr>
        <tr>
          <th><%= __('items.regist.label.items_display') %></th>
          <td ng-init="itemRegistrationCtrl._state.status = 'disabled'">
            <label>
              <input type="checkbox"
                     ng-true-value="'activated'"
                     ng-false-value="'disabled'"
                     ng-model="itemRegistrationCtrl._state.status"><%= __('items.regist.label.do_display') %>
            </label>
            <select class="form-control"
                    id="select_status"
                    ng-model="itemRegistrationCtrl.date"
                    ng-show="itemRegistrationCtrl._state.status === 'activated'">
              <option value="false"><%= __('items.regist.label.no_limit_period') %></option>
              <option value="true"><%= __('items.regist.label.set_period') %></option>
            </select>

            <div class="form-inline"
                 ng-show="itemRegistrationCtrl._state.status === 'activated' && itemRegistrationCtrl.date == 'true' ">
              <div class="form-group">
                <label class="sr-only" for="st_date">2016-01-01</label>
                <input
                  ui-date="itemRegistrationCtrl.stDateOptions"
                  type="text" class="form-control" id="st_date" name="st_date" placeholder="yyyy-mm-dd" readonly>
              </div>
              <span class="form-group" style="margin-right:10px;">~</span>
              <div class="form-group">
                <label class="sr-only" for="end_date">2016-01-01</label>
                <input
                  ui-date="itemRegistrationCtrl.endDateOptions"
                  type="text" class="form-control" id="end_date" name="end_date" placeholder="yyyy-mm-dd" readonly>
              </div>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="img">
      <p><%= __('items.regist.label.img_3dimg_info') %></p>
      <table class="table table-bordered">
        <colgroup>
          <col width="145">
          <col width="*">
        </colgroup>
        <tbody>
        <tr>
          <th class="text_top"><%= __('items.regist.label.items_list_img') %></th>
          <td>
            <img
              ng-init="itemRegistrationCtrl.itemListImage = '<%= sails.config.urlinfo.img %>/app/item/no_img.jpg?_=<%= sails.config.ver %>'"
              ng-src="{{itemRegistrationCtrl.itemListImage ||'<%= sails.config.urlinfo.img %>/app/item/no_img.jpg?_=<%= sails.config.ver %>' }}"
              class="thumbnail_view" alt="ITEM IMAGE">
            <div class="img_right">
              <div class="dropdown itemlist_img">
                <button class="btn btn-default dropdown-toggle btn_default_sm" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true"><%= __('items.regist.label.regist') %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="" ng-click="itemRegistrationCtrl._clickImageUpload()"><%= __('items.regist.label.regist_directly') %></a></li>
                  <li><a href="" data-toggle="modal" data-target="#imgUrlModal"><%= __('items.regist.label.regist_webimg') %></a></li>
                </ul>
                <input type="file" id="_image_upload" style="display: none;" file-upload>
              </div>

              <button type="button"
                      class="btn btn_default_sm btn_delete"
                      ng-click="itemRegistrationCtrl._clickImageRemove()"><%= __('common.ui.label.delete') %>
              </button>

              <ul class="img_right_desc">
                <li>- <%= __('items.regist.alert.regist_img2') %></li>
                <li>- <%= __('items.regist.alert.regist_img3') %></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= __('items.regist.label.3dcloth') %></th>
          <td>
            <button type="button"
                    class="btn btn_default btn_default_sm btn_save"
                    data-toggle="modal" data-target="#threeDModal"><%= __('items.regist.label.regist') %>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <p class="th_desc">- <%= __('items.regist.alert.regist_3d') %></p>

      <table class="table table-bordered info" ng-show="itemRegistrationCtrl.td_list.length > 0">
        <colgroup>
          <col width="50">
          <col width="*">
          <col width="60">
          <col width="200">
        </colgroup>
        <thead>
        <tr>
          <th><%= __('items.regist.label.no') %></th>
          <th><%= __('items.regist.label.3dcloth') %></th>
          <th><%= __('items.regist.label.rep') %></th>
          <th><%= __('items.regist.label.manage') %></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="td in itemRegistrationCtrl.td_list">
          <td ng-bind="$index +1"></td>
          <td>
            <a href="" ng-click="itemRegistrationCtrl.exports.showTdPrevModal(td)">
              <img src="<%= sails.config.urlinfo.img %>/app/item/thumb_zoom.png?_=<%= sails.config.ver %>"
                   class="thumbnail_preview" alt="PREVIEW_HOVER">
              <img ng-src="{{td.td_fitting_files.thumbnail.url}}"
                   class="thumbnail_view" alt="ITEM IMAGE">
            </a>
            <span ng-bind="td.name"></span><br/>
            <span class="point_color" ng-bind="td.code"></span>
          </td>
          <td>
            <input type="radio"
                   ng-model="itemRegistrationCtrl.rep_yn"
                   data-id="{{td.id}}"
                   ng-value="td.id"></td>
          <td>
            <button type="button"
                    class="btn btn-default btn_default_sm"
                    ng-click="itemRegistrationCtrl.tdModify($index)"><%= __('common.ui.label.change') %>
            </button>
            <button type="button"
                    class="btn btn_default_sm btn_delete"
                    ng-click="itemRegistrationCtrl.tdRemove(td.id, $index)"><%= __('common.ui.label.delete') %>
            </button>
          </td>
        </tr>

        </tbody>
      </table>

    </div>

    <div class="btn_group">
      <button type="button"
              class="btn btn_default btn_save"
              name="go"
              ng-click="itemRegistrationCtrl._submit($event);"><%= __('common.ui.label.save') %></button>
      <button ng-show="itemRegistrationCtrl.pageType == 'registration' "
              type="button"
              class="btn btn_default btn_cancel"
              name="save"
              ng-click="itemRegistrationCtrl._submit($event);">저장&계속등록</button>
      <button ng-show="itemRegistrationCtrl.pageType === 'modification' "
              type="button"
              class="btn btn_default btn_cancel"
              ng-click="itemRegistrationCtrl.closeModification()"><%= __('common.ui.label.cancel') %></button>
    </div>
  </form>

  <!-- Modal -->
  <div id="imgUrlModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= __('items.regist.label.regist_webimg') %></h4>
        </div>
        <div class="modal-body">
          <input id="webImgUrl" class="form-control" type="text" value="">
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-default"
                  ng-click="itemRegistrationCtrl._webImageUpload()"><%= __('common.ui.label.save') %>
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('common.ui.label.cancel') %></button>
        </div>
      </div>

    </div>
  </div>

  <div class="threeD_registration_popup"></div>

</script>

