<script type="text/ng-template" id="threeD_registration.html">

  <div class="popup">
    <div id="threeDModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= __('items.regist.label.3dcloth_regist') %></h3>
            </div>
            <div class="panel-body">
              <div class="popup_top">
                <p><%= __('items.regist.alert.cat_select') %></p>
                <div class="catid_list">
                  <ul ng-show="itemRegistrationCtrl.catId_list.length != 0">
                    <li>
                      <a href="" ng-click="itemRegistrationCtrl.get3dList()">
                        <img src="<%= sails.config.urlinfo.img %>/app/item/folder_icon.jpg?_=<%= sails.config.ver %>"
                             alt="icon">전체</a>
                    </li>
                    <li ng-repeat="cat in itemRegistrationCtrl.catId_list">
                      <a href="" ng-click="itemRegistrationCtrl.get3dList(cat.account_no)">
                        <img src="<%= sails.config.urlinfo.img %>/app/item/folder_icon.jpg?_=<%= sails.config.ver %>"
                             alt="icon">{{cat.id}}</a>
                    </li>
                  </ul>
                  <div ng-show="itemRegistrationCtrl.catId_list.length == 0">
                    <%= __('items.regist.alert.no_cat_id') %>
                  </div>
                </div>

              </div>

              <div class="popup_bottom">
                <p><%= __('items.regist.alert.name') %></p>

                <div class="code_cont">
                  <form ng-submit="itemRegistrationCtrl._submitSearch()">
                    <div class="input_cont">
                      <input type="text"
                             class="form-control"
                             ng-model="itemRegistrationCtrl.search">
                    </div>
                    <button type="submit"
                            class="btn btn-default btn_default_sm btn_search"><%= __('common.ui.label.search') %>
                    </button>
                  </form>
                  <div class="threed_cont">
                    <ul ng-show="itemRegistrationCtrl.cat3d_view_list.length != 0">
                      <li ng-repeat="threed in itemRegistrationCtrl.cat3d_view_list">
                        <a href="" ng-click="itemRegistrationCtrl.viewThumbnail(threed)">
                          {{threed.name}}</a>
                      </li>
                    </ul>
                    <span ng-show="itemRegistrationCtrl.cat3d_view_list.length == 0"><%= __('items.regist.alert.no_3d_cloth') %></span>
                  </div>
                </div>
                <div class="popup_thumbnail_view">
                  <img
                    ng-init="itemRegistrationCtrl.threedThumbnailImage = '<%= sails.config.urlinfo.img %>/app/item/no_img.jpg?_=<%= sails.config.ver %>'"
                    ng-src="{{itemRegistrationCtrl.threedThumbnailImage || '<%= sails.config.urlinfo.img %>/app/item/no_img.jpg?_=<%= sails.config.ver %>'}}"
                    alt="CLOTH IMAGE PREVIEW">
                </div>
              </div>

              <div class="btn_group">
                <button type="button"
                        class="btn btn_default btn_save"
                        ng-click="itemRegistrationCtrl.addTdList()"><%= __('common.ui.label.regist') %>
                </button>
                <button type="button"
                        class="btn btn_default btn_cancel"
                        data-dismiss="modal"><%= __('common.ui.label.cancel') %>
                </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</script>
