<script type="text/ng-template" id="org_admin_registration.html">

  <form id="org_frm" name="org_frm" ng-class="{opacity_hide:(OrgAdminMainCtrl.pageType ==='modification')}">

    <div>
      <table class="table table-bordered">
        <colgroup>
          <col width="146">
          <col width="*">
        </colgroup>
        <tbody>

        <tr ng-if="OrgAdminMainCtrl.pageType !=='registration'">
          <th>운영업체코드</th>
          <td><span ng-bind="OrgAdminMainCtrl.orgId"></span></td>
        </tr>

        <tr>
          <th>사업자 코드</th>
          <td>
            <input
              disabled
              ng-model="OrgAdminMainCtrl._state.org_certification"
              id="org_certification"
              name="org_certification"
              type="text" class="form-control input-sm">
          </td>
        </tr>

        <tr>
          <th>업체명</th>
          <td>
            <input
              disabled
              ng-model="OrgAdminMainCtrl._state.org_name"
              ng-class="{ipt_disabled:(OrgAdminMainCtrl.pageType ==='confirmation')}"
              id="org_name"
              name="org_name"
              type="text"
              class="form-control input-sm">
          </td>
        </tr>

        <tr style="display:none;">
          <th>서비스 타입</th>
          <td>
            <label>
              <input
                disabled
                ng-model="OrgAdminMainCtrl._state.service_type"
                convert-to-number
                ng-value="0"
                type="radio">Shop
            </label>
            <label>
              <input
                disabled
                ng-model="OrgAdminMainCtrl._state.service_type"
                ng-value="1"
                convert-to-number
                type="radio">SDK
              <span>(SDK 타입은 API만 제공되고 Shop, CAT, FXMirror 계정은 제공되지 않습니다.)</span>
            </label>
          </td>
        </tr>

        <tr >
          <th>상태</th>
          <td>
            <label>
              <input
                ng-model="OrgAdminMainCtrl._state.status"
                disabled
                convert-to-number
                ng-value="0"
                type="radio">정상
            </label>
            <label>
              <input
                ng-model="OrgAdminMainCtrl._state.status"
                disabled
                ng-value="1"
                convert-to-number
                type="radio">사용중지
            </label>
          </td>
        </tr>

        <tr>
          <th>담당자명</th>
          <td>
            <input
              ng-model="OrgAdminMainCtrl._state.contact_name"
              ng-disabled="OrgAdminMainCtrl.pageType ==='confirmation'"
              id="contact_name"
              name="contact_name"
              type="text"
              class="form-control input-sm"
            >
          </td>
        </tr>

        <tr>
          <th>연락처</th>
          <td>
            <input
              ng-model="OrgAdminMainCtrl._state.contact_phone"
              ng-disabled="OrgAdminMainCtrl.pageType ==='confirmation'"
              id="contact_phone"
              name="contact_phone"
              type="text"
              class="form-control input-sm">
          </td>
        </tr>
        <tr>
          <th>메일주소</th>
          <td><input
              ng-model="OrgAdminMainCtrl._state.contact_mail"
              ng-disabled="OrgAdminMainCtrl.pageType ==='confirmation'"
              validation-email
              id="contact_mail"
              name="contact_mail"
              type="text"
              class="form-control input-sm"
            >

            <div
              ng-if="OrgAdminMainCtrl.pageType !=='confirmation'"
              ng-messages="org_frm.contact_mail.$error" class="frm_error_cont" role="alert">
              <div ng-message="validationEmail">* 이메일 형식이 아닙니다.</div>
            </div>

          </td>
        </tr>

        <tr>
          <th>홈페이지 주소</th>
          <td>
            <input
              ng-model="OrgAdminMainCtrl._state.contact_homepage"
              ng-disabled="OrgAdminMainCtrl.pageType ==='confirmation'"
              id="contact_homepage"
              name="contact_homepage"
              type="text" class="form-control input-sm long_input">
          </td>
        </tr>

        <tr>
          <th>언어</th>
          <td>
            <select
              ng-model="OrgAdminMainCtrl._state.language"
              ng-disabled="OrgAdminMainCtrl.pageType ==='confirmation'"
              ng-if="OrgAdminMainCtrl.pageType !=='confirmation'"
              ng-show="OrgAdminMainCtrl._state.language !==null"
              name="language" id="language" class="form-control">
              <option
                ng-repeat="li in OrgAdminMainCtrl._options.languageList track by $index"
                value="{{li.lang_cd}}">{{li.lang_src_mark}}
              </option>
            </select>
            <span ng-if="OrgAdminMainCtrl.pageType ==='confirmation'" ng-bind="OrgAdminMainCtrl._state.language"></span>
          </td>
        </tr>

        <tr>
          <th>화폐단위</th>
          <td>
            <select
              ng-model="OrgAdminMainCtrl._state.currency"
              ng-disabled="OrgAdminMainCtrl.pageType ==='confirmation'"
              ng-if="OrgAdminMainCtrl.pageType !=='confirmation'"
              ng-show="OrgAdminMainCtrl._state.currency !==null"
              name="currency" id="currency" class="form-control">
              <option
                ng-repeat="li in OrgAdminMainCtrl._options.currencyList track by $index"
                value="{{li.currency_cd}}">{{li.currency_cd}} &#40;{{li.currency_name}}&#41;
              </option>
            </select>
            <span ng-if="OrgAdminMainCtrl.pageType ==='confirmation'" ng-bind="OrgAdminMainCtrl._state.currency"></span>
          </td>
        </tr>

        <tr>
          <th>표준시간대</th>
          <td>
            <select
              style="width:50%;min-width:500px;"
              ng-model="OrgAdminMainCtrl._state.utc"
              ng-disabled="OrgAdminMainCtrl.pageType ==='confirmation'"
              ng-if="OrgAdminMainCtrl.pageType !=='confirmation'"
              convert-to-number
              ng-show="OrgAdminMainCtrl._state.utc !==null"
              ng-change="OrgAdminMainCtrl.exports.onChangeUTC()"
              name="utc" id="utc" class="form-control">
              <option
                ng-repeat="li in OrgAdminMainCtrl._options.utcFilteredList track by $index"
                value="{{li.UTC_no}}">{{li.UTC_name}}
              </option>
            </select>
            <span ng-if="OrgAdminMainCtrl.pageType ==='confirmation'" >{{OrgAdminMainCtrl.exports.getUTCStr()}}</span>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="btn_group" ng-if="OrgAdminMainCtrl.pageType==='modification'" >
      <button type="button"
              ng-disabled="org_frm.$invalid"
              ng-click="OrgAdminMainCtrl.exports.updateMajorOrganization()"
              class="btn btn_default btn_save">저장</button>
      <button style="display:none;" ng-click="OrgAdminMainCtrl.exports.goListPage()" type="button" class="btn btn_default">취소</button>
    </div>

  </form>

</script>
