<script type="text/ng-template" id="store_admin_registration.html">

  <form id="org_frm" name="org_frm" ng-class="{opacity_hide:(StoreAdminMainCtrl.pageType ==='modification')}">

    <div>
      <table class="table table-bordered">
        <colgroup>
          <col width="146">
          <col width="*">
        </colgroup>
        <tbody>


        <tr style="display:none;">
          <th>운영업체</th>
          <td ng-bind="StoreAdminMainCtrl._state.parent_org_id"></td>
        </tr>

        <tr >
          <th>입점업체 사업자코드</th>
          <td>
            <input
              ng-model="StoreAdminMainCtrl._state.org_certification"
              ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
              id="org_certification"
              name="org_certification"
              type="text"
              class="form-control input-sm"
              required
            >
            <span
              ng-if="StoreAdminMainCtrl.pageType !=='confirmation'"
              class="label label-primary">필수</span>
            <div
              ng-messages="org_frm.org_certification.$error"
              class="frm_error_cont" role="alert">
              <div ng-message="required">* 이 입력란을 작성하세요</div>
            </div>
          </td>
        </tr>

        <tr >
          <th>입점업체명</th>
          <td>
            <input
              ng-model="StoreAdminMainCtrl._state.org_name"
              ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
              id="org_name"
              name="org_name"
              type="text"
              class="form-control input-sm"
              required
            >
            <span
              ng-if="StoreAdminMainCtrl.pageType !=='confirmation'"
              class="label label-primary">필수</span>
            <div
              ng-messages="org_frm.org_name.$error"
              class="frm_error_cont" role="alert">
              <div ng-message="required">* 이 입력란을 작성하세요</div>
            </div>
          </td>
        </tr>

        <tr >
          <th>상태</th>
          <td>
            <label>
              <input
                ng-model="StoreAdminMainCtrl._state.status"
                ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
                convert-to-number
                ng-value="0"
                type="radio">정상
            </label>
            <label>
              <input
                ng-model="StoreAdminMainCtrl._state.status"
                ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
                ng-value="1"
                convert-to-number
                type="radio">사용중지
            </label>
          </td>
        </tr>

        <tr>
          <th>담당자명</th>
          <td>
            <input
              ng-model="StoreAdminMainCtrl._state.contact_name"
              ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
              id="contact_name"
              name="contact_name"
              type="text"
              class="form-control input-sm"
            >
          </td>
        </tr>

        <tr>
          <th>연락처</th>
          <td>
            <input
              ng-model="StoreAdminMainCtrl._state.contact_phone"
              ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
              id="contact_phone"
              name="contact_phone"
              type="text"
              class="form-control input-sm">
          </td>
        </tr>
        <tr>
          <th>메일주소</th>
          <td>
            <input
              ng-model="StoreAdminMainCtrl._state.contact_mail"
              ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
              validation-email
              id="contact_mail"
              name="contact_mail"
              type="text"
              class="form-control input-sm"
            >

            <div
              ng-if="StoreAdminMainCtrl.pageType !=='confirmation'"
              ng-messages="org_frm.contact_mail.$error" class="frm_error_cont" role="alert">
              <div ng-message="validationEmail">* 이메일 형식이 아닙니다.</div>
            </div>

          </td>
        </tr>

        <tr>
          <th>홈페이지 주소</th>
          <td>
            <input
              ng-model="StoreAdminMainCtrl._state.contact_homepage"
              ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
              validation-url
              id="contact_homepage"
              name="contact_homepage"
              type="text" class="form-control input-sm long_input">
            <div
              ng-if="StoreAdminMainCtrl.pageType !=='confirmation'"
              ng-messages="org_frm.contact_homepage.$error" class="frm_error_cont" role="alert">
              <div ng-message="validationUrl">* URL 형식이 아닙니다.</div>
            </div>

          </td>
        </tr>


        <tr>
          <th>모바일쇼핑몰<br/>상품상세화면 URL</th>
          <td>
            <input
              ng-model="StoreAdminMainCtrl._state.purchase_url"
              ng-disabled="StoreAdminMainCtrl.pageType ==='confirmation'"
              validation-purchase-url=""
              id="purchase_url"
              name="purchase_url"
              type="text" class="form-control input-sm long_input"
              required
            >
            <span
              ng-if="StoreAdminMainCtrl.pageType !=='confirmation'"
              class="label label-primary">필수</span>

            <div
              ng-if="StoreAdminMainCtrl.pageType !=='confirmation'"
              ng-messages="org_frm.purchase_url.$error" class="frm_error_cont" role="alert">
              <div ng-message="validationPurchaseUrl">* 구매 URL 형식이 아닙니다.</div>
            </div>


            <div>
              <span class="">모바일쇼핑몰 상품상세 페이지 URL의 상품번호(코드)를 ${origin_item_id} 변수로 변경하여 등록해 주세요.</span>
            </div>
            <div>
              <h5>[솔루션별 예시]</h5>
              <ul>
                <li>• 카페24 : http://m.쇼핑몰도메인/product/detail.html?product_no=${origin_item_id}</li>
                <li>• 메이크샵 : http://쇼핑몰도메인/m/product.html?branduid=${origin_item_id}</li>
                <li>• 고도몰 : http://쇼핑몰도메인/m2/goods/view.php?goodsno=${origin_item_id}</li>
                <li>• 가비아 : http://m.쇼핑몰도메인/goods/view?no=${origin_item_id}</li>
              </ul>
            </div>
          </td>
        </tr>


        </tbody>
      </table>
    </div>

    <div class="btn_group" ng-if="StoreAdminMainCtrl.pageType==='registration'">
      <button type="button"
              ng-disabled="org_frm.$invalid"
              ng-click="StoreAdminMainCtrl.exports.setMinorOrganization()"
              class="btn btn_default btn_save">등록</button>
      <button ng-click="StoreAdminMainCtrl.exports.goListPage()" type="button" class="btn btn_default">취소</button>
    </div>

    <div class="btn_group" ng-if="StoreAdminMainCtrl.pageType==='modification'">
      <button type="button"
              ng-disabled="org_frm.$invalid"
              ng-click="StoreAdminMainCtrl.exports.updateMinorOrganization()"
              class="btn btn_default btn_save">저장</button>
      <button ng-click="StoreAdminMainCtrl.exports.goListPage()"
              ng-hide="StoreAdminMainCtrl.accountType==='shop'"
              type="button" class="btn btn_default">취소</button>
    </div>

    <div class="btn_group" ng-if="StoreAdminMainCtrl.pageType==='confirmation'">
      <button type="button"
              ng-click="StoreAdminMainCtrl.exports.goListPage()"
              ng-hide="StoreAdminMainCtrl.accountType==='shop'"
              class="btn btn_default btn_save">확인</button>
    </div>

  </form>

</script>
