
<script type="text/ng-template" id="table_body_org_store_list.html">

  <div class="table_cont">

    <table class="table table-hover no-margin">
      <thead>
        <tr>
          <th style="width:5%">No</th>
          <th style="width:30%">입점업체 명칭</th>
          <th style="width:15%">담당자명</th>
          <th style="width:15%">연락처</th>
          <th style="width:20%">메일주소</th>
          <th style="width:10%">등록일</th>
          <th style="width:5%">상태</th>
        </tr>
      </thead>

      <tbody
        ng-show="tableBodyCtrl.getTotal()>0"
      >

      <tr
        ng-repeat="tableRow in tableBodyCtrl.getResults() track by $index"
        data-id="{{tableRow.id}}"
      >

        <td>
          <span class="name" >{{tableBodyCtrl.getTotal()-(tableBodyCtrl.getCount()*(tableBodyCtrl.getStart()/tableBodyCtrl.getCount()) )-$index}}</span>
        </td>

        <td>
          <a href="" ng-click="tableBodyCtrl.modificationStoreAdmin(tableRow)" ><span class="name" ng-bind="tableRow.org_name"></span></a>
        </td>


        <td>
          <span class="name" ng-bind="tableRow.contact_name"></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.contact_phone"></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.contact_mail"></span>
        </td>

        <td>
          <span class="name" >{{tableBodyCtrl.renderRegistSection(tableRow.reg_date)}}</span>
        </td>

        <td>
          <span class="name" >{{ (tableRow.status===0)?'정상':'사용중지' }}</span>
        </td>

      </tr>


      </tbody>

      <tbody ng-show="tableBodyCtrl.getTotal()<1">
      <tr>
        <td colspan="7" style="text-align: center;">검색결과가 없습니다.</td>
      </tr>
      </tbody>

    </table>
  </div>


</script>
