<script type="text/ng-template" id="table_search_org_store_list.html">

  <div id="tbl_search" class="list-form-wrapper">

    <div class="list-form-inner">
      <table class="table list_form" style="">
        <thead style="">
        <tr>
          <th style="width:18%"></th>
          <th style="width:82%"></th>
        </tr>
        </thead>

        <tbody>

        <tr >
          <td class="list_form_label">검색 구분</td>
          <td>
            <div class="form-inline">
              <select
                ng-model="tableSearchCtrl.reqModel.search_type"
                convert-to-number
                class="form-control" name="search_type" id="search_type">
                <option value="0">전체항목</option>
                <option value="2">입점업체 명칭</option>
                <option value="3">담당자명</option>
              </select>

              <input
                ng-class="{visible_hidden:(tableSearchCtrl.reqModel.search_type==0 || tableSearchCtrl.reqModel.search_type=='0')}"
                name="search_keyword"
                id="search_keyword"
                ng-model="tableSearchCtrl.reqModel.search_keyword"
                type="text" class="form-control search_class_txt">
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label">검색 필터</td>
          <td>
            <div class="form-inline">
              <select
                ng-model="tableSearchCtrl.reqModel.status"
                convert-to-number
                class="form-control" name="status" id="status">
                <option value="2">상태 전체</option>
                <option value="0">정상</option>
                <option value="1">사용중지</option>
              </select>

            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>


    <div class="list-form-search-btn">
      <a id="searchBtn" class="btn btn-primary btn-lg" ng-click="tableSearchCtrl.updateList()">검색</a>
    </div>

  </div>

</script>
