.brand_registration {

  table {
    tr {
      th {
        .bg-color-mixin(#f5f5f5);
        vertical-align: middle;
        height: 44px;
      }
      td {
        vertical-align: middle;
        height: 44px;

        input[type=text] {
          width: 250px;
          display: inline-block;
          margin-right: 10px;

        }
      }
    }
  }

  label {
    margin: 0;
    padding: 0 20px;
    input {
      margin-right: 10px;
    }
  }

}

.btn_default {
  width: 121px;
  height: 48px;
  color: @white;
  display: block;
  margin: 0 auto;

  &.btn_save {
    .bg-color-mixin(@color-save);
    border: 1px solid #1f909b;
  }
}

.label {
  &.label-primary {
    .bg-color-mixin(@color-save);
    .border-radius-mixin(2px);
    border: 1px solid @color-save;
    padding: 1px 1px;
  }
}

