
<!DOCTYPE html>
<html>
<head>
  <title>TEST UPLOAD</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->


  <style>
    .cont{
      position: relative;
      display: block;
      width:100%;
    }

    .row{
      position: relative;
      display: block;
      width:100%;

    }

  </style>
</head>

<body>

  <div id="cont">
    <form action="/td/set" enctype="multipart/form-data" name="frm" id="frm" method="post">
    <!--<form action="<%=imgURL%>/td/set" enctype="multipart/form-data" name="frm" id="frm" method="post">-->

      <!--
        account_uuid  = req.param('account_uuid');
      secret        = req.param( "secret" );
      verify_code   = req.param( "verify_code" );
      item_id       = req.param('item_id');
      td_cate_name  = req.param('make_category_name');
      td_name       = req.param('td_name');
      td_price      = req.param('td_price');
      td_desc       = req.param('td_description');
      td_currency   = req.param('td_currency');
      td_status     = req.param('status');
      show          = req.param( "show" );
      -->

      <!--
      <div class="row">
        <span>user_id:: </span>
        <input type="text" id="user_id" name="user_id" value="larry" />
      </div>

      <div class="row">
        <span>account_uuid:: </span>
        <input type="text" id="account_uuid" name="account_uuid" value="15ff3610-cff1-4e10-98d8-f2ac544a0880" />
      </div>

      <div class="row">
        <span>verify_code code:: </span>
        <input type="text" id="verify_code" name="verify_code" value="" />
      </div>

      -->

      <div class="row">
        <span>user_id:: </span>
        <input type="text" id="user_id" name="user_id" value="test003" />
      </div>

      <div class="row">
        <span>account_uuid:: </span>
        <input type="text" id="account_uuid" name="account_uuid" value="" />
      </div>

      <div class="row">
        <span>user_pw:: </span>
        <input type="text" id="user_pw" name="user_pw" value="qwer1234" />
      </div>


      <div class="row">
        <span>verify_code code:: </span>
        <input type="text" id="verify_code" name="verify_code" value="" />
      </div>


      <div class="row">
        <span>secret:: </span>
        <input type="text" id="secret" name="secret" value="" />
      </div>

      <div class="row">
        <span>verify_code key:: </span>
        <input type="text" id="key" name="key" value="" />
      </div>



      <div class="row">
        <span>item_id:: </span>
        <input type="text" id="item_id" name="item_id" value="16" />
      </div>

      <div class="row">
        <span>make_category_name:: </span>
        <input type="text" id="make_category_name" name="make_category_name" value="WomCloTop001" />
      </div>

      <div class="row">
        <span>td_name:: </span>
        <input type="text" id="td_name" name="td_name" value="Top Cloth 001" />
      </div>

      <div class="row">
        <span>td_price:: </span>
        <input type="text" id="td_price" name="td_price" value="10000" />
      </div>

      <div class="row">
        <span>td_description:: </span>
        <input type="text" id="td_description" name="td_description" value="td 샘플입니당" />
      </div>

      <div class="row">
        <span>td_currency:: </span>
        <input type="text" id="td_currency" name="td_currency" value="KWD" />
      </div>

      <div class="row">
        <span>status:: </span>
        <input type="text" id="status" name="status" value="activated" />
      </div>

      <div class="row">
        <span>status:: </span>
        <input type="text" id="show" name="show" value="debug" />
      </div>

      <div class="row">
        <span>fitting_zip_file:: </span>
        <input type="file" id="fitting_zip_file" name="fitting_zip_file" />
      </div>


    </form>

    <div class="row">
      <button id="submit_btn">1. VERIFY_CODE</button>
    </div>

    <div class="row">
      <button id="login_btn">2. LOGIN</button>
    </div>

    <div class="row">
      <button id="submit2_btn">3. VERIFY_CODE TD</button>
    </div>

    <div class="row">
            <input type="submit" id="send_btn" name="send_btn" value="4. send_btn" />
    </div>



  </div>

  <!--SCRIPTS_BASE-->
  
  <!--SCRIPTS_BASE END-->

  <script src="/js/modernizr.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/is.min.js"></script>
  <script src="/js/underscore-min.js"></script>

  <script>
    (function($){

      var API_URL = "";
      var _$frm = $('#frm');
      var _$submit_btn = $('#submit_btn');
      var _$submit2_btn = $('#submit2_btn');

//      $('#send_btn').css({'display':'none'});


       $('#send_btn').on('click',function(e){
            e.preventDefault();
            $('#frm').submit();
            return false;
       });

      _$submit_btn.css({'display':'block'}).on('click', function(__e){
        __e.preventDefault();

        $.ajax({
          url: API_URL+'/verifyCode/update',
          method:'POST',
          //Ajax events
          beforeSend: function (e) {
          },
          success: function (e) {
            console.log('Upload completed: ', arguments);
          },
          error: function (e) {
            console.log('error ' + e.message);
          },
          // Form data
          data: {
            key:$('#user_id').val()
//            key:$('#account_uuid').val()
          }
        }).then(function(__data){
          console.log(__data);
          $('#key').val(__data.key);
          $('#verify_code').val(__data.code);

          if( $('#send_btn').css('display')==='none' ){
            $('#send_btn').trigger('click');
          }

        });

        return false;
      });

      _$submit2_btn.css({'display':'block'}).on('click', function(__e){
        __e.preventDefault();

        $.ajax({
          url: API_URL+'/verifyCode/update',
          method:'POST',
          //Ajax events
          beforeSend: function (e) {
          },
          success: function (e) {
            console.log('Upload completed: ', arguments);
          },
          error: function (e) {
            console.log('error ' + e.message);
          },
          // Form data
          data: {

            key:$('#account_uuid').val()
          }
        }).then(function(__data){
          console.log(__data);
          $('#key').val(__data.key);
          $('#verify_code').val(__data.code);

          if( $('#send_btn').css('display')==='none' ){
            $('#send_btn').trigger('click');
          }

        });

        return false;
      });


      $('#login_btn').on('click', function(__e){
        __e.preventDefault();

        $.ajax({
          url: API_URL+'/account/login',
          method:'POST',
          //Ajax events
          beforeSend: function (e) {
          },
          success: function (e) {
            console.log('Upload completed: ', arguments);
          },
          error: function (e) {
            console.log('error ' + e.message);
          },
          // Form data
          data: {
            id:$('#user_id').val(),
            password:$('#user_pw').val(),
            key:$('#key').val(),
            verify_code:$('#verify_code').val(),
            ip_addr:'127.0.0.1',
            service:'cat',
            show:'debug'

          }
        }).then(function(__data){
          console.log(__data);
          $('#secret').val(__data.results[0].secret);
          $('#account_uuid').val(__data.results[0].account_uuid);


        });


        return false;
      });


      function _submit(__opt){

        var frmData = new FormData();
        var dataKeyArr = [
          'account_uuid', 'secret', 'verify_code', 'item_id', 'make_category_name',
          'td_name','td_price','td_description','td_currency','status','show'
        ];

        //__opt.frm
        _appendStrData( frmData, dataKeyArr );


        frmData.append('Content-Type', 'application/x-zip-compressed');
        frmData.append('Content-Transfer-Encoding', 'binary');
        frmData.append( "fitting_zip_file", $('#fitting_zip_file')[0].files[0], (Date.now())+'.zip' );


        function _appendStrData(__frm, __arr){
          __arr.forEach(function(val){
            __frm.append(val , $('#'+val).val() );
          });
        }


        return $.ajax({
          url: __opt.url,
          method:'POST',
          //Ajax events
          beforeSend: function (e) {
          },
          success: function (e) {
            console.log('Upload completed: ', arguments);
          },
          error: function (e) {
            console.log('error ' + e.message);
          },
          // Form data
          data: frmData,
          //Options to tell jQuery not to process data or worry about content-type.
          cache: false,
          contentType: false,
          processData: false
        });
      }

    })(window.jQuery);

  </script>

</body>
</html>
