<script type="text/ng-template" id="table_search_org_list.html">

  <div id="tbl_search" class="list-form-wrapper">

    <div class="list-form-inner">
      <table class="table list_form" style="">
        <thead style="">
        <tr>
          <th style="width:18%"></th>
          <th style="width:82%"></th>
        </tr>
        </thead>

        <tbody>

        <tr >
          <td class="list_form_label">검색 구분</td>
          <td>
            <div class="form-inline">
              <select
                ng-model="tableSearchCtrl.reqModel.search_type"
                convert-to-number
                class="form-control" name="search_type" id="search_type">
                <option value="0">전체항목</option>
                <option value="1">ID</option>
                <option value="3" ng-show="tableSearchCtrl.storeList.length != '0' ">입점업체 명칭</option>
                <option value="4">담당자명</option>
              </select>

              <input
                ng-class="{visible_hidden:(tableSearchCtrl.reqModel.search_type==0 || tableSearchCtrl.reqModel.search_type=='0')}"
                name="search_keyword"
                id="search_keyword"
                ng-model="tableSearchCtrl.reqModel.search_keyword"
                type="text" class="form-control search_class_txt">
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label">검색 필터</td>
          <td>
            <div class="form-inline">

              <!--<select class="form-control"-->
                      <!--ng-model="tableSearchCtrl.adminOrgId"-->
                      <!--ng-change="tableSearchCtrl.changeAdminOrgId()">-->
                <!--<option value="">운영업체 선택</option>-->
                <!--<option ng-repeat="admin in tableSearchCtrl.adminList" value="{{admin.org_id}}">{{admin.org_name}}</option>-->
              <!--</select>-->

              <select class="form-control"
                      ng-show="tableSearchCtrl.storeList.length != '0' "
                      ng-model="tableSearchCtrl.storeOrgId">
                      <!--ng-disabled="tableSearchCtrl.adminOrgId == '' ">-->
                <option value="">입점업체 선택</option>
                <option ng-repeat="store in tableSearchCtrl.storeList" value="{{store.org_id}}">{{store.org_name}}</option>
              </select>

              <select
                ng-model="tableSearchCtrl.reqModel.service_type"
                convert-to-number
                class="form-control" name="service_type" id="service_type">
                <option value="3">서비스 타입 전체</option>
                <option value="0">Shop</option>
                <option value="1">CAT</option>
                <option value="2">FX Mirror</option>

              </select>

              <select
                ng-model="tableSearchCtrl.reqModel.status"
                convert-to-number
                class="form-control" name="status" id="status">
                <option value="2">상태 전체</option>
                <option value="0">정상</option>
                <option value="1">사용중지</option>

              </select>

            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>


    <div class="list-form-search-btn">
      <a id="searchBtn" class="btn btn-primary btn-lg" ng-click="tableSearchCtrl.updateList()">검색</a>
    </div>

  </div>

</script>
