<script type="text/ng-template" id="table_options_org_list.html">

  <div class="table_option_wrapper" style="">

    <div class="table_option_total" style="">
      <h5>총<span style="color:red;">{{tableOptionCtrl.getTotal()}}</span>개</h5>
    </div>

    <div class="table_option_view_total" style="" ng-show="tableOptionCtrl.getTotal()>0">
      <select
        ng-model="tableOptionCtrl.count"
        convert-to-number
        ng-change="tableOptionCtrl.onChangeCount()"
        class="form-control form-control-select" id="table_Count" name="table_count" style="">
        <option value="20">20개씩 보기</option>
        <option value="40">40개씩 보기</option>
        <option value="80">80개씩 보기</option>
        <option value="100">100개씩 보기</option>
      </select>
    </div>

  </div>


</script>
