
<script type="text/ng-template" id="table_body_org_list.html">

  <div class="table_cont">

    <table class="table table-hover no-margin">
      <thead>
        <tr>

          <th style="width:3%"><input type="checkbox" class="table-row-check-box-all"></th>
          <th style="width:5%">No</th>
          <th style="width:10%">ID</th>
          <th style="width:12%" ng-show="!tableBodyCtrl.isStore">입점업체</th>
          <th style="width:5%" ng-show="!tableBodyCtrl.isStore">구분</th>
          <th style="width:5%">권한</th>
          <th style="width:12%">서비스</th>
          <th style="width:10%">담당자명</th>
          <th style="width:10%">연락처</th>
          <th style="width:10%">등록일</th>
          <th style="width:5%">상태</th>
        </tr>
      </thead>

      <tbody
        ng-show="tableBodyCtrl.getTotal()>0"
      >

      <tr
        ng-repeat="tableRow in tableBodyCtrl.getResults() track by $index"
        data-id="{{tableRow.id}}"
      >

        <td>
          <input type="checkbox"
                 class="table-row-check-box"
                 shop-name="{{tableRow.id}}"
                 uuid="{{tableRow.account_uuid}}"
                 id="{{tableRow.id}}"
                 account_no="{{tableRow.account_no}}"
                 account_type="{{tableRow.account_type}}"
                 name="{{tableRow.id}}">
        </td>
        <td>
          <span class="name" >{{tableBodyCtrl.getTotal()-(tableBodyCtrl.getCount()*(tableBodyCtrl.getStart()/tableBodyCtrl.getCount()) )-$index}}</span>
        </td>

        <td>
          <a href="" ng-click="tableBodyCtrl.modificationAccOrg(tableRow)"><span class="name" ng-bind="tableRow.id || 'empty' "></span></a>
        </td>

        <td ng-show="!tableBodyCtrl.isStore">
          <span class="name" ng-bind="tableRow.org_name || '-'"></span>
        </td>

        <td ng-show="!tableBodyCtrl.isStore">
          <span class="name" ng-bind="tableRow.org_type == '0' ? '운영업체' : '입점업체' "></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.account_type == '0' ? '대표' : '부' "></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.service | convertServiceName"></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.contact_name"></span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.contact_phone"></span>
        </td>

        <td>
          <span class="name">{{tableBodyCtrl.renderRegistSection(tableRow.reg_date)}}</span>
        </td>

        <td>
          <span class="name">{{ (tableRow.status =='0')?'정상':'사용중지' }}</span>
        </td>


      </tr>


      </tbody>

      <tbody ng-show="tableBodyCtrl.getTotal()<1">
      <tr>
        <td colspan="10" style="text-align: center;">검색결과가 없습니다.</td>
      </tr>
      </tbody>

    </table>
  </div>


</script>
