<script type="text/ng-template" id="login.html">

  <div class="container">

    <form class="form-signin" ng-submit="loginCtrl._submit()">

      <img src="<%= sails.config.urlinfo.img %>/app/login/login_logo.png?_=<%= sails.config.ver %>" alt="LOGIN LOGO">

      <input type="text"
             id="inputEmail"
             class="form-control"
             placeholder="ID"
             required=""
             autofocus=""
             ng-model="loginCtrl._state.id">

      <input type="password"
             id="inputPassword"
             class="form-control"
             ng-model="loginCtrl._state.password"
             placeholder="PASSWORD"
             required="">

      <!--<a href="#" style=" float: right; font-size: 14px; margin-top: 9px; ">Forgot Password?</a>-->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>

  </div>

</script>

