<script type="text/ng-template" id="table_search_brand.html">
  <div class="list-form-wrapper">

    <div class="list-form-inner">
      <table class="table list_form" style="">
        <thead style="">
        <tr>
          <th style="width:18%"></th>
          <th style="width:82%"></th>
        </tr>
        </thead>

        <tbody>

        <tr >
          <td class="list_form_label"><%= __("brand.ma.label.search_classify") %></td>
          <td>
            <div class="form-inline">
              <select
                ng-model="tableSearchCtrl.query_opt"
                ng-change="tableSearchCtrl.onUpdateQueryOpt()"
                class="form-control" name="" id="">
                <option value="name"><%= __("brand.ma.label.brand_name") %></option>
                <option value="code"><%= __("brand.ma.label.brand_code") %></option>
              </select>
              <input
                ng-model="tableSearchCtrl.query"
                ng-change="tableSearchCtrl.onUpdateQuery()"
                type="text" class="form-control search_class_txt">
            </div>
          </td>
        </tr>

        <tr >
          <td class="list_form_label"><%= __("brand.ma.label_display") %></td>
          <td>
            <div class="form-inline">

              <label class="radio-inline">
                <input type="radio" id="" value="all" ng-model="tableSearchCtrl.status" ng-change="tableSearchCtrl.onUpdateStatus()"> <%= __("common.ui.label.all_period") %>
              </label>

              <label class="radio-inline">
                <input type="radio" id="" value="activated" ng-model="tableSearchCtrl.status" ng-change="tableSearchCtrl.onUpdateStatus()"> <%= __("brand.ma.label.do_display") %>
              </label>

              <label class="radio-inline">
                <input type="radio" id="" value="disabled" ng-model="tableSearchCtrl.status" ng-change="tableSearchCtrl.onUpdateStatus()"> <%= __("brand.ma.label.dont_display") %>
              </label>
            </div>
          </td>
        </tr>


        </tbody>
      </table>
    </div>


    <div class="list-form-search-btn">
      <a
        ng-click="tableSearchCtrl.updatePage({options:{start:0,count:tableSearchCtrl.getCount()}})";
        class="btn btn-primary btn-lg"><%= __("common.ui.label.search") %></a></p>
    </div>

  </div>


</script>
