<script type="text/ng-template" id="table_option_brand.html">

  <div class="table_option_wrapper" style="">

    <div class="table_option_total" style="">
      <h5>총 <span style="color:red;">{{tableOptionCtrl.getTotal()}}</span> 개</h5>
    </div>

    <div class="table_option_view_total" style="" ng-show="tableOptionCtrl.getTotal()>0">
      <select
        ng-model="tableOptionCtrl.count"
        convert-to-number
        class="form-control form-control-select" id="table_Count" name="table_count" style="">
        <option value="10">10개씩 보기</option>
        <option value="20">20개씩 보기</option>
        <option value="30">30개씩 보기</option>
        <option value="50">50개씩 보기</option>
        <option value="100">100개씩 보기</option>
      </select>
    </div>

    <div class="table_option_ctrl_panel col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
      <div class="list-group table-of-contents" style="">

        <div class="list-group-item">
          <span class="table_option_ctrl_panel_desc">선택한 항목을 </span>
          <a href="" class="btn btn-primary btn-xs btn-color-red" style="" ng-click="tableOptionCtrl.deleteRow()">삭제</a>
          <a href="/<%=res.getLocale()%>/items_mng/category/brand/registration" class="btn btn-primary btn-xs btn-color-blue float_right" style="">브랜드 등록</a>
        </div>

      </div>
    </div>

  </div>


</script>
