
<script type="text/ng-template" id="table_body_brand.html">

  <div class="table_cont">

    <table class="table table-hover no-margin">
      <thead>
        <tr>
          <th style="width:2%">
            <input class="table-row-check-box-all no-margin" type="checkbox">
          </th>
          <th style="width:8%">No</th>
          <th style="width:25%">브랜드 코드</th>
          <th style="width:30%">브랜드</th>
          <th style="width:10%">노출여부</th>
          <th style="width:10%">등록일</th>
          <th style="width:15%">상품수</th>
        </tr>
      </thead>

      <tbody
        ng-show="tableBodyCtrl.getTotal()>0">
      <tr ng-repeat="tableRow in tableBodyCtrl.getResults() track by $index"
          data-id="{{tableRow.id}}"
          data-uuid="{{tableRow.uuid}}"
      >
        <td>
          <input class="table-row-check-box no-margin" type="checkbox" shop-name="{{tableRow.name}}" uuid="{{tableRow.uuid}}" id="{{tableRow.id}}" name="{{tableRow.id}}">
        </td>

        <td>
          <span class="name" >{{tableBodyCtrl.getTotal()-(tableBodyCtrl.getCount()*(tableBodyCtrl.getStart()/tableBodyCtrl.getCount()) )-$index}}</span>
        </td>

        <td>
            <span class="name" ng-if="tableBodyCtrl.brandAuth==='2'">
              <a ng-click="tableBodyCtrl.updateBrand(tableRow)" href="">{{tableRow.uuid}}</a>
            </span>
            <span class="name" ng-if="tableBodyCtrl.brandAuth!=='2'">{{tableRow.uuid}}</span>
        </td>

        <td>
          <span class="name" ng-bind="tableRow.name"></span>
        </td>

        <td>
          <span class="name" ng-bind="(tableRow.status=='activated')?'노출함':'노출안함'"></span>
        </td>

        <td>
          <span class="name" >{{tableRow.reg_date | datestrfilter}}</span>
          <!--  date:'yyyy-mm-dd' datestrfilter-->
        </td>

        <td>
          <span class="name" ng-if="tableBodyCtrl.itemAuth==='2'">
              <a href="/<%=res.getLocale()%><%=url_info.menu.ITEMS_MNG_ITEMS_LIST.link%>&brand_id={{tableRow.id}}">{{tableRow.item_count | currency:"":0}}</a>
          </span>
          <span class="name" ng-if="tableBodyCtrl.itemAuth!=='2'">{{tableRow.item_count | currency:"":0}}</span>
        </td>

      </tr>
      </tbody>

      <tbody ng-show="tableBodyCtrl.getTotal()<1">
        <tr>
          <td colspan="8" style="text-align: center;">검색한 브랜드정보가 없습니다.</td>
        </tr>
      </tbody>
    </table>
  </div>


</script>
