/**
 * 初始化HTML标签及常用类型
 * @kivenhan
 * www.cnbiz.co.kr
 * Apr-01-2012
 **/

/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
body { background: none repeat scroll 0 0 #FFF; color: #333; font: 12px/1 Arial, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Helvetica,  sans-serif;}
input, select, textarea { font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
a { outline: medium none;}
a:link, a:visited, a:active { text-decoration: none;}
a:hover { text-decoration: underline;}
i, cite, em { font-style: normal;}


html {min-height:101%; } 


/* Clearfix,避免因子元素浮动而导致的父元素高度缺失能问题 */
	.clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
	.clearfix { display: inline-block;}
	html[xmlns] .clearfix { display: block;}
	*html .clearfix{height:1%;}
	*+html .clearfix{height:1%;}

time { color: #777;}


/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }

/*文字排版
******************************/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f20 { font-size:20px;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.t2 { text-indent:2em;}
.lh150 { line-height:150%}
.lh180 { line-height:180%}
.lh200 { line-height:200%}
.unl { text-decoration:underline;}
.no_unl { text-decoration:none;}
.noborder { border-style:none!important; border-width: 0!important ;}

/*定位 
******************************/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; display:inline;}
.fr { float:right !important; display:inline;}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: top;}
.pr { position:relative;}
.pa { position:absolute;}
.abs-right { position:absolute; right:0;}
.zoom { zoom:1}
/*.hidden { visibility:hidden;*/}
.none { display:none;}
.clear { clear: both; height: 0; font-size: 0; line-height:0; }

/*长度高度
******************************/
.w10 { width:10px;}
.w20 { width:20px;}
.w30 { width:30px;}
.w40 { width:40px !important;}
.w50 { width:50px !important;}
.w60 { width:60px !important;}
.w65 { width:65px;}
.w70 { width:70px;}
.w80 { width:80px;}
.w90 { width:90px;}
.w96 {width: 96px;}
.w100 { width:100px;}
.w110 { width:110px;}
.w120 { width:120px;}
.w150 { width:150px;}
.w160 { width:160px;}
.w180 { width:180px;}
.w200 { width:200px !important;}
.w210 { width:210px !important;;}
.w230 { width:230px;}
.w240 { width:240px;}
.w250 { width:250px !important;}
.w270 { width:270px;}
.w300 { width:300px !important;}
.w340 { width:340px;}
.w380 { width:380px;}
.w400 { width:400px!important;}
.w450 { width:450px!important;}
.w500 { width:500px;}
.w530 { width:530px;}
.w600 { width:600px !important;}
.w700 { width:700px;}
.w730 { width:730px;}
.w780 { width: 780px;}
.w980 { width: 980px;}
.w800 { width:800px;}
.w208 {width: 208px;}



.w { width:100%}
.h50 { height:50px !important;}
.h80 { height:80px;}
.h100 { height:100px !important;}
.h200 { height:200px;}
.h { height:100%}
.size30 { width: 30px; height: 30px;}
.size32 { width: 32px; height:32px;}
.size40 { width: 40px; height:40px;}
.size60 { width: 60px; height:60px;}
.size70 { width: 70px; height: 70px;}
.size72 { width: 72px; height: 72px;}
.size75 { width: 75px; height: 75px;}
.size80 { width: 80px; height:80px;}
.size90 { width: 90px; height:90px;}
.size100 { width: 100px; height: 100px;}
.size110 { width: 110px; height: 110px;}
.size120 { width: 120px; height: 120px;}
.size128 { width: 128px; height: 128px;}
.size142-80 { width: 142px; height: 80px;}
.size160 { width: 160px; height: 160px;}
.size160-48 { width: 160px; height: 48px;}
.size150 { width: 150px; height: 150px; }
.size160 { width: 160px; height: 160px;}
.size184 { width: 184px; height: 114px; }
.size190 { width: 190px; height: 190px;}
.size196 { width: 196px; height: 196px;}
.size233 { width: 233px; }
.size250 { width: 250px; height: 250px;}
.size310 { width: 310px; height:310px;}
.size-brand-logo { width: 88px; height: 42px;}

/*边距
******************************/
.m10 { margin:10px;}
.m15 { margin:15px;}
.m30 { margin:30px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px !important;}
.mt30 { margin-top:30px !important;}
.mt50 { margin-top:50px !important;}
.mt100 { margin-top:100px;}
.mb5 { margin-bottom:5px;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px;}
.mb50 { margin-bottom:50px;}
.mb100 { margin-bottom:100px;}
.ml5 { margin-left:5px;}
.ml10 { margin-left:10px;}
.ml15 { margin-left:15px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml50 { margin-left:50px;}
.ml100 { margin-left:100px !important;}
.ml200 { margin-left:200px !important;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px !important;}
.mr50 { margin-right:50px !important;}
.mr100 { margin-right:100px;}

/*边距
******************************/
.p10 { padding:10px;}
.p15 { padding:15px;}
.p30 { padding:30px;}
.pt5 { padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt30 { padding-top:30px;}
.pt50 { padding-top:50px;}
.pt100 { padding-top:100px;}
.pb5 { padding-bottom:5px;}
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px !important;}
.pb30 { padding-bottom:30px;}
.pb50 { padding-bottom:50px;}
.pb100 { padding-bottom:100px;}
.pl5 { padding-left:5px;}
.pl10 { padding-left:10px;}
.pl15 { padding-left:15px;}
.pl20 { padding-left:20px;}
.pl30 { padding-left:30px;}
.pl50 { padding-left:50px;}
.pl100 { padding-left:100px;}
.pr5 { padding-right:5px;}
.pr10 { padding-right:10px;}
.pr15 { padding-right:15px;}
.pr20 { padding-right:20px;}
.pr30 { padding-right:30px;}
.pr50 { padding-right:50px;}
.pr100 { padding-right:100px;}

/*div宽高局中
******************************/
	.thumb , .logo { display:table-cell; vertical-align:middle; text-align:center;}
	.thumb i , .logo i { *display:inline-block; *height:100%; *vertical-align:middle; }
	.thumb img , .logo img { *vertical-align:middle; }

#page { background-color: #F5F5F5; width: 100%; height: 29px; border-bottom: 1px solid #D8D8D8; }
.warp-all { width: 1200px; margin: 0 auto;}


/*==============================*/
/* 顶部导航条样式 */
/*==============================*/
#topNav { height: 29px; position: relative; z-index:998;}
#topNav a { color: #666;}
#topNav a:hover { color: #F30; text-decoration: underline;}
	#topNav .user-entry { line-height: 20px; display: block; width: 550px; height: 20px; float: left; padding: 4px 0 5px 0; margin:0; overflow: hidden;}
		.user-entry dt { color: #555; display: block; float: left; padding: 0 5px;}
		.user-entry dt span { font-weight: 600; padding: 0 2px;}
		.user-entry dd { color: #999; display: block; float: left; padding: 0 4px;}
		.user-entry dd a { color: #999; padding: 0 2px;}
	
	#topNav .quick-menu { position: absolute; top: 4px; right: 0px;}
		.quick-menu li { background:url(../images/nc_topbar.gif) no-repeat 100% -26px; float: left; margin-left: -1px; position: relative; z-index: auto;}
		
		.quick-menu li.last { background: none transparent scroll repeat 0% 0%}
		.quick-menu li a { line-height:18px; background-color:transparent;  padding: 2px 10px 0 10px; display: block;}

		.quick-menu .menu { }
		.quick-menu .menu-hd { line-height:18px; display: block; height: 18px; padding: 0px 22px 2px 10px; margin: 1px 1px 0 1px; position: relative; z-index: 10002; cursor: pointer;}
		.quick-menu .menu-hd i { font-size: 0px; line-height: 0; width: 0px; height: 0px; border-width: 4px; border-color: #333 transparent transparent transparent; border-style:solid dashed dashed dashed; position: absolute; top: 9px; right: 10px; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}		
		.quick-menu .menu:hover .menu-hd { background:#FFF; margin: 0px; border: #CCC 1px solid; border-bottom-style: none;}
		.quick-menu .menu:hover .menu-hd i { top: 7px; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
		.quick-menu .menu-bd { background: #fff; display: none; border: #CCC 1px solid; position: absolute; z-index: 10001; top: 21px; overflow:hidden; zoom:1; }
		.quick-menu .menu-bd .loading { margin: 10px auto 10px 48%; }
		.quick-menu .menu:hover .menu-bd { display: block;}
		
		.quick-menu .user-center .menu-hd { width: 48px; padding-top: 1px; _padding-top: 1px;}
		.quick-menu .user-center .menu-bd { width: 92px; right:0px; }
		.quick-menu .user-center ul{ padding: 8px; float: left;}
		.quick-menu .user-center ul li { background-image: none;}
		.quick-menu .user-center ul li a { background-image: none; line-height: 20px; width:76px; height:20px; float: left; clear: both; padding: 0 0 2px 0; margin: 0;}
		
		.quick-menu .seller-center .menu-hd { width: 48px; padding-top: 1px; _padding-top: 1px;}
		.quick-menu .seller-center .menu-bd { width: 92px; right:0px; }
		.quick-menu .seller-center ul{ padding: 8px; float: left;}
		.quick-menu .seller-center ul li { background-image: none;}
		.quick-menu .seller-center ul li a { line-height: 20px; background-image: none; width:76px; height:20px; float: left; clear: both; padding: 0 0 2px 0; margin: 0;}
		
		.quick-menu .cart .menu-hd { color: #60332c; width: 90px; padding-top: 1px; _padding-top: 1px; padding-left: 25px;}
		.quick-menu .cart .menu-hd s { background: url(../images/nc_topbar.gif) no-repeat scroll 0px 0px; width: 12px; height: 12px; position: absolute; top: 5px; *top: 4px; left: 7px;}
		.quick-menu .cart .menu-hd strong { font-weight:600; color:#F60; padding: 0 3px;}
		.quick-menu .cart .menu:hover .menu-hd { color:#F30; text-decoration: underline;}
		.quick-menu .cart .menu-bd { width: 370px; left: 0px;}
		.quick-menu .cart .order a { padding: 0;}
		.quick-menu .cart .order table { width: 354px; padding:0; margin: 0;}
		.quick-menu .cart .order td { padding:5px; border-bottom: solid 1px #F1F1F1;}
		.quick-menu .cart .order td.picture { height:40px; width: 40px; float:left;}
		.quick-menu .cart .order td.name { line-height: 18px; width: 200px; height:36; padding:5px 5px 9px 5px;}
		.quick-menu .cart .order td.price { height:40px; width: 84px;}
		.quick-menu .cart .order td.price p { line-height: 20px; color: #F30; height:20px; text-align:right; }
		.quick-menu .cart .order td.no-border { border:none;}
		.quick-menu .cart .order td span.all { width:200px; float:left;}
		.quick-menu .cart .order td span.all strong { font-weight: 600; padding: 0 4px; color: #F30;}
		.quick-menu .cart .order td span.button a, .quick-menu .cart .no-order .button { line-height: 24px; color: #FFF; background-color: #FE8502; text-align: center; display: block; float: right; padding: 0 10px; margin: 0px; border: solid 1px #ED6002; border-radius: 4px;} 
		.quick-menu .cart .no-order , .quick-menu .cart .order { padding: 8px; float:left;}
		.quick-menu .cart .no-order span { line-height:24px; color:#999; display:block; height:24px; float: left;}
		
		
		.quick-menu .favorite .menu-hd { width:48px; padding-top: 1px; _padding-top: 1px;}
		.quick-menu .favorite .menu-bd { width: 80px; left:0px; }
		.quick-menu .favorite ul{ padding: 8px; float: left;}
		.quick-menu .favorite ul li { background-image: none;}
		.quick-menu .favorite ul li a { background-image: none; line-height: 20px;  width:60px; height:20px; float: left; clear: both; padding: 0 0 2px 0; margin: 0;}
		.quick-menu li.links { background:url(../images/hbg.png) no-repeat -119px 6px;}
		.quick-menu .links .menu-hd { width: 48px; padding-top: 1px; _padding-top: 1px;}
		.quick-menu .links .menu-db { display: block;}
		.quick-menu .links .menu-bd { float: left; right:0px; }
		.quick-menu .links .menu-bd ul{ padding:8px; float: left; }
		.quick-menu .links .menu-bd ul li { background-image: none;}
		.quick-menu .links .menu-bd ul li a { line-height: 20px; background: url(../images/hbg.png) no-repeat 0px -530px; white-space:nowrap; width: 64px; height: 20px; clear: left; padding: 0 0 2px 12px; margin: 0; overflow: hidden;}
		
.warning { color: #C00; background-color: #FFC; width: 98%; clear: both; padding: 6px; margin: 6px auto; border: 1px dashed #F90;}	
.warning label { clear: both; line-height: 20px;}


#footer { line-height: 20px; color: #aaa; text-align: center; display: block; width: 1200px; clear: both; margin: 12px auto 0px auto; padding-bottom: 10px; border-top: 1px solid #E9ECEF; overflow: hidden;}
#footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
#footer a { color: #666; text-decoration: none; }
#footer a:hover { text-decoration: underline; }

/* tip提示 */
.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}



/* 调试模式 */
.trace { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color: #000; line-height: 18px; background:#FFF299; padding:8px; margin:8px; border:1px dashed silver;}
.trace fieldset { margin:8px;}
.trace fieldset legend { font-size: 16px; color: #000; font-weight:bold;}
.trace fieldset div { overflow:auto; max-height: 300px; _height: 300px; text-align:left;}
