/* =====================
 * 表单元素格式化及伪类效果
 * ===================== */

html {min-height:101%; } 
.wrap-shadow { background-color: #F9FAFC; padding:4px; border-radius: 4px;}
.wrap-all{ background-color: #FFF; border: solid 1px #C4D5E0;  border-radius: 4px;}
.success span { background: url(../images/success.gif) no-repeat 0 0; display:inline-block; padding-left:64px; }
.defeated span { background: url(../images/defeated.gif) no-repeat 0 0; display:inline-block;  padding-left:64px; }
#footer { font-size:1.2em; width: 1200px; margin: 0 auto; text-align: center; color: #aaa; line-height: 18px; padding: 15px 0; }
.clear { font-size: 0px; line-height: 0px; height: 0; margin: 0; padding: 0; float: none; clear: both; border: 0;}


input.text{ font-family: Tahoma; height: 16px; line-height: 16px; background-color:#FBFBFB; padding: 1px 2px 3px 4px !important; padding: 3px 2px 1px 4px; border: solid 1px; border-color: #CCC #DDD #DDD #CCC;}
input.text:hover{ background-color:#FFF;}
input.password { font-family: Tahoma; height: 16px; line-height: 16px; background-color:#FFFFEC; padding: 1px 2px 3px 4px !important; padding: 3px 2px 1px 4px; border: solid 1px; border-color: #FC9 #FFDFBF #FFDFBF #FC9; box-shadow: 2px 2px 1px 0 #FFF2DA inset; -moz-box-shadow: 2px 2px 1px 0 #FFF2DA inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #FFF2DA inset/* if Webkie*/;}
input[type="text"]{ box-shadow: 2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if Webkie*/;}
input[type="password"]:hover, textarea:hover { background-color:#FFF;}
input[type="text"]:focus, textarea:focus { background-color:#FFF; border-color: #CCC; box-shadow: 1px 1px 1px 0 #E7E7E7; -moz-box-shadow: 1px 1px 1px 0 #E7E7E7/* if FF*/; -webkit--box-shadow: 1px 1px 1px 0 #E7E7E7/* if Webkie*/;}
input[type="password"]:focus { background-color:#FFFFEC; border-color: #FC9; box-shadow: 1px 1px 1px 0 #E7E7E7; -moz-box-shadow: 1px 1px 1px 0 #E7E7E7/* if FF*/; -webkit--box-shadow: 1px 1px 1px 0 #E7E7E7/* if Webkie*/;}
textarea { font-family: Tahoma; line-height: 18px; color: #777; background-color:#FBFBFB; padding: 1px 2px 3px 4px !important; padding: 3px 2px 1px 4px; border: solid 1px; border-color: #CCC #DDD #DDD #CCC; box-shadow: 2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if Webkie*/;}
select { line-height: 22px; background-color: #FFF; height: 22px; padding:1px; border: solid 1px; border-color: #CCC #DDD #DDD #CCC; box-shadow: 2px 2px 1px 0 #E7E7E7 inset;}
input.hasDatepicker { width:70px !important;}/* 日期插件*/
input[type="file"] { line-height:20px; background-color:#FBFBFB; height: 20px; border: solid 1px #D8D8D8; cursor: default;}

.goods-pic-small { width: 60px; height: 60px; display:block; border: solid 1px #E7E7E7;}
.goods-name { width: auto!important; padding:0!important; border: 0!important;}
.goods-name dt { text-align:left!important; padding: 0!important; width:auto!important; height: 40px; line-height: 20px !important; float:none!important; overflow:hidden;}
.goods-name dt a { color: #0579C6;}
.goods-name dt a:hover { color:#F30;}
.goods-name dd { color:#999!important; text-align:left!important; padding:0!important; width: auto!important; height: 20px; float:none!important; overflow:hidden;}
.goods-price { font-family: Tahoma; font-size: 12px; font-weight: 700; color: #555;}
.goods-time { font-family:Tahoma; color: #999;}
.goods-num { color:#390;}
.goods-num i { line-height: 15px; font-size:12px; padding:1px 4px 1px 4px; border-radius: 4px; display:inline-block; vertical-align:middle; color: #FFF !important; box-shadow: 1px 1px 0 rgba(153,153,153,0.5);}
.goods-num i.red { background-color: #C00;}
.goods-num i.orange { background-color:#F60;}
.goods-num i.green { background-color:#060;}
.goods-num i.blue { background-color: #06C;}
.goods-freight { color: #999;}
.goods-pay { color: #69C;}
.goods-favorite { width: 10px; height: 10px; padding: 3px;  border-radius: 2px; display: inline-block; vertical-align: middle;}
a.goods-favorite:hover {background-color:#F5F5F5; border: 1px #CCC solid; padding: 2px; text-decoration:none;}
.goods-favorite i.add {line-height: 0px; background: url(../images/member/ncus_public.png) no-repeat -30px -670px; _background-image: url(../images/ie6/ncus_public.gif)/*IE6*/; display:block; width: 10px; height: 10px; overflow: hidden;}
.goods-favorite i.have { line-height: 0px; background: url(../images/member/ncus_public.png) no-repeat 0px -670px; _background-image: url(../images/ie6/ncus_public.gif)/*IE6*/; display:block; width: 10px; height: 10px; overflow: hidden; cursor: default;}
.store-name a { color: #0579C6;}
.store-seller a { color: #333 !important;}
.text-hidden { line-height:0; font-size:0; overflow:hidden;}
.noborder { border: none;}
.black { color: #000;}
.gray { color: #888;}
.red { color:#F00;}
.orange { color:#F60 !important;}
.num{ color: #390; }
.price { color:#F60; font-weight: 600;}
.lightbulb { background: url(../images/member/ncus_public.png) scroll no-repeat -190px -520px; display: inline-block; vertical-align:middle; width: 16px; height: 16px; margin-right:5px;}
.print-order { background: url(../images/member/ncus_public.png) no-repeat scroll -190px -550px; display: inline-block; vertical-align:middle; width: 16px; height: 16px; margin-right:5px; cursor: pointer;}
.message { background: url(../images/member/ncus_public.png) no-repeat -238px -408px; _background-image: url(../images/ie6/ncus_public.gif)/*IE6*/; text-indent: 9999px; display: inline-block; width: 11px; height: 9px; vertical-align:middle; margin-left: 5px;}




.shop-new-goods .arrow {  background: url(../images/member/ncus_public.png) no-repeat -160px -150px; width: 20px; height: 10px; position: absolute; z-index: 1px; top:-9px; left:340px;}
.arrow-down { background: url(../images/member/ncus_public.png) no-repeat -130px -140px; vertical-align:middle; display: inline-block; width: 15px; height: 15px; margin-left: 5px; cursor: pointer;}
.arrow-up {  background: url(../images/member/ncus_public.png) no-repeat -130px -160px; vertical-align:middle; display: inline-block; width: 15px; height: 15px; margin-left: 5px; cursor: pointer;}



a.nc-show-deliver { line-height: 20px; text-decoration:none !important; color: #555 !important; background: #FFF; padding: 0 6px; vertical-align:middle; display: inline-block; height:20px; border: solid 1px #C4D5E0; box-shadow: 1px 1px 0 rgba(0,0,0,0.1); overflow:hidden; zoom:1;}
a:hover.nc-show-deliver { box-shadow: none; color:#0579C6 !important; }
.nc-show-deliver i { background: url(../images/member/ncus_public.png) no-repeat scroll -255px -407px; vertical-align: middle; display: inline-block; width: 16px; height: 14px; margin-right: 4px;}

a.nc-show-order { line-height: 20px; text-decoration:none !important; color: #555 !important; background: #FFF; padding: 0 6px; vertical-align:middle; display: inline-block; height:20px; border: solid 1px #C4D5E0; box-shadow: 1px 1px 0 rgba(0,0,0,0.1); overflow:hidden; zoom:1;}
a:hover.nc-show-order { box-shadow: none; color:#0579C6 !important; }
.nc-show-order i { background: url(../images/member/ncus_public.png) no-repeat scroll -280px -406px; vertical-align: middle; display: inline-block; width: 16px; height: 15px; margin-right: 4px;}


/* 验证错误提示 */
#warning { display: none; background: url(../images/member/warning_bg.png) no-repeat scroll 0px 0px; padding: 6px 12px 12px 100px; min-height: 60px;}
#warning label { display: block; margin: 4px 0 0 0;}
#warning label.error { font-family: "微软雅黑"; font-size: 1.4em; line-height: 20px; color: #D50000; background: url(../images/member/ncus_public.png) no-repeat -296px -332px; padding-left: 12px;}


.ncm-notes { background-color:#FEFEDA; clear: both; padding:8px; border: 1px solid #FFE8C2!important; margin: 0 auto 10px auto;}
.ncm-notes h3 { font-size: 12px !important; background: url(../images/member/ico.gif) no-repeat 3px -2865px; background-color:transparent !important; color: #F60 !important; border:none !important; font-weight:700; padding:0 0 0 24px !important; height: 24px; line-height: 24px; margin-bottom: 4px; border:none;}
.ncm-notes ul { padding-left: 24px; width:90%; line-height: 24px; clear:both;}
.ncm-notes ul li { }

.tabmenu {height: 32px; width:100%; display:block;position: relative;}
.tabmenu .tab { background: url(../images/member/ncus_repeat_x.png) repeat-x scroll center -100px; _background-image: url(../images/ie6/ncus_repeat_x.gif)/*IE6*/; width: 96%; height: 32px; padding: 0 2%;}
.tabmenu .tab li { float: left; margin-right: 4px;}
.tabmenu .tab .active a {  font-weight: 700; line-height: 30px; color: #000; background-color: #FFF; display: inline-block; height: 30px; padding: 0 10px; border: solid 1px; border-color: #AED2FF #AED2FF #FFF #AED2FF; border-radius: 4px 4px 0 0; cursor: default;}
.tabmenu .tab .active a:hover { text-decoration: none; cursor: default;}
.tabmenu .tab .normal a { line-height: 26px; color: #5F718B; background-color: #E8F2FF; display: inline-block; height: 26px; padding: 0 10px; margin-top: 4px; border: solid #AED2FF; border-width: 1px 1px 0 1px;  border-radius: 4px 4px 0 0;}
.tabmenu .tab .normal a:hover { text-decoration: none; color:#498CD0; background-color: #F9FAFC; border-color: #C4D5E0; }
.tabmenu .text-intro {  line-height: 20px; color: #999; position: absolute; z-index: 99; top:5px; right:5px;}



/* 内容部分通用搜索样式 */
.search-form {  width: 100%; border-bottom: solid 1px #AED2FF;}
.search-form th { line-height: 22px; width: 80px; padding: 10px 0; text-align: right; color: #777;}
.search-form td { padding: 10px 0; text-align: left;}
.search-form select { height: 22px; background-color:#FFF; border: solid 1px; border-color: #CCC #DDD #DDD #CCC;  box-shadow: 2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if Webkie*/;}
.search-form select:hover { background-color:#FFF;}
.search-form select:focus { background-color:#FFF; border-color: #CCC; box-shadow: 1px 1px 1px 0 #E7E7E7; -moz-box-shadow: 1px 1px 1px 0 #E7E7E7/* if FF*/; -webkit--box-shadow: 1px 1px 1px 0 #E7E7E7/* if Webkie*/;}
.search-form  select option { background-color: #FFF; height: 20px; padding-left: 12px;}

.search-form input.text { font-family: Tahoma; width: 148px; height: 16px; line-height: 16px; background-color:#FFF; padding: 1px 2px 3px 4px !important; padding: 3px 2px 1px 4px; border: solid 1px; border-color: #CCC #DDD #DDD #CCC;}
.search-form input[type="text"] { box-shadow: 2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if Webkie*/;}
.search-form input[type="text"]:hover { background-color:#FFF;}
.search-form input[type="text"]:focus { background-color:#FFF; border-color: #CCC; box-shadow: 1px 1px 1px 0 #E7E7E7; -moz-box-shadow: 1px 1px 1px 0 #E7E7E7/* if FF*/; -webkit--box-shadow: 1px 1px 1px 0 #E7E7E7/* if Webkie*/;}


.search-form input.submit, .search-form a.submit { font-size: 0px; background: url(../images/member/ncus_public.png) no-repeat scroll -150px -105px; _background-image: url(../images/ie6/ncus_public.gif)/*IE6*/; width: 60px; height: 22px; border: 0; cursor: pointer; vertical-align:middle;}
.search-form input[type="submit"] { font-size: 0px; background: url(../images/member/ncus_public.png) no-repeat scroll -150px -105px; _background-image: url(../images/ie6/ncus_public.gif)/*IE6*/; width: 60px; height: 22px; border: 0; cursor: pointer;}
.search-form input[type="submit"]:hover { background-position: -210px -105px;}


/* 内容部分通用表格样式 */
.ncu-table-style { line-height:20px; width: 100%; border-collapse: collapse; clear: both;}
.ncu-table-style thead th { color:#5F718B; background: url(../images/member/ncus_repeat_x.png) repeat-x scroll center -40px; padding: 5px 0 6px 0; border-bottom: solid 1px #C4D5E0; text-align:center;}
.ncu-table-style thead td { color: #5F718B; background-color: #F7F7F7; padding-top: 5px; border-top: solid 1px #EEEEEE;}
.ncu-table-style thead td label, .ncu-table-style tfoot td label { color: #555; display:inline; float:left; margin-right:10px; cursor:pointer; }
.ncu-table-style tbody th { background-color: #EDF5FF; border-top: solid 1px #AED2FF; padding: 4px 0;}
.ncu-table-style tbody th a { color:#0579C6;}
.ncu-table-style tbody td { background-color: #FFF; text-align: center; padding: 12px 0;}
.ncu-table-style tfoot td { color: #5F718B;border-top: solid 1px #C4D5E0; background-color: #FFF; padding: 5px 0 6px 0;}


.bd-line td {border-top: solid 1px #EEE;}

.norecord {padding: 50px 250px!important;}
.norecord i { background: url(../images/member/ncus_public.png) no-repeat scroll 0px -50px; _background-image: url(../images/ie6/ncus_public.gif)/*IE6*/; display: inline-block; width: 44px; height: 44px; float:left; margin-right:16px;}
.norecord span {font-family: "微软雅黑"; line-height:44px; font-size: 1.3em; font-weight: 700; text-align: left; display: inline-block; float:left; width:250px; }
.norecord a {display:block; float:left; clear:both; margin-top: 10px;}

.order tbody tr td.sep-row { height:12px; padding:0; border:0;}
.order tbody tr:hover td.sep-row {background-color: #FFF; border:0; }
.order tbody tr th { border: solid 1px #C4D5E0; }
.order tbody tr td { border-bottom: 1px solid #C4D5E0; vertical-align: top; }
.order tbody tr td.bdl { border-left: 1px solid #C4D5E0; }
.order tbody tr td.bdr { border-right: 1px solid #C4D5E0; }
.order .norecord {border-bottom:0 !important;}
.order a.snsshare-btn { background-color: #F8FBFE; line-height:15px; float:right; padding: 2px 3px; margin-right: 16px; border: solid 1px #80B8D2; border-radius:4px; }
.order a.snsshare-btn i { background : url(../images/member/ncus_public.png) no-repeat scroll -120px -406px; width: 15px; height: 15px; float:left;}
.order a.snsshare-btn h5 { float: left; line-height:15px; color:#80B8D2; text-decoration:none; margin-left:1px;}
.order .buyer { color: #555; position:relative; display:block; }
.order .buyer-info { display:none; }
.order .buyer:hover .buyer-info { *width:250px/*IE7*/; display:block; position:absolute; z-index:8; top:-40px; left: 90px; border: solid 1px #FEC500; background-color:#FFF9D4; padding:4px; border-radius:5px;}
.order .buyer-info em { background: url(../images/member/ncus_public.png) no-repeat scroll -173px -407px; width: 8px; height: 14px; position: absolute; z-index: 9; top: 37px; left:-8px;}
.order .buyer-info .con { display:block; overflow:hidden; background: #FFF; padding:5px;}
.order .buyer-info h3 { font-size:1em; font-weight:700; color: #C33700; padding: 5px 0; overflow:hidden;}
.order .buyer-info h3 i {background: url(../images/member/ncus_public.png) no-repeat scroll -143px -408px; width: 17px; height: 11px; float:left; margin: 5px 5px 4px 12px;}
.order .buyer-info h3  span { float:left;}
.order .buyer-info dl { color: #777; padding:2px 0; width:220px; overflow:hidden; clear:both;}
.order .buyer-info dt { float:left; width:80px; text-align:right;}
.order .buyer-info dd { float:left; width:140px; text-align:left;}

/* 查看订单 */

.ncu-order-view { padding: 10px 20px; background: #fff; overflow:hidden; border-radius: 4px; }
.ncu-order-view h2 { font-family:"微软雅黑"; font-size: 20px; color: #498CD0; line-height: 40px; height: 40px; padding-left: 10px; border-bottom: solid 1px #C4D5E0; }
.ncu-order-view h3 { font-family:"微软雅黑"; font-size:1.2em; color: #0579C6; background-color: #F9FAFC; padding: 8px 0 8px 12px; border: solid #C4D5E0 1px; overflow: hidden; box-shadow: 1px 1px 0 #FFF inset;}
.ncu-order-view h4 { font-weight:700; padding: 6px 0 6px 24px; border-bottom: dashed 1px #E7E7E7; color:#555; }
.ncu-order-view dl { padding: 10px 1px; overflow: hidden; }
.ncu-order-view dt { padding: 6px 0; float:left; color: #5F718B; width:9%; text-align:right;}
.ncu-order-view dd { padding: 6px 0; float:left; color: #888; width:24%;}
.ncu-order-view dd strong { color: #fe4e02; }
.ncu-order-view input[type="submit"], .ncu-order-view .submit { font-weight: 700; color: #555; background: url(../images/member/ncus_public.png) no-repeat scroll 0 -110px; width: 120px; height: 34px; border: 0; border-radius: 4px;box-shadow: 1px 1px 0 rgba(0,0,0,0.1); cursor: pointer;}
.ncu-order-view input[type="submit"]:hover, .ncu-order-view .submit:hover { color: #000; background-position: 0 -150px; box-shadow: none;}
.ncu-order-view .upload-appeal-pic { padding: 5px; margin-left: 28px;}
.ncu-order-view .upload-appeal-pic p { padding: 5px;}

.order_detail_list { clear:both; list-style:none; color:#656565; }
.order_detail_list li { padding:8px 10px; border-top:1px solid #efefef; }


.ncu-order-view .log-list { color:#666; list-style:none; padding:5px 10px;   }
.ncu-order-view .log-list li { margin:8px 0px; }
.ncu-order-view .log-list li .operator { font-weight:700; color:#FE5400; margin-right:5px; }
.ncu-order-view .log-list li .log-time { font-style:italic; margin:0px 5px; font-weight:700; }
.ncu-order-view .log-list li .order-status { font-style:italic; margin:0px 5px; font-weight:700; }
.ncu-order-view .log-list li .reason { font-style:italic; margin:0px 5px; font-weight:bold; }


/* 投诉流程样式 */
.progress { line-height: 20px; color: #999; padding: 10px 20px; margin: 0px;}
.progress li.text { font-size: 1.2em; background-image: none; float:left; padding: 10px 20px; margin: 10px; border: 1px dashed #E7E7E7;}
.progress li.next-step { width: 16px; height: 16px; float: left; margin: 24px 0; padding: 0; background: url(../images/member/ncus_public.png) no-repeat -283px -382px;}
.progress li.red { font-weight: 600; color: red;}
.progress li.green { font-weight: 600; color: green;}

.ncu-order-view .btn { border: 0; width: 53px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(../images/member/btn.gif) no-repeat 0 -335px; }
.ncu-order-view .btn1 { border: 0; width: 68px; height: 22px; font-size: 12px; color: #3e3e3c; background: url(../images/member/btn.gif) no-repeat 0 -365px; }


/* 按钮样式 */
.ncu-btn1 { background: url(../images/member/ncus_public.png) no-repeat -150px -61px; height: 22px; float: left; margin-right: 8px; cursor: pointer;}
.ncu-btn1 span { color: #000; background: url(../images/member/ncus_public.png) no-repeat right -61px; float: left; padding: 1px 18px 1px 12px; margin-left: 6px;}
.ncu-btn1:hover { background-position: -150px -83px; text-decoration: none;}
.ncu-btn1:hover span { background-position: right -83px; color: #0579C6;}

a.ncu-btn2 { line-height: 19px; color: #555; background: url(../images/member/ncus_repeat_x.png) repeat-x scroll center -73px; text-align: center; display: inline-block; height: 20px; padding-right: 10px; padding-left: 10px; border: solid 1px #8D8D8D; border-radius: 4px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
a:hover.ncu-btn2 {color: #498CD0; text-decoration: none; background-position: 0 -40px; border-color:#AED2FF; box-shadow: none;}

a.ncu-btn3 {  font-weight: 700; line-height: 18px; color: #555; background: url(../images/member/ncus_repeat_x.png) repeat-x scroll center -73px; display: block; height: 20px; padding: 3px 12px; border: solid 1px #8D8D8D; border-radius: 4px; position: absolute; z-index: 1; top: -2px; right: 0px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
a:hover.ncu-btn3 { color: #000; background-position: 0 -40px; border-color:#AED2FF; box-shadow: none;}

a.ncu-btn4 {  font-weight: 700; line-height: 18px; color: #555; background: url(../images/member/ncus_repeat_x.png) repeat-x scroll center -73px; text-align:center; display: block; height: 20px; padding: 3px 12px; border: solid 1px #8D8D8D; border-radius: 4px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
a:hover.ncu-btn4 { text-decoration: none; color: #06C; background-position: 0 -40px; border-color:#AED2FF; box-shadow: none;} 


a.ncu-btn5 { line-height: 32px; font-weight: 700; color: #555; background: url(../images/member/ncus_public.png) no-repeat scroll 0 -110px; text-align: center; display: inline-block; width: 120px; height: 34px; border: 0; border-radius: 4px;box-shadow: 1px 1px 0 rgba(0,0,0,0.1); cursor: pointer;}
a.ncu-btn5:hover { text-decoration: none; color: #000; background-position: 0 -150px; box-shadow: none;}

a.ncu-btn6 { line-height: 19px; color: #FFF; font-weight: 600; background: url(../images/member/ncus_repeat_x.png) repeat-x scroll center -140px; text-align: center; display: inline-block; height: 20px; padding-right: 10px; padding-left: 10px; border: solid 1px #64A8E1; border-radius: 4px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
a:hover.ncu-btn6 {color: #498CD0; text-decoration: none; background-position: 0 -40px; border-color:#AED2FF; box-shadow: none;}

a.ncu-btn7 { line-height: 19px; color: #FFF; font-weight: 600; background: url(../images/member/ncus_repeat_x.png) repeat-x scroll center -250px; text-align: center; display: inline-block; height: 20px; padding-right: 10px; padding-left: 10px; border: solid 1px #71A133; border-radius: 4px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
a:hover.ncu-btn7 {color: #4A6923; text-decoration: none; background-position: 0 -40px; border-color: #71A133; box-shadow: none;}


input.submit, a.submit { font-weight: 700; color: #555; background: url(../images/member/ncus_public.png) no-repeat scroll 0 -110px; display:inline-block; width: 120px; height: 34px; border: 0; border-radius: 4px; cursor: pointer; box-shadow: 1px 1px 0 rgba(0,0,0,0.1);}
input[type="submit"] { font-weight: 700; color: #555; background: url(../images/member/ncus_public.png) no-repeat scroll 0 -110px; width: 120px; height: 34px; border: 0; border-radius: 4px; cursor: pointer; box-shadow: 1px 1px 0 rgba(0,0,0,0.1);}
input[type="submit"]:hover { color: #000; background-position: 0 -150px; box-shadow: none;}



/* 通用页内表单提交类型样式 */
.ncu-form-style {  padding-top: 15px;}
.ncu-form-style h3 { font-weight: 600; line-height: 22px; color: #555; clear: both; background-color: #F5F5F5; padding: 5px 0 5px 12px; border-bottom: solid 1px #E7E7E7;}
.ncu-form-style dl { line-height: 20px; color: #777; width: 96%; clear: both; padding: 0; margin: 4px auto; border-bottom: dashed 1px #F5F5F5; overflow: hidden;}
.ncu-form-style dl.bottom { border-bottom-width: 0px;}
.ncu-form-style dl dt { color: #404040; line-height: 32px; text-align: right; width: 130px; float: left; padding: 0 6px 0 0; margin: 0;}
.ncu-form-style dl dt.required em { line-height: 22px; background: url(../images/member/ncus_public.png) no-repeat scroll -276px -231px; display: inline-block; height: 16px; width: 16px; margin-right: 5px;}
.ncu-form-style dl dd { float: left; padding: 8px; width: 600px;}
.ncu-form-style dl dd p { clear: both;}

.ncu-form-style input.submit { font-weight: 700; line-height:34px; color: #555; background: url(../images/member/ncus_public.png) no-repeat scroll 0 -110px; width: 120px; height: 34px; border: 0; border-radius: 4px;box-shadow: 1px 1px 0 rgba(0,0,0,0.1); cursor: pointer;}
.ncu-form-style input.submit:hover { color: #000; background-position: 0 -150px; box-shadow: none;}
.ncu-form-style textarea { width: 198px; height: 64px;}
.ncu-form-style .upload-appeal-pic { border: dotted 1px #D8D8D8; padding: 5px; width: 250px; margin-left: 32px;}
.ncu-form-style .upload-appeal-pic p { padding: 5px;}
.ncu-form-style .info-album a { font-weight: bold; color: #999; line-height: 20px; background: url(../images/member/album_bg.gif) no-repeat 5px -492px; display: inline-block; height: 20px; padding: 0px 4px 0px 28px; margin: 8px 0px; border: 1px solid #E7E7E7; }	

/* 通用弹出式窗口样式*/
.eject_con { font-size:1.2em; background-color: #FFF; overflow: hidden;}
.eject_con dl { line-height: 20px; display: block; width: 100%; clear: both; padding:12px 0 0 0; overflow:hidden;}
.eject_con dl dt { color: #555; text-align: right; text-overflow: ellipsis; white-space: nowrap; width: 29%; float: left; }
.eject_con dl dt.required em { line-height: 22px; background: url(../images/member/ncus_public.png) no-repeat scroll -276px -231px; display: inline-block; width: 16px; height: 16px; margin-right: 5px;}
.hint { color: #BBB; line-height: 20px; }
.eject_con dl dd { float: right; width: 70%;}
.eject_con h2 { line-height:20px; font-weight: 600; background-color:#FEFEDA; color: #630; text-align: left; width: 90%; padding:8px 16px; margin: 5px auto 5px auto; border: solid 1px #FFE8C2;}
.eject_con span.num { font-weight: 600; color: #390;}
.eject_con ul { overflow: hidden;}
.eject_con li h2 { font-size: 16px; font-weight: 600; line-height: 32px; color: #555; width: 98%; text-align: left; margin: 0 auto; border-bottom: dashed 1px #E7E7E7;}
.eject_con .checked { float: left; padding: 0; margin: 0;}
.eject_con .checked li { line-height: 16px; height: 16px; padding: 4px 0;}
.eject_con li p { float: left; }
.eject_con .strong { padding-left: 10px; color: #ff4e00; }
.eject_con dl.bottom { padding: 12px 0; background-color:#F9F9F9; border-top: 1px solid #EAEAEA; margin-top:12px; }




/* 评价动态评分样式 */
.seller-rate-info th { padding-left:40px; font-weight:700;}
.seller-rate-info td { text-align: left; padding: 10px 5px 0; border: 0;}
.personal-rating h4 { overflow: hidden; margin: 5px 0px 2px 0; }
.personal-rating h4 strong{ color: #000; font-weight: bold; padding-right:10px;}
.personal-rating .rate-summary { float:right; }
.personal-rating .rate-summary strong { color: #F60;}
.personal-rating table { width:100%; margin-bottom: 10px;}
/*店铺评价进度条*/
.seller-rate-info td { height:80px;}
.ncs-rate-column { background: url(../images/rate_column.gif) no-repeat 28px -88px; display: inline-block; width: 410px; padding: 0; margin: 0 auto;}
.ncs-rate-column dt { display: block; width: 350px; height: 14px; margin-left:0px; margin-right: 60px; position:relative; z-index: 1;}
.ncs-rate-column dt em { font-weight: 600; line-height: 16px; color: #FFF; background: url(../images/rate_column.gif) no-repeat 0 0; text-align:center; display: block; width: 37px; height: 16px; padding: 0 0 7px 0; position:absolute; top: -25px;}
.ncs-rate-column dd { color: #777; line-height: 24px; display:inline; width: 80px; text-align:center; float:left; }
/* 信用度 */
.seller-heart, .seller-diamond, .seller-crown, .buyer-heart, .buyer-diamond, .buyer-crown { height: 16px; margin: 2px 0; display:inline-block; vertical-align:middle;}
.seller-heart, .seller-diamond, .seller-crown, .buyer-heart, .buyer-diamond, .buyer-crown { *display:inline;}
.seller-heart { background: url(../images/heart-seller.gif) repeat-x 0 0;}
.seller-diamond { background: url(../images/diamond-seller.gif) repeat-x 0 0;}
.seller-crown { background: url(../images/crown_seller.gif) repeat-x 0 0;}
.buyer-heart { background: url(../images/heart-buyer.gif) repeat-x 0 0;}
.buyer-diamond { background: url(../images/diamond-buyer.gif) repeat-x 0 0;}
.buyer-crown { background: url(../images/crown_buyer.gif) repeat-x 0 0;}
.level-1 { width: 16px;}
.level-2 { width: 32px;}
.level-3 { width: 48px;}
.level-4 { width: 64px;}
.level-5 { width: 80px;}

.rate-star em, .rate-star em i { background-image: url(../images/rate_star.gif); background-repeat: repeat-x; height: 12px;}
.rate-star em { background-position: left top; display: block;  width: 70px; float:left; margin: 0; position: relative; z-index: 1;}
.rate-star em i  {background-position: left bottom; position: absolute; z-index: 1; top: 0px; left: 0px;}
.rate-star span { display:block; float:left; margin-left:6px; _margin-left: 3px;}
/*买家累积信誉表格*/
.buyer-rate-info { border-top: solid 1px #E8E8E8; border-right: solid 1px #E8E8E8;}
.buyer-rate-info th { background-color: #F8F8F8;}
.buyer-rate-info th, .buyer-rate-info td { text-align: center; padding: 10px; border: solid #E8E8E8; border-width: 0 0 1px 1px;}

/* 好中差评价图片 */
.ncgeval .ico { background:url(../images/credit_smile.png) no-repeat; _background-image: url(../images/ie6/credit_smile.gif)/*IE6*/; display:inline-block; width: 24px; height: 24px; margin-right: 4px; margin-bottom:-6px;}
.ncgeval-good .ico { background-position: 0% 0px;}
.ncgeval-normal .ico { background-position: 0% -32px;}
.ncgeval-bad .ico { background-position: 0% -60px;}


/* 举报与优惠券 */
.inform_detail .shadow , .voucher_detail .shadow { background-color: #FFFAE3; width: 800px; float: left; padding: 0 5px; border: 1px solid #F1E38B; position: relative; box-shadow: 2px 2px 2px rgba(0,0,0,0.1);}
.inform_detail .close_detail , .voucher_detail .close_detail { width: 13px; height: 13px; position: absolute; z-index: 99; top: 2px; right: 2px;}
.inform_detail .close_detail a , .voucher_detail .close_detail a { line-height: 9999px; background: url(../images/member/ncus_public.png) no-repeat -125px 0px; width: 13px; height: 13px; float: left; overflow: hidden;}
.inform_detail .close_detail a:hover , .voucher_detail .close_detail a:hover { background-position: -125px -15px;}
.inform_detail dl, .voucher_detail dl { line-height: 24px; width: 800px; float: left; border-bottom: dashed #F1E38B 1px; overflow: hidden;}
.inform_detail dt , .voucher_detail dt { font-weight: 600; text-align: right; display: inline-block; width: 80px; float: left; padding: 10px 0;}
.inform_detail dd , .voucher_detail dd { width: 660px; text-align: left; display: inline-block; float: left; padding: 10px;}


/*title提示*/
#simpleTooltip { font-size:1.2em; color: #FFF; background-color: #e44b50; display: none; padding: 5px; position: absolute; z-index: 100; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
#tooltipShadow{ font-size:1.2em; background-color: #000; display: none; padding: 5px; position: absolute; z-index: 99; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; opacity: 0.3; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}


.content {  width: 998px; margin: 0 auto;}
.link2 a { color: #3e3e3e; text-decoration: none; }
.link2 a:hover { text-decoration: underline; }


.right_ico { display: block; width: 16px; height: 16px; overflow: hidden; background: url(../images/member/ico.gif) no-repeat 0 -1213px; cursor: pointer; }
.wrong_ico { display: block; width: 16px; height: 16px; overflow: hidden; background: url(../images/member/ico.gif) no-repeat 0 -1812px; cursor: pointer; }
/*商品添加步骤二运费模板样式 by hou*/
.transport_tpl{background: none repeat scroll 0 0 #F8F8F8; border: 1px solid #ECECEC;float: left; clear:both;overflow: hidden;padding: 10px 10px 10px 20px;margin-top:8px;width:810px;}
.freight-template { background: url("../images/icon_freight.png") no-repeat scroll 2px 3px transparent;margin-left: 22px;padding: 0 10px 0 22px;}
.select-templ { line-height: 24px; color: #FFFFFF; background: #4AA5FF; height: 24px; padding: 0 6px; margin-left: 10px; border: solid #39F 1px; border-radius: 4px; cursor: pointer;}
.template-name { background-color: #999999;color: #FFFFFF;display: inline;margin-left: 10px;padding: 4px 8px;display:none;}


/*商品添加步骤三*/
.goods-release-success { width: 948px; margin-top: 20px; margin-bottom: 20px; padding: 30px; background-color: #F7FFE4; border: 1px solid #BAE241;}
.goods-release-success h2 { font-size: 14px; line-height: 43px; font-weight: 700; background: url(../images/member/goods_add.gif) no-repeat left -100px; height: 43px; white-space: nowrap; padding-left: 50px;}
.goods-release-success p { font-size: 16px; line-height: 32px; margin: 20px 0;}
.goods-release-success p a { margin-left: 50px; _margin-left:25px;}
.goods-release-success dl { 1px solid #BAE241;}
.goods-release-success dl dt { line-height: 24px;}
.goods-release-success dl dd { line-height: 20px; clear: both;}

.pic_list { background-color: #A7CAED; width: 858px; clear:both; margin-top: 10px;}
.pic_list ul.menu { background-color: #FFF; width: 858px; height: 32px; border-bottom: solid 1px #A7CAED;}
.pic_list .menu li { float: left; cursor: pointer;}
.pic_list .menu li a { font-size: 12px; line-height: 20px; color: #555; height: 20px; float: left; padding: 6px 15px; margin: 0;}
.pic_list .menu li a:hover { }
.pic_list .menu li.active a , .goods-pictures .menu li.active a:hover  { font-size: 13px; font-weight: 600; color: #36C; background-color: #FFF; line-height: 20px; height: 20px; float: left; padding: 5px 14px 7px 14px; border: solid 1px #A7CAED; border-bottom: 0;}
.pic_list .content { width: 858px; background-color: #FFF; border: solid 1px #A7CAED; border-top: 0;}

.transportation { width: 918px; padding: 10px 0 10px 10px; border-top: 1px solid #efefef; font-size: 14px; color: #666; font-weight: bold; }
.transportation span { padding-right: 20px; color: #3f3f3f; }
.transportation span strong { font-weight: normal; font-size: 12px; color: #3f3f3f; }
.transportation b { color: #ff4f01; font-size: 16px; }

form .field_notice { line-height: 18px; color:#9C9C9C; margin-left:5px;}
form .red { color:red; border:0px; }
form label.error { color:red; margin-left:5px; }
form input.error { border:red 1px dotted; }
form label.checking { padding-left:18px; background:transparent url(../images/member/checking.gif) no-repeat; margin-left:5px; font-style:italic; color:#9C9C9C; display:none; }
form label.validate_right { padding-left:20px; background:transparent url(../images/member/right.gif) no-repeat; margin-left:6px; font-style:italic; color:green; float:none; }
.member_no_records{ font-weight: bold; font-size:14px; color: #666; text-align:center; height:100px; line-height: 100px; background-color: #FFF;}
.select_add { float:left; width: 8%;}

.table .float_none { float:none;}
.font_bold { font-weight:bold; }
.sort_asc {background: url(../images/member/sort_asc.gif) no-repeat right 2px; padding-right: 10px;}
.sort_desc {background: url(../images/member/sort_desc.gif) no-repeat right 2px; padding-right: 10px;}
.cursor_pointer { cursor: pointer; }

.gselector .search_btn { float: left; width: 78px; height: 24px; line-height: 20px; text-align: center; color: #3e3e3e; text-decoration: none; background: url(../images/member/btn.gif) no-repeat 0 -590px; }


.wp { width: 1200px; margin: 0 auto; background-color: #FFF;}

.wp_sort_block{ margin-top:20px; position:absolute; z-index:10; left: 18px; top: 37px;}
.sort_list { float:left; width:232px; margin-right:10px; z-index:10; _ margin-right:8px; height:280px; overflow:hidden; border:1px solid #d9e9f7; background:#fff;}
.sort_list_last { margin-right:0px;}
.sort_list .blank{ background:#eff7fe;}
.sort_list .blank .category_list{ display:none;}
.sort_show div { padding-left:0px;cursor:pointer;}/* margin-left:5px; padding-top:2px;margin-top:3px;*/
.wp_category_list{ width: 232px; height: 280px; overflow: auto; padding:0; margin:0;}



.has_result { padding:5px; overflow:auto; height:235px; background:#fff; border:1px solid #D3E5F3;}
.has_result .hight_light{ color:#f50; line-height:21px;}
.has_result .tips{ color:#808080; line-height:21px;}
.result_list{ }
.result_list ul{ margin:0; padding:;}
.result_list ul li{ list-style:none; text-indent:5px; cursor:pointer; height:auto; line-height:21px;}
.result_list ul li:hover{background:#3399ff; color:#fff;}
.result_list ul .selected{  border:1px solid #ffe696; background-color:#fffaea;}


/* 翻页样式 */
.pagination{ padding: 2px; float: right; }
.pagination ul{ margin: 0; padding: 0; font-size: 12px; text-align: left;}
.pagination ul li { display: inline; list-style-type: none; float: left; padding:0 !important; margin: 0 !important; border:none !important;}
.pagination li span{font-size: 12px; color: #999; list-style-type: none; display: inline; float: left; padding: 0px 5px; margin: 0px 2px; border: 1px solid #CCC;}
.pagination li a span , .pagination li a:visited span{ color: #6C92AD; text-decoration: none; border-color: #6C92AD; cursor:pointer;}
.pagination li a:hover span, .pagination li a:active span{ color: #996600; background-color: #FAF6D6; border-color: #996600; cursor:pointer;}
.pagination li span.currentpage{ color:#FFF; font-weight: bold;  background-color: #539CD5; border-color: #21589B;}


/* 订单物流跟踪 */
.express-info { width: 99%; border: solid 1px #D8D8D8; padding:0 !important; margin: 10px auto; overflow:hidden;}
.express-info dt { color: #333 !important;  float:none !important; background: #F7F7F7; padding: 6px !important; width:auto !important; height:20px; text-align:left;}
.express-info dd { color: #333 !important; border-top: solid 1px #D8D8D8;padding: 6px !important; width:auto !important; height:20px;float:none !important;}

.express-detail { width: 750px; float:right; display:block; position:relative; z-index:1; border-left: solid 1px #BADCFE;}
.express-detail .sidebar { background: none repeat scroll 0 0 #F0F7FF; width:190px !important; padding:6px 0!important; border: solid 1px #BADCFE; position: absolute; z-index:1; top:48px; left:-192px;}
.express-detail .sidebar p { padding:0 8px 0 12px;}
.express-log { border: solid 1px #E7E7E7; background: #FAFAFA; margin: 10px 0; padding:10px;}
.express-log li { line-height: 24px; padding:2px 10px;}
.express-log li:hover { background:#555; color: #FFF;}
.express-log li.loading { background: url(../images/loading.gif) no-repeat scroll left center; padding-left: 24px;}
.express-add { clear:both; margin: 10px 0; background: none repeat scroll 0 0 #F0F7FF; border: 1px solid #BADCFE; padding:4px 16px;}
.express-add p { line-height:28px;}
.express-oredr { }
.express-oredr h4 { border-bottom: solid 1px #D8D8D8 !important; padding: 0!important; line-height:28px;}
.express-oredr ul { width: 98%; padding-bottom:20px; margin: 0 auto; overflow:hidden;}
.express-oredr li { float:left; display:block; width: 110px; padding:20px 0 0 0;}
.express-oredr li .goods-pic-small { width:60px; height:60px; margin: 0 auto;}
.express-oredr li .goods-price { font-weight: 500!important; width: 80px !important; margin: 0 auto;}
.express-oredr li .goods-name { width: 80px !important; margin: 0 auto; line-height: 24px;text-overflow:ellipsis; height: 24px; overflow: hidden; white-space: nowrap;}

/* 发货 */
.deliver td.goods-info dl { width: 340px; line-height: 20px; padding:0;}
.deliver td.goods-info dl dt { display:inline-block; text-align: left; width: 100%; vertical-align: top !important;}
.deliver td.goods-info dl dd { display:inline-block; width: 100%; text-align: left;}

.deliver td.order-info dl { width: 100%; color: #333; margin: 4px 0;}
.deliver td.order-info dl dt { display: block; float:left; text-align: right; width: 20%; vertical-align: top !important;}
.deliver td.order-info dl dd { display: block; float:left; text-align: left; width: 76%; }
.deliver td .ts { color: #333; background: #FEF7DF; border: solid 1px #FAE9AD; padding:4px;}

.step-title { margin: 12px 0; font-size: 14px; font-weight: 600; color: #555;}
.step-title em { font-weight:600; color:#F60; margin-right:12px;}

.deliver-sell-info { border: solid 1px #D8D8D8; padding:8px; line-height: 20px; overflow:hidden;}



