<script type="text/javascript">


  var APP = APP || {};

  APP.modules={
    directive:{
      util:{}
    },
    ctrl:{}
  };

  APP.createNS = function (namespace) {
    var nsparts = namespace.split(".");
    var parent = APP;

    if (nsparts[0] === "APP") {
      nsparts = nsparts.slice(1);
    }

    for (var i = 0; i < nsparts.length; i++) {
      var partname = nsparts[i];
      if (typeof parent[partname] === "undefined") {
        parent[partname] = {};
      }
      parent = parent[partname];
    }
    return parent;
  };

  <% if (url_info) { %> APP.URL_INFO = <%-JSON.stringify(url_info)%> <% } %>

  <% if (menu_data) { %> APP.MENU_DATA = <%-JSON.stringify(menu_data)%> <% } %>

  APP.info={
    gURL:window.location.protocol+'//'+window.location.host+'/'+'<%=req.getLocale()%>',
    gHost:"<%=req.host%>",
    gAPIPort:"<%=sails.config.urlinfo.api.port%>",
    gHost:"<%=req.host%>",
    gLocale:"<%=req.getLocale()%>",
    gVersion:"<%=sails.config.ver%>",
    imgURL:"<%=sails.config.urlinfo.img%>",
    gRegion:"",
    user:{},
    API_FRONT_URL:{},
    LANGUAGE_LIST:[ {title:'한국어', value:'ko'} ],
    CURRENCY_LIST:[ {title:'KRW(원)' , value:'KRW'} ],
    UTC_LIST:[ {title:'UTC +09:00 서울', value:9} ],
    table:{
      TABLE_VIEW_RANGE_LIST:['20','40','80','100']
    }
  };

  <% if (req.session && req.session.account_uuid) { %>
    APP.info.user = {
      "account_uuid":"<%=req.session.account_uuid%>",
      "account_uuid_hash":"<%=req.session.account_uuid_hash%>",
      "account_id_hash":"<%=req.session.account_id_hash%>",
      "purchase_url":"<%=req.session.purchase_url%>",
      "client_name": "<%=req.session.client_name%>",
      "account_type": "<%=req.session.account_type%>",
      "login_id": "<%=req.session.login_id%>",
      "parent_org_id": parseInt("<%=req.session.parent_org_id%>",10),
      "org_id": parseInt("<%=req.session.org_id%>",10),
      "org_name": "<%=req.session.org_name%>",
      "contact_name": "<%=req.session.contact_name%>",
      "contact_phone": "<%=req.session.contact_phone%>",
      "contact_mail": "<%=req.session.contact_mail%>",
      "contact_homepage": "<%=req.session.contact_homepage%>",
      "email_id": "<%=req.session.email_id%>",
      "status": "<%=req.session.status%>",
      "language": "<%=req.session.language%>",
      "currency": "<%=req.session.currency%>",
      "timezone": "<%=req.session.timezone%>"
    }



  /*  APP.info.user의 language,currency,timezone은 userOrgData에 sync  */
  /*  이전버전의 호환성떄문에 session값을 우선적으로 셋업  */

  <% if(req.userOrgData && req.userOrgData.language){ %>
  APP.info.user.language = "<%=req.userOrgData.language%>";
  <% } %>

  <% if(req.userOrgData && req.userOrgData.currency){ %>
  APP.info.user.currency = "<%=req.userOrgData.currency%>";
  <% } %>

  <% if(req.userOrgData && req.userOrgData.timezone){ %>
  APP.info.user.timezone = "<%=req.userOrgData.timezone%>";
  <% } %>




  APP.info.user.timezonecnt = _getCurTimeZone();

    function _getCurTimeZone(){
      var curTimeZone = APP.info.user.timezone;
      if(curTimeZone=='null' || curTimeZone=='undefined' || curTimeZone==null || curTimeZone==undefined || curTimeZone==''){
        curTimeZone = -9;
      }else{
        if( APP.info.user.timezone.substr(0,1)=='+' ){
          curTimeZone =  -1*parseInt(APP.info.user.timezone.substr(1,2));
        }else if( APP.info.user.timezone.substr(0,1)=='-' ){
          curTimeZone = parseInt(APP.info.user.timezone.substr(1,2));
        }else{
          curTimeZone = parseInt(APP.info.user.timezone.substr(0,2));
        }
      }

      return curTimeZone;
    }
  <% } %>

  <% if (JSON.stringify(req.userAuth)!='{}' ) { %>
    APP.info.user.auth = <%-JSON.stringify(req.userAuth)%>;
    for(var i in APP.info.user.auth){
      if(i==='account_uuid'){
      }else{
        APP.info.user.auth[i] = parseInt(APP.info.user.auth[i],10);
      }
    }
  <% } %>

  //API_FRONT_URL
  <% if (API_FRONT_URL) { %>
    APP.info.API_FRONT_URL = <%-JSON.stringify(API_FRONT_URL)%>;
  <% } %>

  APP.i18n = {
  };

  APP.setup403Page = function(__container){
    $(document.body).attr('data-page-id','403');
    $(__container || '.content_wrapper').html('<div class="list_table_wrapper"> <div page-location="" title="403 Forbidden" location="" class="form_header" style=""><h3 class="form_header_title" style="">403 Forbidden</h3></div><h4>이 페이지에 접근권한이 없습니다.</h4></div>');
  }

  APP.createNavModel = function createNavModel(__locale, __auth, __NAV_MODEL, __session){
      //TODO : refactorying

      console.log('__auth.majorOrganization: ' ,__auth.majorOrganization);
      console.log('__auth.minorOrganization: ' ,__auth.minorOrganization);
      console.log('__auth.organizationAccount: ' ,__auth.organizationAccount);
      console.log('__auth.category: ' ,__auth.category);
      console.log('__auth.brand: ' ,__auth.brand);
      console.log('__auth.item: ' ,__auth.item);
      console.log('__auth.tdItem: ' ,__auth.tdItem);


      var majorOrganization = (is.existy(__auth) && is.existy(__auth.majorOrganization))?parseInt(__auth.majorOrganization,10):1;

      var tmpOprMngLink = '/' + (__locale) + ((majorOrganization>=2)? __NAV_MODEL.menu.OPR_MNG_ORG_ADMIN_MODIFICATION.link:__NAV_MODEL.menu.OPR_MNG_ORG_ADMIN_CONFIRMATION.link);
      var tmpOprMngStoreLink = '/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ORG_STORE_LIST.link;
      var tmpParamStoreLink = '';

      if(__session.account_type==='shop') {
        tmpParamStoreLink = '?account_uuid='+(__session.account_uuid)+'&org_id='+(__session.org_id);
        tmpOprMngStoreLink = '/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ORG_STORE_MODIFICATION.link+tmpParamStoreLink;
        if( parseInt(__auth.minorOrganization,10)===1 ){
          tmpOprMngStoreLink = '/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ORG_STORE_CONFIRMATION.link+tmpParamStoreLink;
        }
        tmpOprMngLink = tmpOprMngStoreLink;
      }

      var menuArr = [
        {
          id:'opr_mng',
          name:'운영관리',
          link: tmpOprMngLink,
          children:[
            {name:'업체정보 관리',
              isHide:( ((parseInt(__auth.majorOrganization,10)<1) && (parseInt(__auth.minorOrganization,10)<1))?true:false ),
              children:[
                (function(){

                  return {
                    isHide:((__session.account_type==='shop')?true:false),
                    id:'OPR_MNG_ORG_ADMIN_MODIFICATION',
                    name:'운영업체 정보관리',
                    link: tmpOprMngLink
                  };
                })(),
                {
                  id:'OPR_MNG_ORG_STORE_LIST',
                  isHide:((parseInt(__auth.minorOrganization,10)<1)?true:false),
                  name:__NAV_MODEL.menu.OPR_MNG_ORG_STORE_LIST.name,
                  link:tmpOprMngStoreLink
                }

              ]},
            {name:'계정정보 관리',
              isHide:((parseInt(__auth.organizationAccount,10)<1)?true:false),
              children:[
                {
                  id:'OPR_MNG_ACC_ORG_LIST',
                  isHide:((parseInt(__auth.organizationAccount,10)<1)?true:false),
                  name:__NAV_MODEL.menu.OPR_MNG_ACC_ORG_LIST.name,
                  link:'/' + (__locale) + __NAV_MODEL.menu.OPR_MNG_ACC_ORG_LIST.link
                }
              ]}
          ]
        },

        {
          id:'items_mng',
          name: '상품관리',
          link: '/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_LIST.link,

          children:[
            {name:'분류정보 관리',
              isHide:((__session.account_type==='shop' || ((parseInt(__auth.category,10)<1) && (parseInt(__auth.brand,10)<1)))?true:false),
              children:[
                {
                  id:'ITEMS_MNG_CATEGORY',
                  name:__NAV_MODEL.menu.ITEMS_MNG_CATEGORY.name,
                  isHide:((__session.account_type==='shop' || (parseInt(__auth.category,10)<1))?true:false),
                  link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_CATEGORY.link
                },
                {
                  id:'ITEMS_MNG_CATEGORY_BRAND',
                  name:__NAV_MODEL.menu.ITEMS_MNG_CATEGORY_BRAND.name,
                  isHide:((__session.account_type==='shop' || (parseInt(__auth.brand,10)<1))?true:false),
                  link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_CATEGORY_BRAND.link
                }

              ]},
            {name:'상품정보 관리',
              isHide:( ((parseInt(__auth.item,10)<1) && (parseInt(__auth.tdItem,10)<1))?true:false ),
              children:[
                {
                  id:'ITEMS_MNG_ITEMS_LIST',
                  name:__NAV_MODEL.menu.ITEMS_MNG_ITEMS_LIST.name,
                  isHide:((parseInt(__auth.item,10)<1)?true:false),
                  link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_LIST.link
                },
                {
                  id:'ITEMS_MNG_ITEMS_REGISTRATION',
                  isHide:((parseInt(__auth.item,10)<=1)?true:false),
                  name:__NAV_MODEL.menu.ITEMS_MNG_ITEMS_REGISTRATION.name,
                  link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_REGISTRATION.link
                },
                {
                  id:'ITEMS_MNG_ITEMS_TD_LIST',
                  name:__NAV_MODEL.menu.ITEMS_MNG_ITEMS_TD_LIST.name,
                   isHide:((parseInt(__auth.tdItem,10)<1)?true:false),
                  link:'/' + (__locale) + __NAV_MODEL.menu.ITEMS_MNG_ITEMS_TD_LIST.link
                }
              ]}
          ]
        }
      ];

    console.log('LNB' , menuArr);

      return menuArr;
    }


</script>
