<meta charset="utf-8">
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="author" content="FX-GEAR" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
<!-- <meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="" sizes="57x57" />
<link rel="apple-touch-icon" href="" sizes="72x72" />
<link rel="apple-touch-icon" href="" sizes="76x76" />
<link rel="apple-touch-icon" href="" sizes="114x114" />
<link rel="apple-touch-icon" href="" sizes="120x120" />
<link rel="apple-touch-icon" href="" sizes="144x144" />
<link rel="apple-touch-icon" href="" sizes="152x152" /> -->
<!--<link rel="shortcut icon" href="<%=sails.config.urlinfo.img%>/favicon.png?_=<%=sails.config.ver%>" type="image/x-icon">-->
<!--<link rel="icon" href="<%=sails.config.urlinfo.img%>/favicon.png?_=<%=sails.config.ver%>" type="image/x-icon">-->
<meta name="format-detection" content="telephone=no" />
<meta name="keywords" content="" />
<meta name="description" content="" />


<!--[if lt IE 9]>
<script>
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('footer');
</script>
<style>
  header, nav, section, article, aside, footer {
    display:block;
  }
</style>
<![endif]-->

<!--STYLES-->

<!--STYLES END-->

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

