<div class="container">

  <form class="form-signin" ng-submit="loginCtrl._submit()">

    <h3 style="text-align:center;margin-top:70%;">FITNSHOP Client Admin</h3>

    <input type="text"
           id="inputEmail"
           class="form-control"
           placeholder="ID"
           required=""
           autofocus=""
           ng-model="loginCtrl._state.id">

    <input type="password"
           id="inputPassword"
           class="form-control"
           ng-model="loginCtrl._state.password"
           placeholder="PASSWORD"
           required="">

    <!--<a href="#" style=" float: right; font-size: 14px; margin-top: 9px; ">Forgot Password?</a>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  </form>

</div>
