.acc_master_registration, .acc_master_modification, .acc_org_modification, .acc_org_registration {

  table{
    tr{
      th{
        .bg-color-mixin(#f5f5f5);
        vertical-align: middle;
        height: 44px;
      }
      td{
        vertical-align: middle;
        height: 44px;
        input[type=text], input[type=password], select {
          width: 250px;
          display: inline-block;
          margin-right: 10px;
        }
        p {
          font-weight: normal;
          margin-top: 10px;
        }
      }
    }
  }
  .auth {
    margin-top: 30px;
    table {
      thead {
        th {
          text-align: center;
          border: none;
          border-bottom: 1px solid #ddd;
        }
        th:nth-of-type(1), th:nth-of-type(4), th:nth-of-type(7) {
          border-right: 1px solid #ddd;
        }
      }
      tbody {
        td {
          border: none;
          border-bottom: 1px solid #ddd;
          input[type=checkbox] {
            display: block;
            margin: 0 auto;
          }
        }
        td:nth-of-type(3n){
          border-right: 1px solid #ddd;
        }
      }
    }
  }

  label {
    margin: 0;
    padding: 0 16px;
    input {
      margin-right: 10px;
    }
  }

  p {
    font-size: 12px;
    font-weight: bold;
    small{
      font-weight: normal;
      padding-left: 10px;
    }
  }

  .long_input {
    min-width: 250px;
    max-width: 500px;
    width: 70% !important;
  }

  .btn_group {
    text-align: center;
    margin-bottom: 20px;
    .btn_default {
      width: 121px;
      height: 48px;
      color: @white;
      display: inline-block;
      margin: 0 10px;
      .border-radius-mixin(3px);

      &.btn_save {
        .bg-color-mixin(@color-save);
        border: 1px solid #1f909b;
      }
      &.btn_delete {
        .bg-color-mixin(@color-delete);
        border: 1px solid #ea2f10;
      }
    }
  }
  .btn_default_sm {
    width: 74px;
    height: 26px;
    padding: 3px;
    display: inline-block;
    vertical-align: initial;
    .border-radius-mixin(3px);
  }

}
