<!DOCTYPE html>
<html>
<head>
  <% include ../common/head.ejs %>
</head>

<body data-page-id="items-list">

<div id="wrap" class="operation_info">
  <% include ../../templates/common/header.ejs %>
  <% include ../../templates/common/lnb.ejs %>

  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="list_table_wrapper">

      <% include ../../templates/common/contents_above_title.ejs %>

      <threed-dash-board type="item"></threed-dash-board>

      <items-table
        bootstrap-ctrl="tableSearchCtrl,tableOptionCtrl,tableBodyCtrl,paginationCtrl"
      >
        <table-search
          get-start="tableComponentItemsCtrl._state.tableData.info.start"
          get-total="tableComponentItemsCtrl._state.tableData.info.total"
          get-count="tableComponentItemsCtrl._state.tableData.info.count"
          set-search-opt="tableComponentItemsCtrl.exports.setSearchOpt(options)"
          update-page="tableComponentItemsCtrl.exports.updatePage(options)"
        ></table-search>

        <table-option
          get-total="tableComponentItemsCtrl._state.tableData.info.total"
          get-start="tableComponentItemsCtrl._state.tableData.info.start"
          get-count="tableComponentItemsCtrl._state.tableData.info.count"
          update-page="tableComponentItemsCtrl.exports.updatePage(options)"
        >
        </table-option>

        <table-body
          item-auth="<%=req.userAuth.item%>"
          get-start="tableComponentItemsCtrl._state.tableData.info.start"
          get-total="tableComponentItemsCtrl._state.tableData.info.total"
          get-count="tableComponentItemsCtrl._state.tableData.info.count"
          get-results="tableComponentItemsCtrl._state.tableData.results"
          edit-items="tableComponentItemsCtrl.exports.editItems(options)"
        >
        </table-body>

        <table-btn
          <% if (req.userAuth && parseInt(req.userAuth.item,10)===2 ) { %>
          view-option="delete,add"
          <% }else{ %>
          view-option=""
          <% } %>
          btn-add-name="상품 등록"
          location-url="/<%=res.getLocale()%><%=url_info.menu.ITEMS_MNG_ITEMS_REGISTRATION.link%>"
          api-option='{"kind":"item","status":"deleted","show":"debug,contact"}'
          not-selected-str="상품을 선택해주세요"
          delete-row="tableComponentItemsCtrl.exports.deleteRow(options)"
        ></table-btn>

        <pagination
          get-total="tableComponentItemsCtrl._state.tableData.info.total"
          get-start="tableComponentItemsCtrl._state.tableData.info.start"
          get-count="tableComponentItemsCtrl._state.tableData.info.count"
          update-page="tableComponentItemsCtrl.exports.updatePage(options)"
          count-range="tableComponentItemsCtrl.exports.COUNT_RANGE"
        >
        </pagination>

      </items-table>


    </div>
  </div>

  <td-prev-modal></td-prev-modal>

</div>

<!-- ANGULAR templates -->

<% include ../../templates/common/threeD_dash_board.ejs %>
<% include ../../templates/common/table/table_component_basic.ejs %>
<% include ../../templates/items_mng/items_list/table_search_items.ejs %>

<% include ../../templates/common/table/table_option_basic.ejs %>

<% include ../../templates/items_mng/items_list/table_body_items.ejs %>
<% include ../../templates/common/table/table_btn_basic.ejs %>
<% include ../../templates/common/table/table_pagination_basic.ejs %>
<% include ../../templates/common/td_preview_modal.ejs %>



<!--COMMON_DATA (mandatory)-->
<% include ../common/common_data.ejs %>

<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->

</body>
</html>
