<!DOCTYPE html>
<html>
<head>
  <% include ../common/head.ejs %>
</head>

<body data-page-id="threeD-list">

<div id="wrap" class="template_table_list">
  <% include ../../templates/common/header.ejs %>
  <% include ../../templates/common/lnb.ejs %>

  <div class="content_wrapper col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="list_table_wrapper">

      <% include ../../templates/common/contents_above_title.ejs %>


      <threed-dash-board type="threed"></threed-dash-board>

      <threed-table
        bootstrap-ctrl="tableSearchCtrl,tableOptionCtrl,tableBodyCtrl,paginationCtrl"
      >
        <table-search
          get-start="tableComponentThreeDCtrl._state.tableData.info.start"
          get-total="tableComponentThreeDCtrl._state.tableData.info.total"
          get-count="tableComponentThreeDCtrl._state.tableData.info.count"
          set-search-opt="tableComponentThreeDCtrl.exports.setSearchOpt(options)"
          update-page="tableComponentThreeDCtrl.exports.updatePage(options)"
        ></table-search>

        <table-option
          get-total="tableComponentThreeDCtrl._state.tableData.info.total"
          get-start="tableComponentThreeDCtrl._state.tableData.info.start"
          get-count="tableComponentThreeDCtrl._state.tableData.info.count"
          update-page="tableComponentThreeDCtrl.exports.updatePage(options)"
        >
        </table-option>

        <table-body
          get-start="tableComponentThreeDCtrl._state.tableData.info.start"
          get-total="tableComponentThreeDCtrl._state.tableData.info.total"
          get-count="tableComponentThreeDCtrl._state.tableData.info.count"
          get-results="tableComponentThreeDCtrl._state.tableData.results"
        >
        </table-body>


        <table-btn
          <% if (req.userAuth && parseInt(req.userAuth.tdItem,10)===2 ) { %>
          view-option="delete"
          <% }else{ %>
          view-option=""
          <% } %>
          api-option='{"kind":"3d","status":"deleted","show":"debug,contact"}'
          not-selected-str="3D 상품을 선택해주세요"
          delete-row="tableComponentThreeDCtrl.exports.deleteRow(options)"
        ></table-btn>

        <pagination
          get-total="tableComponentThreeDCtrl._state.tableData.info.total"
          get-start="tableComponentThreeDCtrl._state.tableData.info.start"
          get-count="tableComponentThreeDCtrl._state.tableData.info.count"
          update-page="tableComponentThreeDCtrl.exports.updatePage(options)"
          count-range="tableComponentThreeDCtrl.exports.COUNT_RANGE"
        >
        </pagination>

      </threed-table>


    </div>  <!-- .list_table_wrapper END-->
  </div>  <!-- .content_wrapper END-->

  <td-prev-modal></td-prev-modal>

</div>

<!-- ANGULAR templates -->

<% include ../../templates/common/threeD_dash_board.ejs %>
<% include ../../templates/common/table/table_component_basic.ejs %>
<% include ../../templates/items_mng/td_list/table_search_threeD.ejs %>

<% include ../../templates/common/table/table_option_basic.ejs %>

<% include ../../templates/items_mng/td_list/table_body_threeD.ejs %>
<% include ../../templates/common/table/table_btn_basic.ejs %>
<% include ../../templates/common/table/table_pagination_basic.ejs %>
<% include ../../templates/common/td_preview_modal.ejs %>

<!--COMMON_DATA (mandatory)-->
<% include ../common/common_data.ejs %>

<!--SCRIPTS_BASE-->

<!--SCRIPTS_BASE END-->

<!--SCRIPTS-->

<!--SCRIPTS END-->

<!--SCRIPTS_ALL-->

<!--SCRIPTS_ALL END-->

</body>
</html>
